Repository STEllAR-GROUP/hpx, pull requests merged in 2018-10, with the labels that each got.

#3471 Enable jemalloc on windows
  CMakeLists.txt
  cmake/FindJemalloc.cmake
  cmake/HPX_SetupAllocator.cmake
  hpx/lcos/dataflow.hpp
  hpx/lcos/future.hpp
  hpx/lcos/local/futures_factory.hpp
  hpx/lcos/local/packaged_continuation.hpp
  hpx/lcos/packaged_action.hpp
  hpx/lcos/when_all.hpp
  hpx/parallel/executors/execution.hpp
  hpx/util/internal_allocator.hpp
Labels: compiler: msvc, platform: Windows, type: enhancement

#3470 Updates readme
  README.rst
Labels: category: documentation, type: enhancement

#3473 Fixing invalid cmake code if no jemalloc prefix was given
  CMakeLists.txt
Labels: category: CMake, type: enhancement

#3476 Don't print docker credentials as part of the environment.
  src/exception.cpp
Labels: category: CircleCi, category: core, category: diagnostics, type: enhancement

#3479 Fix FLAGS - Use correct version of target_compile_options
  src/CMakeLists.txt
Labels: category: CMake, type: enhancement

#3478 Making sure the application's exit code is properly propagated back to the OS
  src/hpx_wrap.cpp
  tests/regressions/lcos/call_promise_get_gid_more_than_once.cpp
  tests/unit/threads/tss.cpp
Labels: category: CircleCi, category: init, platform: Linux, platform: Mac OSX, type: enhancement

#3481 Remove unused variables
  hpx/parallel/algorithms/find.hpp
  tests/unit/util/unwrap.cpp
Labels: compiler: gcc, type: compatibility issue, type: enhancement

#3483 Fixing type attribute warning for transfer_action
  hpx/runtime/actions/basic_action.hpp
Labels: category: actions, compiler: gcc, type: compatibility issue, type: enhancement

#3485 Use BUILD_INTERFACE generator expression to fix cmake flag exports
  CMakeLists.txt
  cmake/HPX_AddCompileFlag.cmake
  cmake/HPX_AddConfigTest.cmake
  cmake/HPX_AddLibrary.cmake
  cmake/HPX_DetectCppDialect.cmake
  cmake/HPX_SetupTarget.cmake
  src/CMakeLists.txt
Labels: category: CMake, type: compatibility issue, type: enhancement

#3192 Move type info into hpx::debug namespace and add print helper functions
  hpx/runtime/actions/action_support.hpp
  hpx/runtime/actions/continuation.hpp
  hpx/runtime/serialization/detail/polymorphic_intrusive_factory.hpp
  hpx/runtime/serialization/detail/polymorphic_nonintrusive_factory.hpp
  hpx/util/debug/demangle_helper.hpp
  hpx/util/demangle_helper.hpp
  hpx/util/detail/function_registration.hpp
Labels: type: compatibility issue, type: enhancement

#3492 Add CUDA_LINK_LIBRARIES_KEYWORD to allow PRIVATE keyword in linkage t…
  CMakeLists.txt
Labels: category: CMake, platform: CUDA

#3495 Fixing dataflow
  hpx/util/detail/pack_traversal_async_impl.hpp
  hpx/util/detail/pack_traversal_impl.hpp
Labels: category: LCOs

#3500 Support NONAMEPREFIX in add_hpx_library()
  cmake/HPX_AddLibrary.cmake
Labels: category: CMake, type: compatibility issue, type: enhancement

#3497 Note that cuda support requires cmake 3.9
  CMakeLists.txt
  docs/sphinx/manual/building_hpx.rst
Labels: category: documentation, type: enhancement

#3503 Update documentation colors and logo
  cmake/templates/conf.py.in
  docs/sphinx/_static/css/theme_overrides.css
  docs/sphinx/_static/images/HPX_STELLAR.png
Labels: category: documentation

#3502 Fix bogus `throws` bindings in scheduled_thread_pool_impl
  hpx/runtime/threads/detail/scheduled_thread_pool_impl.hpp
Labels: category: scheduler, type: defect
