Repository STEllAR-GROUP/hpx, pull requests merged in 2018-04, with the labels that each got.

#3268 Replace constexpr with HPX_CXX14_CONSTEXPR and HPX_CONSTEXPR
  hpx/util/optional.hpp
Labels: compiler: nvcc, type: compatibility issue

#3228 Allow suspension also on static schedulers
  hpx/runtime/threads/detail/scheduled_thread_pool_impl.hpp
  hpx/runtime/threads/policies/local_priority_queue_scheduler.hpp
  hpx/runtime/threads/policies/local_queue_scheduler.hpp
  hpx/runtime/threads/policies/scheduler_base.hpp
  hpx/runtime/threads/policies/scheduler_mode.hpp
  hpx/runtime/threads/policies/static_priority_queue_scheduler.hpp
  hpx/runtime/threads/policies/static_queue_scheduler.hpp
  src/runtime/threads/threadmanager.cpp
  tests/unit/resource/shutdown_suspended_pus.cpp
  tests/unit/resource/suspend_pool.cpp
  tests/unit/resource/suspend_pool_external.cpp
  tests/unit/resource/suspend_runtime.cpp
  tests/unit/resource/throttle.cpp
  tests/unit/resource/throttle_timed.cpp
Labels: category: resource_partitioner, category: threadmanager, type: enhancement

#3230 Add optional scheduler mode parameter to create_thread_pool function
  hpx/runtime/resource/detail/partitioner.hpp
  hpx/runtime/resource/partitioner.hpp
  hpx/runtime/threads/policies/scheduler_mode.hpp
  src/runtime/resource/detail/detail_partitioner.cpp
  src/runtime/resource/partitioner.cpp
  src/runtime/threads/threadmanager.cpp
Labels: category: resource_partitioner, type: enhancement

#3269 Fix bulk_construct with count = 0
  hpx/compute/host/block_allocator.hpp
  tests/unit/computeapi/host/block_allocator.cpp
Labels: category: tests, type: defect

#3271 Remove leftover code from context_generic_context.hpp
  hpx/runtime/threads/coroutines/detail/context_generic_context.hpp
Labels: type: compatibility issue

#3274 Reinit counters synchronously in reinit_counters test
  tests/unit/performance_counter/reinit_counters.cpp
Labels: category: performance counters, category: tests, type: enhancement

#3278 Fix circleci workspace
  .circleci/config.yml
Labels: category: CircleCi

#3277 Support external plugins
  hpx/plugins/plugin_registry.hpp
  src/runtime/components/server/runtime_support_server.cpp
  src/util/command_line_handling.cpp
Labels: category: core, type: enhancement

#3282 Fix virtual method override warnings in static schedulers
  hpx/runtime/threads/policies/static_priority_queue_scheduler.hpp
  hpx/runtime/threads/policies/static_queue_scheduler.hpp
Labels: compiler: clang

#3276 Fix missing parenthesis in hello_compute.cu.
  examples/compute/cuda/hello_compute.cu
  examples/hello_world_component/CMakeLists.txt
Labels: platform: CUDA, type: enhancement

#3284 Background thread can use relaxed atomics to manipulate thread state
  hpx/runtime/threads/detail/scheduling_loop.hpp
  hpx/runtime/threads/thread_data.hpp
Labels: category: threadmanager, type: optimization

#3286 dataflow() and future::then() use sync policy where possible
  hpx/lcos/detail/async_implementations.hpp
  hpx/lcos/future.hpp
  hpx/lcos/when_each.hpp
  hpx/parallel/executors/execution.hpp
  hpx/parallel/executors/v1/timed_executor_traits.hpp
  hpx/parallel/segmented_algorithms/detail/dispatch.hpp
  hpx/performance_counters/performance_counter.hpp
  hpx/runtime/components/new.hpp
  hpx/runtime/get_ptr.hpp
  hpx/runtime/parcelset/put_parcel.hpp
  src/runtime/agas/addressing_service.cpp
  src/runtime/naming/name.cpp
Labels: category: LCOs, type: optimization

#3287 Fixing /scheduler/utilization/instantaneous performance counter
  src/performance_counters/counters.cpp
  src/runtime/threads/threadmanager.cpp
Labels: category: performance counters, type: enhancement

#3283 Do not unwrap ready future
  hpx/lcos/future.hpp
  hpx/lcos/local/packaged_continuation.hpp
Labels: category: LCOs, type: optimization

#3289 Fixing Docker image creation
  .circleci/config.yml
  tests/performance/parallel_algorithms/local/CMakeLists.txt
  tools/docker/.dockerignore
  tools/docker/Dockerfile
  tools/docker/docker-compile.pl
Labels: category: CircleCi, type: enhancement

#3163 libfabric parcelport w/o HPX_PARCELPORT_LIBFABRIC_ENDPOINT_RDM
  cmake/HPX_SetupBoost.cmake
  plugins/parcelport/libfabric/CMakeLists.txt
  plugins/parcelport/libfabric/libfabric_controller.hpp
  plugins/parcelport/libfabric/parcelport_libfabric.cpp
  plugins/parcelport/libfabric/rma_receiver.cpp
Labels: category: parcel transport, type: enhancement

#3265 Split parallel tests on CircleCI
  .circleci/config.yml
  tests/unit/parallel/CMakeLists.txt
  tests/unit/parallel/block/CMakeLists.txt
  tests/unit/parallel/block/spmd_block.cpp
  tests/unit/parallel/block/task_block.cpp
  tests/unit/parallel/block/task_block_executor.cpp
  tests/unit/parallel/block/task_block_par.cpp
Labels: category: tests

#3295 Fix mistakes after merge of CircleCI config
  .circleci/config.yml
Labels: category: CircleCi

#3294 Fix partitioned vector include in partitioned_vector_find tests
  hpx/lcos/local/packaged_continuation.hpp
  tests/unit/parallel/segmented_algorithms/partitioned_vector_find.cpp
  tests/unit/parallel/segmented_algorithms/partitioned_vector_find2.cpp
Labels: category: data-structures, category: tests

#3261 Apex refactoring fix rebind
  hpx/runtime/threads/coroutines/detail/context_base.hpp
  hpx/runtime/threads/thread_data.hpp
  src/runtime/threads/coroutines/detail/context_base.cpp
Labels: category: APEX, type: enhancement

#3279 Add two variations to the future_overhead benchmark
  tests/performance/local/future_overhead.cpp
Labels: category: tests, type: enhancement

#3291 Fixes #3290
  examples/hello_world_component/CMakeLists.txt
  examples/hello_world_component/Makefile
Labels: category: CMake, category: CircleCi, type: enhancement

#3293 Adding emplace support to promise and make_ready_future
  hpx/lcos/detail/future_data.hpp
  hpx/lcos/future.hpp
  hpx/lcos/local/futures_factory.hpp
  hpx/lcos/local/packaged_continuation.hpp
  hpx/lcos/local/promise.hpp
  hpx/lcos/promise.hpp
  hpx/lcos/wait_all.hpp
  hpx/runtime/components/client_base.hpp
  tests/unit/lcos/CMakeLists.txt
  tests/unit/lcos/make_ready_future.cpp
  tests/unit/lcos/promise_emplace.cpp
Labels: category: LCOs, type: compatibility issue, type: enhancement

#3305 Add proper exception handling to run_as_hpx_thread
  hpx/runtime/threads/run_as_hpx_thread.hpp
  tests/regressions/threads/CMakeLists.txt
  tests/regressions/threads/run_as_hpx_thread_exceptions_3304.cpp
Labels: category: threadmanager, type: enhancement

#3301 Add nullptr_t overloads to resource partitioner
  hpx/runtime/resource/detail/create_partitioner.hpp
  hpx/runtime/resource/partitioner.hpp
  tests/unit/resource/suspend_pool_external.cpp
  tests/unit/resource/suspend_runtime.cpp
Labels: category: resource_partitioner, category: tests

#3302 All non-migratable (simple) components now encode their lva and component type in their gid
  hpx/runtime/components/component_type.hpp
  hpx/runtime/components/server/component_base.hpp
  hpx/runtime/components/server/fixed_component_base.hpp
  hpx/runtime/components/server/migration_support.hpp
  hpx/runtime/naming/name.hpp
  src/exception.cpp
  src/runtime/agas/addressing_service.cpp
  src/runtime/agas/server/primary_namespace_server.cpp
  src/runtime/components/server/component_base.cpp
  src/runtime/naming/name.cpp
  tests/regressions/actions/component_action_move_semantics.cpp
  tests/regressions/actions/components/action_move_semantics.hpp
  tests/regressions/actions/components/stubs/action_move_semantics.hpp
  tests/unit/agas/components/server/simple_mobile_object.hpp
  tests/unit/agas/gid_type.cpp
  tools/VS/gid_type.natvis
Labels: category: AGAS, category: components, type: enhancement
