Repository STEllAR-GROUP/hpx, pull requests merged in 2018-08, with the labels that each got.

#3396 Allowing to register thread event functions (start/stop/error)
  hpx/plugins/parcelport/tcp/connection_handler.hpp
  hpx/plugins/parcelport_factory.hpp
  hpx/plugins/parcelport_factory_base.hpp
  hpx/runtime.hpp
  hpx/runtime/parcelset/parcelhandler.hpp
  hpx/runtime/parcelset/parcelport_impl.hpp
  hpx/runtime/thread_hooks.hpp
  hpx/runtime/threads/policies/callback_notifier.hpp
  hpx/runtime_impl.hpp
  hpx/util/io_service_pool.hpp
  plugins/parcelport/libfabric/parcelport_libfabric.cpp
  plugins/parcelport/libfabric/parcelport_libfabric.hpp
  plugins/parcelport/mpi/parcelport_mpi.cpp
  plugins/parcelport/tcp/connection_handler_tcp.cpp
  plugins/parcelport/verbs/parcelport_verbs.cpp
  src/CMakeLists.txt
  src/runtime.cpp
  src/runtime/parcelset/parcelhandler.cpp
  src/runtime_impl.cpp
  src/util/io_service_pool.cpp
  tests/unit/threads/CMakeLists.txt
  tests/unit/threads/error_callback.cpp
  tests/unit/threads/start_stop_callbacks.cpp
Labels: category: core, type: enhancement

#3397 Fixing code for older gcc versions
  hpx/runtime/components/unwrapping_result_policy.hpp
Labels: category: core, compiler: gcc, type: compatibility issue

#3385 Adds Debug option for hpx initializing from main
  hpx/hpx_main.hpp
  src/hpx_init.cpp
  src/hpx_wrap.cpp
Labels: category: core, category: init, type: compatibility issue, type: enhancement

#3368 Updates doc with recent hpx_wrap implementation
  docs/hpx.qbk
  docs/manual/applications.qbk
  docs/manual/hpx_main_usage.qbk
Labels: category: documentation, type: enhancement

#3404 fixing multiple difinition of main() in linux
  src/main.cpp
Labels: category: init, type: enhancement

#3405 Adding DHPX_HAVE_THREAD_LOCAL_STORAGE=ON to builds
  .circleci/config.yml
Labels: category: CircleCi, type: enhancement

#3402 Allow debug option to be enabled only for Linux systems with dynamic main on
  src/hpx_init.cpp
Labels: category: init, type: enhancement

#3407 Fix unused param and extra ; warnings emitted by gcc 8.x
  hpx/lcos/base_lco_with_value.hpp
  hpx/lcos/detail/async_implementations.hpp
  hpx/lcos/detail/async_unwrap_result_implementations.hpp
  hpx/lcos/detail/future_data.hpp
  hpx/lcos/detail/promise_base.hpp
  hpx/lcos/detail/promise_lco.hpp
  hpx/lcos/local/channel.hpp
  hpx/lcos/local/condition_variable.hpp
  hpx/lcos/local/packaged_continuation.hpp
  hpx/lcos/server/latch.hpp
  hpx/parallel/execution_policy.hpp
  hpx/parallel/executors/execution_parameters.hpp
  hpx/parallel/executors/sequenced_executor.hpp
  hpx/performance_counters/server/base_performance_counter.hpp
  hpx/plugins/plugin_registry_base.hpp
  hpx/runtime/actions/component_action.hpp
  hpx/runtime/actions/transfer_action.hpp
  hpx/runtime/actions/transfer_continuation_action.hpp
  hpx/runtime/agas/addressing_service.hpp
  hpx/runtime/agas/component_namespace.hpp
  hpx/runtime/agas/gva.hpp
  hpx/runtime/agas/locality_namespace.hpp
  hpx/runtime/components/server/component_base.hpp
  hpx/runtime/components/server/fixed_component_base.hpp
  hpx/runtime/components/server/memory_block.hpp
  hpx/runtime/parcelset/parcel.hpp
  hpx/runtime/resource/detail/create_partitioner.hpp
  hpx/runtime/serialization/array.hpp
  hpx/runtime/serialization/binary_filter.hpp
  hpx/runtime/serialization/output_container.hpp
  hpx/runtime/serialization/shared_ptr.hpp
  hpx/runtime/serialization/unique_ptr.hpp
  hpx/runtime/threads/coroutines/detail/context_linux_x86.hpp
  hpx/runtime/threads/coroutines/detail/tss.hpp
  hpx/runtime/threads/cpu_mask.hpp
  hpx/runtime/threads/policies/scheduler_base.hpp
  hpx/runtime/threads/thread_executor.hpp
  hpx/runtime/threads/thread_helpers.hpp
  hpx/runtime/threads/thread_pool_base.hpp
  hpx/runtime/threads/threadmanager.hpp
  hpx/runtime/threads/topology.hpp
  hpx/traits/acquire_future.hpp
  hpx/traits/action_decorate_continuation.hpp
  hpx/traits/action_decorate_function.hpp
  hpx/traits/detail/reserve.hpp
  hpx/traits/executor_traits.hpp
  hpx/traits/get_function_annotation.hpp
  hpx/traits/polymorphic_traits.hpp
  hpx/util/annotated_function.hpp
  hpx/util/assert_owns_lock.hpp
  hpx/util/detail/vtable/serializable_vtable.hpp
  hpx/util/format.hpp
  hpx/util/integer/uint128.hpp
  hpx/util/one_size_heap_list.hpp
  hpx/util/plugin/plugin_factory.hpp
  hpx/util/register_locks.hpp
  hpx/util/serialize_exception.hpp
  hpx/util/thread_description.hpp
  hpx/util/tuple.hpp
Labels: compiler: gcc, type: compatibility issue, type: enhancement

#3409 Fix brackets and indentation in existing_performance_counters.qbk
  docs/manual/existing_performance_counters.qbk
Labels: category: documentation

#3410 Fix typo in CMakeLists.txt
  CMakeLists.txt
Labels: category: CMake

#3400 Fix floating point exception scheduler_base idle backoff
  hpx/runtime/threads/policies/scheduler_base.hpp
Labels: category: core, type: defect

#3412 Fixes linking with libhpx_wrap error with BSD and Windows based systems
  cmake/HPX_SetupTarget.cmake
Labels: category: CMake, category: init, type: enhancement

#3421 Add CDash timing output to future overhead test (for graphs)
  hpx/util/lightweight_test.hpp
  tests/performance/local/CMakeLists.txt
  tests/performance/local/agas_cache_timings.cpp
  tests/performance/local/async_overheads.cpp
  tests/performance/local/future_overhead.cpp
  tests/performance/local/resume_suspend.cpp
  tests/performance/local/serialization_overhead.cpp
  tests/performance/local/spinlock_overhead1.cpp
  tests/performance/local/spinlock_overhead2.cpp
  tests/performance/local/start_stop.cpp
  tests/performance/local/stencil3_iterators.cpp
  tests/performance/local/wait_all_timings.cpp
  tests/unit/parallel/algorithms/exclusive_scan.cpp
  tests/unit/parallel/algorithms/inclusive_scan.cpp
  tests/unit/parallel/algorithms/inclusive_scan_tests.hpp
  tests/unit/parallel/algorithms/reduce_by_key.cpp
  tests/unit/parallel/algorithms/sort.cpp
  tests/unit/parallel/algorithms/sort_by_key.cpp
Labels: category: CMake, category: tests, type: enhancement

#3419 Fix typo in CircleCI config
  .circleci/config.yml
Labels: category: CircleCi

#3425 Use source cache and workspace between job steps on CircleCI
  .circleci/config.yml
Labels: category: CircleCi

#3428 This suppresses a deprecation warning that is being issued by MSVC 19.15.26726
  CMakeLists.txt
Labels: compiler: msvc, type: compatibility issue

#3430 Fix unused params warning
  hpx/util/apex.hpp
Labels: category: APEX, compiler: gcc, type: compatibility issue, type: enhancement

#3427 Fixes #3426
  src/hpx_init.cpp
Labels: category: init, type: enhancement

#3413 Fixing multiple defines of APEX_HAVE_HPX
  CMakeLists.txt
Labels: category: APEX, category: CMake

#3431 Circle CI setting changes for hpxMP
  .circleci/config.yml
Labels: category: CMake, type: enhancement

#3433 Add Heise Online to release announcement list
  docs/release_procedure.rst
Labels: category: documentation

#3429 One thread per core
  cmake/templates/hpxrun.py.in
  docs/html/images/affinities.png
  docs/manual/commandline.qbk
  docs/manual/config_defaults.qbk
  docs/quickstart.qbk
  src/util/command_line_handling.cpp
  src/util/runtime_configuration.cpp
Labels: affecting: CSCS, category: threadmanager

#3434 Fix threads cores
  cmake/templates/hpxrun.py.in
  src/util/command_line_handling.cpp
Labels: category: init, type: enhancement

#3435 Fixing 1205
  hpx/runtime/threads/coroutines/detail/tss.hpp
  src/runtime/threads/coroutines/detail/coroutine_impl.cpp
  tests/unit/threads/tss.cpp
Labels: category: threadmanager, type: defect
