Repository STEllAR-GROUP/hpx, pull requests merged in 2018-07, with the labels that each got.

#3361 Making sure all parcels get destroyed on an HPX thread (TCP pp)
  hpx/plugins/parcelport/tcp/sender.hpp
  src/state.cpp
Labels: category: parcel transport, type: enhancement

#3363 Apex fixing null wrapper
  CMakeLists.txt
  hpx/runtime/applier/apply.hpp
  hpx/runtime/threads/thread_init_data.hpp
  hpx/util/apex.hpp
  src/runtime/threads/coroutines/detail/context_base.cpp
  src/util/apex.cpp
Labels: category: APEX, type: enhancement

#3359 Feature/improveerrorforcompiler
  cmake/templates/HPXMacros.cmake.in
Labels: category: CMake, type: compatibility issue, type: enhancement

#3370 util::format: add type_specifier<> specializations for %s and %ls
  hpx/util/format.hpp
Labels: category: tools, type: compatibility issue, type: enhancement

#3369 Adding configuration option to allow explicit disable of the new hpx_main feature on Linux
  CMakeLists.txt
  cmake/HPX_GeneratePackage.cmake
  cmake/HPX_SetupTarget.cmake
  cmake/templates/HPXConfig.cmake.in
  cmake/templates/HPXMacros.cmake.in
  cmake/templates/hpx_bazel_defs.bzl.in
  cmake/templates/hpx_bazel_defs_debug.bzl.in
  hpx/hpx_main.hpp
  src/hpx_wrap.cpp
Labels: category: CMake, category: init, type: compatibility issue

#3371 Adds HPX_LINKER_FLAGS to HPX applications without editing their source codes
  cmake/HPX_GeneratePackage.cmake
  cmake/HPX_SetupTarget.cmake
  cmake/templates/HPXConfig.cmake.in
  src/CMakeLists.txt
Labels: category: CMake, type: compatibility issue

#3336 Only run docker push on master on CircleCI
  .circleci/config.yml
Labels: category: CircleCi

#3365 Fix order of hpx libs in HPX_CONF_LIBRARIES.
  cmake/HPX_GeneratePackage.cmake
Labels: category: CMake, type: compatibility issue, type: enhancement

#3373 Forcing cache settings in HPXConfig.cmake to guarantee updated values
  cmake/templates/HPXConfig.cmake.in
Labels: category: CMake, type: compatibility issue

#3372 Fix some more c++11 build problems
  tests/regressions/parallel/stable_merge_2964.cpp
  tests/unit/parallel/container_algorithms/countif_range.cpp
Labels: category: tests, type: compatibility issue

#3374 Adds hpx_wrap to HPX_LINK_LIBRARIES which links only when specified.
  cmake/HPX_GeneratePackage.cmake
  cmake/HPX_SetupTarget.cmake
  cmake/templates/HPXConfig.cmake.in
  cmake/templates/hpx_application.pc.in
  cmake/templates/hpx_application_debug.pc.in
  cmake/templates/hpx_bazel_defs.bzl.in
  cmake/templates/hpx_bazel_defs_debug.bzl.in
  src/CMakeLists.txt
Labels: category: CMake, type: compatibility issue

#3377 Adding build system support to integrate hpxmp into hpx at the user's machine
  CMakeLists.txt
  src/CMakeLists.txt
Labels: category: CMake, type: compatibility issue, type: enhancement

#3379 Fixing #3378
  hpx/lcos/channel.hpp
Labels: category: core, type: defect

#3380 Add missing semicolons to uses of HPX_COMPILER_FENCE
  hpx/lcos/local/spinlock_no_backoff.hpp
  tests/performance/local/spinlock_overhead1.cpp
  tests/performance/local/spinlock_overhead2.cpp
Labels: category: core, type: compatibility issue, type: enhancement

#3381 Replace undefined instantiations of uniform_int_distribution
  tests/regressions/lcos/future_hang_on_get_629.cpp
  tests/regressions/lcos/future_hang_on_then_629.cpp
  tests/regressions/lcos/future_hang_on_wait_with_callback_629.cpp
Labels: category: core, category: tests, type: compatibility issue, type: enhancement

#3383 Making sure thread local storage is enable for hpxMP
  CMakeLists.txt
Labels: type: compatibility issue

#3387 Add cmake option to opt out of fail-compile tests
  CMakeLists.txt
  tests/regressions/lcos/CMakeLists.txt
  tests/unit/actions/CMakeLists.txt
  tests/unit/diagnostics/CMakeLists.txt
  tests/unit/lcos/CMakeLists.txt
  tests/unit/serialization/CMakeLists.txt
Labels: category: CMake, type: compatibility issue, type: enhancement

#3391 Adapt integration of HPXMP to latest build system changes
  CMakeLists.txt
Labels: category: CMake, type: compatibility issue

#3389 Fix deadlock during shutdown
  hpx/runtime/components/server/runtime_support.hpp
  src/runtime/components/server/runtime_support_server.cpp
Labels: category: core, type: deadlock, type: defect

#3390 Make AGAS measurements optional
  hpx/runtime/agas/server/component_namespace.hpp
  hpx/runtime/agas/server/locality_namespace.hpp
  hpx/runtime/agas/server/primary_namespace.hpp
  hpx/runtime/agas/server/symbol_namespace.hpp
  hpx/util/scoped_timer.hpp
  src/runtime/agas/server/component_namespace_server.cpp
  src/runtime/agas/server/locality_namespace_server.cpp
  src/runtime/agas/server/primary_namespace_server.cpp
  src/runtime/agas/server/route.cpp
  src/runtime/agas/server/symbol_namespace_server.cpp
Labels: category: AGAS, category: performance counters, type: optimization

#3394 Fix small mistake in primary_namespace_server.cpp
  src/runtime/agas/server/primary_namespace_server.cpp
Labels: category: AGAS

#3393 Explicitly instantiate configured schedulers
  src/runtime/threads/detail/scheduled_thread_pool.cpp
  tests/unit/threads/schedule_last.cpp
Labels: category: core, compiler: msvc, type: enhancement
