Repository STEllAR-GROUP/hpx, pull requests merged in 2018-03, with the labels that each got.

#3205 Fixing return type calculation for bulk_then_execute.
  docs/CMakeLists.txt
  hpx/apply.hpp
  hpx/compute/cuda/target_distribution_policy.hpp
  hpx/compute/host/target_distribution_policy.hpp
  hpx/dataflow.hpp
  hpx/hpx.hpp
  hpx/lcos/broadcast.hpp
  hpx/lcos/dataflow.hpp
  hpx/lcos/detail/future_transforms.hpp
  hpx/lcos/future.hpp
  hpx/lcos/when_all_fwd.hpp
  hpx/parallel/executors/default_executor.hpp
  hpx/parallel/executors/execution.hpp
  hpx/parallel/executors/parallel_executor.hpp
  hpx/parallel/executors/pool_executor.hpp
  hpx/parallel/executors/service_executors.hpp
  hpx/parallel/executors/static_chunk_size.hpp
  hpx/parallel/executors/this_thread_executors.hpp
  hpx/parallel/executors/thread_execution.hpp
  hpx/parallel/executors/thread_pool_executors.hpp
  hpx/parallel/executors/thread_pool_os_executors.hpp
  hpx/parallel/task_block.hpp
  hpx/performance_counters/counters.hpp
  hpx/performance_counters/counters_fwd.hpp
  hpx/performance_counters/performance_counter_set.hpp
  hpx/runtime/applier/apply.hpp
  hpx/runtime/basename_registration.hpp
  hpx/runtime/basename_registration_fwd.hpp
  hpx/runtime/components/binpacking_distribution_policy.hpp
  hpx/runtime/components/default_distribution_policy.hpp
  hpx/runtime/components/target_distribution_policy.hpp
  hpx/runtime/get_colocation_id.hpp
  hpx/runtime/get_locality_name.hpp
  hpx/runtime/parcelset/put_parcel.hpp
  hpx/runtime/parcelset_fwd.hpp
  hpx/runtime/threads/policies/hierarchy_scheduler.hpp
  hpx/runtime/threads/policies/local_priority_queue_scheduler.hpp
  hpx/runtime/threads/policies/periodic_priority_queue_scheduler.hpp
  hpx/runtime/threads/policies/static_priority_queue_scheduler.hpp
  hpx/runtime/threads/policies/static_queue_scheduler.hpp
  hpx/runtime/threads/thread.hpp
  hpx/runtime_fwd.hpp
  hpx/traits/future_access.hpp
  hpx/util/unwrap.hpp
  src/lcos/when_all_fwd.cpp
  src/performance_counters/counters.cpp
  src/runtime.cpp
  src/runtime/agas/addressing_service.cpp
  src/runtime/agas/detail/hosted_locality_namespace.cpp
  src/runtime/agas/locality_namespace.cpp
  src/runtime/parcelset/put_parcel.cpp
  src/runtime/threads/executors/service_executor.cpp
  tests/headers/CMakeLists.txt
  tests/regressions/parallel/executors/CMakeLists.txt
  tests/regressions/parallel/executors/bulk_then_execute_3182.cpp
  tests/unit/resource/named_pool_executor.cpp
  tests/unit/resource/throttle.cpp
  tests/unit/resource/throttle_timed.cpp
  tests/unit/threads/thread_suspension_executor.cpp
Labels: category: executors, type: enhancement

#3201 Fixing optional::swap
  hpx/util/optional.hpp
  tests/regressions/util/CMakeLists.txt
  tests/regressions/util/optional_swap_3200.cpp
Labels: category: core, type: enhancement

#3206 Addition of new arithmetic performance counter "Count"
  docs/manual/existing_performance_counters.qbk
  src/performance_counters/registry.cpp
  src/performance_counters/server/arithmetics_counter_extended.cpp
  src/runtime.cpp
Labels: category: performance counters, type: enhancement

#3209 Fix locking problems during shutdown
  src/runtime/components/server/runtime_support_server.cpp
  src/runtime/resource/partitioner.cpp
Labels: category: core, category: resource_partitioner, type: enhancement

#3203 Resolving problems during shutdown for VS2015
  src/runtime/resource/partitioner.cpp
Labels: category: core, type: enhancement

#3216 Reorder a variadic array to satisfy VS 2017 15.6
  hpx/util/detail/pack_traversal_async_impl.hpp
Labels: category: core, compiler: msvc, type: enhancement

#3214 Changed prerequisites.qbk to avoid confusion while building boost.
  docs/manual/build_system/prerequisites.qbk
Labels: category: documentation, type: enhancement

#3211 Use preinit_array to set argc/argv in init_globally example
  examples/quickstart/init_globally.cpp
Labels: category: examples, type: enhancement

#3210 Adapted parallel::{search | search_n} for Ranges TS (see #1668)
  docs/CMakeLists.txt
  hpx/include/parallel_search.hpp
  hpx/parallel/algorithms/search.hpp
  hpx/parallel/container_algorithms.hpp
  hpx/parallel/container_algorithms/search.hpp
  hpx/parallel/util/compare_projected.hpp
  tests/unit/parallel/container_algorithms/CMakeLists.txt
  tests/unit/parallel/container_algorithms/search_range.cpp
  tests/unit/parallel/container_algorithms/searchn_range.cpp
Labels: category: algorithms, type: compatibility issue, type: enhancement

#3202 Making sure resource partitioner is not accessed if its not valid
  hpx/runtime/resource/partitioner_fwd.hpp
  src/runtime.cpp
  src/runtime/resource/partitioner.cpp
Labels: category: resource_partitioner, type: enhancement

#3185 Remove unused scoped_unlock, unlock_guard_try
  CMakeLists.txt
  hpx/lcos/local/channel.hpp
  hpx/util/scoped_unlock.hpp
  hpx/util/unlock_guard.hpp
  src/runtime/naming/name.cpp
  src/util/ini.cpp
  tests/headers/CMakeLists.txt
Labels: category: core, type: compatibility issue, type: enhancement

#3213 Relax locks for thread suspension to avoid holding locks when yielding
  hpx/runtime/threads/detail/scheduled_thread_pool_impl.hpp
Labels: category: core, category: resource_partitioner, type: enhancement

#3204 Changing std::rand() to a better inbuilt PRNG generator.
  examples/compute/cuda/cublas_matmul.cpp
  examples/compute/cuda/data_copy.cu
  examples/compute/cuda/hello_compute.cu
  examples/compute/cuda/partitioned_vector.cu
  examples/quickstart/partitioned_vector_spmd_foreach.cpp
  examples/random_mem_access/random_mem_access_client.cpp
  hpx/util/jenkins_hash.hpp
  src/runtime/agas/big_boot_barrier.cpp
  tests/performance/local/foreach_scaling.cpp
  tests/performance/local/transform_reduce_binary_scaling.cpp
  tests/performance/local/transform_reduce_scaling.cpp
  tests/performance/network/algorithms/minmax_element_performance.cpp
  tests/performance/parallel_algorithms/local/benchmark_inplace_merge.cpp
  tests/performance/parallel_algorithms/local/benchmark_is_heap.cpp
  tests/performance/parallel_algorithms/local/benchmark_is_heap_until.cpp
  tests/performance/parallel_algorithms/local/benchmark_merge.cpp
  tests/performance/parallel_algorithms/local/benchmark_partition.cpp
  tests/performance/parallel_algorithms/local/benchmark_partition_copy.cpp
  tests/performance/parallel_algorithms/local/benchmark_remove.cpp
  tests/performance/parallel_algorithms/local/benchmark_remove_if.cpp
  tests/performance/parallel_algorithms/local/benchmark_unique.cpp
  tests/performance/parallel_algorithms/local/benchmark_unique_copy.cpp
  tests/regressions/components/partitioned_vector_2201.cpp
  tests/regressions/parallel/for_each_annotated_function.cpp
  tests/regressions/parallel/scan_different_inits.cpp
  tests/regressions/parallel/scan_shortlength.cpp
  tests/regressions/parallel/stable_merge_2964.cpp
  tests/unit/computeapi/cuda/default_executor.cu
  tests/unit/computeapi/cuda/for_each_compute.cu
  tests/unit/computeapi/cuda/for_loop_compute.cu
  tests/unit/computeapi/cuda/transform_compute.cu
  tests/unit/computeapi/host/block_allocator.cpp
  tests/unit/parallel/algorithms/any_of.cpp
Labels: category: tests, type: compatibility issue

#3178 Fix #3124
  circle.yml
  docs/manual/build_system/using_hpx_pkgconfig.qbk
  examples/hello_world_component/CMakeLists.txt
  examples/hello_world_component/Makefile
  tests/unit/build/CMakeLists.txt
  tests/unit/build/src/Makefile
  tests/unit/build/src/test.cpp
  tests/unit/build/src/test_component.cpp
  tests/unit/build/src/test_component.hpp
Labels: category: CMake, category: examples, type: enhancement

#3240 Fixed typos
  hpx/hpx_start_impl.hpp
Labels: category: documentation, type: enhancement

#3237 Adding Pipeline example
  examples/CMakeLists.txt
  examples/pipeline/CMakeLists.txt
  examples/pipeline/Readme.md
  examples/pipeline/collector.cpp
  examples/pipeline/emitter.cpp
  examples/pipeline/worker.cpp
Labels: category: examples

#3236 Fixing memory_block
  hpx/runtime/components/server/memory_block.hpp
  src/runtime/agas/server/primary_namespace_server.cpp
  src/runtime/components/server/memory_block.cpp
  src/util/runtime_configuration.cpp
Labels: category: core, category: examples, type: enhancement

#3238 Readding accidently removed std::abort
  src/runtime.cpp
Labels: category: core, type: defect

#3233 Make schedule_thread take suspended threads into account
  examples/resource_partitioner/shared_priority_scheduler.hpp
  hpx/runtime/threads/detail/scheduled_thread_pool_impl.hpp
  hpx/runtime/threads/detail/scheduling_loop.hpp
  hpx/runtime/threads/policies/hierarchy_scheduler.hpp
  hpx/runtime/threads/policies/local_priority_queue_scheduler.hpp
  hpx/runtime/threads/policies/local_queue_scheduler.hpp
  hpx/runtime/threads/policies/scheduler_base.hpp
  hpx/runtime/threads/policies/throttling_scheduler.hpp
Labels: category: threadmanager, type: defect

#3225 Applying quick fix for hwloc-2.0
  src/runtime/threads/topology.cpp
Labels: category: core, type: enhancement

#3235 Fixing Libfabric Parcelport
  plugins/parcelport/libfabric/header.hpp
  plugins/parcelport/libfabric/libfabric_controller.hpp
  plugins/parcelport/libfabric/locality.hpp
  plugins/parcelport/libfabric/receiver.cpp
  plugins/parcelport/libfabric/rma_receiver.cpp
  plugins/parcelport/libfabric/sender.cpp
Labels: category: parcel transport, type: enhancement

#3242 Modify task counting in thread_queue.hpp
  hpx/runtime/threads/policies/thread_queue.hpp
Labels: category: threadmanager, type: defect, type: race condition

#3186 Remove hierarchy, periodic priority and throttling schedulers
  CMakeLists.txt
  docs/manual/commandline.qbk
  docs/manual/scheduling_policies.qbk
  docs/whats_new.qbk
  hpx/parallel/executors/thread_pool_executors.hpp
  hpx/runtime/resource/partitioner_fwd.hpp
  hpx/runtime/threads/executors/thread_pool_executors.hpp
  hpx/runtime/threads/policies/hierarchy_scheduler.hpp
  hpx/runtime/threads/policies/periodic_priority_queue_scheduler.hpp
  hpx/runtime/threads/policies/schedulers.hpp
  hpx/runtime/threads/policies/throttling_scheduler.hpp
  src/runtime/resource/detail/detail_partitioner.cpp
  src/runtime/threads/detail/scheduled_thread_pool.cpp
  src/runtime/threads/executors/thread_pool_executors.cpp
  src/runtime/threads/threadmanager.cpp
  src/util/parse_command_line.cpp
  tests/unit/resource/throttle.cpp
Labels: category: threadmanager, type: enhancement

#3249 Updating People.qbk
  docs/html/images/emails/msimberg.png
  docs/people.qbk
Labels: category: documentation, type: enhancement

#3245 Apex refactoring with guids
  CMakeLists.txt
  hpx/runtime/threads/coroutines/coroutine.hpp
  hpx/runtime/threads/coroutines/detail/context_base.hpp
  hpx/runtime/threads/coroutines/detail/coroutine_self.hpp
  hpx/runtime/threads/detail/scheduling_loop.hpp
  hpx/runtime/threads/thread_data.hpp
  hpx/runtime/threads/thread_data_fwd.hpp
  hpx/util/annotated_function.hpp
  hpx/util/apex.hpp
  src/runtime/threads/thread_data.cpp
Labels: category: APEX, category: threadmanager, type: enhancement

#3250 Apex refactoring with guids
  CMakeLists.txt
  hpx/runtime/threads/thread_data.hpp
  hpx/util/apex.hpp
Labels: category: APEX, type: enhancement

#3246 Assorted fixes for CUDA
  hpx/lcos/detail/async_implementations.hpp
  hpx/parallel/executors/execution.hpp
  hpx/runtime/actions/transfer_action.hpp
  hpx/runtime/actions/transfer_continuation_action.hpp
  hpx/runtime/components/server/managed_component_base.hpp
  hpx/util/detail/vtable/vtable.hpp
Labels: platform: CUDA, type: enhancement

#3254 Adding trait for actions allowing to make runtime decision on whether to execute it directly
  hpx/include/traits.hpp
  hpx/lcos/detail/async_implementations.hpp
  hpx/runtime/applier/apply_helper.hpp
  hpx/traits/action_select_direct_execution.hpp
  src/runtime/components/server/runtime_support_server.cpp
Labels: category: actions, type: enhancement

#3256 Post 1.1.0 version bumps
  CMakeLists.txt
  README.rst
  docs/CMakeLists.txt
  docs/hpx.qbk
  docs/release_procedure.rst
  docs/releases/whats_new_1_2_0.qbk
  docs/whats_new.qbk
  hpx/config/version.hpp
Labels: type: compatibility issue, type: enhancement

#3036 Switching to CircleCI 2.0
  .circleci/config.yml
  circle.yml
  tools/clang-tidy.sh
Labels: category: CircleCi, type: enhancement

#3262 Making sure documentation correctly links to source files
  cmake/HPX_Documentation.cmake
Labels: category: documentation, type: enhancement

#3251 Adds new feature: changing interval used in interval_timer (issue 3244)
  hpx/util/interval_timer.hpp
  src/util/interval_timer.cpp
Labels: category: core, type: enhancement

#3239 Changing std::rand() to a better inbuilt PRNG generator.
  tests/unit/parallel/algorithms/adjacentfind.cpp
  tests/unit/parallel/algorithms/adjacentfind_bad_alloc.cpp
  tests/unit/parallel/algorithms/adjacentfind_binary.cpp
  tests/unit/parallel/algorithms/adjacentfind_binary_bad_alloc.cpp
  tests/unit/parallel/algorithms/adjacentfind_binary_exception.cpp
  tests/unit/parallel/algorithms/adjacentfind_exception.cpp
  tests/unit/parallel/algorithms/copy.cpp
  tests/unit/parallel/algorithms/copyif_bad_alloc.cpp
  tests/unit/parallel/algorithms/copyif_exception.cpp
  tests/unit/parallel/algorithms/copyif_forward.cpp
  tests/unit/parallel/algorithms/copyif_input.cpp
  tests/unit/parallel/algorithms/copyif_random.cpp
  tests/unit/parallel/algorithms/copyn.cpp
  tests/unit/parallel/algorithms/count_tests.hpp
  tests/unit/parallel/algorithms/countif_tests.hpp
  tests/unit/parallel/algorithms/destroy_tests.hpp
  tests/unit/parallel/algorithms/destroyn.cpp
  tests/unit/parallel/algorithms/equal.cpp
  tests/unit/parallel/algorithms/equal_binary.cpp
  tests/unit/parallel/algorithms/fill.cpp
  tests/unit/parallel/algorithms/filln.cpp
  tests/unit/parallel/algorithms/find.cpp
  tests/unit/parallel/algorithms/findend.cpp
  tests/unit/parallel/algorithms/findfirstof.cpp
  tests/unit/parallel/algorithms/findfirstof_binary.cpp
  tests/unit/parallel/algorithms/findif.cpp
  tests/unit/parallel/algorithms/findifnot.cpp
  tests/unit/parallel/algorithms/findifnot_bad_alloc.cpp
  tests/unit/parallel/algorithms/findifnot_exception.cpp
  tests/unit/parallel/algorithms/for_loop.cpp
Labels: category: tests, type: compatibility issue, type: enhancement

#3253 Bump minimal supported Boost to 1.58.0
  docs/manual/build_system/prerequisites.qbk
  hpx/config.hpp
  hpx/lcos/future.hpp
  hpx/lcos/local/packaged_continuation.hpp
  hpx/lcos/local/promise.hpp
  hpx/runtime/components/client_base.hpp
  hpx/runtime/threads/coroutines/detail/context_generic_context.hpp
  hpx/traits/future_access.hpp
  hpx/util/range.hpp
  src/performance_counters/registry.cpp
  src/performance_counters/server/statistics_counter.cpp
  src/runtime.cpp
  src/runtime/threads/coroutines/detail/context_generic_context.cpp
  src/version.cpp
Labels: type: compatibility issue

#3260 Isolate performance counter parser into a separate TU
  hpx/performance_counters/counter_parser.hpp
  src/performance_counters/counter_parser.cpp
  src/performance_counters/counters.cpp
Labels: category: performance counters, type: compatibility issue, type: enhancement
