Repository STEllAR-GROUP/hpx, pull requests merged in 2018-12, with the labels that each got.

#3573 Make sure HPX is usable with latest released version of Vc (V1.4.1)
  CMakeLists.txt
  cmake/HPX_SetupVc.cmake
  tests/unit/parallel/datapar_algorithms/count_datapar.cpp
  tests/unit/parallel/datapar_algorithms/countif_datapar.cpp
  tests/unit/parallel/datapar_algorithms/foreach_datapar.cpp
  tests/unit/parallel/datapar_algorithms/foreachn_datapar.cpp
  tests/unit/parallel/datapar_algorithms/transform_binary2_datapar.cpp
  tests/unit/parallel/datapar_algorithms/transform_binary_datapar.cpp
  tests/unit/parallel/datapar_algorithms/transform_datapar.cpp
Labels: category: algorithms, category: core, type: compatibility issue, type: enhancement

#3571 Make empty [unique_]function vtable non-dependent
  hpx/util/detail/basic_function.hpp
  hpx/util/detail/empty_function.hpp
  hpx/util/detail/vtable/callable_vtable.hpp
  hpx/util/detail/vtable/serializable_function_vtable.hpp
  hpx/util/detail/vtable/unique_function_vtable.hpp
  hpx/util/function.hpp
  src/CMakeLists.txt
  src/util/detail/empty_function.cpp
Labels: category: core, type: enhancement

#3577 Partially revert "Remove vtable empty flag"
  hpx/util/detail/basic_function.hpp
  hpx/util/detail/vtable/unique_function_vtable.hpp
Labels: category: core, type: enhancement

#3574 Make sure DATAPAR settings are conveyed to depending projects
  cmake/templates/HPXConfig.cmake.in
Labels: category: CMake, type: compatibility issue, type: enhancement

#3576 Make sure empty startup/shutdown functions are not being used
  hpx/runtime/components/server/runtime_support.hpp
  src/runtime/components/runtime_support.cpp
  src/runtime/components/server/runtime_support_server.cpp
Labels: category: core, compiler: msvc, platform: Windows, type: enhancement

#3504 Add support for rpm packaging
  CMakeLists.txt
  README.rst
  cmake/packaging/rpm/CMakeLists.txt
  cmake/packaging/rpm/Changelog.txt
  cmake/packaging/rpm/hpx-no-inspect
  docs/sphinx/contributing/release_procedure.rst
Labels: category: CMake, type: compatibility issue, type: enhancement

#3555 cmake: make install locations configurable
  CMakeLists.txt
  cmake/HPX_AddComponent.cmake
  cmake/HPX_AddExecutable.cmake
  cmake/HPX_AddLibrary.cmake
  cmake/HPX_GeneratePackage.cmake
  cmake/HPX_SetFullRPATH.cmake
  cmake/templates/HPXConfig.cmake.in
  src/CMakeLists.txt
  tests/unit/build/CMakeLists.txt
Labels: category: CMake, type: compatibility issue, type: enhancement

#3593 Add include(GNUInstallDirs) to HPXMacros.cmake
  cmake/templates/HPXMacros.cmake.in
Labels: category: CMake, type: compatibility issue

#3585 Extend Cmake for building hpx as distribution packages (refs #3575)
  CMakeLists.txt
Labels: category: CMake

#3588 Fix formatting errors in launching_and_configuring_hpx_applications.rst
  docs/sphinx/manual/launching_and_configuring_hpx_applications.rst
Labels: category: documentation, type: defect

#3595 Use GNUInstallDirs lib path in pkgconfig config file
  cmake/HPX_GeneratePackage.cmake
  cmake/templates/hpx_application.pc.in
  cmake/templates/hpx_application_debug.pc.in
  cmake/templates/hpx_component.pc.in
  cmake/templates/hpx_component_debug.pc.in
Labels: category: CMake

#3596 Store thread exit functions in forward_list instead of deque to avoid allocations
  cmake/HPX_AddConfigTest.cmake
  cmake/HPX_PerformCxxFeatureTests.cmake
  cmake/tests/cxx11_std_forward_list.cpp
  hpx/runtime/threads/thread_data.hpp
  src/runtime/threads/thread_data.cpp
Labels: category: threadmanager, type: enhancement

#3584 Untangle function storage from object pointer
  hpx/util/detail/basic_function.hpp
  hpx/util/detail/vtable/callable_vtable.hpp
  hpx/util/detail/vtable/copyable_vtable.hpp
  hpx/util/detail/vtable/serializable_vtable.hpp
  hpx/util/detail/vtable/unique_function_vtable.hpp
  hpx/util/detail/vtable/vtable.hpp
  hpx/util/function.hpp
  tests/unit/util/function.cpp
Labels: category: core, type: cleanup, type: enhancement

#3586 Make bind propagate value category
  hpx/lcos/async.hpp
  hpx/lcos/sync.hpp
  hpx/parallel/executors/execution.hpp
  hpx/parallel/executors/thread_execution.hpp
  hpx/parallel/executors/timed_executors.hpp
  hpx/parallel/task_block.hpp
  hpx/runtime/actions/basic_action.hpp
  hpx/runtime/components/server/locking_hook.hpp
  hpx/runtime/components/server/migration_support.hpp
  hpx/runtime/parcelset/decode_parcels.hpp
  hpx/runtime/parcelset/put_parcel.hpp
  hpx/util/bind.hpp
  hpx/util/bind_action.hpp
  hpx/util/bind_back.hpp
  hpx/util/bind_front.hpp
  hpx/util/one_shot.hpp
  src/runtime/agas/addressing_service.cpp
  src/runtime/agas/big_boot_barrier.cpp
  src/runtime/threads/executors/current_executor.cpp
  src/runtime/threads/executors/pool_executor.cpp
  src/runtime/threads/executors/this_thread_executors.cpp
  src/runtime/threads/executors/thread_pool_executors.cpp
  src/runtime/threads/executors/thread_pool_os_executors.cpp
  src/runtime/threads/thread.cpp
  tests/unit/component/action_invoke_no_more_than.hpp
Labels: category: core
