Repository STEllAR-GROUP/hpx, pull requests merged in 2018-05, with the labels that each got.

#3292 Add new cuda kernel synchronization with hpx::future demo
  examples/compute/cuda/CMakeLists.txt
  examples/compute/cuda/cublas_matmul.cpp
  examples/compute/cuda/cuda_future.cpp
  examples/compute/cuda/cuda_future_helper.h
  examples/compute/cuda/trivial_demo.cu
Labels: category: examples, platform: CUDA, type: enhancement

#3306 Marking migratable objects in their gid to allow not handling migration in AGAS
  hpx/runtime/components/server/migration_support.hpp
  hpx/runtime/naming/name.hpp
  src/runtime/agas/addressing_service.cpp
  src/runtime/agas/server/primary_namespace_server.cpp
  src/runtime/agas/server/route.cpp
  tools/VS/gid_type.natvis
Labels: category: AGAS, type: enhancement

#3308 This updates the .clang-format configuration file to utilize newer features
  .clang-format
Labels: type: enhancement

#3309 Fixing potential stack overflow for dataflow
  hpx/lcos/dataflow.hpp
Labels: category: LCOs, type: defect

#3311 Fix escaping of closing braces in format specification syntax
  examples/1d_stencil/1d_stencil_4_throttle.cpp
  examples/apex/apex_policy_engine_active_thread_count.cpp
  examples/performance_counters/sine/sine_client.cpp
  hpx/util/format.hpp
  tests/regressions/performance_counters/papi_counters_basic_functions.cpp
  tests/unit/util/format.cpp
Labels: category: core, type: enhancement

#3310 Don't overwrite user settings with defaults in registration database
  hpx/util/ini.hpp
  src/util/ini.cpp
  src/util/runtime_configuration.cpp
Labels: category: init, project: Phylanx, type: enhancement

#3314 Remove some unused parameter warnings
  hpx/hpx_init_impl.hpp
  hpx/util/itt_notify.hpp
Labels: compiler: gcc, type: defect

#3313 Fix pu-step and pu-offset command line options
  hpx/runtime/threads/policies/affinity_data.hpp
  src/runtime/resource/detail/detail_partitioner.cpp
  src/runtime/threads/policies/affinity_data.cpp
Labels: category: init, category: threadmanager, type: enhancement

#3317 Fix compilation with VS 15.7.1 and /std:c++latest
  hpx/lcos/reduce.hpp
Labels: compiler: msvc, type: enhancement

#3316 Fix includes for 1d_stencil_*_omp examples
  examples/1d_stencil/1d_stencil_1_omp.cpp
  examples/1d_stencil/1d_stencil_3_omp.cpp
Labels: category: examples

#3234 Disable background thread when networking is off
  cmake/HPX_AddTest.cmake
  cmake/templates/hpxrun.py.in
  hpx/runtime/threads/detail/scheduling_loop.hpp
  python/scripts/hpx_run_test.py
  tests/regressions/agas/CMakeLists.txt
  tests/regressions/components/CMakeLists.txt
  tests/regressions/util/CMakeLists.txt
  tests/regressions/util/command_line_arguments_706.cpp
  tests/unit/agas/CMakeLists.txt
  tests/unit/component/CMakeLists.txt
  tests/unit/parallel/executors/service_executors.cpp
  tests/unit/parcelset/put_parcels.cpp
Labels: category: core, type: optimization

#3319 Replacing C++14 feature with equivalent C++11 code
  tests/performance/parallel_algorithms/local/benchmark_remove.cpp
  tests/performance/parallel_algorithms/local/benchmark_remove_if.cpp
  tests/performance/parallel_algorithms/local/benchmark_unique.cpp
Labels: category: examples, type: enhancement

#3323 Fix a missing apex thread data (wrapper) initialization
  hpx/runtime/applier/apply.hpp
Labels: category: APEX, type: enhancement

#3324 Replace C++14 overload of std::equal with C++11 code.
  tests/unit/parallel/algorithms/inplace_merge_tests.hpp
  tests/unit/parallel/algorithms/merge_tests.hpp
  tests/unit/parallel/algorithms/partition_copy_tests.hpp
  tests/unit/parallel/algorithms/partition_tests.hpp
  tests/unit/parallel/algorithms/remove_tests.hpp
  tests/unit/parallel/algorithms/test_utils.hpp
  tests/unit/parallel/algorithms/unique_copy_tests.hpp
  tests/unit/parallel/algorithms/unique_tests.hpp
  tests/unit/parallel/container_algorithms/inplace_merge_range.cpp
  tests/unit/parallel/container_algorithms/merge_range.cpp
  tests/unit/parallel/container_algorithms/partition_copy_range.cpp
  tests/unit/parallel/container_algorithms/partition_range.cpp
  tests/unit/parallel/container_algorithms/remove_if_range.cpp
  tests/unit/parallel/container_algorithms/remove_range.cpp
  tests/unit/parallel/container_algorithms/test_utils.hpp
  tests/unit/parallel/container_algorithms/unique_copy_range.cpp
  tests/unit/parallel/container_algorithms/unique_range.cpp
Labels: category: algorithms, type: compatibility issue, type: enhancement

#3326 Make sure logging is up and running while modules are being discovered.
  src/exception.cpp
  src/hpx_init.cpp
  src/util/command_line_handling.cpp
  src/util/init_ini_data.cpp
Labels: category: core, category: diagnostics, type: enhancement

#3303 Changed std::rand to a better inbuilt PRNG Generator
  tests/unit/parallel/algorithms/for_loop_induction.cpp
  tests/unit/parallel/algorithms/for_loop_induction_async.cpp
  tests/unit/parallel/algorithms/for_loop_n.cpp
  tests/unit/parallel/algorithms/for_loop_n_strided.cpp
  tests/unit/parallel/algorithms/for_loop_reduction.cpp
  tests/unit/parallel/algorithms/for_loop_reduction_async.cpp
  tests/unit/parallel/algorithms/for_loop_strided.cpp
  tests/unit/parallel/algorithms/foreach_tests.hpp
  tests/unit/parallel/algorithms/foreachn_bad_alloc.cpp
  tests/unit/parallel/algorithms/foreachn_exception.cpp
  tests/unit/parallel/algorithms/foreachn_projection_bad_alloc.cpp
  tests/unit/parallel/algorithms/foreachn_projection_exception.cpp
  tests/unit/parallel/algorithms/includes.cpp
  tests/unit/parallel/algorithms/inplace_merge_tests.hpp
  tests/unit/parallel/algorithms/is_heap_tests.hpp
  tests/unit/parallel/algorithms/is_partitioned.cpp
  tests/unit/parallel/algorithms/is_sorted_tests.hpp
  tests/unit/parallel/algorithms/is_sorted_until.cpp
  tests/unit/parallel/algorithms/lexicographical_compare.cpp
  tests/unit/parallel/algorithms/merge_tests.hpp
  tests/unit/parallel/algorithms/mismatch.cpp
  tests/unit/parallel/algorithms/mismatch_binary.cpp
  tests/unit/parallel/algorithms/move.cpp
  tests/unit/parallel/algorithms/partition_copy_tests.hpp
  tests/unit/parallel/algorithms/partition_tests.hpp
  tests/unit/parallel/algorithms/reduce_.cpp
  tests/unit/parallel/algorithms/reduce_by_key.cpp
  tests/unit/parallel/algorithms/remove_copy.cpp
  tests/unit/parallel/algorithms/remove_copy_if.cpp
  tests/unit/parallel/algorithms/remove_tests.hpp
Labels: category: algorithms, category: tests, type: enhancement

#3328 Making sure object is pinned while executing actions, even if action returns a future
  hpx/components/component_storage/server/migrate_from_storage.hpp
  hpx/include/traits.hpp
  hpx/lcos/detail/async_implementations.hpp
  hpx/runtime.hpp
  hpx/runtime/actions/component_action.hpp
  hpx/runtime/components/pinned_ptr.hpp
  hpx/runtime/components/server/component_base.hpp
  hpx/runtime/components/server/fixed_component_base.hpp
  hpx/runtime/components/server/locking_hook.hpp
  hpx/runtime/components/server/managed_component_base.hpp
  hpx/runtime/components/server/memory.hpp
  hpx/runtime/components/server/memory_block.hpp
  hpx/runtime/components/server/migrate_component.hpp
  hpx/runtime/components/server/migration_support.hpp
  hpx/runtime/components/server/runtime_support.hpp
  hpx/runtime/get_ptr.hpp
  hpx/traits/action_decorate_function.hpp
  hpx/traits/component_pin_support.hpp
  tests/unit/component/migrate_component.cpp
Labels: category: components, category: core, type: enhancement

#3330 Rename resource_partitioner test to avoid conflicts with pseudodependencies
  tests/unit/resource/CMakeLists.txt
  tests/unit/resource/resource_partitioner_info.cpp
Labels: category: tests

#3343 Safeguard HPX against destruction in global contexts
  hpx/util/plugin/detail/dll_dlopen.hpp
  src/lcos/barrier.cpp
Labels: category: core, type: compatibility issue, type: enhancement

#3333 Update CMake links and versions in documentation
  docs/hpx.qbk
  docs/manual/build_system/cmake_basics.qbk
  docs/manual/build_system/using_hpx_cmake.qbk
Labels: category: documentation
