Repository STEllAR-GROUP/hpx, pull requests merged in 2018-06, with the labels that each got.

#3341 Allowing for all command line options to be used as configuration settings
  hpx/util/command_line_handling.hpp
  hpx/util/parse_command_line.hpp
  src/util/command_line_handling.cpp
  src/util/parse_command_line.cpp
  tests/regressions/CMakeLists.txt
  tests/regressions/options_as_config_3339.cpp
Labels: category: init, type: compatibility issue, type: enhancement

#3340 Always convert inspect results to JUnit XML
  .circleci/config.yml
Labels: category: CircleCi, type: enhancement

#3344 Reduce amount of information printed for unknown command line options
  examples/quickstart/simplest_hello_world_2.cpp
  src/hpx_user_main_argc_argv.cpp
  src/runtime/components/server/runtime_support_server.cpp
Labels: category: init, type: enhancement

#3345 Fix automatic setting of HPX_MORE_THAN_64_THREADS
  CMakeLists.txt
Labels: category: CMake, type: defect

#3346 Fix CMakeLists.txt example in quick start
  docs/quickstart.qbk
Labels: category: documentation

#3347 Replace `simple_component*` with `component*` in the Documentation
  docs/manual/applying_actions.qbk
  docs/manual/components.qbk
  docs/manual/loading_components.qbk
  docs/tutorial/futurization_example.qbk
Labels: category: documentation, type: enhancement

#3349 Make idle backoff exponential with maximum sleep time
  CMakeLists.txt
  docs/manual/config_defaults.qbk
  hpx/config.hpp
  hpx/runtime/threads/policies/scheduler_base.hpp
  src/util/runtime_configuration.cpp
Labels: affecting: CSCS, category: threadmanager

#3351 Move obsolete header to tests directory.
  hpx/include/actions.hpp
  tests/performance/network/network_storage/network_storage.cpp
  tests/unit/component/action_invoke_no_more_than.cpp
  tests/unit/component/action_invoke_no_more_than.hpp
Labels: category: actions, category: tests, type: enhancement

#3350 Renaming two functions to avoid problem described in #3285
  hpx/runtime/components/memory_block.hpp
  hpx/runtime/components/server/memory_block.hpp
Labels: category: core, type: compatibility issue, type: defect

#3355 Reverting changes introduced by #3283 as those make applications hang
  hpx/lcos/future.hpp
  hpx/lcos/local/packaged_continuation.hpp
Labels: category: LCOs, type: enhancement
