Repository STEllAR-GROUP/hpx, pull requests merged in 2019-07, with the labels that each got.

#3948 Fixing ALPS environment
  src/util/batch_environment.cpp
Labels: category: init, type: defect

#3942 Add NOEXPORT option to add_hpx_{component,library}
  cmake/HPX_AddComponent.cmake
  cmake/HPX_AddLibrary.cmake
  cmake/HPX_AddModule.cmake
Labels: category: APEX, category: CMake

#3946 [Modules] Move the location of the generated headers
  cmake/HPX_AddModule.cmake
Labels: category: CMake, category: modules

#3952 Update papi.cpp
  src/components/performance_counters/papi/util/papi.cpp
Labels: category: documentation

#3951 Exclude modules header tests from all target
  cmake/HPX_AddCompileTest.cmake
Labels: category: modules

#3949 This adds a configuration file that will cause for stale issues to be automatically closed
  .github/stale.yml
Labels: type: feature request

#3943 Remove example module
  docs/sphinx/contributing.rst
  docs/sphinx/contributing/modules.rst
  libs/_example/CMakeLists.txt
  libs/_example/README.rst
  libs/_example/docs/index.rst
  libs/_example/examples/CMakeLists.txt
  libs/_example/src/CMakeLists.txt
  libs/_example/tests/CMakeLists.txt
  libs/_example/tests/performance/CMakeLists.txt
  libs/_example/tests/regressions/CMakeLists.txt
  libs/_example/tests/unit/CMakeLists.txt
  libs/all_modules.rst
  libs/create_library_skeleton.py
Labels: category: documentation, category: modules

#3956 [HPX_AddModule] Fix lower name var to upper
  cmake/HPX_AddModule.cmake
Labels: category: CMake, category: modules

#3955 Fix CMake configuration with examples off and tests on
  .circleci/config.yml
  libs/cache/examples/CMakeLists.txt
  libs/collectives/examples/CMakeLists.txt
  libs/config/examples/CMakeLists.txt
  libs/create_library_skeleton.py
Labels: category: APEX, category: CMake, category: examples, category: modules, category: tests

#3959 Fix C++11 incompatibility
  hpx/util/detail/pack_traversal_impl.hpp
Labels: type: compatibility issue, type: enhancement

#3960 fix compilation with CUDA 10 and GCC 6
  hpx/util/logging/detail/format_write_detail.hpp
Labels: compiler: gcc, type: compatibility issue

#3964 Fixing merge problems
  libs/collectives/include/hpx/collectives/all_reduce.hpp
  libs/collectives/include/hpx/collectives/all_to_all.hpp
Labels: category: modules, type: compatibility issue

#3962 Add a trait for std::array for unwrapping
  hpx/traits/pack_traversal_rebind_container.hpp
Labels: type: enhancement

#3882 Minor docs fixes
  docs/sphinx/examples/1d_stencil.rst
  docs/sphinx/examples/fibonacci_local.rst
  docs/sphinx/manual/building_hpx.rst
  docs/sphinx/manual/launching_and_configuring_hpx_applications.rst
  docs/sphinx/manual/writing_distributed_hpx_applications.rst
Labels: category: documentation, type: enhancement

#3876 Module hardware
  .circleci/config.yml
  cmake/HPX_AddCompileTest.cmake
  cmake/HPX_AddModule.cmake
  examples/cancelable_action/cancelable_action/server/cancelable_action.hpp
  hpx/runtime/threads/detail/scheduling_loop.hpp
  hpx/runtime/threads/scoped_background_timer.hpp
  hpx/util/tick_counter.hpp
  libs/CMakeLists.txt
  libs/all_modules.rst
  libs/hardware/CMakeLists.txt
  libs/hardware/README.rst
  libs/hardware/docs/index.rst
  libs/hardware/examples/CMakeLists.txt
  libs/hardware/include/hpx/hardware/bit_manipulation.hpp
  libs/hardware/include/hpx/hardware/cpuid.hpp
  libs/hardware/include/hpx/hardware/cpuid/linux_x86.hpp
  libs/hardware/include/hpx/hardware/cpuid/msvc.hpp
  libs/hardware/include/hpx/hardware/timestamp.hpp
  libs/hardware/include/hpx/hardware/timestamp/bgq.hpp
  libs/hardware/include/hpx/hardware/timestamp/linux_generic.hpp
  libs/hardware/include/hpx/hardware/timestamp/linux_x86_32.hpp
  libs/hardware/include/hpx/hardware/timestamp/linux_x86_64.hpp
  libs/hardware/include/hpx/hardware/timestamp/msvc.hpp
  libs/hardware/include_compatibility/hpx/util/hardware/bit_manipulation.hpp
  libs/hardware/include_compatibility/hpx/util/hardware/cpuid.hpp
  libs/hardware/include_compatibility/hpx/util/hardware/cpuid/linux_x86.hpp
  libs/hardware/include_compatibility/hpx/util/hardware/cpuid/msvc.hpp
  libs/hardware/include_compatibility/hpx/util/hardware/timestamp.hpp
  libs/hardware/include_compatibility/hpx/util/hardware/timestamp/bgq.hpp
  libs/hardware/include_compatibility/hpx/util/hardware/timestamp/linux_generic.hpp
  libs/hardware/include_compatibility/hpx/util/hardware/timestamp/linux_x86_32.hpp
  libs/hardware/include_compatibility/hpx/util/hardware/timestamp/linux_x86_64.hpp
  libs/hardware/include_compatibility/hpx/util/hardware/timestamp/msvc.hpp
  libs/hardware/src/hardware.cpp
  libs/hardware/tests/CMakeLists.txt
  libs/hardware/tests/performance/CMakeLists.txt
  libs/hardware/tests/regressions/CMakeLists.txt
  libs/hardware/tests/unit/CMakeLists.txt
  src/runtime/agas/addressing_service.cpp
  src/runtime/agas/server/symbol_namespace_server.cpp
  src/runtime/threads/thread_pool_base.cpp
  src/runtime/threads/threadmanager.cpp
  tests/headers/CMakeLists.txt
  tools/CMakeLists.txt
  tools/cpu_features.cpp
Labels: category: CMake, category: modules

#3968 Remove unneeded file in hardware module
  libs/hardware/CMakeLists.txt
  libs/hardware/src/hardware.cpp
Labels: type: cleanup, type: enhancement

#3947 Add major compiler version check for building hpx as a binary package
  cmake/templates/HPXMacros.cmake.in
Labels: category: CMake

#3965 Change current_function_helper back to non-constexpr
  libs/assertion/include/hpx/assertion/current_function.hpp
Labels: type: compatibility issue

#3966 Add missing export option in add_hpx_module
  cmake/HPX_AddModule.cmake
  libs/assertion/CMakeLists.txt
  libs/cache/CMakeLists.txt
  libs/collectives/CMakeLists.txt
  libs/config/CMakeLists.txt
  libs/hardware/CMakeLists.txt
  libs/preprocessor/CMakeLists.txt
Labels: category: CMake, category: modules

#3895 Add documentation for annotated_function
  hpx/util/annotated_function.hpp
Labels: category: documentation, type: enhancement

#3887 Add Doxygen documentation
  hpx/runtime/parcelset_fwd.hpp
  hpx/runtime/runtime_mode.hpp
  hpx/runtime/threads/thread_enums.hpp
Labels: category: documentation, type: enhancement

#3967 Remove leftover PIC settings from main CMakeLists.txt
  CMakeLists.txt
  src/CMakeLists.txt
Labels: category: CMake

#3934 Add set function for sliding_semaphore max_difference
  hpx/lcos/local/detail/sliding_semaphore.hpp
  hpx/lcos/local/sliding_semaphore.hpp
Labels: category: LCOs

#3974 Fix typos in documentation
  docs/sphinx/manual/launching_and_configuring_hpx_applications.rst
  docs/sphinx/manual/miscellaneous.rst
  docs/sphinx/manual/optimizing_hpx_applications.rst
  docs/sphinx/manual/writing_distributed_hpx_applications.rst
  docs/sphinx/manual/writing_single_node_hpx_applications.rst
Labels: category: documentation

#3973 Fix compilation with GCC 9
  hpx/parallel/exception_list.hpp
  hpx/parallel/executors/sequenced_executor.hpp
  tests/regressions/parallel/scan_different_inits.cpp
  tests/unit/lcos/condition_variable.cpp
  tests/unit/util/iterator/iterator_tests.hpp
Labels: compiler: gcc, type: compatibility issue

#3977 Fixing solution folders for moved components
  components/performance_counters/io/CMakeLists.txt
  components/performance_counters/memory/CMakeLists.txt
  components/performance_counters/papi/CMakeLists.txt
  components/process/CMakeLists.txt
Labels: category: CMake, type: compatibility issue, type: enhancement

#3984 Fix default behaviour of paths in add_hpx_component
  cmake/HPX_AddComponent.cmake
  components/component_storage/CMakeLists.txt
  components/containers/partitioned_vector/CMakeLists.txt
  components/containers/unordered/CMakeLists.txt
  components/iostreams/CMakeLists.txt
  components/performance_counters/io/CMakeLists.txt
  components/performance_counters/memory/CMakeLists.txt
  components/performance_counters/papi/CMakeLists.txt
  components/process/CMakeLists.txt
Labels: category: CMake, category: components, type: compatibility issue

#3986 Fix CMake configuration with PAPI on
  components/performance_counters/papi/CMakeLists.txt
  components/performance_counters/papi/tests/regressions/CMakeLists.txt
  tests/regressions/performance_counters/CMakeLists.txt
Labels: category: CMake, category: components, type: defect

#3987 Move runtime-dependent functions out of command line handling
  hpx/util/command_line_handling.hpp
  src/runtime/components/server/runtime_support_server.cpp
  src/runtime/threads/resource_manager.cpp
  src/util/command_line_handling.cpp
Labels: category: modules

#3972 Add condition to clone apex + use of new cmake var APEX_ROOT
  CMakeLists.txt
Labels: category: APEX, category: CMake, type: compatibility issue, type: enhancement

#3988 Adding missing solution folder for format module test
  libs/format/tests/unit/CMakeLists.txt
Labels: category: CMake, category: modules, type: compatibility issue, type: enhancement

#3978 Fix clang-tidy step on CircleCI
  .circleci/config.yml
  .clang-tidy
  examples/resource_partitioner/async_customization.cpp
  hpx/parallel/segmented_algorithms/detail/dispatch.hpp
  hpx/parallel/segmented_algorithms/detail/transfer.hpp
  hpx/runtime/parcelset/parcelport_impl.hpp
  hpx/runtime/parcelset/put_parcel.hpp
  hpx/runtime/threads/coroutines/detail/context_base.hpp
  hpx/runtime/threads/executors/guided_pool_executor.hpp
  hpx/runtime/threads/executors/limiting_executor.hpp
  hpx/runtime/trigger_lco.hpp
  hpx/util/high_resolution_timer.hpp
  libs/collectives/include/hpx/collectives/all_reduce.hpp
  libs/collectives/include/hpx/collectives/all_to_all.hpp
  tools/clang-tidy.sh
Labels: category: CircleCi

#3975 Enable deprecation warnings on CircleCI
  .circleci/config.yml
  CMakeLists.txt
  cmake/HPX_AddModule.cmake
  cmake/HPX_CompilerFlagsTarget.cmake
  hpx/parallel/util/numa_binding_allocator.hpp
  libs/collectives/CMakeLists.txt
  libs/collectives/tests/unit/all_reduce.cpp
  libs/collectives/tests/unit/all_to_all.cpp
  libs/config/include/hpx/config/export_definitions.hpp
  src/CMakeLists.txt
  tests/unit/lcos/broadcast_component.cpp
  tests/unit/parallel/executors/foreach_tests.hpp
  tests/unit/threads/CMakeLists.txt
  tests/unit/threads/lockfree_fifo.cpp
  tests/unit/util/parse_slurm_environment.cpp
  tools/inspect/inspect.cpp
Labels: category: CircleCi

#3993 Make sure __LINE__ is an unsigned
  libs/assertion/include/hpx/assertion.hpp
Labels: compiler: msvc, type: enhancement

#3991 Fix dependencies and flags for for header tests
  cmake/HPX_AddCompileTest.cmake
  libs/assertion/tests/CMakeLists.txt
  libs/assertion/tests/unit/CMakeLists.txt
  libs/cache/tests/CMakeLists.txt
  libs/collectives/tests/CMakeLists.txt
  libs/config/tests/CMakeLists.txt
  libs/create_library_skeleton.py
  libs/format/tests/CMakeLists.txt
  libs/hardware/tests/CMakeLists.txt
  libs/testing/tests/CMakeLists.txt
Labels: category: CMake

#3999 Enable support for compatibility headers for logging module
  libs/logging/CMakeLists.txt
Labels: category: modules

#4001 Exclude tests from all target
  libs/format/tests/unit/CMakeLists.txt
  tests/regressions/build/CMakeLists.txt
Labels: category: CMake

#3997 Export handle_assert function
  libs/assertion/include/hpx/assertion/evaluate_assert.hpp
  libs/assertion/include/hpx/assertion/force_linking.hpp
  libs/assertion/src/assertion.cpp
Labels: compiler: gcc, type: defect

#4006 Move is_value_proxy.hpp to algorithms module
  libs/algorithms/CMakeLists.txt
  libs/algorithms/include/hpx/traits/is_value_proxy.hpp
Labels: category: modules

#4004 Shorten CTest timeout on CircleCI
  .circleci/config.yml
  tests/unit/resource/shutdown_suspended_pus.cpp
  tests/unit/resource/suspend_runtime.cpp
Labels: category: CircleCi, category: tests
