Repository STEllAR-GROUP/hpx, pull requests merged in 2019-06, with the labels that each got.

#3874 Allow to suppress target keywords in hpx_setup_target for backwards compatibility
  cmake/HPX_SetupTarget.cmake
Labels: category: CMake, type: compatibility issue

#3880 Updating APEX version tag
  CMakeLists.txt
Labels: affecting: UH, category: APEX, type: compatibility issue, type: enhancement

#3877 Documentation
  docs/sphinx/examples/1d_stencil.rst
  docs/sphinx/examples/accumulator.rst
  docs/sphinx/examples/fibonacci.rst
  docs/sphinx/examples/hello_world.rst
  docs/sphinx/examples/interest_calculator.rst
  docs/sphinx/why_hpx.rst
  examples/1d_stencil/1d_stencil_2.cpp
Labels: category: documentation, type: enhancement

#3891 Removal of the default intel config include
  cmake/templates/config_defines.hpp.in
Labels: compiler: intel, type: compatibility issue

#3892 Avoid MSVC compatibility warning in internal allocator
  hpx/util/internal_allocator.hpp
Labels: category: core, compiler: msvc, type: compatibility issue

#3898 Make parameter size be of type size_t
  hpx/runtime/serialization/basic_archive.hpp
Labels: category: serialization, type: compatibility issue, type: enhancement

#3894 Working around VS2019 problem with make_action
  hpx/runtime/actions/basic_action.hpp
Labels: category: actions, compiler: msvc, type: compatibility issue

#3900 Making sure errors during command line processing are properly reported and will not cause assertions
  hpx/runtime/resource/detail/create_partitioner.hpp
  src/hpx_init.cpp
  src/runtime/resource/partitioner.cpp
Labels: category: init, type: enhancement

#3903 Adding new performance counters
  docs/sphinx/manual/optimizing_hpx_applications.rst
  hpx/runtime/parcelset/parcelhandler.hpp
  hpx/runtime/parcelset/parcelport.hpp
  hpx/runtime/parcelset/parcelport_impl.hpp
  hpx/runtime/parcelset_fwd.hpp
  hpx/runtime/threads/detail/scheduled_thread_pool.hpp
  hpx/runtime/threads/detail/scheduled_thread_pool_impl.hpp
  hpx/runtime/threads/detail/scheduling_loop.hpp
  hpx/runtime/threads/policies/scheduler_base.hpp
  hpx/runtime/threads/scoped_background_timer.hpp
  hpx/runtime/threads/thread_pool_base.hpp
  hpx/runtime/threads/threadmanager.hpp
  plugins/parcelport/libfabric/parcelport_libfabric.cpp
  plugins/parcelport/libfabric/parcelport_libfabric.hpp
  plugins/parcelport/mpi/parcelport_mpi.cpp
  plugins/parcelport/verbs/parcelport_verbs.cpp
  src/runtime.cpp
  src/runtime/parcelset/parcelhandler.cpp
  src/runtime/threads/executors/this_thread_executors.cpp
  src/runtime/threads/executors/thread_pool_executors.cpp
  src/runtime/threads/policies/scheduler_base.cpp
  src/runtime/threads/threadmanager.cpp
  src/runtime_impl.cpp
  tests/performance/network/network_storage/network_storage.cpp
Labels: category: parcel transport, category: performance counters, type: enhancement

#3897 Making sure all tests are disabled if HPX_WITH_TESTS=OFF
  CMakeLists.txt
  cmake/HPX_Option.cmake
  libs/CMakeLists.txt
  libs/cache/CMakeLists.txt
  libs/cache/examples/CMakeLists.txt
  libs/cache/tests/CMakeLists.txt
  libs/config/CMakeLists.txt
  libs/config/examples/CMakeLists.txt
  libs/config/tests/CMakeLists.txt
  libs/create_library_skeleton.py
  libs/preprocessor/CMakeLists.txt
  libs/preprocessor/tests/CMakeLists.txt
Labels: category: CMake, type: enhancement

#3905 Correct rostambod url. Fix typo in doc
  cmake/templates/conf.py.in
  docs/sphinx/manual/running_on_batch_systems.rst
Labels: category: documentation

#3904 Fix bug in context_base.hpp
  hpx/runtime/threads/coroutines/detail/context_base.hpp
Labels: category: threadmanager, type: compatibility issue, type: enhancement

#3921 Add ccls cache directory to gitignore
  .gitignore
Labels: category: tools

#3920 Fix git_external fetching of tags
  CMakeLists.txt
  cmake/GitExternal.cmake
Labels: category: APEX, category: CMake, type: defect

#3923 Allow aligning objects bigger than the cache line size
  hpx/util/cache_aligned_data.hpp
Labels: category: core

#3926 Move unit tests to cache module
  libs/cache/tests/unit/CMakeLists.txt
  libs/cache/tests/unit/local_lru_cache.cpp
  libs/cache/tests/unit/local_mru_cache.cpp
  libs/cache/tests/unit/local_statistics.cpp
  tests/unit/util/CMakeLists.txt
  tests/unit/util/cache/CMakeLists.txt
Labels: category: tests, type: compatibility issue, type: enhancement

#3901 Factoring out container remapping into a separate trait
  hpx/traits/pack_traversal_rebind_container.hpp
  hpx/util/detail/pack_traversal_impl.hpp
  tests/unit/lcos/local_dataflow_boost_small_vector.cpp
Labels: type: compatibility issue, type: enhancement

#3927 Moving Cache module's tests into separate solution folder
  libs/cache/tests/unit/CMakeLists.txt
Labels: category: CMake, type: compatibility issue, type: enhancement

#3888 Fix async_customization dataflow example and Clarify what's being tested
  examples/resource_partitioner/async_customization.cpp
  hpx/runtime/threads/executors/guided_pool_executor.hpp
  plugins/parcelport/libfabric/parcelport_libfabric.cpp
Labels: category: LCOs, type: compatibility issue, type: enhancement

#3932 Fixing 3929
  hpx/traits/pack_traversal_rebind_container.hpp
Labels: compiler: gcc, type: compatibility issue, type: enhancement

#3922 Add Windows builds with Travis CI
  .travis.yml
  appveyor.yml
Labels: TravisCI, category: CI

#3902 Add add_hpx_module function
  cmake/HPX_AddModule.cmake
  cmake/HPX_CMakeUtils.cmake
  libs/cache/CMakeLists.txt
  libs/config/CMakeLists.txt
  libs/preprocessor/CMakeLists.txt
  libs/preprocessor/include/hpx/preprocessor.hpp
Labels: category: CMake, category: modules

#3938 Use https for CDash submissions
  CTestConfig.cmake
Labels: category: CI, category: CMake

#3928 fixed number of tasks and number of threads for heterogeneous slurm environments
  hpx/util/batch_environments/slurm_environment.hpp
  src/util/batch_environments/slurm_environment.cpp
  tests/unit/util/parse_slurm_environment.cpp
Labels: category: init, type: compatibility issue, type: enhancement

#3937 Add HPX_WITH_BUILD_BINARY_PACKAGE to the compiler check (refs #3935)
  cmake/templates/HPXMacros.cmake.in
Labels: category: CMake, type: compatibility issue, type: enhancement

#3930 Add test demonstrating the use of broadcast with component actions
  tests/unit/lcos/CMakeLists.txt
  tests/unit/lcos/broadcast_component.cpp
Labels: category: tests, type: enhancement

#3933 Remove cudadevrt from compile/link flags as it breaks downstream projects
  CMakeLists.txt
  cmake/templates/HPXConfig.cmake.in
Labels: category: CMake, compiler: nvcc, platform: CUDA

#3936 Fixing installation of binaries on windows
  cmake/HPX_AddComponent.cmake
  cmake/HPX_AddLibrary.cmake
  cmake/HPX_SetupTarget.cmake
Labels: category: CMake, type: compatibility issue, type: enhancement
