Repository STEllAR-GROUP/hpx, pull requests merged in 2019-05, with the labels that each got.

#3828 Avoid for binaries that depend on HPX to directly link against internal modules
  src/CMakeLists.txt
Labels: category: CMake, category: modules, type: compatibility issue

#3830 minor fix: option HPX_WITH_TEST was not working correctly
  libs/_example/tests/CMakeLists.txt
  libs/create_library_skeleton.py
  libs/preprocessor/tests/CMakeLists.txt
Labels: category: CMake, category: modules, category: tests

#3814 Allow setting default scheduler mode via the configuration database
  hpx/parallel/util/numa_allocator.hpp
  hpx/runtime/threads/policies/scheduler_mode.hpp
  src/runtime/threads/policies/scheduler_base.cpp
  src/runtime/threads/topology.cpp
  src/util/runtime_configuration.cpp
Labels: category: init, project: Phylanx, type: enhancement

#3833 make latch counter_ protected for deriving latch in hpxmp
  hpx/lcos/local/latch.hpp
Labels: category: LCOs, type: compatibility issue, type: enhancement

#3831 Fix CircleCI config for modules
  .circleci/config.yml
  CMakeLists.txt
  libs/create_library_skeleton.py
  libs/preprocessor/CMakeLists.txt
  src/CMakeLists.txt
Labels: category: CircleCi

#3834 Disable transpose_block_numa example on CircleCI
  .circleci/config.yml
Labels: category: CircleCi, category: topology

#3837 Fixing misplaced #endif
  hpx/runtime/threads/detail/scheduled_thread_pool_impl.hpp
Labels: category: threadmanager, type: enhancement

#3835 make all latch members protected for consistency
  hpx/lcos/local/latch.hpp
Labels: category: LCOs, type: compatibility issue, type: enhancement

#3840 Fixing SLURM environment parsing
  src/util/batch_environments/slurm_environment.cpp
Labels: type: defect

#3844 Fixing source_groups in preprocessor module to properly handle compatibility headers
  libs/preprocessor/CMakeLists.txt
Labels: category: CMake, type: compatibility issue, type: enhancement

#3842 Fix macro call with ITTNOTIFY enabled
  hpx/util/spinlock_pool.hpp
Labels: platform: Windows, type: compatibility issue

#3843 This fixes the launch_process/launched_process pair of tests
  tests/unit/component/launched_process.cpp
Labels: category: tests, type: compatibility issue, type: enhancement

#3849 Correct BOOST_ROOT variable name in quick start guide
  docs/sphinx/quickstart.rst
Labels: category: CMake, category: documentation

#3802 Numa binding allocator
  .circleci/config.yml
  CMakeLists.txt
  examples/transpose/transpose_block_numa.cpp
  hpx/parallel/util/numa_binding_allocator.hpp
  hpx/runtime/threads/topology.hpp
  src/runtime/threads/topology.cpp
  tests/unit/CMakeLists.txt
  tests/unit/topology/CMakeLists.txt
  tests/unit/topology/allocator_binder_linear.hpp
  tests/unit/topology/allocator_binder_matrix.hpp
  tests/unit/topology/numa_allocator.cpp
Labels: category: core, category: threadmanager, category: topology, type: enhancement

#3851 update hpxmp release tag to v0.2.0
  CMakeLists.txt
Labels: type: compatibility issue, type: enhancement

#3846 Add tests for libs header tests
  cmake/HPX_AddCompileTest.cmake
Labels: category: CMake, category: modules

#3859 Remove HPX_TLL_PUBLIC and HPX_TLL_PRIVATE from CMake files
  CMakeLists.txt
  cmake/HPX_SetupTarget.cmake
  cmake/templates/HPXConfig.cmake.in
  examples/qt/CMakeLists.txt
  src/CMakeLists.txt
  tests/regressions/build/CMakeLists.txt
  tools/CMakeLists.txt
  tools/inspect/CMakeLists.txt
Labels: category: CMake

#3858 Add compile flags and definitions to modules
  src/CMakeLists.txt
Labels: category: CMake, category: modules, type: defect

#3860 Add cache line padding to intermediate results in for loop reduction
  hpx/parallel/algorithms/for_loop_reduction.hpp
Labels: category: algorithms

#3862 Temporary fix to local_dataflow_boost_small_vector test
  tests/unit/lcos/local_dataflow_boost_small_vector.cpp
Labels: category: LCOs, category: boost, category: tests

#3864 Helper functions that are useful in numa binding and testing of allocator
  hpx/parallel/util/numa_binding_allocator.hpp
  hpx/runtime/resource/detail/partitioner.hpp
  hpx/runtime/resource/partitioner.hpp
  src/runtime/resource/detail/detail_partitioner.cpp
  src/runtime/resource/partitioner.cpp
Labels: category: topology

#3865 adds hpx_target_compile_option_if_available
  .gitignore
  CMakeLists.txt
  cmake/HPX_AddCompileFlag.cmake
  cmake/HPX_AddConfigTest.cmake
  cmake/HPX_PerformCxxFeatureTests.cmake
  cmake/tests/cxx17_aligned_new.cpp
  hpx/util/cache_aligned_data.hpp
Labels: category: CMake, type: compatibility issue

#3839 Make tuple serialization non-intrusive
  hpx/include/serialization.hpp
  hpx/runtime/actions/action_support.hpp
  hpx/runtime/actions/basic_action.hpp
  hpx/runtime/serialization/tuple.hpp
  hpx/util/tuple.hpp
  src/hpx_init.cpp
Labels: category: modules, category: serialization

#3869 Post 1.3.0 version bumps
  CMakeLists.txt
  docs/sphinx/contributing/release_procedure.rst
  docs/sphinx/releases.rst
  docs/sphinx/releases/whats_new_1_4_0.rst
Labels: category: documentation

#3872 Fix latest HTML docs location
  cmake/HPX_UpdateGitDocs.cmake
Labels: category: CMake, category: documentation

#3873 Add scripts to create releases and generate lists of PRs and issues
  docs/sphinx/contributing/release_procedure.rst
  tools/generate_issue_pr_list.sh
  tools/roll_release.sh
Labels: category: tools

#3868 Replace the macro HPX_ASSERT by HPX_TEST in tests
  tests/performance/local/agas_cache_timings.cpp
  tests/performance/local/coroutines_call_overhead.cpp
  tests/performance/local/hpx_homogeneous_timed_task_spawn_executors.cpp
  tests/performance/local/serialization_overhead.cpp
  tests/performance/local/timed_task_spawn.cpp
  tests/performance/network/network_storage/network_storage.cpp
  tests/performance/network/osu/osu_bw.cpp
  tests/performance/network/osu/osu_multi_lat.cpp
  tests/regressions/id_type_ref_counting_1032.cpp
  tests/regressions/iostreams/lost_output_2236.cpp
  tests/regressions/lcos/receive_buffer_1733.cpp
  tests/regressions/threads/thread_rescheduling.cpp
  tests/unit/parallel/algorithms/includes.cpp
  tests/unit/parallel/executors/minimal_sync_executor.cpp
  tests/unit/parallel/executors/parallel_executor.cpp
  tests/unit/parallel/executors/parallel_fork_executor.cpp
  tests/unit/parallel/executors/parallel_policy_executor.cpp
  tests/unit/parallel/executors/sequenced_executor.cpp
  tests/unit/parallel/executors/service_executors.cpp
  tests/unit/parallel/executors/this_thread_executors.cpp
  tests/unit/parallel/executors/thread_pool_attached_executors.cpp
  tests/unit/parallel/executors/thread_pool_executors.cpp
  tests/unit/parallel/executors/thread_pool_os_executors.cpp
  tests/unit/threads/set_thread_state.cpp
Labels: category: tests

#3878 Making sure symbols are properly exported from modules (needed for Windows/MacOS)
  cmake/templates/config_version.hpp.in
  libs/cache/CMakeLists.txt
  libs/config/CMakeLists.txt
  libs/config/include/hpx/config/export_definitions.hpp
  libs/config/src/version.cpp
  libs/preprocessor/CMakeLists.txt
Labels: category: modules, type: compatibility issue
