Repository STEllAR-GROUP/hpx, pull requests merged in 2019-11, with the labels that each got.

#4165 Forward HPX_* cmake cache variables to external projects
  CMakeLists.txt
  cmake/HPX_ForwardCacheVariables.cmake
  cmake/HPX_SetupBoost.cmake
  cmake/HPX_SetupBoostFilesystem.cmake
  cmake/HPX_SetupBoostProgramOptions.cmake
  cmake/templates/HPXConfig.cmake.in
Labels: category: CMake, type: enhancement

#4173 Wait for runtime to be running before returning from hpx::start
  src/runtime_impl.cpp
  tests/performance/local/resume_suspend.cpp
  tests/unit/resource/suspend_runtime.cpp
Labels: type: enhancement

#3159 Support Checkpointing Components
  docs/sphinx/manual/miscellaneous.rst
  examples/1d_stencil/1d_stencil_4_checkpoint.cpp
  hpx/runtime/naming/name.hpp
  hpx/runtime/naming_fwd.hpp
  hpx/util/checkpoint.hpp
  src/runtime/naming/name.cpp
  tests/unit/util/CMakeLists.txt
  tests/unit/util/checkpoint.cpp
  tests/unit/util/checkpoint_component.cpp
Labels: category: core, category: tests, tag: pinned, type: enhancement

#4177 Small const fix to basic_execution module
  libs/basic_execution/include/hpx/basic_execution/agent_ref.hpp
Labels: type: compatibility issue

#4180 Move header left behind earlier to plugin module
  hpx/include/traits.hpp
  hpx/plugins/parcelport_factory.hpp
  hpx/plugins/plugin_registry.hpp
  libs/plugin/CMakeLists.txt
  libs/plugin/include/hpx/plugin/traits/plugin_config_data.hpp
  libs/plugin/include_compatibility/hpx/traits/plugin_config_data.hpp
  plugins/parcel/coalescing/coalescing_message_handler.cpp
  plugins/parcelport/mpi/parcelport_mpi.cpp
  plugins/parcelport/tcp/parcelport_tcp.cpp
Labels: category: modules, type: compatibility issue, type: enhancement

#4167 Add a condition to setup the external libraries
  cmake/HPX_SetupAllocator.cmake
  cmake/HPX_SetupBoost.cmake
  cmake/HPX_SetupBoostFilesystem.cmake
  cmake/HPX_SetupBoostProgramOptions.cmake
  cmake/HPX_SetupHwloc.cmake
  cmake/HPX_SetupPapi.cmake
  cmake/templates/HPXConfig.cmake.in
Labels: category: CMake, type: compatibility issue

#4175 Make Vc public and add it to HPXConfig.cmake
  cmake/HPX_SetupVc.cmake
  cmake/templates/HPXConfig.cmake.in
  src/CMakeLists.txt
Labels: category: CMake

#4176 Add back HPX_LIBRARIES and friends to HPXConfig.cmake
  cmake/HPX_GeneratePackageUtils.cmake
  cmake/HPX_SetupTarget.cmake
  cmake/templates/HPXConfig.cmake.in
  src/CMakeLists.txt
Labels: category: CMake

#4183 Fix hpxcxx configuration
  cmake/HPX_GeneratePackage.cmake
  cmake/HPX_GeneratePackageUtils.cmake
Labels: category: CMake

#4184 Resetting some cached variables to make sure those are re-filled
  CMakeLists.txt
Labels: category: CMake, type: compatibility issue, type: enhancement

#4181 Rename base libraries var
  .circleci/config.yml
  CMakeLists.txt
  cmake/HPX_AddConfigTest.cmake
  cmake/HPX_AddTest.cmake
  cmake/HPX_Libraries.cmake
  cmake/HPX_LibraryDir.cmake
  cmake/HPX_SetupAllocator.cmake
  cmake/HPX_SetupBoost.cmake
  cmake/HPX_SetupCUDA.cmake
  cmake/HPX_SetupTarget.cmake
  cmake/HPX_SetupVc.cmake
  examples/cancelable_action/CMakeLists.txt
  examples/interpolate1d/CMakeLists.txt
  examples/thread_aware_timer/CMakeLists.txt
  src/CMakeLists.txt
Labels: category: CMake, type: enhancement

#4186 correct vc to cuda in cuda cmake
  cmake/HPX_SetupCUDA.cmake
Labels: category: CMake

#4191 Export allocators root variables
  cmake/FindJemalloc.cmake
  cmake/FindTBBmalloc.cmake
  cmake/FindTCMalloc.cmake
  cmake/templates/HPXConfig.cmake.in
Labels: category: CMake, type: enhancement

#4192 Set up CUDA in HPXConfig.cmake
  cmake/templates/HPXConfig.cmake.in
Labels: category: CMake

#4190 Don't use constexpr in thread_data with GCC <= 6
  hpx/runtime/threads/thread_data.hpp
Labels: type: compatibility issue

#4200 Making sure hpx_wrap is not passed on to linker on non-Linux systems
  cmake/HPX_SetupTarget.cmake
  cmake/templates/HPXConfig.cmake.in
  src/CMakeLists.txt
Labels: category: CMake, type: compatibility issue, type: enhancement

#4198 Fix execution_agent.cpp compilation with GCC 5
  src/runtime/threads/execution_agent.cpp
Labels: type: compatibility issue

#4197 Remove deprecated options for 1.4.0 release
  CMakeLists.txt
  docs/CMakeLists.txt
  docs/sphinx/examples/1d_stencil.rst
  hpx/util/unwrapped.hpp
  libs/algorithms/include/hpx/parallel/algorithms/inclusive_scan.hpp
  libs/algorithms/tests/unit/algorithms/inclusive_scan_tests.hpp
Labels: type: compatibility issue

#4195 Use full clone on CircleCI for pushing stable tag
  .circleci/config.yml
Labels: category: CircleCi

#4189 Only use quick_exit if available
  cmake/HPX_AddConfigTest.cmake
  cmake/HPX_PerformCxxFeatureTests.cmake
  cmake/tests/cxx11_std_quick_exit.cpp
  hpx/hpx_init_impl.hpp
  hpx/hpx_start_impl.hpp
Labels: type: compatibility issue

#4193 Add scheduling hints to hello_world_distributed
  docs/sphinx/examples/hello_world.rst
  examples/quickstart/hello_world_distributed.cpp
Labels: type: defect

#4188 Doc updates writing single node hpx applications
  docs/sphinx/manual/writing_single_node_hpx_applications.rst
Labels: category: documentation, type: enhancement

#4203 Deprecate Vc
  CMakeLists.txt
Labels: category: CMake, type: compatibility issue

#4196 minor fixes for building on OSX Darwin
  src/CMakeLists.txt
Labels: category: CMake, platform: Mac OSX, type: compatibility issue

#4202 Fix CUDA configuration
  cmake/HPX_SetupCUDA.cmake
Labels: category: CMake, platform: CUDA

#4209 Fix CUDA 10 build
  libs/algorithms/include/hpx/parallel/util/detail/handle_local_exceptions.hpp
  libs/assertion/include/hpx/assertion.hpp
  src/util/interval_timer.cpp
  src/util/one_size_heap_list.cpp
Labels: platform: CUDA

#4216 Fixing gcc warning on 32bit platforms (integer truncation)
  CMakeLists.txt
  libs/coroutines/include/hpx/coroutines/detail/context_impl.hpp
  libs/hashing/include/hpx/hashing/fibhash.hpp
Labels: category: CMake, type: compatibility issue, type: enhancement

#4214 Apex callback refactoring
  CMakeLists.txt
  examples/1d_stencil/1d_stencil_4_throttle.cpp
  examples/1d_stencil/CMakeLists.txt
  examples/apex/CMakeLists.txt
  examples/apex/apex_balance.cpp
  examples/apex/apex_policy_engine_active_thread_count.cpp
  examples/apex/apex_policy_engine_events.cpp
  examples/apex/apex_policy_engine_periodic.cpp
  external/asio/boost/asio/ip/basic_resolver_iterator.hpp
  hpx/runtime/applier/apply.hpp
  hpx/runtime/threads/detail/scheduling_loop.hpp
  hpx/runtime/threads/thread_data.hpp
  hpx/runtime/threads/thread_data_fwd.hpp
  hpx/runtime/threads/thread_init_data.hpp
  hpx/util/annotated_function.hpp
  hpx/util/external_timer.hpp
  libs/collectives/CMakeLists.txt
  libs/compute/CMakeLists.txt
  libs/resource_partitioner/CMakeLists.txt
  plugins/parcelport/mpi/CMakeLists.txt
  plugins/parcelport/tcp/CMakeLists.txt
  src/CMakeLists.txt
  src/hpx_init.cpp
  src/runtime/parcelset/parcel.cpp
  src/runtime/parcelset/parcelhandler.cpp
  src/runtime/parcelset/parcelport.cpp
  src/runtime/threads/thread_data.cpp
  src/runtime_impl.cpp
  src/util/activate_counters.cpp
  src/util/apex.cpp
  src/util/external_timer.cpp
  src/util/query_counters.cpp
  tests/unit/apex/apex_action_count.cpp
Labels: affecting: UO, category: APEX, project: Phylanx, type: enhancement

#4205 Making sure that differences in CMAKE_BUILD_TYPE are not reported on multi-configuration cmake generators
  cmake/templates/HPXConfig.cmake.in
  cmake/templates/HPXMacros.cmake.in
Labels: category: CMake, type: compatibility issue, type: enhancement

#4222 Update register_{thread,work} namespaces
  examples/balancing/hpx_thread_phase.cpp
  examples/balancing/os_thread_num.cpp
  examples/throttle/throttle/server/throttle.cpp
  hpx/runtime/parcelset/decode_parcels.hpp
  hpx/runtime/parcelset/parcelport_impl.hpp
  tests/regressions/threads/thread_rescheduling.cpp
  tests/unit/threads/set_thread_state.cpp
Labels: type: compatibility issue, type: enhancement

#4213 Clean up allocator checks for dependent projects
  cmake/templates/HPXConfig.cmake.in
  cmake/templates/HPXMacros.cmake.in
Labels: category: CMake

#4221 Changing HPX_GCC_VERSION check from 70000 to 70300
  hpx/runtime/threads/thread_data.hpp
Labels: type: compatibility issue

#4226 Fixing APEX shutdown by explicitly shutting down throttling
  examples/1d_stencil/1d_stencil_4_throttle.cpp
Labels: affecting: UO, category: APEX, category: buildbot

#4210 Attempting to fix Intel compilation
  hpx/runtime/actions/lambda_to_action.hpp
  hpx/runtime/threads/thread_data.hpp
  libs/config/include/hpx/config/attributes.hpp
  libs/resource_partitioner/examples/CMakeLists.txt
  libs/serialization/include/hpx/serialization/detail/extra_archive_data.hpp
Labels: category: CMake, category: core, compiler: intel, type: compatibility issue, type: enhancement

#4234 Add basic overview sentence to all modules
  cmake/templates/conf.py.in
  libs/algorithms/docs/index.rst
  libs/allocator_support/docs/index.rst
  libs/assertion/docs/index.rst
  libs/cache/docs/index.rst
  libs/collectives/docs/index.rst
  libs/compute/docs/index.rst
  libs/compute_cuda/docs/index.rst
  libs/concepts/docs/index.rst
  libs/concepts/include/hpx/concepts/has_member_xxx.hpp
  libs/concepts/include/hpx/concepts/has_xxx.hpp
  libs/concurrency/docs/index.rst
  libs/config/docs/index.rst
  libs/coroutines/docs/index.rst
  libs/create_library_skeleton.py
  libs/datastructures/docs/index.rst
  libs/debugging/docs/index.rst
  libs/errors/docs/index.rst
  libs/execution/docs/index.rst
  libs/filesystem/docs/index.rst
  libs/format/docs/index.rst
  libs/functional/docs/index.rst
  libs/hardware/docs/index.rst
  libs/hashing/docs/index.rst
  libs/iterator_support/docs/index.rst
  libs/logging/docs/index.rst
  libs/memory/docs/index.rst
  libs/plugin/docs/index.rst
  libs/preprocessor/docs/index.rst
  libs/program_options/docs/index.rst
  libs/resiliency/docs/index.rst
  libs/segmented_algorithms/docs/index.rst
  libs/serialization/docs/index.rst
  libs/statistics/docs/index.rst
  libs/testing/docs/index.rst
  libs/thread_support/docs/index.rst
  libs/timing/docs/index.rst
  libs/topology/docs/index.rst
  libs/type_support/docs/index.rst
  libs/util/docs/index.rst
Labels: category: documentation, category: modules

#4230 Add OS X builds to Travis CI
  .travis.yml
  tools/travis/build_and_run_tests.sh
  tools/travis/configure.sh
  tools/travis/install_dependencies.sh
Labels: category: CI, category: TravisCI

#4224 Deprecate verbs parcelport
  CMakeLists.txt
  cmake/toolchains/BGION-gcc.cmake
  cmake/toolchains/BGQ.cmake
  cmake/toolchains/XeonPhi.cmake
Labels: category: CMake, category: parcel transport

#4229 Remove leftover queue compatibility checks
  examples/CMakeLists.txt
  hpx/include/lcos.hpp
Labels: category: CMake, type: compatibility issue

#4241 Fix start_stop_callbacks test
  src/runtime_impl.cpp
Labels: category: tests, type: defect

#4242 Ignore lock in target_distribution_policy
  libs/compute/include/hpx/compute/detail/target_distribution_policy.hpp
Labels: category: tests

#4104 Extend scheduler_mode with new work_stealing and task assignment modes
  hpx/runtime/threads/detail/scheduled_thread_pool_impl.hpp
  hpx/runtime/threads/detail/scheduling_loop.hpp
  hpx/runtime/threads/policies/local_priority_queue_scheduler.hpp
  hpx/runtime/threads/policies/local_queue_scheduler.hpp
  hpx/runtime/threads/policies/scheduler_base.hpp
  hpx/runtime/threads/policies/scheduler_mode.hpp
  hpx/runtime/threads/policies/shared_priority_queue_scheduler.hpp
  hpx/runtime/threads/policies/static_priority_queue_scheduler.hpp
  hpx/runtime/threads/policies/static_queue_scheduler.hpp
  libs/execution/tests/unit/standalone_thread_pool_executor.cpp
  libs/resource_partitioner/examples/async_customization.cpp
  libs/resource_partitioner/examples/guided_pool_test.cpp
  libs/resource_partitioner/examples/oversubscribing_resource_partitioner.cpp
  libs/resource_partitioner/examples/shared_priority_queue_scheduler.hpp
  libs/resource_partitioner/examples/simple_resource_partitioner.cpp
  libs/threadmanager/src/threadmanager.cpp
  src/runtime/threads/executors/embedded_thread_pool_executors.cpp
  src/runtime/threads/policies/scheduler_base.cpp
  src/runtime/threads/thread_pool_suspension_helpers.cpp
  tests/unit/threads/schedule_last.cpp
Labels: category: scheduler

#4236 Move module print summary to modules
  CMakeLists.txt
  cmake/HPX_AddModule.cmake
  cmake/HPX_PrintSummary.cmake
  components/CMakeLists.txt
  libs/CMakeLists.txt
  libs/algorithms/tests/CMakeLists.txt
  libs/allocator_support/tests/CMakeLists.txt
  libs/assertion/tests/CMakeLists.txt
  libs/basic_execution/tests/CMakeLists.txt
  libs/cache/tests/CMakeLists.txt
  libs/checkpoint/tests/CMakeLists.txt
  libs/collectives/tests/CMakeLists.txt
  libs/compute/tests/CMakeLists.txt
  libs/compute_cuda/CMakeLists.txt
  libs/compute_cuda/tests/CMakeLists.txt
  libs/concepts/tests/CMakeLists.txt
  libs/concurrency/tests/CMakeLists.txt
  libs/config/tests/CMakeLists.txt
  libs/coroutines/tests/CMakeLists.txt
  libs/create_library_skeleton.py
  libs/datastructures/CMakeLists.txt
  libs/datastructures/tests/CMakeLists.txt
  libs/debugging/tests/CMakeLists.txt
  libs/errors/tests/CMakeLists.txt
  libs/execution/tests/CMakeLists.txt
  libs/filesystem/tests/CMakeLists.txt
  libs/format/tests/CMakeLists.txt
  libs/functional/tests/CMakeLists.txt
  libs/hardware/tests/CMakeLists.txt
  libs/hashing/tests/CMakeLists.txt
  libs/iterator_support/tests/CMakeLists.txt
  libs/logging/tests/CMakeLists.txt
  libs/memory/tests/CMakeLists.txt
  libs/preprocessor/tests/CMakeLists.txt
  libs/program_options/tests/CMakeLists.txt
  libs/resiliency/tests/CMakeLists.txt
  libs/resource_partitioner/tests/CMakeLists.txt
  libs/segmented_algorithms/tests/CMakeLists.txt
  libs/serialization/CMakeLists.txt
  libs/serialization/tests/CMakeLists.txt
  libs/statistics/tests/CMakeLists.txt
  libs/testing/tests/CMakeLists.txt
  libs/thread_support/tests/CMakeLists.txt
  libs/threadmanager/tests/CMakeLists.txt
  libs/timing/tests/CMakeLists.txt
  libs/topology/tests/CMakeLists.txt
  libs/type_support/tests/CMakeLists.txt
  libs/util/tests/CMakeLists.txt
Labels: category: CMake, category: modules

#4212 Updates to documentation; grammar edits.
  docs/sphinx/manual/writing_single_node_hpx_applications.rst
Labels: category: documentation

#4233 Remove project() from modules + fix CMAKE_SOURCE_DIR issue
  CMakeLists.txt
  cmake/HPX_AddCompileTest.cmake
  cmake/HPX_AddComponent.cmake
  cmake/HPX_AddDefinitions.cmake
  cmake/HPX_AddExecutable.cmake
  cmake/HPX_AddLibrary.cmake
  cmake/HPX_AddModule.cmake
  cmake/HPX_AddTest.cmake
  cmake/HPX_CreateSymbolicLink.cmake
  cmake/HPX_ForceOutOfTreeBuild.cmake
  cmake/HPX_ForwardCacheVariables.cmake
  cmake/HPX_GeneratePackage.cmake
  cmake/HPX_GeneratePackageUtils.cmake
  cmake/HPX_SetOutputPaths.cmake
  cmake/HPX_SetupApex.cmake
  cmake/HPX_UpdateGitDocs.cmake
  cmake/TargetArch.cmake
  docs/CMakeLists.txt
  libs/CMakeLists.txt
  libs/compute_cuda/tests/CMakeLists.txt
  libs/create_library_skeleton.py
  plugins/parcelport/CMakeLists.txt
  plugins/parcelport/libfabric/CMakeLists.txt
  plugins/parcelport/verbs/CMakeLists.txt
  src/CMakeLists.txt
  tests/unit/build/CMakeLists.txt
  tools/inspect/CMakeLists.txt
  tools/vim/.ycm_extra_conf.py
Labels: category: CMake, type: compatibility issue, type: enhancement

#4225 Allow CMAKE_INSTALL_PREFIX to be a relative path
  cmake/HPX_GeneratePackage.cmake
Labels: category: CMake

#4243 Fix PAPI command line option documentation
  docs/sphinx/manual/optimizing_hpx_applications.rst
  src/runtime/components/server/runtime_support_server.cpp
Labels: category: components, category: documentation

#4244 Ignore lock in ignore_while_locked_1485 test
  tests/regressions/lcos/ignore_while_locked_1485.cpp
Labels: type: compatibility issue, type: enhancement

#4211 Google Season of Docs updates to documentation; contributing to hpx
  docs/sphinx/contributing/docker_image.rst
  docs/sphinx/contributing/documentation.rst
  docs/sphinx/contributing/release_procedure.rst
  docs/sphinx/contributing/testing_hpx.rst
Labels: category: documentation

#4240 Mostly fix clang CUDA compilation
  components/iostreams/include/hpx/include/iostreams.hpp
  hpx/lcos/channel.hpp
  hpx/runtime/applier/detail/apply_colocated.hpp
  hpx/runtime/applier/detail/apply_colocated_callback.hpp
  hpx/runtime/components/server/component_base.hpp
  libs/algorithms/include/hpx/parallel/algorithms/for_each.hpp
  libs/algorithms/include/hpx/parallel/util/detail/handle_local_exceptions.hpp
  libs/algorithms/include/hpx/parallel/util/foreach_partitioner.hpp
  libs/algorithms/include/hpx/parallel/util/partitioner_with_cleanup.hpp
  libs/compute_cuda/examples/CMakeLists.txt
  libs/compute_cuda/examples/trivial_demo.cu
  libs/compute_cuda/include/hpx/compute/cuda/target_distribution_policy.hpp
  libs/compute_cuda/src/cuda_target.cpp
  libs/compute_cuda/tests/performance/CMakeLists.txt
  libs/compute_cuda/tests/performance/synchronize.cu
  libs/compute_cuda/tests/unit/default_executor.cu
  libs/execution/include/hpx/parallel/executors/execution.hpp
  libs/execution/include/hpx/parallel/executors/thread_execution.hpp
Labels: compiler: clang, platform: CUDA
