Repository STEllAR-GROUP/hpx, pull requests merged in 2019-04, with the labels that each got.

#3760 Fix callable vtable for GCC4.9
  hpx/util/detail/empty_function.hpp
  hpx/util/detail/vtable/callable_vtable.hpp
Labels: type: compatibility issue

#3759 Rename PAGE_SIZE to PAGE_SIZE_ because AppleClang
  examples/quickstart/component_with_custom_heap.cpp
Labels: compiler: clang, platform: Mac OSX, type: enhancement

#3755 Making sure locks are not held during suspension
  plugins/parcel/coalescing/coalescing_counter_registry.cpp
  src/runtime/agas/server/component_namespace_server.cpp
Labels: type: compatibility issue, type: enhancement

#3762 Prevent MSVC from prematurely instantiating things
  hpx/util/function.hpp
  hpx/util/iterator_adaptor.hpp
  hpx/util/transform_iterator.hpp
  hpx/util/unique_function.hpp
Labels: category: core, compiler: msvc, type: compatibility issue

#3767 Fix help formatting in hpxrun.py
  cmake/templates/hpxrun.py.in
Labels: category: documentation, category: tools

#3764 Workaround for SFINAE regression in msvc14.2
  hpx/util/detail/pack_traversal_async_impl.hpp
Labels: compiler: msvc, type: compatibility issue

#3765 Fix a couple of bugs in the thread test
  hpx/lcos/detail/future_data.hpp
  hpx/runtime/parcelset/parcelport_impl.hpp
  hpx/runtime/threads/detail/scheduled_thread_pool_impl.hpp
  hpx/runtime/threads/detail/set_thread_state.hpp
  hpx/runtime/threads/thread_helpers.hpp
  src/lcos/local/detail/condition_variable.cpp
  src/runtime/threads/executors/current_executor.cpp
  src/runtime/threads/executors/this_thread_executors.cpp
  src/runtime/threads/executors/thread_pool_executors.cpp
  src/runtime/threads/thread_helpers.cpp
  src/util/interval_timer.cpp
  tests/unit/threads/thread.cpp
Labels: category: tests, type: deadlock, type: defect

#3771 Fix link to stackoverflow in documentation
  cmake/templates/conf.py.in
  docs/sphinx/index.rst
Labels: category: documentation, type: defect

#3773 Enable migration of polymorphic components
  examples/quickstart/component_inheritance.cpp
  hpx/include/components.hpp
  hpx/runtime/components/migrate_component.hpp
  hpx/runtime/components/server/abstract_component_base.hpp
  hpx/runtime/components/server/abstract_migration_support.hpp
  hpx/runtime/components/server/migration_support.hpp
  tests/unit/component/CMakeLists.txt
  tests/unit/component/inheritance_2_classes_abstract.cpp
  tests/unit/component/inheritance_3_classes_1_abstract.cpp
  tests/unit/component/inheritance_3_classes_2_abstract.cpp
  tests/unit/component/migrate_polymorphic_component.cpp
Labels: category: components, type: compatibility issue, type: enhancement

#3736 Fix guided_pool_executor after dataflow changes caused compilation fail
  examples/resource_partitioner/CMakeLists.txt
  examples/resource_partitioner/async_customization.cpp
  hpx/runtime/threads/executors/guided_pool_executor.hpp
Labels: category: executors, type: compatibility issue, type: enhancement

#3146 Changing the coroutine implementations to do a lazy init
  hpx/runtime/threads/coroutines/detail/context_base.hpp
  hpx/runtime/threads/coroutines/detail/context_generic_context.hpp
  hpx/runtime/threads/coroutines/detail/context_impl.hpp
  hpx/runtime/threads/coroutines/detail/context_linux_x86.hpp
  hpx/runtime/threads/coroutines/detail/context_posix.hpp
  hpx/runtime/threads/coroutines/detail/context_windows_fibers.hpp
  hpx/runtime/threads/coroutines/detail/coroutine_impl.hpp
  src/runtime/threads/coroutines/detail/context_base.cpp
Labels: category: threadmanager, type: enhancement

#3768 Adding flags to scheduler allowing to control thread stealing and idle back-off
  CMakeLists.txt
  examples/cancelable_action/cancelable_action/server/cancelable_action.hpp
  examples/resource_partitioner/shared_priority_queue_scheduler.hpp
  hpx/include/util.hpp
  hpx/lcos/local/barrier.hpp
  hpx/lcos/local/condition_variable.hpp
  hpx/lcos/local/latch.hpp
  hpx/lcos/local/spinlock_pool.hpp
  hpx/parallel/executors/execution_parameters.hpp
  hpx/parallel/executors/execution_parameters_fwd.hpp
  hpx/parallel/util/detail/scoped_executor_parameters.hpp
  hpx/parallel/util/foreach_partitioner.hpp
  hpx/parallel/util/partitioner.hpp
  hpx/parallel/util/partitioner_with_cleanup.hpp
  hpx/parallel/util/scan_partitioner.hpp
  hpx/runtime/runtime_fwd.hpp
  hpx/runtime/threads/detail/create_work.hpp
  hpx/runtime/threads/detail/periodic_maintenance.hpp
  hpx/runtime/threads/detail/scheduled_thread_pool.hpp
  hpx/runtime/threads/detail/scheduled_thread_pool_impl.hpp
  hpx/runtime/threads/detail/scheduling_loop.hpp
  hpx/runtime/threads/policies/local_priority_queue_scheduler.hpp
  hpx/runtime/threads/policies/local_queue_scheduler.hpp
  hpx/runtime/threads/policies/queue_helpers.hpp
  hpx/runtime/threads/policies/scheduler_base.hpp
  hpx/runtime/threads/policies/scheduler_mode.hpp
  hpx/runtime/threads/policies/shared_priority_queue_scheduler.hpp
  hpx/runtime/threads/policies/static_priority_queue_scheduler.hpp
  hpx/runtime/threads/policies/static_queue_scheduler.hpp
  hpx/runtime/threads/policies/thread_queue.hpp
  hpx/runtime/threads/thread_helpers.hpp
  hpx/runtime/threads/thread_pool_base.hpp
  hpx/runtime/threads/threadmanager.hpp
  hpx/runtime_fwd.hpp
  hpx/util/cache_aligned_data.hpp
  hpx/util/spinlock_pool.hpp
  src/runtime.cpp
  src/runtime/agas/server/primary_namespace_server.cpp
  src/runtime/threads/policies/scheduler_base.cpp
  src/runtime/threads/threadmanager.cpp
  tests/performance/local/foreach_scaling.cpp
  tests/unit/lcos/local_latch.cpp
  tests/unit/parallel/executors/executor_parameters.cpp
  tests/unit/parallel/executors/executor_parameters_timer_hooks.cpp
  tests/unit/resource/shutdown_suspended_pus.cpp
Labels: category: threadmanager, type: enhancement

#3774 Tag and push stable builds
  .circleci/config.yml
Labels: category: CircleCi, type: enhancement

#3734 Limiting executor
  hpx/runtime/threads/executors/limiting_executor.hpp
  tests/performance/local/future_overhead.cpp
Labels: category: executors, category: tests, type: enhancement

#3761 Update python scripts to work with python 3
  python/hpx/environment.py
  python/hpx/process.py
  python/scripts/hpx_environment.py
  python/scripts/hpx_invoke.py
  python/scripts/hpx_optsweep.py
  python/scripts/hpx_run_test.py
Labels: category: tools, type: compatibility issue

#3775 Disable Boost auto-linking
  cmake/HPX_SetupBoost.cmake
  docs/sphinx/manual/building_hpx.rst
  tests/performance/local/CMakeLists.txt
  tests/performance/local/htts_v2/CMakeLists.txt
  tests/unit/threads/CMakeLists.txt
  tools/CMakeLists.txt
  tools/inspect/CMakeLists.txt
Labels: category: CMake, type: compatibility issue, type: enhancement

#3776 Sort algorithms now use the supplied chunker to determine the required minimal chunk size
  hpx/parallel/algorithms/sort.hpp
  hpx/util/lightweight_test.hpp
  tests/unit/parallel/algorithms/sort.cpp
  tests/unit/parallel/algorithms/sort_by_key.cpp
  tests/unit/parallel/algorithms/sort_tests.hpp
Labels: category: algorithms, type: compatibility issue, type: enhancement

#3769 Fix SIGSEGV handler
  hpx/runtime/threads/coroutines/detail/context_linux_x86.hpp
Labels: category: core, type: defect

#3780 Rename hello world examples
  .circleci/config.yml
  appveyor.yml
  docs/sphinx/examples/hello_world.rst
  docs/sphinx/manual/creating_hpx_projects.rst
  docs/sphinx/manual/launching_and_configuring_hpx_applications.rst
  docs/sphinx/manual/miscellaneous.rst
  docs/sphinx/manual/optimizing_hpx_applications.rst
  docs/sphinx/manual/running_on_batch_systems.rst
  docs/sphinx/quickstart.rst
  examples/quickstart/CMakeLists.txt
  examples/quickstart/hello_world_1.cpp
  examples/quickstart/hello_world_2.cpp
  examples/quickstart/hello_world_distributed.cpp
Labels: category: documentation, category: examples

#3783 Disabled even more spots that should not execute is networking is disabled
  src/runtime/parcelset/parcelhandler.cpp
  src/util/command_line_handling.cpp
Labels: category: init, category: parcel transport, type: compatibility issue, type: enhancement

#3785 Explicitly set number of jobs for all ninja invocations on CircleCI
  .circleci/config.yml
Labels: category: CircleCi, category: documentation, type: defect

#3782 Cherry-picked tuple and thread_init_data fixes from #3701
  hpx/runtime/threads/thread_init_data.hpp
  hpx/util/tuple.hpp
Labels: type: defect

#3781 Fix generic context coroutines after lazy stack allocation changes
  hpx/runtime/threads/coroutines/detail/context_generic_context.hpp
  src/runtime/threads/coroutines/detail/context_generic_context.cpp
Labels: category: threadmanager, type: defect

#3784 Fix leak and address sanitizer problems
  CMakeLists.txt
  examples/1d_stencil/1d_stencil_4_checkpoint.cpp
  examples/1d_stencil/1d_stencil_6.cpp
  examples/1d_stencil/1d_stencil_7.cpp
  examples/jacobi_smp/jacobi.cpp
  examples/quickstart/partitioned_vector_spmd_foreach.cpp
  examples/transpose/transpose_block.cpp
  examples/transpose/transpose_block_numa.cpp
  examples/tuplespace/central_tuplespace/simple_central_tuplespace.hpp
  hpx/config/compiler_specific.hpp
  hpx/config/threads_stack.hpp
  hpx/parallel/algorithms/adjacent_difference.hpp
  hpx/parallel/algorithms/adjacent_find.hpp
  hpx/parallel/algorithms/copy.hpp
  hpx/parallel/algorithms/detail/set_operation.hpp
  hpx/parallel/algorithms/find.hpp
  hpx/parallel/algorithms/is_heap.hpp
  hpx/parallel/algorithms/is_partitioned.hpp
  hpx/parallel/algorithms/is_sorted.hpp
  hpx/parallel/algorithms/lexicographical_compare.hpp
  hpx/parallel/algorithms/mismatch.hpp
  hpx/parallel/algorithms/partition.hpp
  hpx/parallel/algorithms/remove.hpp
  hpx/parallel/algorithms/search.hpp
  hpx/parallel/algorithms/set_union.hpp
  hpx/parallel/algorithms/sort.hpp
  hpx/parallel/algorithms/unique.hpp
  hpx/parallel/util/scan_partitioner.hpp
  hpx/runtime/threads/coroutines/detail/context_base.hpp
  hpx/runtime/threads/coroutines/detail/context_linux_x86.hpp
  src/components/iostreams/standard_streams.cpp
  src/performance_counters/performance_counter_set.cpp
  src/runtime/agas/server/route.cpp
  src/runtime/components/server/wrapper_heap.cpp
  src/runtime/threads/coroutines/detail/coroutine_impl.cpp
  src/util/format.cpp
  tests/performance/local/CMakeLists.txt
  tests/performance/local/stencil3_iterators.cpp
  tests/performance/local/wait_all_timings.cpp
  tests/regressions/actions/async_deferred_1523.cpp
  tests/regressions/actions/make_continuation_1615.cpp
  tests/regressions/actions/plain_action_1330.cpp
  tests/regressions/actions/plain_action_1550.cpp
  tests/regressions/actions/plain_action_move_semantics.cpp
  tests/regressions/agas/duplicate_id_registration_1596.cpp
  tests/regressions/agas/register_with_basename_1804.cpp
  tests/regressions/lcos/call_promise_get_gid_more_than_once.cpp
  tests/regressions/lcos/receive_buffer_1733.cpp
  tests/regressions/parallel/scan_different_inits.cpp
  tests/unit/parallel/algorithms/partition_tests.hpp
Labels: type: defect

#3770 Replacing constexpr if in brace-serialization code
  hpx/runtime/serialization/access.hpp
  tests/unit/serialization/CMakeLists.txt
  tests/unit/serialization/serialization_brace_initializable.cpp
Labels: category: serialization, type: compatibility issue

#3793 Extending migrate_polymorphic_component unit test
  tests/unit/component/migrate_polymorphic_component.cpp
Labels: category: AGAS, category: tests, type: enhancement

#3789 Remove Boost filesystem compatibility header
  hpx/util/filesystem_compatibility.hpp
  src/exception.cpp
  src/runtime/components/server/runtime_support_server.cpp
  src/throw_exception.cpp
  src/util/init_ini_data.cpp
  src/util/runtime_configuration.cpp
  tools/inspect/end_check.cpp
  tools/inspect/inspect.cpp
  tools/inspect/inspector.hpp
  tools/inspect/link_check.cpp
Labels: category: boost, type: cleanup

#3791 Change throw() to noexcept
  hpx/exception.hpp
  hpx/exception_list.hpp
  hpx/runtime/threads/coroutines/detail/context_linux_x86.hpp
  hpx/util/any.hpp
  hpx/util/backtrace/backtrace.hpp
  src/exception.cpp
  tests/regressions/util/serialize_buffer_1069.cpp
  tests/unit/util/function/stateless_test.cpp
Labels: type: cleanup, type: compatibility issue

#3788 Disabled even more spots that should not execute if networking is disabled
  src/runtime/parcelset/parcelhandler.cpp
  src/util/command_line_handling.cpp
Labels: category: init, category: parcel transport, type: compatibility issue, type: enhancement

#3794 Fixing #3792
  hpx/lcos/barrier.hpp
  src/lcos/barrier.cpp
  tests/regressions/lcos/CMakeLists.txt
  tests/regressions/lcos/barrier_3792.cpp
Labels: category: LCOs, type: defect

#3795 Change std::terminate to std::abort in SIGSEGV handler
  hpx/runtime/threads/coroutines/detail/context_linux_x86.hpp
Labels: type: compatibility issue

#3796 Re-enable testing all schedulers in shutdown_suspended_test
  tests/unit/resource/shutdown_suspended_pus.cpp
Labels: category: tests

#3797 Adding a couple of 'override' keywords to overloaded virtual functions
  hpx/exception.hpp
Labels: type: compatibility issue, type: enhancement

#3786 Bump minimum required versions for 1.3.0 release
  CMakeLists.txt
  cmake/HPX_SetupBoost.cmake
  cmake/HPX_SetupBoostSIMD.cmake
  docs/sphinx/manual/building_hpx.rst
  docs/sphinx/manual/optimizing_hpx_applications.rst
  examples/resource_partitioner/CMakeLists.txt
  examples/resource_partitioner/async_customization.cpp
  hpx/config.hpp
  hpx/lcos/detail/future_data.hpp
  hpx/runtime/threads/coroutines/detail/context_generic_context.hpp
Labels: compiler: clang, compiler: gcc, type: compatibility issue

#3801 Remove duplicated includes
  hpx/parallel/executors/thread_execution.hpp
  hpx/parallel/executors/thread_timed_execution.hpp
  hpx/performance_counters/counter_creators.hpp
  hpx/runtime/agas/detail/bootstrap_locality_namespace.hpp
  hpx/runtime/agas/locality_namespace.hpp
  hpx/runtime/agas/server/component_namespace.hpp
  src/runtime/agas/detail/bootstrap_locality_namespace.cpp
  src/runtime/parcelset/parcelport.cpp
  src/runtime/threads/detail/scheduled_thread_pool.cpp
  src/runtime/threads/topology.cpp
Labels: type: cleanup

#3800 Attempt to fix Posix context switching after lazy init changes
  hpx/runtime/threads/coroutines/detail/context_posix.hpp
Labels: category: core, type: compatibility issue, type: enhancement

#3815 Removing left-over debug output
  src/runtime/threads/topology.cpp
Labels: category: core, category: diagnostics, type: enhancement

#3812 Windows requires to handle symlinks to directories differently from those linking files
  cmake/HPX_CreateSymbolicLink.cmake
  cmake/scripts/create_symbolic_link_directory.bat
  cmake/scripts/create_symbolic_link_file.bat
Labels: category: CMake, platform: Windows, type: compatibility issue

#3804 Fix latch
  hpx/lcos/local/latch.hpp
Labels: type: defect

#3821 Disable barrier_3792 test when networking is disabled
  tests/regressions/lcos/CMakeLists.txt
Labels: category: tests

#3825 Updating default APEX version to 2.1.3 with HPX
  CMakeLists.txt
Labels: category: APEX, category: CMake

#3803 Update hpxcxx to look at lib64 and use python3
  cmake/templates/hpxcxx.in
  cmake/templates/hpxrun.py.in
Labels: category: CMake

#3820 Assorted CMake fixes
  CMakeLists.txt
  cmake/HPX_GeneratePackage.cmake
Labels: category: CMake

#3822 Change includes in hpx_wrap.cpp to more specific includes
  src/hpx_wrap.cpp
Labels: type: cleanup

#3798 count and count_if accepts different iterator types
  hpx/parallel/algorithms/count.hpp
  hpx/parallel/segmented_algorithms/count.hpp
  tests/regressions/parallel/CMakeLists.txt
  tests/regressions/parallel/count_3646.cpp
  tests/regressions/parallel/iter_sent.hpp
  tests/regressions/parallel/reduce_3641.cpp
Labels: category: algorithms, type: compatibility issue, type: enhancement

#3823 Fix pkgconfig libs handling
  cmake/HPX_GeneratePackage.cmake
  cmake/HPX_SetupBoost.cmake
Labels: category: CMake

#3813 Make the deprecation warnings issued by the old pp headers optional
  cmake/HPX_AddDefinitions.cmake
  cmake/HPX_Option.cmake
  libs/preprocessor/CMakeLists.txt
  libs/preprocessor/include/hpx/util/detail/pp/config.hpp
  libs/preprocessor/include/hpx/util/detail/pp/expand.hpp
  libs/preprocessor/include/hpx/util/detail/pp/nargs.hpp
  libs/preprocessor/include/hpx/util/detail/pp/stringize.hpp
  libs/preprocessor/include/hpx/util/detail/pp/strip_parens.hpp
  libs/preprocessor/include_compatibility/hpx/util/detail/pp/cat.hpp
  libs/preprocessor/include_compatibility/hpx/util/detail/pp/config.hpp
  libs/preprocessor/include_compatibility/hpx/util/detail/pp/expand.hpp
  libs/preprocessor/include_compatibility/hpx/util/detail/pp/nargs.hpp
  libs/preprocessor/include_compatibility/hpx/util/detail/pp/stringize.hpp
  libs/preprocessor/include_compatibility/hpx/util/detail/pp/strip_parens.hpp
Labels: category: CMake, category: modules, type: compatibility issue

#3827 Adding shortcut for hpx::get_ptr<>(sync, id) for a local, non-migratable objects
  hpx/runtime/get_ptr.hpp
  hpx/runtime/naming/name.hpp
  src/runtime/naming/name.cpp
Labels: category: AGAS, category: components, project: Phylanx, type: enhancement, type: optimization
