Repository STEllAR-GROUP/hpx, pull requests merged in 2019-10, with the labels that each got.

#4070 Fix macOS builds
  libs/logging/CMakeLists.txt
  libs/logging/include/hpx/logging/format/formatter/high_precision_time.hpp
  src/util/init_ini_data.cpp
Labels: category: CMake, platform: Mac OSX

#4093 Fix initialization of global_num_tasks in parallel_executor
  libs/collectives/CMakeLists.txt
  libs/execution/include/hpx/parallel/executors/parallel_executor.hpp
Labels: category: executors, type: defect

#4116 Fix automatically setting C++ standard
  cmake/HPX_DetectCppDialect.cmake
Labels: category: CMake

#4113 Module datastructures
  hpx/include/traits.hpp
  hpx/runtime/serialization/serialize_buffer.hpp
  hpx/util/detail/container_category.hpp
  hpx/util/detail/unwrap_impl.hpp
  hpx/util/serializable_any.hpp
  libs/datastructures/CMakeLists.txt
  libs/datastructures/include/hpx/datastructures/any.hpp
  libs/datastructures/include/hpx/datastructures/traits/is_tuple_like.hpp
  libs/datastructures/include/hpx/datastructures/traits/supports_streaming_with_any.hpp
  libs/datastructures/include_compatibility/hpx/traits/is_tuple_like.hpp
  libs/datastructures/include_compatibility/hpx/traits/supports_streaming_with_any.hpp
  libs/datastructures/tests/unit/CMakeLists.txt
  libs/datastructures/tests/unit/is_tuple_like.cpp
  libs/datastructures/tests/unit/moveonly_any.cpp
  src/util/serializable_any.cpp
Labels: category: data-structures, category: modules, type: compatibility issue, type: enhancement

#4117 Make CircleCI formatting check store diff
  .circleci/config.yml
Labels: category: CircleCi

#4119 Making sure chunk_size and max_chunk are actually applied to parallel algorithms if specified
  libs/algorithms/include/hpx/parallel/algorithms/partition.hpp
  libs/algorithms/include/hpx/parallel/algorithms/sort.hpp
  libs/algorithms/include/hpx/parallel/util/detail/chunk_size.hpp
  libs/execution/include/hpx/parallel/executors/execution_parameters.hpp
  libs/execution/tests/regressions/CMakeLists.txt
  libs/execution/tests/regressions/annotated_minmax_2593.cpp
  libs/execution/tests/regressions/chunk_size_4118.cpp
  libs/execution/tests/regressions/future_then_async_executor.cpp
  libs/execution/tests/regressions/parallel_executor_1781.cpp
Labels: category: algorithms, category: executors, type: enhancement

#4121 Fixing migration test if networking is disabled.
  src/runtime/agas/addressing_service.cpp
Labels: category: AGAS, type: enhancement

#4103 Add this to lambda capture list
  hpx/lcos/local/channel.hpp
  hpx/runtime/parcelset/parcelhandler.hpp
Labels: type: compatibility issue

#4126 Attempt to fix basic_any constructor for gcc 7
  hpx/util/serializable_any.hpp
  libs/datastructures/include/hpx/datastructures/any.hpp
Labels: compiler: gcc, type: compatibility issue, type: enhancement

#4128 Renaming moveonly_any to unique_any
  hpx/runtime/serialization/detail/preprocess_futures.hpp
  hpx/runtime/serialization/detail/preprocess_gid_types.hpp
  hpx/util/serializable_any.hpp
  libs/datastructures/include/hpx/datastructures/any.hpp
  libs/datastructures/tests/unit/CMakeLists.txt
  libs/datastructures/tests/unit/unique_any.cpp
  libs/serialization/include/hpx/serialization/detail/pointer.hpp
  libs/serialization/include/hpx/serialization/extra_archive_data.hpp
  libs/serialization/include/hpx/serialization/extra_input_data.hpp
  libs/serialization/include/hpx/serialization/extra_output_data.hpp
Labels: type: enhancement

#4130 Adding missing header to build system
  libs/serialization/CMakeLists.txt
Labels: category: modules, category: serialization, type: enhancement

#4122 Add kernel launch helper utility (+saxpy demo) and merge in octotiger …
  examples/compute/cuda/CMakeLists.txt
  examples/compute/cuda/cublas_matmul.cpp
  examples/compute/cuda/cuda_future.cpp
  examples/compute/cuda/cuda_future_helper.h
  examples/compute/cuda/saxpy.cu
  examples/compute/cuda/trivial_demo.cu
Labels: platform: CUDA, type: compatibility issue, type: enhancement

#4129 Fixing compilation if HPX_WITH_DATAPAR_VC is enabled
  hpx/runtime/parcelset/locality.hpp
  libs/algorithms/include/hpx/parallel/util/detail/select_partitioner.hpp
  libs/algorithms/tests/unit/CMakeLists.txt
  libs/algorithms/tests/unit/container_algorithms/CMakeLists.txt
  libs/algorithms/tests/unit/datapar_algorithms/CMakeLists.txt
  libs/algorithms/tests/unit/datapar_algorithms/count_datapar.cpp
  libs/algorithms/tests/unit/datapar_algorithms/countif_datapar.cpp
  libs/algorithms/tests/unit/datapar_algorithms/foreach_datapar.cpp
  libs/algorithms/tests/unit/datapar_algorithms/foreach_datapar_zipiter.cpp
  libs/algorithms/tests/unit/datapar_algorithms/foreach_tests.hpp
  libs/algorithms/tests/unit/datapar_algorithms/foreachn_datapar.cpp
  libs/algorithms/tests/unit/datapar_algorithms/transform_binary2_datapar.cpp
  libs/algorithms/tests/unit/datapar_algorithms/transform_binary_datapar.cpp
  libs/algorithms/tests/unit/datapar_algorithms/transform_datapar.cpp
  libs/algorithms/tests/unit/datapar_algorithms/transform_reduce_binary_datapar.cpp
  libs/execution/tests/unit/CMakeLists.txt
Labels: category: algorithms, category: modules, type: compatibility issue, type: enhancement

#4124 Don't link to Boost.System unless required
  cmake/HPX_SetupBoost.cmake
  components/process/src/util/windows/search_path.cpp
  hpx/util/pool_timer.hpp
  src/util/pool_timer.cpp
Labels: category: CMake, category: boost

#4133 Fix block_executor
  hpx/compute/host/block_executor.hpp
  tests/regressions/computeapi/CMakeLists.txt
  tests/regressions/computeapi/parallel_fill_4132.cpp
Labels: category: compute, category: executors, type: defect

#3990 Documentation tags fixes
  hpx/lcos/promise.hpp
Labels: category: documentation, type: enhancement

#4139 Remove runtime includes from coroutines module
  libs/coroutines/src/detail/coroutine_impl.cpp
  libs/coroutines/src/detail/tss.cpp
Labels: category: modules

#4143 Exclude test_client_1950 from all target
  tests/regressions/build/CMakeLists.txt
Labels: category: CMake

#4140 Doc updates why hpx
  docs/sphinx/why_hpx.rst
Labels: category: documentation

#4125 Changing extra_archive_data implementation
  hpx/runtime/naming/split_gid.hpp
  hpx/runtime/parcelset/encode_parcels.hpp
  hpx/runtime/serialization/detail/preprocess_futures.hpp
  hpx/runtime/serialization/detail/preprocess_gid_types.hpp
  libs/serialization/CMakeLists.txt
  libs/serialization/include/hpx/serialization/basic_archive.hpp
  libs/serialization/include/hpx/serialization/detail/extra_archive_data.hpp
  libs/serialization/include/hpx/serialization/detail/pointer.hpp
  libs/serialization/include/hpx/serialization/extra_archive_data.hpp
  libs/serialization/include/hpx/serialization/extra_input_data.hpp
  libs/serialization/include/hpx/serialization/extra_output_data.hpp
  libs/serialization/include/hpx/serialization/input_archive.hpp
  libs/serialization/include/hpx/serialization/output_archive.hpp
  libs/serialization/src/detail/pointer.cpp
  libs/serialization/tests/performance/serialization_performance.cpp
  src/lcos/future.cpp
  src/runtime/naming/name.cpp
  src/runtime/parcelset/detail/parcel_await.cpp
  src/runtime/parcelset/parcel.cpp
Labels: category: modules, category: serialization, type: compatibility issue, type: enhancement

#4145 Adding basic support for stackless threads
  hpx/runtime/threads/detail/scheduling_loop.hpp
  hpx/runtime/threads/policies/thread_queue.hpp
  hpx/runtime/threads/policies/thread_queue_init_parameters.hpp
  hpx/runtime/threads/policies/thread_queue_mc.hpp
  hpx/runtime/threads/thread_data.hpp
  hpx/runtime/threads/thread_data_fwd.hpp
  hpx/runtime/threads/thread_data_stackful.hpp
  hpx/runtime/threads/thread_data_stackless.hpp
  hpx/runtime/threads/thread_helpers.hpp
  libs/coroutines/CMakeLists.txt
  libs/coroutines/include/hpx/coroutines/coroutine.hpp
  libs/coroutines/include/hpx/coroutines/coroutine_fwd.hpp
  libs/coroutines/include/hpx/coroutines/detail/context_base.hpp
  libs/coroutines/include/hpx/coroutines/detail/coroutine_impl.hpp
  libs/coroutines/include/hpx/coroutines/stackless_coroutine.hpp
  libs/coroutines/include/hpx/coroutines/thread_enums.hpp
  src/runtime/applier/applier.cpp
  src/runtime/threads/thread_data.cpp
  src/runtime/threads/thread_data_stackful.cpp
  src/runtime/threads/thread_data_stackless.cpp
  src/runtime/threads/threadmanager.cpp
  src/util/runtime_configuration.cpp
  tests/headers/CMakeLists.txt
  tests/performance/local/timed_task_spawn.cpp
Labels: category: threadmanager, type: enhancement

#4146 Doc updates creating hpx projects
  docs/sphinx/manual/creating_hpx_projects.rst
Labels: category: documentation

#4149 Add back private m_desc member variable in program_options module
  libs/program_options/include/hpx/program_options/parsers.hpp
Labels: category: boost

#4152 Casting MPI tag value
  hpx/plugins/parcelport/mpi/sender.hpp
Labels: category: parcel transport, compiler: gcc, type: compatibility issue, type: enhancement

#4154 Added CMake policy CMP0060 for HPX applications.
  cmake/HPX_SetupTarget.cmake
Labels: category: CMake, type: compatibility issue, type: enhancement

#4159 Make sure HPX_WITH_NATIVE_TLS is forwarded to dependent projects
  cmake/templates/HPXConfig.cmake.in
Labels: category: CMake, category: boost

#4162 Handle quick exit
  hpx/hpx_init.hpp
  hpx/hpx_init_impl.hpp
  hpx/hpx_start.hpp
  hpx/hpx_start_impl.hpp
  src/runtime.cpp
Labels: category: core, type: compatibility issue, type: enhancement

#4168 Adding utility include
  libs/serialization/include/hpx/serialization/traits/brace_initializable_traits.hpp
Labels: compiler: clang, platform: PPC, type: compatibility issue, type: enhancement

#4156 Stackless coroutines now can refer to themselves (through get_self() and friends)
  libs/coroutines/include/hpx/coroutines/detail/coroutine_accessor.hpp
  libs/coroutines/include/hpx/coroutines/detail/coroutine_self.hpp
  libs/coroutines/include/hpx/coroutines/detail/coroutine_stackful_self.hpp
  libs/coroutines/include/hpx/coroutines/detail/coroutine_stackless_self.hpp
  libs/coroutines/include/hpx/coroutines/stackless_coroutine.hpp
  libs/coroutines/src/detail/coroutine_impl.cpp
  src/runtime/threads/thread_data.cpp
  tests/regressions/threads/CMakeLists.txt
  tests/regressions/threads/stackless_self_4155.cpp
Labels: category: threadmanager, type: compatibility issue, type: enhancement

#4171 Ignore lock in condition_variable::wait
  hpx/lcos/local/condition_variable.hpp
Labels: category: LCOs, type: defect

#4172 More protection against shutdown problems in error handling scenarios.
  src/runtime.cpp
  src/runtime/agas/interface.cpp
Labels: category: core, type: enhancement

#4160 Using target_link_libraries for cmake versions >= 3.12
  cmake/HPX_SetupAllocator.cmake
  cmake/HPX_SetupBoost.cmake
  cmake/HPX_SetupBoostFilesystem.cmake
  cmake/HPX_SetupBoostIostreams.cmake
  cmake/HPX_SetupBoostProgramOptions.cmake
  cmake/HPX_SetupBoostRegex.cmake
  cmake/HPX_SetupGooglePerfTools.cmake
  cmake/HPX_SetupHwloc.cmake
  cmake/HPX_SetupLibfabric.cmake
  cmake/HPX_SetupMPI.cmake
  cmake/HPX_SetupPapi.cmake
  cmake/HPX_SetupVc.cmake
  cmake/templates/HPXMacros.cmake.in
Labels: category: CMake, type: compatibility issue, type: enhancement
