Repository STEllAR-GROUP/hpx, pull requests merged in 2019-09, with the labels that each got.

#4051 Add more variations to future_overhead test
  hpx/runtime/threads/policies/thread_queue.hpp
  hpx/runtime/threads/policies/thread_queue_mc.hpp
  tests/performance/local/future_overhead.cpp
Labels: category: scheduler, category: tests

#4037 Adding resiliency module
  libs/CMakeLists.txt
  libs/algorithms/tests/regressions/CMakeLists.txt
  libs/all_modules.rst
  libs/create_library_skeleton.py
  libs/resiliency/CMakeLists.txt
  libs/resiliency/README.rst
  libs/resiliency/docs/index.rst
  libs/resiliency/examples/1d_stencil_replay_exception.cpp
  libs/resiliency/examples/1d_stencil_replay_validate.cpp
  libs/resiliency/examples/CMakeLists.txt
  libs/resiliency/examples/async_replay.cpp
  libs/resiliency/examples/async_replicate.cpp
  libs/resiliency/examples/async_replicate_vote.cpp
  libs/resiliency/examples/dataflow_replicate.cpp
  libs/resiliency/examples/version.cpp
  libs/resiliency/include/hpx/resiliency/async_replay.hpp
  libs/resiliency/include/hpx/resiliency/async_replicate.hpp
  libs/resiliency/include/hpx/resiliency/config.hpp
  libs/resiliency/include/hpx/resiliency/dataflow_replay.hpp
  libs/resiliency/include/hpx/resiliency/dataflow_replicate.hpp
  libs/resiliency/include/hpx/resiliency/force_linking.hpp
  libs/resiliency/include/hpx/resiliency/resiliency.hpp
  libs/resiliency/include/hpx/resiliency/version.hpp
  libs/resiliency/src/force_linking.cpp
  libs/resiliency/src/resiliency.cpp
  libs/resiliency/tests/CMakeLists.txt
  libs/resiliency/tests/performance/CMakeLists.txt
  libs/resiliency/tests/performance/replay/1d_stencil.cpp
  libs/resiliency/tests/performance/replay/1d_stencil_checksum.cpp
  libs/resiliency/tests/performance/replay/1d_stencil_replay.cpp
  libs/resiliency/tests/performance/replay/CMakeLists.txt
  libs/resiliency/tests/performance/replay/async_replay.cpp
  libs/resiliency/tests/performance/replay/async_replay_validate.cpp
  libs/resiliency/tests/performance/replay/dataflow_replay.cpp
  libs/resiliency/tests/performance/replay/dataflow_replay_validate.cpp
  libs/resiliency/tests/performance/replay/print_time_results.hpp
  libs/resiliency/tests/performance/replay/pure_async_for_replay.cpp
  libs/resiliency/tests/performance/replay/pure_dataflow.cpp
  libs/resiliency/tests/performance/replicate/1d_stencil_replicate.cpp
  libs/resiliency/tests/performance/replicate/1d_stencil_replicate_checksum.cpp
  libs/resiliency/tests/performance/replicate/CMakeLists.txt
  libs/resiliency/tests/performance/replicate/async_replicate.cpp
  libs/resiliency/tests/performance/replicate/async_replicate_validate.cpp
  libs/resiliency/tests/performance/replicate/async_replicate_vote.cpp
  libs/resiliency/tests/performance/replicate/async_replicate_vote_validate.cpp
  libs/resiliency/tests/performance/replicate/pure_async_for_replicate.cpp
  libs/resiliency/tests/performance/scripts/1d_stencil/1d_stencil.sh
  libs/resiliency/tests/performance/scripts/1d_stencil/1d_stencil_16000.sh
  libs/resiliency/tests/performance/scripts/1d_stencil/1d_stencil_32000.sh
  libs/resiliency/tests/performance/scripts/replay/async_replay.sh
  libs/resiliency/tests/performance/scripts/replay/async_replay_error_1.sh
  libs/resiliency/tests/performance/scripts/replay/async_replay_error_2.sh
  libs/resiliency/tests/performance/scripts/replicate/async_replicate.sh
  libs/resiliency/tests/performance/scripts/replicate/async_replicate_error_1.sh
  libs/resiliency/tests/performance/scripts/replicate/async_replicate_error_2.sh
  libs/resiliency/tests/performance/scripts/replicate/async_replicate_error_3.sh
  libs/resiliency/tests/regressions/CMakeLists.txt
  libs/resiliency/tests/unit/CMakeLists.txt
Labels: category: modules, type: enhancement

#4060 Making sure HPX_IDLE_BACKOFF_TIME_MAX is always defined (even if its unused)
  libs/config/include/hpx/config.hpp
Labels: category: core, type: enhancement

#4054 Add troubleshooting section to manual
  docs/sphinx/manual.rst
  docs/sphinx/manual/troubleshooting.rst
Labels: category: documentation

#4068 Adding main HPX #include directory to modules
  cmake/HPX_AddModule.cmake
Labels: category: CMake, category: modules, type: compatibility issue, type: enhancement

#4064 Fix program_options test with older boost versions
  libs/program_options/examples/config_file_types.cpp
  libs/program_options/examples/custom_syntax.cpp
  libs/program_options/examples/env_options.cpp
  libs/program_options/examples/first.cpp
  libs/program_options/examples/multiple_sources.cpp
  libs/program_options/examples/option_groups.cpp
  libs/program_options/examples/options_description.cpp
  libs/program_options/examples/options_hierarchy.cpp
  libs/program_options/examples/real.cpp
  libs/program_options/examples/regex.cpp
  libs/program_options/examples/response_file.cpp
  libs/program_options/include/hpx/program_options/config.hpp
  libs/program_options/include/hpx/program_options/detail/convert.hpp
  libs/program_options/include/hpx/program_options/detail/parsers.hpp
  libs/program_options/include/hpx/program_options/detail/utf8_codecvt_facet.hpp
  libs/program_options/include/hpx/program_options/detail/value_semantic.hpp
  libs/program_options/include/hpx/program_options/environment_iterator.hpp
  libs/program_options/include/hpx/program_options/errors.hpp
  libs/program_options/include/hpx/program_options/force_linking.hpp
  libs/program_options/include/hpx/program_options/options_description.hpp
  libs/program_options/include/hpx/program_options/parsers.hpp
  libs/program_options/include/hpx/program_options/value_semantic.hpp
  libs/program_options/include/hpx/program_options/variables_map.hpp
  libs/program_options/src/cmdline.cpp
  libs/program_options/src/config_file.cpp
  libs/program_options/src/convert.cpp
  libs/program_options/src/force_linking.cpp
  libs/program_options/src/options_description.cpp
  libs/program_options/src/parsers.cpp
  libs/program_options/src/split.cpp
  libs/program_options/src/value_semantic.cpp
  libs/program_options/src/variables_map.cpp
  libs/program_options/src/winmain.cpp
  libs/program_options/tests/regressions/CMakeLists.txt
  libs/program_options/tests/regressions/command_line_arguments_706.cpp
  libs/program_options/tests/regressions/command_line_required_arguments_2990.cpp
  libs/program_options/tests/regressions/commandline_options_1437.cpp
  libs/program_options/tests/unit/CMakeLists.txt
  libs/program_options/tests/unit/boost_program_options.cpp
  libs/program_options/tests/unit/cmdline.cpp
  libs/program_options/tests/unit/optional.cpp
  libs/program_options/tests/unit/options_description.cpp
  libs/program_options/tests/unit/options_exception.cpp
  libs/program_options/tests/unit/parsers.cpp
  libs/program_options/tests/unit/positional_options.cpp
  libs/program_options/tests/unit/required.cpp
  libs/program_options/tests/unit/split.cpp
  libs/program_options/tests/unit/unicode.cpp
  libs/program_options/tests/unit/variable_map.cpp
  libs/program_options/tests/unit/winmain.cpp
Labels: category: modules

#4071 Fixing MPI detection for PMIx
  plugins/parcelport/mpi/parcelport_mpi.cpp
Labels: category: parcel transport, type: compatibility issue

#4049 Move missing modules tests
  libs/datastructures/tests/unit/CMakeLists.txt
  libs/datastructures/tests/unit/is_tuple_like.cpp
  libs/errors/tests/unit/CMakeLists.txt
  libs/errors/tests/unit/exception.cpp
  libs/iterator_support/tests/unit/CMakeLists.txt
  tests/unit/diagnostics/CMakeLists.txt
  tests/unit/traits/CMakeLists.txt
Labels: category: modules, category: tests, type: enhancement

#4076 Enable compatibility headers for functional module
  libs/functional/CMakeLists.txt
Labels: category: modules, type: compatibility issue

#4073 Use configure_file for generated files in modules
  cmake/HPX_AddModule.cmake
  cmake/templates/force_linking.cpp.in
  cmake/templates/force_linking.hpp.in
  cmake/templates/global_module_header.hpp.in
Labels: category: modules

#4066 Switching the use of message(STATUS "...") to hpx_info
  libs/algorithms/tests/CMakeLists.txt
  libs/allocator_support/tests/CMakeLists.txt
  libs/assertion/tests/CMakeLists.txt
  libs/cache/tests/CMakeLists.txt
  libs/collectives/tests/CMakeLists.txt
  libs/concepts/tests/CMakeLists.txt
  libs/concurrency/tests/CMakeLists.txt
  libs/config/tests/CMakeLists.txt
  libs/create_library_skeleton.py
  libs/datastructures/tests/CMakeLists.txt
  libs/errors/tests/CMakeLists.txt
  libs/filesystem/tests/CMakeLists.txt
  libs/format/tests/CMakeLists.txt
  libs/hardware/tests/CMakeLists.txt
  libs/hashing/tests/CMakeLists.txt
  libs/iterator_support/tests/CMakeLists.txt
  libs/logging/tests/CMakeLists.txt
  libs/parallel_executors/tests/CMakeLists.txt
  libs/preprocessor/tests/CMakeLists.txt
  libs/program_options/tests/CMakeLists.txt
  libs/resiliency/tests/CMakeLists.txt
  libs/segmented_algorithms/tests/CMakeLists.txt
  libs/statistics/tests/CMakeLists.txt
  libs/testing/tests/CMakeLists.txt
  libs/thread_support/tests/CMakeLists.txt
  libs/timing/tests/CMakeLists.txt
  libs/topology/tests/CMakeLists.txt
  libs/type_support/tests/CMakeLists.txt
  libs/util/tests/CMakeLists.txt
Labels: category: modules, type: cleanup

#4065 Move Boost.Filesystem handling to filesystem module
  cmake/HPX_SetupBoost.cmake
  libs/filesystem/CMakeLists.txt
Labels: category: boost, category: modules

#4077 Add missing include that causes build fails
  hpx/runtime/threads/detail/scheduling_loop.hpp
Labels: category: core, type: enhancement

#4079 Add missing tests for iterator_support module
  libs/datastructures/tests/regressions/CMakeLists.txt
  libs/datastructures/tests/regressions/optional_swap_3200.cpp
  libs/datastructures/tests/regressions/tuple_serialization_803.cpp
  libs/datastructures/tests/unit/CMakeLists.txt
  libs/datastructures/tests/unit/tuple.cpp
  libs/iterator_support/tests/unit/CMakeLists.txt
  libs/iterator_support/tests/unit/iterator_adaptor.cpp
  libs/iterator_support/tests/unit/iterator_facade.cpp
  libs/iterator_support/tests/unit/iterator_tests.hpp
  tests/regressions/util/CMakeLists.txt
  tests/unit/util/CMakeLists.txt
  tests/unit/util/iterator/CMakeLists.txt
Labels: category: modules, category: tests

#4062 The cpu_features tool fails to compile on anything but x86 architectures
  CMakeLists.txt
  tools/CMakeLists.txt
  tools/cpu_features.cpp
Labels: category: CMake, category: tools, type: compatibility issue, type: enhancement

#4084 Making sure destination array for std::transform is properly resized
  hpx/plugins/parcelport_factory.hpp
  libs/plugin/include/hpx/plugin/abstract_factory.hpp
Labels: type: enhancement

#4083 Adapting thread_queue_mc to behave even if no 128bit atomics are available
  hpx/runtime/threads/policies/shared_priority_queue_scheduler.hpp
  hpx/runtime/threads/policies/thread_queue_mc.hpp
Labels: category: threadmanager, type: compatibility issue, type: enhancement

#4058 Do not build networking tests when networking disabled
  tests/unit/CMakeLists.txt
Labels: category: tests, type: compatibility issue

#4082 Fix compilation on GCC 5
  libs/plugin/include/hpx/plugin/export_plugin.hpp
Labels: type: compatibility issue

#4081 Adding option allowing to force using Boost.FileSystem
  libs/filesystem/CMakeLists.txt
  libs/filesystem/include/hpx/filesystem.hpp
  src/util/parse_command_line.cpp
Labels: category: CMake, category: modules, type: compatibility issue, type: enhancement

#4080 Updating module dependencies
  libs/algorithms/CMakeLists.txt
  libs/allocator_support/CMakeLists.txt
  libs/assertion/CMakeLists.txt
  libs/cache/CMakeLists.txt
  libs/collectives/CMakeLists.txt
  libs/concepts/CMakeLists.txt
  libs/concurrency/CMakeLists.txt
  libs/config/CMakeLists.txt
  libs/debugging/CMakeLists.txt
  libs/errors/CMakeLists.txt
  libs/execution/CMakeLists.txt
  libs/format/CMakeLists.txt
  libs/functional/CMakeLists.txt
  libs/hardware/CMakeLists.txt
  libs/hashing/CMakeLists.txt
  libs/iterator_support/CMakeLists.txt
  libs/logging/CMakeLists.txt
  libs/plugin/CMakeLists.txt
  libs/preprocessor/CMakeLists.txt
  libs/segmented_algorithms/CMakeLists.txt
  libs/statistics/CMakeLists.txt
  libs/testing/CMakeLists.txt
  libs/timing/CMakeLists.txt
  libs/topology/CMakeLists.txt
  libs/type_support/CMakeLists.txt
  libs/util/CMakeLists.txt
Labels: category: modules, type: enhancement

#4087 Making hpx::util::any compatible with C++17
  cmake/HPX_AddConfigTest.cmake
  cmake/HPX_PerformCxxFeatureTests.cmake
  cmake/tests/cxx17_std_in_place_type_t.cpp
  examples/tuplespace/central_tuplespace/server/tuples_warehouse.hpp
  hpx/util/serializable_any.hpp
  hpx/util/storage/tuple.hpp
  libs/datastructures/include/hpx/datastructures/any.hpp
  libs/datastructures/tests/unit/any.cpp
  libs/datastructures/tests/unit/boost_any.cpp
  libs/program_options/include/hpx/program_options/detail/value_semantic.hpp
  libs/program_options/include/hpx/program_options/value_semantic.hpp
  libs/program_options/include/hpx/program_options/variables_map.hpp
  libs/program_options/src/value_semantic.cpp
  tests/unit/util/any_serialization.cpp
  tests/unit/util/serializable_any.cpp
  tests/unit/util/serializable_boost_any.cpp
Labels: category: data-structures, type: compatibility issue

#4026 Threading refactoring
  examples/resource_partitioner/shared_priority_queue_scheduler.hpp
  hpx/runtime/threads/detail/scheduled_thread_pool_impl.hpp
  hpx/runtime/threads/policies/shared_priority_queue_scheduler.hpp
  hpx/runtime/threads/thread.hpp
  hpx/runtime_handlers.hpp
  src/hpx_init.cpp
  src/runtime/threads/executors/current_executor.cpp
  src/runtime/threads/executors/this_thread_executors.cpp
  src/runtime/threads/thread.cpp
  src/runtime_handlers.cpp
  tests/unit/threads/thread.cpp
Labels: category: modules, type: cleanup

#4089 Make counters in coroutines optional
  CMakeLists.txt
  hpx/runtime/threads/coroutines/detail/context_generic_context.hpp
  hpx/runtime/threads/coroutines/detail/context_linux_x86.hpp
  hpx/runtime/threads/coroutines/detail/context_posix.hpp
  hpx/runtime/threads/coroutines/detail/context_windows_fibers.hpp
  src/runtime/threads/threadmanager_counters.cpp
  tests/unit/performance_counter/all_counters.cpp
Labels: category: performance counters, category: scheduler, type: optimization

#4094 Deprecate HPX_WITH_MORE_THAN_64_THREADS
  CMakeLists.txt
Labels: category: CMake

#4095 Stop-gap measure until cmake overhaul is in place
  libs/topology/CMakeLists.txt
Labels: category: CMake, type: compatibility issue, type: enhancement

#4096 Removing return of thread_result_type from functions not needing them
  hpx/lcos/detail/future_data.hpp
  hpx/lcos/local/packaged_continuation.hpp
Labels: type: compatibility issue, type: enhancement

#4098 Fix append module path in module CMakeLists template
  libs/create_library_skeleton.py
Labels: category: CMake, category: modules

#4092 Add support for mi-malloc
  CMakeLists.txt
  cmake/HPX_SetupAllocator.cmake
  cmake/templates/conf.py.in
  docs/sphinx/manual/building_hpx.rst
Labels: type: enhancement

#4106 use std::round for guaranteed rounding without errors
  src/runtime/threads/policies/parse_affinity_options.cpp
Labels: category: init, type: compatibility issue, type: enhancement

#3961 Making hpx::util::tuple<Ts...> and std::tuple<Ts...> convertible
  libs/datastructures/CMakeLists.txt
  libs/datastructures/include/hpx/datastructures/tuple.hpp
  libs/datastructures/include/hpx/traits/is_tuple_like.hpp
  libs/datastructures/tests/unit/any.cpp
  libs/datastructures/tests/unit/small_big_object.hpp
  libs/datastructures/tests/unit/tuple.cpp
  libs/filesystem/CMakeLists.txt
Labels: type: compatibility issue, type: enhancement

#4109 Overload for start without entry point/argv.
  hpx/hpx_init.hpp
  hpx/hpx_init_impl.hpp
  hpx/hpx_start.hpp
  hpx/hpx_start_impl.hpp
Labels: category: init, type: enhancement

#4110 Adding missing SPDX tags
  .clang-format
  .clang-tidy
  .editorconfig
  .gitattributes
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/hpx-no-inspect
  .gitignore
  cmake/HPX_AddDefinitions.cmake
  cmake/templates/HPXConfig.cmake.in
  cmake/templates/HPXMacros.cmake.in
  cmake/templates/autodoc.doxy.in
  cmake/templates/cmake_toolchains.rst.in
  cmake/templates/cmake_variables.rst.in
  cmake/templates/conf.py.in
  cmake/templates/config_defines.hpp.in
  cmake/templates/config_defines_strings.hpp.in
  cmake/templates/config_defines_strings_for_modules.hpp.in
  cmake/templates/config_defines_strings_modules.hpp.in
  cmake/templates/config_version.hpp.in
  cmake/templates/force_linking.cpp.in
  cmake/templates/force_linking.hpp.in
  cmake/templates/global_module_header.hpp.in
  cmake/templates/hpx_application.pc.in
  cmake/templates/hpx_application_debug.pc.in
  cmake/templates/hpx_bazel_defs.bzl.in
  cmake/templates/hpx_bazel_defs_debug.bzl.in
  cmake/templates/hpx_component.pc.in
  cmake/templates/hpx_component_debug.pc.in
  cmake/templates/hpxcxx.in
  cmake/templates/hpxrun.py.in
  cmake/templates/modules.cpp.in
  cmake/templates/static_parcelports.hpp.in
  src/custom_exception_info.cpp
  src/hpx_init.cpp
  src/hpx_main.cpp
  src/hpx_main_argc_argv.cpp
  src/hpx_main_variables_map.cpp
  src/hpx_main_winsocket.cpp
  src/hpx_user_main.cpp
  src/hpx_user_main_argc_argv.cpp
  src/hpx_wrap.cpp
  src/main.cpp
  src/pre_main.cpp
  src/runtime.cpp
  src/runtime_handlers.cpp
  src/runtime_impl.cpp
  src/state.cpp
  src/version.cpp
Labels: type: compatibility issue, type: enhancement

#4108 Making sure C++ standard is properly detected and propagated
  CMakeLists.txt
  cmake/HPX_AddDefinitions.cmake
  cmake/HPX_DetectCppDialect.cmake
  examples/resource_partitioner/async_customization.cpp
  hpx/runtime/threads/executors/guided_pool_executor.hpp
  tests/unit/serialization/serialization_brace_initializable.cpp
Labels: type: compatibility issue, type: enhancement

#4111 Fixing performance regression introduced earlier
  hpx/runtime/threads/policies/lockfree_queue_backends.hpp
Labels: category: threadmanager, type: enhancement
