Repository STEllAR-GROUP/hpx, pull requests merged in 2019-08, with the labels that each got.

#4007 Fixing migration for components that have actions returning a client
  hpx/lcos/gather.hpp
  hpx/runtime/actions/component_action.hpp
  hpx/runtime/components/server/migrate_component.hpp
  tests/unit/component/migrate_component.cpp
Labels: category: components, type: compatibility issue, type: enhancement

#3899 Remove old compatibility bases from make_action
  CMakeLists.txt
  examples/accumulators/server/template_function_accumulator.hpp
  examples/quickstart/print_to_console.cpp
  hpx/runtime/actions/basic_action.hpp
  hpx/traits/extract_action.hpp
Labels: category: actions, type: compatibility issue

#4010 Ignore stable tag on CircleCI
  .circleci/config.yml
Labels: category: CircleCi

#4011 Fixing cyclic dependencies between modules
  libs/algorithms/CMakeLists.txt
  libs/algorithms/include/hpx/parallel/algorithms/detail/transfer.hpp
  libs/algorithms/include/hpx/parallel/datapar.hpp
  libs/algorithms/include/hpx/parallel/datapar/iterator_helpers.hpp
  libs/algorithms/include/hpx/parallel/datapar/loop.hpp
  libs/algorithms/include/hpx/parallel/datapar/transform_loop.hpp
  libs/algorithms/include/hpx/parallel/datapar/zip_iterator.hpp
  libs/algorithms/include/hpx/traits/segmented_iterator_traits.hpp
  libs/parallel_executors/CMakeLists.txt
  libs/parallel_executors/include/hpx/parallel/algorithms/detail/is_negative.hpp
  libs/parallel_executors/include/hpx/parallel/algorithms/detail/predicates.hpp
  libs/parallel_executors/include/hpx/parallel/exception_list.hpp
  libs/segmented_algorithms/CMakeLists.txt
  libs/segmented_algorithms/include/hpx/parallel/segmented_algorithms/detail/transfer.hpp
  libs/segmented_algorithms/tests/unit/partitioned_vector_copy.cpp
  libs/segmented_algorithms/tests/unit/partitioned_vector_move.cpp
Labels: category: modules, type: cleanup, type: enhancement

#4013 Update URL to test output conversion script
  .circleci/config.yml
Labels: category: CircleCi

#3701 MoodyCamel lockfree
  hpx/runtime/threads/policies/lockfree_queue_backends.hpp
  hpx/runtime/threads/policies/shared_priority_queue_scheduler.hpp
  hpx/runtime/threads/policies/thread_queue_mc.hpp
  hpx/util/lockfree/concurrentqueue.hpp
Labels: category: threadmanager, type: enhancement, type: optimization

#4012 Fix CUDA compilation
  hpx/compute/cuda/allocator.hpp
  hpx/util/detail/basic_function.hpp
  hpx/util/detail/empty_function.hpp
  libs/config/include/hpx/config/compiler_specific.hpp
  tests/unit/computeapi/host/CMakeLists.txt
  tests/unit/computeapi/host/block_allocator.cpp
Labels: category: compute, platform: CUDA

#4015 Avoid overwriting artifacts
  .circleci/config.yml
Labels: category: CircleCi, type: compatibility issue, type: enhancement

#3998 Add process thread binding option
  docs/sphinx/manual/launching_and_configuring_hpx_applications.rst
  hpx/runtime/threads/policies/affinity_data.hpp
  hpx/runtime/threads/topology.hpp
  hpx/util/command_line_handling.hpp
  src/runtime/threads/policies/affinity_data.cpp
  src/runtime/threads/policies/parse_affinity_options.cpp
  src/util/command_line_handling.cpp
  src/util/parse_command_line.cpp
Labels: affecting: CSCS, category: affinity, type: enhancement

#4018 Update deprecated header in thread_queue_mc.hpp
  hpx/runtime/threads/policies/thread_queue_mc.hpp
Labels: category: modules, category: scheduler, type: compatibility issue

#4014 Future overheads
  tests/performance/local/future_overhead.cpp
Labels: category: tests, type: enhancement

#4024 Fix padding calculation in cache_aligned_data.hpp
  hpx/runtime/threads/topology.hpp
  hpx/util/cache_aligned_data.hpp
Labels: category: topology, type: defect

#4021 Warn about compiling in C++11 mode
  cmake/HPX_DetectCppDialect.cmake
Labels: type: compatibility issue

#4022 Make sure process mask option is passed to affinity_data
  src/runtime/resource/detail/detail_partitioner.cpp
Labels: category: affinity, type: defect

#4027 Remove GitLab CI configuration
  .gitlab-ci.yml
  .gitlab-ci/cmake.yml
  .gitlab-ci/core.yml
  .gitlab-ci/docker.yml
  .gitlab-ci/docs.yml
  .gitlab-ci/inspect.yml
  .gitlab-ci/linux/x86/clang-7.0.1/boost-1.65.1/debug.yml
  .gitlab-ci/linux/x86/clang-7.0.1/boost-1.65.1/release.yml
  .gitlab-ci/stages.yml
  .gitlab-ci/test.yml
Labels: category: CI

#4035 Fixing support for mpirun
  plugins/parcelport/mpi/mpi_environment.cpp
  src/util/command_line_handling.cpp
Labels: category: init, category: parcel transport, type: compatibility issue, type: enhancement

#4039 Moving non-serializable any (any_nonser) to datastructures module
  hpx/util/any.hpp
  hpx/util/serializable_any.hpp
  hpx/util/storage/tuple.hpp
  libs/datastructures/CMakeLists.txt
  libs/datastructures/include/hpx/datastructures/any.hpp
  libs/datastructures/include/hpx/traits/supports_streaming_with_any.hpp
  libs/datastructures/include_compatibility/hpx/util/any.hpp
  libs/datastructures/tests/unit/CMakeLists.txt
  libs/datastructures/tests/unit/any.cpp
  libs/datastructures/tests/unit/boost_any.cpp
  libs/datastructures/tests/unit/small_big_object.hpp
  src/util/serializable_any.cpp
  tests/performance/network/osu/osu_bcast.cpp
  tests/unit/util/CMakeLists.txt
  tests/unit/util/any_serialization.cpp
  tests/unit/util/serializable_any.cpp
  tests/unit/util/serializable_boost_any.cpp
Labels: category: data-structures, category: modules, type: compatibility issue

#4041 Pass HPX_STANDARD on to dependent projects via HPXConfig.cmake
  cmake/HPX_DetectCppDialect.cmake
  cmake/templates/HPXConfig.cmake.in
Labels: category: CMake, type: compatibility issue

#4047 Add boost/filesystem headers to inspect deprecated headers
  libs/filesystem/include/hpx/filesystem.hpp
  tools/inspect/deprecated_include_check.cpp
Labels: category: boost, category: modules, type: cleanup

#4025 Refactoring thread queue configuration options
  CMakeLists.txt
  examples/resource_partitioner/async_customization.cpp
  examples/resource_partitioner/guided_pool_test.cpp
  examples/resource_partitioner/oversubscribing_resource_partitioner.cpp
  examples/resource_partitioner/shared_priority_queue_scheduler.hpp
  examples/resource_partitioner/simple_resource_partitioner.cpp
  hpx/plugins/parcelport_factory_base.hpp
  hpx/runtime/resource/detail/partitioner.hpp
  hpx/runtime/resource/partitioner_fwd.hpp
  hpx/runtime/threads/detail/scheduling_loop.hpp
  hpx/runtime/threads/executors/thread_pool_os_executors.hpp
  hpx/runtime/threads/policies/callback_notifier.hpp
  hpx/runtime/threads/policies/local_priority_queue_scheduler.hpp
  hpx/runtime/threads/policies/local_queue_scheduler.hpp
  hpx/runtime/threads/policies/queue_helpers.hpp
  hpx/runtime/threads/policies/scheduler_base.hpp
  hpx/runtime/threads/policies/shared_priority_queue_scheduler.hpp
  hpx/runtime/threads/policies/thread_queue.hpp
  hpx/runtime/threads/policies/thread_queue_init_parameters.hpp
  hpx/runtime/threads/policies/thread_queue_mc.hpp
  hpx/runtime/threads/thread_init_data.hpp
  hpx/runtime/threads_fwd.hpp
  libs/config/include/hpx/config.hpp
  libs/parallel_executors/include/hpx/parallel/executors/thread_execution.hpp
  libs/parallel_executors/tests/unit/CMakeLists.txt
  libs/parallel_executors/tests/unit/service_executors.cpp
  libs/parallel_executors/tests/unit/standalone_thread_pool_os_executors.cpp
  src/runtime/resource/detail/detail_partitioner.cpp
  src/runtime/threads/executors/current_executor.cpp
  src/runtime/threads/executors/pool_executor.cpp
  src/runtime/threads/executors/thread_pool_executors.cpp
  src/runtime/threads/executors/thread_pool_os_executors.cpp
  src/runtime/threads/policies/scheduler_base.cpp
  src/runtime/threads/thread_helpers.cpp
  src/runtime/threads/threadmanager.cpp
  src/util/runtime_configuration.cpp
  tests/unit/threads/schedule_last.cpp
  tests/unit/topology/numa_allocator.cpp
Labels: category: modules, category: scheduler
