Repository STEllAR-GROUP/hpx, pull requests merged in 2019-01, with the labels that each got.

#3599 Making sure networking is disabled for default one-locality-runs
  hpx/runtime/agas/addressing_service.hpp
  hpx/runtime/parcelset/parcelhandler.hpp
  hpx/runtime/threads/detail/scheduling_loop.hpp
  hpx/runtime/threads/policies/scheduler_base.hpp
  hpx/runtime_fwd.hpp
  hpx/util/runtime_configuration.hpp
  src/runtime.cpp
  src/runtime/agas/addressing_service.cpp
  src/runtime/agas/interface.cpp
  src/runtime/applier/applier.cpp
  src/runtime/parcelset/parcelhandler.cpp
  src/runtime_impl.cpp
  src/util/command_line_handling.cpp
  src/util/parse_command_line.cpp
  src/util/runtime_configuration.cpp
  tests/unit/component/CMakeLists.txt
  tests/unit/component/launch_process.cpp
  tests/unit/parallel/executors/service_executors.cpp
  tests/unit/parcelset/put_parcels.cpp
  tests/unit/threads/start_stop_callbacks.cpp
Labels: category: init, category: parcel transport, type: enhancement

#3591 Fix compilation error on arm7 architecture. Compiles and runs on Fedora 29 on Pi 3.
  hpx/lcos/local/spinlock.hpp
Labels: platform: ARM

#3603 Improve the error message for using to less MAX_CPU_COUNT
  src/runtime/resource/detail/detail_partitioner.cpp
Labels: category: core, category: init, category: topology, type: compatibility issue, type: enhancement

#3605 Add 'inline' to definition of checkpoint stream operators to fix link error
  hpx/util/checkpoint.hpp
Labels: category: core, type: enhancement

#3606 Add nvcc to exclude constexpress since is it not supported by nvcc
  hpx/config/constexpr.hpp
Labels: category: core, type: compatibility issue, type: enhancement

#3505 Fixing type attribute warning for transfer_action
  hpx/components/containers/partitioned_vector/export_definitions.hpp
  hpx/runtime/actions/basic_action.hpp
Labels: category: actions, compiler: gcc, type: compatibility issue

#3607 Adding configuration key that allows to explicitly add a directory to the component search path
  hpx/util/ini.hpp
  hpx/util/runtime_configuration.hpp
  src/util/runtime_configuration.cpp
Labels: category: init, type: compatibility issue, type: enhancement

#3611 Include GNUInstallDirs earlier to have it available for subdirectories
  CMakeLists.txt
Labels: category: CMake, type: defect

#3614 Restructuring counter data in scheduler to reduce false sharing
  hpx/runtime/threads/detail/scheduled_thread_pool.hpp
  hpx/runtime/threads/detail/scheduled_thread_pool_impl.hpp
  hpx/runtime/threads/detail/scheduling_loop.hpp
  src/runtime/threads/executors/this_thread_executors.cpp
  src/runtime/threads/executors/thread_pool_executors.cpp
Labels: category: threadmanager, type: enhancement, type: optimization

#3617 Fix link to the gpg key (#2)
  README.rst
Labels: category: documentation, type: enhancement

#3620 Adding support for gitlab runner
  .clang-tidy
  .gitlab-ci.yml
  .gitlab-ci/cmake.yml
  .gitlab-ci/core.yml
  .gitlab-ci/docker.yml
  .gitlab-ci/docs.yml
  .gitlab-ci/inspect.yml
  .gitlab-ci/linux/x86/clang-7.0.1/boost-1.65.1/debug.yml
  .gitlab-ci/linux/x86/clang-7.0.1/boost-1.65.1/release.yml
  .gitlab-ci/stages.yml
  .gitlab-ci/test.yml
  hpx/config/autolink.hpp
  hpx/plugins/binary_filter_factory.hpp
  hpx/runtime/threads/coroutines/detail/context_base.hpp
  hpx/util/debug/demangle_helper.hpp
  hpx/util/memory_chunk.hpp
  src/runtime/threads/coroutines/detail/tss.cpp
  src/util/register_locks_globally.cpp
  tests/unit/threads/tss.cpp
Labels: category: CircleCi

#3621 Update copyright year and other small formatting fixes
  README.rst
  cmake/HPX_AddDefinitions.cmake
  cmake/packaging/rpm/CMakeLists.txt
  cmake/templates/conf.py.in
  docs/sphinx/additional_material.rst
  docs/sphinx/contributing/release_procedure.rst
  src/version.cpp
Labels: category: documentation

#3624 Updating the default order of priority for thread_description
  hpx/util/thread_description.hpp
  src/util/thread_description.cpp
Labels: category: APEX, category: threadmanager, type: compatibility issue, type: enhancement

#3626 Fix cancelable_action_client example
  examples/cancelable_action/cancelable_action/server/cancelable_action.hpp
Labels: category: examples, category: tests, type: defect

#3619 Store debug logs and core dumps on CircleCI
  .circleci/config.yml
  CMakeLists.txt
  cmake/HPX_AddTest.cmake
Labels: category: CMake, category: CircleCi, category: tests

#3632 Add instructions on getting HPX to documentation
  docs/sphinx/manual.rst
  docs/sphinx/manual/building_hpx.rst
  docs/sphinx/manual/getting_hpx.rst
Labels: category: documentation

#3633 Replace deprecated boost endian macros
  hpx/runtime/parcelset/parcelport_impl.hpp
  hpx/runtime/serialization/array.hpp
  hpx/runtime/serialization/input_archive.hpp
  hpx/runtime/serialization/output_archive.hpp
  hpx/util/integer/endian.hpp
  src/runtime/parcelset/parcelhandler.cpp
  src/util/runtime_configuration.cpp
  tests/performance/local/serialization_overhead.cpp
  tests/unit/serialization/zero_copy_serialization.cpp
Labels: type: compatibility issue, type: enhancement

#3627 Implement util::function_ref
  hpx/include/util.hpp
  hpx/util/detail/basic_function.hpp
  hpx/util/detail/empty_function.hpp
  hpx/util/detail/vtable/vtable.hpp
  hpx/util/function_ref.hpp
  tests/unit/util/CMakeLists.txt
  tests/unit/util/function/CMakeLists.txt
  tests/unit/util/function/function_ref_wrapper.cpp
  tests/unit/util/function_ref.cpp
Labels: category: core, type: enhancement

#3525 Segmented algorithms
  hpx/include/parallel_adjacent_difference.hpp
  hpx/include/parallel_adjacent_find.hpp
  hpx/include/parallel_all_any_none_of.hpp
  hpx/parallel/algorithms/adjacent_difference.hpp
  hpx/parallel/algorithms/adjacent_find.hpp
  hpx/parallel/algorithms/all_any_none.hpp
  hpx/parallel/algorithms/transform_reduce_binary.hpp
  hpx/parallel/segmented_algorithms/adjacent_difference.hpp
  hpx/parallel/segmented_algorithms/adjacent_find.hpp
  hpx/parallel/segmented_algorithms/all_any_none.hpp
  hpx/parallel/segmented_algorithms/detail/reduce.hpp
  hpx/parallel/segmented_algorithms/transform_reduce.hpp
  hpx/parallel/util/loop.hpp
  tests/unit/parallel/segmented_algorithms/CMakeLists.txt
  tests/unit/parallel/segmented_algorithms/partitioned_vector_adjacent_difference1.cpp
  tests/unit/parallel/segmented_algorithms/partitioned_vector_adjacent_difference2.cpp
  tests/unit/parallel/segmented_algorithms/partitioned_vector_adjacent_find1.cpp
  tests/unit/parallel/segmented_algorithms/partitioned_vector_adjacent_find2.cpp
  tests/unit/parallel/segmented_algorithms/partitioned_vector_all_of1.cpp
  tests/unit/parallel/segmented_algorithms/partitioned_vector_all_of2.cpp
  tests/unit/parallel/segmented_algorithms/partitioned_vector_any_of1.cpp
  tests/unit/parallel/segmented_algorithms/partitioned_vector_any_of2.cpp
  tests/unit/parallel/segmented_algorithms/partitioned_vector_none1.cpp
  tests/unit/parallel/segmented_algorithms/partitioned_vector_none2.cpp
  tests/unit/parallel/segmented_algorithms/partitioned_vector_transform1.cpp
  tests/unit/parallel/segmented_algorithms/partitioned_vector_transform2.cpp
  tests/unit/parallel/segmented_algorithms/partitioned_vector_transform_reduce1.cpp
  tests/unit/parallel/segmented_algorithms/partitioned_vector_transform_reduce2.cpp
  tests/unit/parallel/segmented_algorithms/partitioned_vector_transform_reduce_binary1.cpp
  tests/unit/parallel/segmented_algorithms/partitioned_vector_transform_reduce_binary2.cpp
Labels: category: algorithms, type: compatibility issue, type: enhancement

#3637 Merging the executor-enabled overloads of shared_future<>::then
  hpx/lcos/future.hpp
  tests/regressions/lcos/CMakeLists.txt
  tests/regressions/lcos/shared_future_then_with_executor_3634.cpp
Labels: category: LCOs, category: executors, type: enhancement
