Repository STEllAR-GROUP/hpx, pull requests merged in 2020-08, with the labels that each got.

#4870 Making move conforming with C++20
  libs/algorithms/include/hpx/parallel/algorithms/move.hpp
  libs/algorithms/include/hpx/parallel/container_algorithms/move.hpp
  libs/algorithms/tests/unit/algorithms/move.cpp
  libs/algorithms/tests/unit/container_algorithms/move_range.cpp
  libs/include/include/hpx/algorithm.hpp
  libs/segmented_algorithms/tests/unit/partitioned_vector_move.cpp
Labels: category: algorithms, type: compatibility issue, type: enhancement

#4874 Adding non-policy tests to all_of, any_of, and none_of
  libs/algorithms/include/hpx/parallel/algorithms/all_any_none.hpp
  libs/algorithms/tests/unit/algorithms/all_of.cpp
  libs/algorithms/tests/unit/algorithms/any_of.cpp
  libs/algorithms/tests/unit/algorithms/none_of.cpp
  libs/algorithms/tests/unit/container_algorithms/all_of_range.cpp
  libs/algorithms/tests/unit/container_algorithms/any_of_range.cpp
  libs/algorithms/tests/unit/container_algorithms/none_of_range.cpp
Labels: category: algorithms, type: compatibility issue, type: enhancement

#4881 Adds different runtime exception when registering thread with the HPX runtime
  libs/threading_base/src/register_thread.cpp
  wrap/include/hpx/wrap_main.hpp
  wrap/src/hpx_wrap.cpp
Labels: category: init, type: enhancement

#4873 Set CUDA compute capability on rostam Jenkins builds
  .jenkins/cscs/ctest.cmake
  .jenkins/lsu/ctest.cmake
  .jenkins/lsu/env-gcc-9-cuda-11.sh
Labels: category: CI

#4876 Adding example demonstrating how to disable thread stealing during the execution of parallel algorithms
  examples/quickstart/CMakeLists.txt
  examples/quickstart/disable_thread_stealing_executor.cpp
Labels: category: algorithms, category: executors, type: enhancement

#4882 Fixing exception handling for hpx::copy and adding missing tests
  libs/algorithms/include/hpx/parallel/algorithms/copy.hpp
  libs/algorithms/tests/unit/algorithms/copy.cpp
  libs/algorithms/tests/unit/algorithms/copyif_exception.cpp
  libs/algorithms/tests/unit/algorithms/copyif_forward.cpp
  libs/algorithms/tests/unit/algorithms/copyif_random.cpp
  libs/algorithms/tests/unit/algorithms/copyn.cpp
  libs/algorithms/tests/unit/container_algorithms/copy_range.cpp
  libs/algorithms/tests/unit/container_algorithms/copyif_range.cpp
  libs/algorithms/tests/unit/container_algorithms/copyn_range.cpp
Labels: category: algorithms, type: compatibility issue, type: enhancement

#4887 Making sure remotely thrown (non-hpx) exceptions are properly marshaled back to invocation site
  src/util/serialize_exception.cpp
  tests/regressions/util/CMakeLists.txt
  tests/regressions/util/serialize_exception_4886.cpp
Labels: category: core, type: compatibility issue, type: enhancement

#4868 Fix miscellaneous header problems
  libs/actions/include_compatibility/hpx/runtime/actions/action_support.hpp
  libs/actions/include_compatibility/hpx/runtime/actions/base_action.hpp
  libs/actions/include_compatibility/hpx/runtime/actions/transfer_base_action.hpp
  libs/actions/include_compatibility/hpx/runtime/actions_fwd.hpp
  libs/actions_base/include_compatibility/hpx/runtime/actions/action_priority.hpp
  libs/actions_base/include_compatibility/hpx/runtime/actions/basic_action.hpp
  libs/actions_base/include_compatibility/hpx/runtime/actions/basic_action_fwd.hpp
  libs/actions_base/include_compatibility/hpx/runtime/actions/component_action.hpp
  libs/actions_base/include_compatibility/hpx/runtime/actions/plain_action.hpp
  libs/actions_base/include_compatibility/hpx/runtime/actions_base_fwd.hpp
  libs/actions_base/include_compatibility/hpx/traits/action_priority.hpp
  libs/actions_base/include_compatibility/hpx/traits/action_remote_result.hpp
  libs/actions_base/include_compatibility/hpx/traits/action_select_direct_execution.hpp
  libs/actions_base/include_compatibility/hpx/traits/action_stacksize.hpp
  libs/actions_base/include_compatibility/hpx/traits/extract_action.hpp
  libs/async_cuda/include_compatibility/hpx/compute/cuda/get_targets.hpp
  libs/async_cuda/include_compatibility/hpx/compute/cuda/target.hpp
  libs/components_base/include_compatibility/hpx/runtime/components/pinned_ptr.hpp
  libs/components_base/include_compatibility/hpx/runtime/get_lva.hpp
  libs/components_base/include_compatibility/hpx/traits/component_pin_support.hpp
  libs/components_base/include_compatibility/hpx/traits/is_component.hpp
  libs/distributed_executors/include_compatibility/hpx/parallel/executors/distribution_policy_executor.hpp
  libs/execution/CMakeLists.txt
  libs/execution_base/include_compatibility/hpx/basic_execution/agent_base.hpp
  libs/execution_base/include_compatibility/hpx/basic_execution/agent_ref.hpp
  libs/execution_base/include_compatibility/hpx/basic_execution/context_base.hpp
  libs/execution_base/include_compatibility/hpx/basic_execution/execution.hpp
  libs/execution_base/include_compatibility/hpx/basic_execution/register_locks.hpp
  libs/execution_base/include_compatibility/hpx/basic_execution/resource_base.hpp
  libs/execution_base/include_compatibility/hpx/basic_execution/this_thread.hpp
  libs/executors/CMakeLists.txt
  libs/executors/include/hpx/executors/current_executor.hpp
  libs/executors/include/hpx/executors/restricted_thread_pool_executor.hpp
  libs/executors/include/hpx/executors/thread_pool_executor.hpp
  libs/executors/include_compatibility/hpx/parallel/executors/thread_pool_executor.hpp
  libs/functional/include_compatibility/hpx/functional/result_of.hpp
  libs/functional/include_compatibility/hpx/functional/traits/is_callable.hpp
  libs/lcos_local/include_compatibility/hpx/local_lcos.hpp
  libs/lcos_local/include_compatibility/hpx/local_lcos/and_gate.hpp
  libs/lcos_local/include_compatibility/hpx/local_lcos/channel.hpp
  libs/lcos_local/include_compatibility/hpx/local_lcos/composable_guard.hpp
  libs/lcos_local/include_compatibility/hpx/local_lcos/conditional_trigger.hpp
  libs/lcos_local/include_compatibility/hpx/local_lcos/packaged_task.hpp
  libs/lcos_local/include_compatibility/hpx/local_lcos/promise.hpp
  libs/lcos_local/include_compatibility/hpx/local_lcos/receive_buffer.hpp
  libs/lcos_local/include_compatibility/hpx/local_lcos/spmd_block.hpp
  libs/lcos_local/include_compatibility/hpx/local_lcos/trigger.hpp
  libs/prefix/include_compatibility/hpx/util/find_prefix.hpp
  libs/runtime_local/include/hpx/runtime_local/pool_executor.hpp
  libs/thread_executors/include/hpx/thread_executors/current_executor.hpp
  tools/add_compat_headers.sh
Labels: category: modules, type: compatibility issue, type: defect

#4875 JOSS paper review responses
  .github/CONTRIBUTING.md
  docs/sphinx/contributing.rst
  docs/sphinx/contributing/contributing.rst
  docs/sphinx/contributing/governance.rst
Labels: category: documentation, type: enhancement

#4893 Remove last use of std::result_of, removed in C++20
  libs/functional/include/hpx/functional/invoke_result.hpp
Labels: category: core, type: compatibility issue, type: enhancement

#4872 Force partitioned vector scan tests to run serially
  cmake/HPX_AddTest.cmake
  libs/segmented_algorithms/tests/unit/CMakeLists.txt
Labels: category: tests

#4892 Adding replay_executor and replicate_executor
  libs/resiliency/CMakeLists.txt
  libs/resiliency/include/hpx/resiliency/async_replay.hpp
  libs/resiliency/include/hpx/resiliency/async_replay_executor.hpp
  libs/resiliency/include/hpx/resiliency/async_replicate.hpp
  libs/resiliency/include/hpx/resiliency/async_replicate_executor.hpp
  libs/resiliency/include/hpx/resiliency/replay_executor.hpp
  libs/resiliency/include/hpx/resiliency/replicate_executor.hpp
  libs/resiliency/tests/unit/CMakeLists.txt
  libs/resiliency/tests/unit/replay_executor.cpp
  libs/resiliency/tests/unit/replicate_executor.cpp
Labels: category: executors, type: enhancement

#4894 Fix exception handling for tasks
  hpx/lcos/detail/promise_base.hpp
  libs/async_combinators/include/hpx/async_combinators/split_future.hpp
  libs/async_cuda/include/hpx/async_cuda/cublas_executor.hpp
  libs/async_cuda/include/hpx/async_cuda/cuda_executor.hpp
  libs/executors/include/hpx/executors/dataflow.hpp
  libs/executors/include/hpx/executors/service_executors.hpp
  libs/futures/include/hpx/futures/detail/future_data.hpp
  libs/futures/include/hpx/futures/futures_factory.hpp
  libs/futures/include/hpx/futures/packaged_continuation.hpp
  libs/futures/tests/regressions/future_unwrap_878.cpp
  libs/lcos_local/include/hpx/lcos_local/packaged_task.hpp
Labels: category: algorithms, category: core, type: defect

#4864 Release notes 1.5.0
  .github/SUPPORT.md
  CMakeLists.txt
  docs/sphinx/about_hpx/people.rst
  docs/sphinx/contributing/release_procedure.rst
  docs/sphinx/manual/building_hpx.rst
  docs/sphinx/manual/creating_hpx_projects.rst
  docs/sphinx/manual/hpx_runtime_and_resources.rst
  docs/sphinx/manual/optimizing_hpx_applications.rst
  docs/sphinx/manual/starting_the_hpx_runtime.rst
  docs/sphinx/quickstart.rst
  docs/sphinx/releases/whats_new_1_5_0.rst
  hpx/lcos_fwd.hpp
  libs/affinity/CMakeLists.txt
  libs/allocator_support/CMakeLists.txt
  libs/assertion/CMakeLists.txt
  libs/batch_environments/CMakeLists.txt
  libs/cache/CMakeLists.txt
  libs/checkpoint/CMakeLists.txt
  libs/collectives/CMakeLists.txt
  libs/concepts/CMakeLists.txt
  libs/concurrency/CMakeLists.txt
  libs/config/CMakeLists.txt
  libs/coroutines/CMakeLists.txt
  libs/create_library_skeleton.py
  libs/datastructures/CMakeLists.txt
  libs/debugging/CMakeLists.txt
  libs/errors/CMakeLists.txt
  libs/filesystem/CMakeLists.txt
  libs/format/CMakeLists.txt
  libs/functional/CMakeLists.txt
  libs/hardware/CMakeLists.txt
  libs/hashing/CMakeLists.txt
  libs/iterator_support/CMakeLists.txt
  libs/lcos_local/CMakeLists.txt
  libs/logging/CMakeLists.txt
  libs/plugin/CMakeLists.txt
  libs/preprocessor/CMakeLists.txt
  libs/resource_partitioner/CMakeLists.txt
  libs/serialization/CMakeLists.txt
  libs/static_reinit/CMakeLists.txt
  libs/statistics/CMakeLists.txt
  libs/synchronization/CMakeLists.txt
  libs/testing/CMakeLists.txt
  libs/thread_support/CMakeLists.txt
  libs/threadmanager/CMakeLists.txt
  libs/timing/CMakeLists.txt
  libs/topology/CMakeLists.txt
  libs/type_support/CMakeLists.txt
  libs/util/CMakeLists.txt
  libs/version/CMakeLists.txt
  tools/.codespell_whitelist
  tools/generate_issue_pr_list.sh
  tools/roll_release.sh
Labels: category: documentation, type: compatibility issue, type: enhancement

#4889 Restore old behaviour of not requiring linking to hpx_wrap when HPX_WITH_DYNAMIC_HPX_MAIN=OFF
  .jenkins/lsu/env-clang-7.sh
  CMakeLists.txt
  cmake/HPX_GeneratePackage.cmake
  examples/hello_world_component/CMakeLists.txt
  init/CMakeLists.txt
  init/include/hpx/hpx_main_impl.hpp
  init/src/main.cpp
  libs/init_runtime/src/hpx_init.cpp
  tests/unit/build/CMakeLists.txt
  wrap/CMakeLists.txt
  wrap/include/hpx/wrap_main.hpp
  wrap/src/hpx_wrap.cpp
Labels: category: CMake, type: compatibility issue, type: enhancement

#4898 Minor tweak to hpx::equal implementation
  libs/algorithms/include/hpx/parallel/algorithms/equal.hpp
Labels: category: algorithms, type: enhancement

#4896 Making generate() and generate_n conforming to C++20
  examples/quickstart/partitioned_vector_spmd_foreach.cpp
  examples/quickstart/potpourri.cpp
  libs/algorithms/include/hpx/parallel/algorithms/generate.hpp
  libs/algorithms/include/hpx/parallel/container_algorithms/generate.hpp
  libs/algorithms/tests/unit/algorithms/generate.cpp
  libs/algorithms/tests/unit/algorithms/generaten.cpp
  libs/algorithms/tests/unit/container_algorithms/generate_range.cpp
  libs/include/include/hpx/algorithm.hpp
  libs/segmented_algorithms/include/hpx/parallel/segmented_algorithms/generate.hpp
Labels: category: algorithms, type: compatibility issue, type: enhancement

#4902 Cancel previous pull requests builds before starting a new one with Jenkins
  .jenkins/cscs/entry.sh
  .jenkins/lsu/entry.sh
Labels: category: CI

#4903 Hide GITHUB_TOKEN environment variables from environment variable output
  libs/runtime_local/src/custom_exception_info.cpp
Labels: category: CI

#4906 Fixing unused variable warning
  hpx/lcos/detail/promise_base.hpp
  libs/actions_base/include/hpx/actions_base/basic_action.hpp
  libs/actions_base/include/hpx/actions_base/plain_action.hpp
  libs/async_distributed/include/hpx/async_distributed/detail/sync_implementations.hpp
  libs/components_base/include/hpx/components_base/traits/component_pin_support.hpp
  libs/coroutines/include/hpx/coroutines/detail/coroutine_stackless_self.hpp
  libs/coroutines/include/hpx/coroutines/stackless_coroutine.hpp
  libs/datastructures/include/hpx/datastructures/tuple.hpp
  libs/execution/include/hpx/execution/detail/post_policy_dispatch.hpp
  libs/execution/include/hpx/execution/executors/execution_parameters.hpp
  libs/futures/include/hpx/futures/packaged_continuation.hpp
  libs/init_runtime/include/hpx/hpx_init_impl.hpp
  libs/init_runtime/include/hpx/hpx_start_impl.hpp
  libs/io_service/include/hpx/io_service/io_service_thread_pool.hpp
  libs/serialization/include/hpx/serialization/serialize_buffer.hpp
  libs/thread_support/include/hpx/thread_support/set_thread_name.hpp
  libs/threading_base/include/hpx/threading_base/external_timer.hpp
  libs/threading_base/include/hpx/threading_base/register_thread.hpp
  libs/threading_base/include/hpx/threading_base/set_thread_state.hpp
Labels: type: enhancement

#4907 Remove HPX::hpx_no_wrap_main target
  src/CMakeLists.txt
Labels: category: CMake, type: cleanup

#4901 Update public API list with updated algorithms
  docs/sphinx/api/public_api.rst
Labels: category: documentation

#4899 Suggested changes for HPX V1.5 release notes
  docs/sphinx/releases/whats_new_1_5_0.rst
Labels: category: documentation, type: enhancement

#4910 Explicitly specify hwloc root on Jenkins CSCS builds
  .jenkins/cscs/env-gcc-cuda.sh
  .jenkins/cscs/env-icc.sh
Labels: category: CI

#4908 Fix algorithms documentation
  docs/sphinx/api/public_api.rst
  docs/sphinx/manual/writing_single_node_hpx_applications.rst
Labels: category: documentation

#4904 Update boost to 1.74.0 for the newest jenkins configs
  .jenkins/cscs/env-clang-newest.sh
  .jenkins/cscs/env-gcc-newest.sh
  libs/program_options/examples/regex.cpp
  tests/performance/local/spinlock_overhead1.cpp
  tests/performance/local/spinlock_overhead2.cpp
Labels: type: compatibility issue

#4912 Aggregate initialize CPOs
  libs/algorithms/include/hpx/parallel/algorithms/all_any_none.hpp
  libs/algorithms/include/hpx/parallel/algorithms/count.hpp
  libs/algorithms/include/hpx/parallel/algorithms/destroy.hpp
  libs/algorithms/include/hpx/parallel/algorithms/equal.hpp
  libs/algorithms/include/hpx/parallel/algorithms/fill.hpp
  libs/algorithms/include/hpx/parallel/algorithms/find.hpp
  libs/algorithms/include/hpx/parallel/algorithms/generate.hpp
  libs/algorithms/include/hpx/parallel/algorithms/mismatch.hpp
  libs/algorithms/include/hpx/parallel/algorithms/move.hpp
  libs/algorithms/include/hpx/parallel/container_algorithms/all_any_none.hpp
  libs/algorithms/include/hpx/parallel/container_algorithms/count.hpp
  libs/algorithms/include/hpx/parallel/container_algorithms/destroy.hpp
  libs/algorithms/include/hpx/parallel/container_algorithms/equal.hpp
  libs/algorithms/include/hpx/parallel/container_algorithms/fill.hpp
  libs/algorithms/include/hpx/parallel/container_algorithms/find.hpp
  libs/algorithms/include/hpx/parallel/container_algorithms/generate.hpp
  libs/algorithms/include/hpx/parallel/container_algorithms/mismatch.hpp
  libs/algorithms/include/hpx/parallel/container_algorithms/move.hpp
  libs/resiliency/include/hpx/resiliency/resiliency_cpos.hpp
Labels: category: algorithms, type: defect

#4905 Adding specializations for simple for_loops
  libs/algorithms/include/hpx/parallel/algorithms/for_loop.hpp
  libs/algorithms/include/hpx/parallel/util/loop.hpp
  libs/algorithms/include/hpx/parallel/util/prefetching.hpp
Labels: category: algorithms, type: enhancement

#4914 Add alias targets with namespaces used for exporting
  cmake/HPX_GeneratePackage.cmake
  cmake/HPX_SetupTarget.cmake
  src/CMakeLists.txt
Labels: category: CMake, type: cleanup

#4895 Update apex tag
  CMakeLists.txt
Labels: type: compatibility issue

#4923 Don't acquire lock if not needed
  libs/synchronization/include/hpx/synchronization/latch.hpp
Labels: category: LCOs, type: enhancement, type: optimization

#4926 Rename distributed_executors module to executors_distributed
  libs/CMakeLists.txt
  libs/all_modules.rst
  libs/executors_distributed/CMakeLists.txt
  libs/executors_distributed/README.rst
  libs/executors_distributed/docs/index.rst
  libs/executors_distributed/examples/CMakeLists.txt
  libs/executors_distributed/include/hpx/executors_distributed/distribution_policy_executor.hpp
  libs/executors_distributed/include_compatibility/hpx/parallel/executors/distribution_policy_executor.hpp
  libs/executors_distributed/tests/CMakeLists.txt
  libs/executors_distributed/tests/performance/CMakeLists.txt
  libs/executors_distributed/tests/regressions/CMakeLists.txt
  libs/executors_distributed/tests/unit/CMakeLists.txt
  libs/executors_distributed/tests/unit/distribution_policy_executor.cpp
Labels: category: modules, type: cleanup

#4928 Add HPX_NODISCARD to enable_user_polling structs
  libs/async_cuda/include/hpx/async_cuda/cuda_future.hpp
  libs/async_mpi/include/hpx/async_mpi/mpi_future.hpp
Labels: category: mpi, platform: CUDA, type: enhancement

#4930 Documentation Distributed HPX applications localvv with local_vv
  docs/sphinx/manual/writing_distributed_hpx_applications.rst
Labels: category: documentation

#4929 Add final version of the JOSS paper
  docs/joss_paper/hpx_architecture.pdf
  docs/joss_paper/paper.bib
  docs/joss_paper/paper.md
Labels: category: documentation

#4931 Small documentation formatting fixes
  docs/sphinx/api/public_api.rst
  docs/sphinx/manual/writing_single_node_hpx_applications.rst
  docs/sphinx/releases/whats_new_1_5_0.rst
  libs/async_mpi/docs/index.rst
Labels: category: documentation

#4932 Fixing compiler warnings
  hpx/lcos/detail/promise_lco.hpp
  hpx/runtime/components/server/component_base.hpp
  hpx/runtime/components/server/fixed_component_base.hpp
  libs/algorithms/include/hpx/parallel/algorithms/detail/sample_sort.hpp
  libs/algorithms/include/hpx/parallel/algorithms/fill.hpp
  libs/algorithms/include/hpx/parallel/algorithms/inclusive_scan.hpp
  libs/algorithms/include/hpx/parallel/algorithms/move.hpp
  libs/algorithms/include/hpx/parallel/algorithms/partition.hpp
  libs/algorithms/include/hpx/parallel/algorithms/transform_inclusive_scan.hpp
  libs/algorithms/include/hpx/parallel/algorithms/uninitialized_default_construct.hpp
  libs/algorithms/include/hpx/parallel/algorithms/uninitialized_value_construct.hpp
  libs/algorithms/include/hpx/parallel/task_block.hpp
  libs/collectives/include/hpx/collectives/detail/barrier_node.hpp
  libs/execution_base/include/hpx/execution_base/register_locks.hpp
  libs/runtime_local/include/hpx/runtime_local/runtime_local_fwd.hpp
  libs/segmented_algorithms/include/hpx/parallel/segmented_algorithms/all_any_none.hpp
  libs/segmented_algorithms/include/hpx/parallel/segmented_algorithms/detail/reduce.hpp
  libs/segmented_algorithms/include/hpx/parallel/segmented_algorithms/fill.hpp
  libs/segmented_algorithms/include/hpx/parallel/segmented_algorithms/find.hpp
  libs/threading_base/CMakeLists.txt
  libs/threading_base/include/hpx/threading_base/thread_init_data.hpp
  libs/threadmanager/CMakeLists.txt
  libs/threadmanager/include/hpx/modules/threadmanager.hpp
  libs/threadmanager/include/hpx/threadmanager/threadmanager_fwd.hpp
  libs/topology/include/hpx/topology/cpu_mask.hpp
Labels: type: compatibility issue

#4934 Adding Semicolon in Documentation
  docs/sphinx/manual/writing_distributed_hpx_applications.rst
Labels: category: documentation, type: enhancement

#4935 Add copyright and license to joss paper file
  docs/joss_paper/paper.md
  tools/.codespell_whitelist
Labels: category: documentation

#4911 Add CPOs for for_loop algorithms
  docs/sphinx/api/public_api.rst
  docs/sphinx/manual/writing_single_node_hpx_applications.rst
  examples/quickstart/disable_thread_stealing_executor.cpp
  examples/quickstart/executor_with_thread_hooks.cpp
  libs/algorithms/CMakeLists.txt
  libs/algorithms/include/hpx/parallel/algorithms/for_loop.hpp
  libs/algorithms/tests/regressions/for_loop_2281.cpp
  libs/algorithms/tests/unit/algorithms/for_loop.cpp
  libs/algorithms/tests/unit/algorithms/for_loop_exception.cpp
  libs/algorithms/tests/unit/algorithms/for_loop_induction.cpp
  libs/algorithms/tests/unit/algorithms/for_loop_induction_async.cpp
  libs/algorithms/tests/unit/algorithms/for_loop_n.cpp
  libs/algorithms/tests/unit/algorithms/for_loop_n_strided.cpp
  libs/algorithms/tests/unit/algorithms/for_loop_reduction.cpp
  libs/algorithms/tests/unit/algorithms/for_loop_reduction_async.cpp
  libs/algorithms/tests/unit/algorithms/for_loop_strided.cpp
  libs/async_cuda/tests/unit/cublas_matmul.cpp
  libs/collectives/tests/performance/osu/osu_bibw.cpp
  libs/compute_cuda/tests/unit/for_loop_compute.cu
  libs/include/include/hpx/algorithm.hpp
  libs/resource_partitioner/examples/oversubscribing_resource_partitioner.cpp
  libs/resource_partitioner/examples/simple_resource_partitioner.cpp
  tests/performance/local/future_overhead.cpp
Labels: category: algorithms
