Repository STEllAR-GROUP/hpx, pull requests merged in 2020-12, with the labels that each got.

#5070 Fix unused variables warnings in hipcc
  components/component_storage/include/hpx/components/component_storage/server/migrate_to_storage.hpp
  components/component_storage/src/component_storage.cpp
  components/containers/partitioned_vector/include/hpx/components/containers/partitioned_vector/partitioned_vector_component_impl.hpp
  components/containers/partitioned_vector/include/hpx/components/containers/partitioned_vector/partitioned_vector_impl.hpp
  components/containers/unordered/include/hpx/components/containers/unordered/partition_unordered_map_component.hpp
  components/containers/unordered/include/hpx/components/containers/unordered/unordered_map.hpp
  components/iostreams/include/hpx/components/iostreams/ostream.hpp
  libs/full/agas/src/primary_namespace.cpp
  libs/full/collectives/src/latch.cpp
  libs/full/performance_counters/src/counter_creators.cpp
  libs/full/performance_counters/src/performance_counter.cpp
  src/runtime/components/server/runtime_support_server.cpp
  src/runtime/components/stubs/runtime_support_stubs.cpp
  src/runtime/trigger_lco.cpp
  src/runtime_distributed.cpp
Labels: type: cleanup

#5068 Fix string split function
  libs/core/string_util/include/hpx/string_util/split.hpp
  libs/core/string_util/tests/unit/string_split.cpp
Labels: category: utilities, type: defect

#5065 Fix hpx::range::adjacent_find doxygen function signatures
  libs/parallelism/algorithms/include/hpx/parallel/container_algorithms/adjacent_find.hpp
Labels: category: algorithms, category: documentation, type: defect

#5072 Fix is_convertible args in result_types
  libs/parallelism/algorithms/include/hpx/parallel/util/result_types.hpp
Labels: category: algorithms, type: compatibility issue, type: enhancement

#5069 Add support for sentinels to adjacent_find
  libs/full/segmented_algorithms/include/hpx/parallel/segmented_algorithms/adjacent_find.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/adjacent_find.hpp
Labels: category: algorithms

#5074 Fixing warnings generated by MSVC
  libs/parallelism/executors/include/hpx/executors/fork_join_executor.hpp
Labels: compiler: msvc, type: compatibility issue, type: enhancement, type: warning

#5076 Fix a typo in the jenkins clang-newest cmake config
  .jenkins/cscs/env-clang-newest.sh
Labels: category: CI

#5078 Add install lib directory to list of component search paths
  CMakeLists.txt
Labels: category: components

#5073 Allow using noncopyable types with unwrapping
  libs/parallelism/pack_traversal/include/hpx/pack_traversal/detail/pack_traversal_impl.hpp
  libs/parallelism/pack_traversal/tests/regressions/CMakeLists.txt
  libs/parallelism/pack_traversal/tests/regressions/unwrapping_noncopyable.cpp
Labels: category: utilities, type: defect

#5066 Adapt `search` to C++20 and Range TS
  docs/sphinx/api/public_api.rst
  docs/sphinx/manual/writing_single_node_hpx_applications.rst
  libs/full/include/include/hpx/algorithm.hpp
  libs/parallelism/algorithms/CMakeLists.txt
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/detail/search.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/search.hpp
  libs/parallelism/algorithms/include/hpx/parallel/container_algorithms/search.hpp
  libs/parallelism/algorithms/tests/regressions/search_zerolength.cpp
  libs/parallelism/algorithms/tests/unit/algorithms/search.cpp
  libs/parallelism/algorithms/tests/unit/algorithms/searchn.cpp
  libs/parallelism/algorithms/tests/unit/container_algorithms/search_range.cpp
  libs/parallelism/algorithms/tests/unit/container_algorithms/searchn_range.cpp
  libs/parallelism/algorithms/tests/unit/container_algorithms/test_utils.hpp
Labels: type: compatibility issue

#5083 Remove duplicated call to the limiting_executor in future_overhead test
  tests/performance/local/future_overhead.cpp
Labels: type: cleanup

#5027 Lessen constraints on certain algorithm arguments
  libs/core/iterator_support/include/hpx/iterator_support/traits/is_iterator.hpp
  libs/core/iterator_support/tests/unit/iterator_tests.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/copy.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/detail/transfer.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/set_difference.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/set_intersection.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/set_symmetric_difference.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/set_union.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/transform_reduce.hpp
  libs/parallelism/algorithms/include/hpx/parallel/container_algorithms/all_any_none.hpp
  libs/parallelism/algorithms/include/hpx/parallel/container_algorithms/copy.hpp
  libs/parallelism/algorithms/include/hpx/parallel/container_algorithms/set_difference.hpp
  libs/parallelism/algorithms/include/hpx/parallel/container_algorithms/set_intersection.hpp
  libs/parallelism/algorithms/include/hpx/parallel/container_algorithms/set_symmetric_difference.hpp
  libs/parallelism/algorithms/include/hpx/parallel/container_algorithms/set_union.hpp
  libs/parallelism/algorithms/include/hpx/parallel/container_algorithms/transform_reduce.hpp
Labels: category: algorithms, type: compatibility issue, type: enhancement

#5085 Update daint CI to use Boost 1.75.0
  .jenkins/cscs/env-clang-newest.sh
  .jenkins/cscs/env-gcc-newest.sh
Labels: category: CI, category: boost

#5079 Add checks to make sure that MPI/CUDA polling is enabled/not disabled too early
  libs/full/async_cuda/include/hpx/async_cuda/cuda_future.hpp
  libs/full/async_cuda/src/cuda_future.cpp
  libs/full/async_mpi/src/mpi_future.cpp
Labels: category: mpi, category: scheduler, platform: CUDA

#5039 Fix GCC 10 release builds
  hpx/runtime/actions/continuation.hpp
  hpx/runtime/components/colocating_distribution_policy.hpp
  hpx/runtime/parcelset/parcel.hpp
  hpx/runtime/parcelset/put_parcel.hpp
  hpx/runtime/parcelset/put_parcel_fwd.hpp
  hpx/runtime/trigger_lco.hpp
  hpx/runtime/trigger_lco_fwd.hpp
  libs/full/async_distributed/include/hpx/async_distributed/applier/apply.hpp
Labels: category: actions, category: components, compiler: gcc, type: defect
