Repository STEllAR-GROUP/hpx, pull requests merged in 2020-11, with the labels that each got.

#5040 Remove generated headers left behind from a previous configuration
  cmake/HPX_AddModule.cmake
Labels: category: CMake, category: modules, type: compatibility issue, type: enhancement

#5041 Adding Francisco Tapia's implementation of partial_sort
  docs/sphinx/api/public_api.rst
  docs/sphinx/manual/writing_single_node_hpx_applications.rst
  libs/parallelism/algorithms/CMakeLists.txt
  libs/parallelism/algorithms/include/hpx/parallel/algorithm.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/partial_sort.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/sort.hpp
  libs/parallelism/algorithms/tests/performance/CMakeLists.txt
  libs/parallelism/algorithms/tests/performance/benchmark_partial_sort.cpp
  libs/parallelism/algorithms/tests/performance/benchmark_partial_sort_parallel.cpp
  libs/parallelism/algorithms/tests/unit/algorithms/CMakeLists.txt
  libs/parallelism/algorithms/tests/unit/algorithms/partial_sort.cpp
  libs/parallelism/algorithms/tests/unit/algorithms/partial_sort_parallel.cpp
Labels: category: algorithms, type: compatibility issue, type: enhancement

#5036 Deprecate hpx::util::decay in favor of std::decay
  hpx/runtime/components/create_component_helpers.hpp
  libs/core/iterator_support/include/hpx/iterator_support/zip_iterator.hpp
  libs/core/type_support/include/hpx/type_support/decay.hpp
  libs/parallelism/algorithms/include/hpx/parallel/util/tagged_pair.hpp
  tools/inspect/deprecated_name_check.cpp
Labels: category: utilities, type: cleanup

#5042 Add missing header to partial sort test
  libs/parallelism/algorithms/tests/performance/benchmark_partial_sort.cpp
  libs/parallelism/algorithms/tests/performance/benchmark_partial_sort_parallel.cpp
  libs/parallelism/algorithms/tests/unit/algorithms/partial_sort.cpp
  libs/parallelism/algorithms/tests/unit/algorithms/partial_sort_parallel.cpp
Labels: category: algorithms, type: defect

#5034 Use versioned container image on CircleCI
  .circleci/config.yml
  CMakeLists.txt
  cmake/HPX_AddConfigTest.cmake
  cmake/HPX_AddModule.cmake
  cmake/HPX_AddParcelport.cmake
  cmake/HPX_SetupLibfabric.cmake
  cmake/HPX_SetupVerbs.cmake
  cmake/installed_hpx.cmake
  docs/sphinx/contributing/docker_image.rst
  examples/interpolate1d/CMakeLists.txt
  libs/core/datastructures/include/hpx/datastructures/tuple.hpp
  libs/core/serialization/tests/unit/CMakeLists.txt
  libs/core/synchronization/tests/regressions/ignore_while_locked_1485.cpp
  libs/core/synchronization/tests/unit/shared_mutex/shared_mutex1.cpp
  libs/core/synchronization/tests/unit/shared_mutex/shared_mutex2.cpp
  libs/full/collectives/tests/performance/osu/CMakeLists.txt
  libs/full/runtime_local/src/runtime_local.cpp
  src/CMakeLists.txt
  src/runtime_distributed.cpp
  tests/unit/agas/components/CMakeLists.txt
  tests/unit/component/CMakeLists.txt
  tests/unit/resource/suspend_pool_external.cpp
  tools/docker/Dockerfile
Labels: category: CI

#5037 Add is_invocable typedefs to top-level hpx namespace and public API list
  .jenkins/cscs/entry.sh
  .jenkins/lsu/entry.sh
  docs/sphinx/api/public_api.rst
  libs/core/execution_base/include/hpx/execution_base/operation_state.hpp
  libs/core/execution_base/include/hpx/execution_base/receiver.hpp
  libs/core/execution_base/include/hpx/execution_base/sender.hpp
  libs/core/functional/include/hpx/functional/detail/basic_function.hpp
  libs/core/functional/include/hpx/functional/function.hpp
  libs/core/functional/include/hpx/functional/function_ref.hpp
  libs/core/functional/include/hpx/functional/tag_fallback_invoke.hpp
  libs/core/functional/include/hpx/functional/tag_invoke.hpp
  libs/core/functional/include/hpx/functional/traits/is_invocable.hpp
  libs/core/functional/include/hpx/functional/unique_function.hpp
  libs/full/include/include/hpx/type_traits.hpp
  libs/parallelism/algorithms/include/hpx/algorithms/traits/projected.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/copy.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/count.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/equal.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/find.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/includes.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/inclusive_scan.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/is_heap.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/is_sorted.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/make_heap.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/merge.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/mismatch.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/partial_sort.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/set_difference.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/set_intersection.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/set_symmetric_difference.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/set_union.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/transform_exclusive_scan.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/transform_inclusive_scan.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/transform_reduce.hpp
  libs/parallelism/algorithms/include/hpx/parallel/container_algorithms/find.hpp
  libs/parallelism/algorithms/include/hpx/parallel/container_algorithms/transform_reduce.hpp
  libs/parallelism/algorithms/include/hpx/parallel/util/detail/algorithm_result.hpp
  libs/parallelism/algorithms/tests/unit/datapar_algorithms/foreach_datapar_zipiter.cpp
  libs/parallelism/async_combinators/include/hpx/async_combinators/when_each.hpp
  libs/parallelism/futures/include/hpx/futures/future.hpp
  libs/parallelism/lcos_local/include/hpx/lcos_local/packaged_task.hpp
  libs/parallelism/pack_traversal/include/hpx/pack_traversal/detail/pack_traversal_impl.hpp
  libs/parallelism/threading/include/hpx/threading/jthread.hpp
  tests/regressions/traits/is_callable_1179.cpp
  tests/unit/traits/is_invocable.cpp
  tools/inspect/deprecated_name_check.cpp
Labels: category: utilities, type: cleanup

#5047 Limit cuda jenkins run to nodes with exclusively Nvidia GPUs
  .jenkins/lsu/slurm-configuration-gcc-9-cuda-11.sh
Labels: category: CI

#5048 Limit jenkins hipcc to the reno node
  .jenkins/lsu/slurm-configuration-hipcc.sh
Labels: category: CI

#5022 Remove C language from CMakeLists.txt
  CMakeLists.txt
  cmake/HPX_AddCompileFlag.cmake
  cmake/HPX_FortranCompiler.cmake
  cmake/HPX_FortranOverrides.cmake
  cmake/HPX_SetupLibfabric.cmake
  cmake/TargetArch.cmake
  cmake/templates/HPXConfig.cmake.in
  cmake/toolchains/ARM-gcc.cmake
  cmake/toolchains/BGION-gcc.cmake
  cmake/toolchains/BGQ.cmake
  cmake/toolchains/Cray.cmake
  cmake/toolchains/CrayKNL.cmake
  cmake/toolchains/CrayKNLStatic.cmake
  cmake/toolchains/CrayStatic.cmake
  cmake/toolchains/XeonPhi.cmake
  docs/sphinx/manual/building_hpx.rst
  examples/quickstart/EasyBMP/EasyBMP.cpp
  examples/quickstart/EasyBMP/EasyBMP.hpp
  examples/quickstart/EasyBMP/EasyBMP_BMP.hpp
  examples/quickstart/EasyBMP/EasyBMP_DataStructures.hpp
  examples/quickstart/EasyBMP/EasyBMP_VariousBMPutilities.hpp
  examples/quickstart/fractals.cpp
  examples/quickstart/fractals_executor.cpp
  examples/sheneos/CMakeLists.txt
  examples/sheneos/fname.h
  examples/sheneos/sheneos_compare.cpp
  plugins/parcelport/libfabric/CMakeLists.txt
  tests/regressions/block_matrix/CMakeLists.txt
  tests/regressions/block_matrix/algorithms.cpp
  tests/regressions/block_matrix/algorithms.hpp
  tests/regressions/block_matrix/block_matrix.cpp
  tests/regressions/block_matrix/block_matrix.hpp
  tests/regressions/block_matrix/defs.hpp
  tests/regressions/block_matrix/main.cpp
  tests/regressions/block_matrix/matrix.cpp
  tests/regressions/block_matrix/matrix.hpp
  tests/regressions/block_matrix/matrix_hpx.cpp
  tests/regressions/block_matrix/matrix_hpx.hpp
  tests/regressions/block_matrix/tests.cpp
  tests/regressions/block_matrix/tests.hpp
  tests/unit/build/CMakeLists.txt
Labels: category: CMake

#4744 Fork-join executor
  libs/core/concurrency/CMakeLists.txt
  libs/core/concurrency/include/hpx/concurrency/detail/contiguous_index_queue.hpp
  libs/core/concurrency/tests/unit/CMakeLists.txt
  libs/core/concurrency/tests/unit/contiguous_index_queue.cpp
  libs/core/schedulers/include/hpx/schedulers/local_priority_queue_scheduler.hpp
  libs/parallelism/executors/CMakeLists.txt
  libs/parallelism/executors/include/hpx/executors/fork_join_executor.hpp
  libs/parallelism/executors/tests/unit/CMakeLists.txt
  libs/parallelism/executors/tests/unit/fork_join_executor.cpp
  tests/performance/local/CMakeLists.txt
  tests/performance/local/stream.cpp
Labels: category: executors

#5060 Fix deprecation warnings generated by msvc
  libs/core/functional/include/hpx/functional/deferred_call.hpp
  libs/full/runtime_local/src/thread_mapper.cpp
Labels: compiler: msvc, type: compatibility issue, type: enhancement

#5061 Remove hipcc guards in examples and tests
  components/iostreams/include/hpx/iostream.hpp
  examples/async_io/async_io_external.cpp
  examples/async_io/async_io_low_level.cpp
  examples/async_io/async_io_simple.cpp
  examples/balancing/os_thread_num.cpp
  examples/future_reduce/rnd_future_reduce.cpp
  examples/quickstart/allow_unknown_options.cpp
  examples/quickstart/command_line_handling.cpp
  examples/quickstart/customize_async.cpp
  examples/quickstart/enumerate_threads.cpp
  examples/quickstart/error_handling.cpp
  examples/quickstart/event_synchronization.cpp
  examples/quickstart/fibonacci_await.cpp
  examples/quickstart/fibonacci_dataflow.cpp
  examples/quickstart/fibonacci_futures.cpp
  examples/quickstart/fibonacci_local.cpp
  examples/quickstart/hello_world_1.cpp
  examples/quickstart/hello_world_2.cpp
  examples/quickstart/interest_calculator.cpp
  examples/quickstart/interval_timer.cpp
  examples/quickstart/local_channel.cpp
  examples/quickstart/local_channel_docs.cpp
  examples/quickstart/potpourri.cpp
  examples/quickstart/simple_future_continuation.cpp
  examples/quickstart/sort_by_key_demo.cpp
  examples/quickstart/timed_futures.cpp
  examples/quickstart/vector_counting_dotproduct.cpp
  examples/quickstart/vector_zip_dotproduct.cpp
  examples/thread_aware_timer/thread_aware_timer.cpp
  examples/throttle/spin.cpp
  libs/core/iterator_support/tests/performance/stencil3_iterators.cpp
  libs/core/threading_base/tests/unit/set_thread_state.cpp
  libs/full/checkpoint/examples/1d_stencil_4_checkpoint.cpp
  libs/full/checkpoint/tests/unit/checkpoint.cpp
  libs/full/naming_base/tests/unit/gid_type.cpp
  libs/parallelism/algorithms/tests/performance/transform_reduce_scaling.cpp
  libs/parallelism/algorithms/tests/unit/block/spmd_block.cpp
  libs/parallelism/algorithms/tests/unit/block/task_block.cpp
  libs/parallelism/algorithms/tests/unit/block/task_block_executor.cpp
  libs/parallelism/algorithms/tests/unit/block/task_block_par.cpp
Labels: platform: HIP

#5059 Add warning about suspending/resuming the runtime in multi-locality scenarios
  docs/sphinx/manual/starting_the_hpx_runtime.rst
Labels: category: documentation, category: runtime

#5056 Fix hpx::util::get
  libs/core/datastructures/include/hpx/datastructures/tuple.hpp
  libs/core/datastructures/include/hpx/datastructures/variant_helper.hpp
Labels: category: CI, category: data-structures, type: compatibility issue, type: defect

#5063 Limit the device code guards to the distributed parts of the future_overhead bench
  tests/performance/local/future_overhead.cpp
Labels: platform: HIP
