Repository STEllAR-GROUP/hpx, pull requests merged in 2020-09, with the labels that each got.

#4936 Minor documentation fixes part 2
  docs/sphinx/api/public_api.rst
  docs/sphinx/contributing/docker_image.rst
  docs/sphinx/contributing/modules.rst
  docs/sphinx/manual/optimizing_hpx_applications.rst
  docs/sphinx/releases/whats_new_1_5_0.rst
Labels: category: documentation

#4939 small changes
  docs/joss_paper/paper.md
Labels: category: documentation

#4938 Post release cleanup
  CMakeLists.txt
  docs/sphinx/contributing/release_procedure.rst
Labels: category: documentation, type: enhancement

#4941 Adding some explanation to README about how to cite HPX
  README.rst
Labels: category: documentation, type: enhancement

#4944 Fix typos reported by fossies codespell report
  .cmake-format.py
  docs/sphinx/releases/whats_new_0_9_6.rst
  docs/sphinx/releases/whats_new_1_5_0.rst
  examples/quickstart/1d_wave_equation.cpp
  hpx/util/connection_cache.hpp
  libs/algorithms/include/hpx/parallel/util/low_level.hpp
  libs/algorithms/tests/unit/algorithms/parallel_sort.cpp
  libs/checkpoint_base/docs/index.rst
  libs/debugging/include/hpx/debugging/print.hpp
  libs/executors/include/hpx/executors/limiting_executor.hpp
  libs/runtime_configuration/src/ini.cpp
  libs/serialization/docs/index.rst
  plugins/parcelport/libfabric/rma_receiver.cpp
  tests/performance/local/nonconcurrent_fifo_overhead.cpp
  tests/performance/local/nonconcurrent_lifo_overhead.cpp
Labels: category: documentation

#4948 Clean up old artifacts better and more aggressively on Jenkins
  .jenkins/cscs/Jenkinsfile
  .jenkins/cscs/entry.sh
  .jenkins/lsu/Jenkinsfile
  .jenkins/lsu/entry.sh
Labels: category: CI

#4945 Enable HPX_WITH_UNITY_BUILD option on one of the Jenkins configurations
  .jenkins/cscs/env-clang-newest.sh
  CMakeLists.txt
  cmake/HPX_AddComponent.cmake
  cmake/HPX_AddExecutable.cmake
  cmake/HPX_AddLibrary.cmake
  cmake/HPX_AddParcelport.cmake
  cmake/HPX_SetupTarget.cmake
  components/component_storage/CMakeLists.txt
  components/containers/partitioned_vector/CMakeLists.txt
  components/containers/unordered/CMakeLists.txt
  components/iostreams/CMakeLists.txt
  components/performance_counters/io/CMakeLists.txt
  components/performance_counters/memory/CMakeLists.txt
  components/performance_counters/papi/CMakeLists.txt
  components/process/CMakeLists.txt
  plugins/binary_filter/bzip2/CMakeLists.txt
  plugins/binary_filter/snappy/CMakeLists.txt
  plugins/binary_filter/zlib/CMakeLists.txt
  plugins/parcel/coalescing/CMakeLists.txt
Labels: category: CI, category: CMake

#4953 Fixing MSVC problems after recent restructurings
  .github/workflows/windows_debug.yml
  CMakeLists.txt
  hpx/runtime/serialization/detail/preprocess_gid_types.hpp
  libs/CMakeLists.txt
  libs/core/coroutines/CMakeLists.txt
  libs/core/coroutines/include/hpx/coroutines/detail/context_windows_fibers.hpp
  libs/core/serialization/include/hpx/serialization/detail/pointer.hpp
  libs/core/serialization/src/detail/pointer.cpp
  libs/full/checkpoint_base/include/hpx/checkpoint_base/checkpoint_data.hpp
  libs/full/checkpoint_base/src/checkpoint_data.cpp
  libs/parallelism/lcos_local/include/hpx/lcos_local/detail/preprocess_future.hpp
  libs/parallelism/lcos_local/src/preprocess_future.cpp
  src/CMakeLists.txt
  src/runtime/serialization/detail/preprocess_gid_types.cpp
Labels: compiler: msvc, type: compatibility issue, type: enhancement

#4957 Fixing unity build option for parcelports
  cmake/HPX_AddParcelport.cmake
Labels: category: CMake, type: enhancement

#4924 MPI init fixes
  .jenkins/cscs/entry.sh
  .jenkins/lsu/entry.sh
  .jenkins/lsu/env-clang-7.sh
  .jenkins/lsu/env-clang-8.sh
  .jenkins/lsu/env-clang-9.sh
  .jenkins/lsu/env-gcc-8.sh
  .jenkins/lsu/env-gcc-9-cuda-11.sh
  .jenkins/lsu/env-gcc-9.sh
  cmake/templates/hpxrun.py.in
  libs/full/async_cuda/CMakeLists.txt
  libs/full/command_line_handling/src/command_line_handling.cpp
  libs/full/mpi_base/src/mpi_environment.cpp
  libs/full/resource_partitioner/src/detail_partitioner.cpp
  libs/full/runtime_local/tests/unit/thread_mapper.cpp
  tests/unit/component/CMakeLists.txt
  tests/unit/component/launch_process.cpp
Labels: category: init, category: mpi

#4954 Update Piz Daint Jenkins configurations
  .jenkins/cscs/env-clang-apex.sh
  .jenkins/cscs/env-clang-newest.sh
  .jenkins/cscs/env-clang-oldest.sh
  .jenkins/cscs/env-gcc-oldest.sh
  libs/full/compute/include/hpx/compute/vector.hpp
  libs/full/compute_cuda/examples/CMakeLists.txt
  libs/full/compute_cuda/tests/unit/CMakeLists.txt
  tests/performance/local/CMakeLists.txt
Labels: category: CI, compiler: clang, platform: CUDA

#4927 Refactor synchronization primitives
  libs/core/synchronization/CMakeLists.txt
  libs/core/synchronization/include/hpx/synchronization/barrier.hpp
  libs/core/synchronization/include/hpx/synchronization/condition_variable.hpp
  libs/core/synchronization/include/hpx/synchronization/detail/condition_variable.hpp
  libs/core/synchronization/include/hpx/synchronization/detail/counting_semaphore.hpp
  libs/core/synchronization/include/hpx/synchronization/detail/sliding_semaphore.hpp
  libs/core/synchronization/include/hpx/synchronization/latch.hpp
  libs/core/synchronization/include/hpx/synchronization/mutex.hpp
  libs/core/synchronization/src/detail/condition_variable.cpp
  libs/core/synchronization/src/detail/counting_semaphore.cpp
  libs/core/synchronization/src/detail/sliding_semaphore.cpp
Labels: category: LCOs, type: compatibility issue, type: enhancement

#4962 Fix external timer function pointer exports
  .jenkins/cscs/env-gcc-oldest.sh
  libs/core/threading_base/include/hpx/threading_base/external_timer.hpp
Labels: category: APEX, compiler: gcc, type: defect

#4946 Allow suspension on multiple localities
  libs/full/runtime_local/src/runtime_local.cpp
  src/runtime_distributed.cpp
Labels: category: runtime, type: enhancement

#4722 Alternative INVOKE implementation
  libs/core/functional/CMakeLists.txt
  libs/core/functional/include/hpx/functional/detail/invoke.hpp
  libs/core/functional/include/hpx/functional/invoke.hpp
  libs/core/functional/include/hpx/functional/invoke_result.hpp
  libs/core/functional/include/hpx/functional/tag_invoke.hpp
  libs/core/functional/include/hpx/functional/traits/is_invocable.hpp
Labels: category: core, type: enhancement

#4963 Renaming files to avoid warnings from the vs build system
  components/process/CMakeLists.txt
  components/process/src/util/posix/create_pipe_u.cpp
  components/process/src/util/posix/search_path_u.cpp
  components/process/src/util/posix/shell_path_u.cpp
  components/process/src/util/windows/create_pipe_w.cpp
  components/process/src/util/windows/search_path_w.cpp
  components/process/src/util/windows/shell_path_w.cpp
Labels: compiler: msvc, type: compatibility issue, type: enhancement

#4951 Fixing build if HPX_WITH_PARCELPORT_ACTION_COUNTERS=On
  .jenkins/cscs/env-clang-newest.sh
  hpx/runtime/parcelset/encode_parcels.hpp
  libs/core/schedulers/include/hpx/schedulers/local_priority_queue_scheduler.hpp
  libs/core/schedulers/include/hpx/schedulers/local_queue_scheduler.hpp
  libs/core/schedulers/include/hpx/schedulers/shared_priority_queue_scheduler.hpp
Labels: category: parcel transport, category: performance counters, type: enhancement

#4959 Adding communications set
  libs/full/collectives/CMakeLists.txt
  libs/full/collectives/include/hpx/collectives/communication_set.hpp
  libs/full/collectives/include/hpx/collectives/detail/communication_set_node.hpp
  libs/full/collectives/src/create_communication_set.cpp
  libs/full/collectives/src/detail/communication_set_node.cpp
  libs/full/collectives/tests/unit/CMakeLists.txt
  libs/full/collectives/tests/unit/communication_set.cpp
Labels: category: infrastructure, category: parcel transport, type: enhancement, type: optimization

#4952 Make parallel_executor use thread_pool_executor spawning mechanism
  libs/full/resource_partitioner/examples/oversubscribing_resource_partitioner.cpp
  libs/full/resource_partitioner/examples/simple_resource_partitioner.cpp
  libs/full/resource_partitioner/tests/unit/named_pool_executor.cpp
  libs/parallelism/execution/include/hpx/execution/detail/future_exec.hpp
  libs/parallelism/execution/include/hpx/execution/detail/post_policy_dispatch.hpp
  libs/parallelism/execution/tests/unit/standalone_thread_pool_executor.cpp
  libs/parallelism/executors/CMakeLists.txt
  libs/parallelism/executors/include/hpx/executors/detail/hierarchical_spawning.hpp
  libs/parallelism/executors/include/hpx/executors/parallel_executor.hpp
  libs/parallelism/executors/include/hpx/executors/restricted_thread_pool_executor.hpp
  libs/parallelism/executors/include/hpx/executors/thread_pool_executor.hpp
  libs/parallelism/executors/src/current_executor.cpp
  libs/parallelism/futures/include/hpx/futures/future.hpp
  tests/performance/local/future_overhead.cpp
  tests/performance/local/libcds_hazard_pointer_overhead.cpp
  tests/performance/local/stream.cpp
  tests/unit/resource/cross_pool_injection.cpp
  tests/unit/resource/scheduler_priority_check.cpp
  tests/unit/resource/suspend_pool.cpp
  tests/unit/resource/suspend_thread_timed.cpp
Labels: category: executors, type: cleanup

#4965 Making is_heap and is_heap_until conforming to C++20
  docs/sphinx/api/public_api.rst
  docs/sphinx/manual/writing_single_node_hpx_applications.rst
  libs/full/include/include/hpx/algorithm.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/copy.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/is_heap.hpp
  libs/parallelism/algorithms/include/hpx/parallel/container_algorithms/is_heap.hpp
  libs/parallelism/algorithms/tests/performance/benchmark_is_heap.cpp
  libs/parallelism/algorithms/tests/performance/benchmark_is_heap_until.cpp
  libs/parallelism/algorithms/tests/unit/algorithms/is_heap_tests.hpp
  libs/parallelism/algorithms/tests/unit/container_algorithms/is_heap_range.cpp
  libs/parallelism/algorithms/tests/unit/container_algorithms/is_heap_until_range.cpp
Labels: category: algorithms, type: compatibility issue, type: enhancement

#4966 Add clang-format and cmake-format version prints
  .circleci/config.yml
Labels: category: CircleCi

#4974 Remove leftover format export hack
  libs/core/format/include/hpx/modules/format.hpp
Labels: type: compatibility issue, type: enhancement

#4973 Avoid warnings/errors for older gcc complaining about multi-line comments
  libs/full/collectives/src/create_communication_set.cpp
  libs/full/collectives/tests/unit/communication_set.cpp
Labels: type: compatibility issue, type: enhancement

#4967 Define deprecation macros conditionally
  cmake/HPX_AddDefinitions.cmake
  cmake/HPX_AddModule.cmake
Labels: category: CMake, type: compatibility issue, type: enhancement

#4964 Adding parallel make_heap
  libs/full/include/CMakeLists.txt
  libs/full/include/include/hpx/include/parallel_make_heap.hpp
  libs/parallelism/algorithms/CMakeLists.txt
  libs/parallelism/algorithms/include/hpx/parallel/algorithm.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/make_heap.hpp
  libs/parallelism/algorithms/include/hpx/parallel/container_algorithms.hpp
  libs/parallelism/algorithms/include/hpx/parallel/container_algorithms/make_heap.hpp
  libs/parallelism/algorithms/include/hpx/parallel/util/detail/handle_local_exceptions.hpp
  libs/parallelism/algorithms/include/hpx/parallel/util/partitioner_with_cleanup.hpp
  libs/parallelism/algorithms/tests/unit/algorithms/CMakeLists.txt
  libs/parallelism/algorithms/tests/unit/algorithms/make_heap.cpp
  libs/parallelism/algorithms/tests/unit/container_algorithms/CMakeLists.txt
  libs/parallelism/algorithms/tests/unit/container_algorithms/make_heap_range.cpp
Labels: category: algorithms, type: compatibility issue, type: enhancement

#4975 Remove indirection layer in at_index_impl
  libs/core/type_support/include/hpx/type_support/pack.hpp
Labels: type: compatibility issue

#4972 Removing use of get_temporary_buffer and return_temporary_buffer
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/detail/parallel_stable_sort.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/detail/sample_sort.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/detail/spin_sort.hpp
  libs/parallelism/algorithms/tests/unit/algorithms/detail/test_sample_sort.cpp
  libs/parallelism/algorithms/tests/unit/algorithms/detail/test_spin_sort.cpp
Labels: category: algorithms, type: compatibility issue, type: enhancement

#4976 Remove indirection layer in at_index_impl
  libs/core/type_support/include/hpx/type_support/pack.hpp
Labels: type: compatibility issue

#4665 Implementing sender, receiver, and operation_state concepts in terms of P0443r13
  libs/core/execution_base/CMakeLists.txt
  libs/core/execution_base/include/hpx/execution_base/agent_ref.hpp
  libs/core/execution_base/include/hpx/execution_base/operation_state.hpp
  libs/core/execution_base/include/hpx/execution_base/receiver.hpp
  libs/core/execution_base/include/hpx/execution_base/sender.hpp
  libs/core/execution_base/tests/unit/CMakeLists.txt
  libs/core/execution_base/tests/unit/basic_operation_state.cpp
  libs/core/execution_base/tests/unit/basic_receiver.cpp
  libs/core/execution_base/tests/unit/basic_sender.cpp
  libs/core/functional/CMakeLists.txt
  libs/core/functional/include/hpx/functional/tag_fallback_invoke.hpp
  libs/core/functional/include/hpx/functional/tag_invoke.hpp
Labels: category: executors

#4982 Add page about citing HPX to documentation
  cmake/templates/conf.py.in
  docs/sphinx/citing.rst
  docs/sphinx/index.rst
Labels: category: documentation

#4986 Remove serialization to functional module dependency
  libs/core/serialization/CMakeLists.txt
  libs/core/serialization/include/hpx/serialization/exception_ptr.hpp
Labels: category: modules, type: cleanup
