Repository STEllAR-GROUP/hpx, pull requests merged in 2020-04, with the labels that each got.

#4472 Add more descriptive error message when using x86 coroutines on non-x86 platforms
  libs/coroutines/src/swapcontext.cpp
Labels: category: threadmanager

#4481 Add vcpkg installation instructions
  docs/sphinx/quickstart.rst
Labels: category: documentation, type: enhancement

#4486 Fixing an initialization order problem
  src/pre_main.cpp
  src/runtime.cpp
Labels: category: init, type: compatibility issue, type: enhancement

#4492 Update copyright year in documentation
  cmake/templates/conf.py.in
Labels: category: documentation

#4475 Fix rp init changes
  hpx/hpx_init_params.hpp
  init/include/hpx/hpx_main.hpp
  init/src/hpx_wrap.cpp
  src/hpx_init_params.cpp
Labels: category: resource_partitioner, type: compatibility issue

#4483 Clean up imported CMake target naming
  cmake/FindAmplifier.cmake
  cmake/FindGooglePerftools.cmake
  cmake/FindHwloc.cmake
  cmake/FindPAPI.cmake
  cmake/HPX_GeneratePackageUtils.cmake
  cmake/HPX_SetupAllocator.cmake
  cmake/HPX_SetupApex.cmake
  cmake/HPX_SetupBoost.cmake
  cmake/HPX_SetupBoostFilesystem.cmake
  cmake/HPX_SetupBoostIostreams.cmake
  cmake/HPX_SetupBoostProgramOptions.cmake
  cmake/HPX_SetupBoostRegex.cmake
  cmake/HPX_SetupCUDA.cmake
  cmake/HPX_SetupGooglePerfTools.cmake
  cmake/HPX_SetupHwloc.cmake
  cmake/HPX_SetupLibfabric.cmake
  cmake/HPX_SetupMPI.cmake
  cmake/HPX_SetupPapi.cmake
  cmake/HPX_SetupValgrind.cmake
  cmake/HPX_SetupVc.cmake
  cmake/HPX_SetupVerbs.cmake
  cmake/templates/HPXConfig.cmake.in
  components/performance_counters/papi/CMakeLists.txt
  examples/quickstart/CMakeLists.txt
  init/CMakeLists.txt
  libs/affinity/CMakeLists.txt
  libs/allocator_support/CMakeLists.txt
  libs/config/CMakeLists.txt
  libs/filesystem/CMakeLists.txt
  libs/synchronization/tests/regressions/CMakeLists.txt
  libs/synchronization/tests/unit/shared_mutex/CMakeLists.txt
  libs/topology/CMakeLists.txt
  libs/version/CMakeLists.txt
  plugins/binary_filter/bzip2/CMakeLists.txt
  plugins/binary_filter/snappy/CMakeLists.txt
  plugins/binary_filter/zlib/CMakeLists.txt
  plugins/parcel/coalescing/CMakeLists.txt
  plugins/parcelport/libfabric/CMakeLists.txt
  plugins/parcelport/mpi/CMakeLists.txt
  plugins/parcelport/verbs/CMakeLists.txt
  src/CMakeLists.txt
  tests/headers/CMakeLists.txt
  tests/performance/local/CMakeLists.txt
  tests/unit/threads/CMakeLists.txt
  tests/unit/topology/CMakeLists.txt
  tools/inspect/CMakeLists.txt
Labels: category: CMake, type: cleanup

#4491 Add missing current_executor header
  libs/execution/CMakeLists.txt
Labels: type: compatibility issue

#4490 Update GitHub actions configs
  .github/workflows/linux.yml
  .github/workflows/macos.yml
  .github/workflows/windows.yml
Labels: category: CI

#4496 Removing superfluous SPDX tags
  libs/preprocessor/include/hpx/preprocessor/config.hpp
  libs/preprocessor/include/hpx/preprocessor/stringize.hpp
Labels: category: general

#4485 Move miscellaneous files to their rightful modules
  hpx/runtime/actions/continuation.hpp
  libs/basic_execution/CMakeLists.txt
  libs/basic_execution/include/hpx/basic_execution/detail/spinlock_deadlock_detection.hpp
  libs/basic_execution/include/hpx/basic_execution/this_thread.hpp
  libs/basic_execution/src/spinlock_deadlock_detection.cpp
  libs/compute/CMakeLists.txt
  libs/compute/include/hpx/compute/detail/new.hpp
  libs/compute/include/hpx/compute/host/block_allocator.hpp
  libs/compute/include_compatibility/hpx/util/functional/new.hpp
  libs/functional/CMakeLists.txt
  libs/functional/include/hpx/functional/serialization/detail/serializable_basic_function.hpp
  libs/functional/include/hpx/functional/serialization/detail/vtable/serializable_function_vtable.hpp
  libs/functional/include/hpx/functional/serialization/detail/vtable/serializable_vtable.hpp
  libs/functional/include/hpx/functional/serialization/serializable_function.hpp
  libs/functional/include/hpx/functional/serialization/serializable_unique_function.hpp
  libs/functional/include_compatibility/hpx/util/detail/serializable_basic_function.hpp
  libs/functional/include_compatibility/hpx/util/detail/vtable/serializable_function_vtable.hpp
  libs/functional/include_compatibility/hpx/util/detail/vtable/serializable_vtable.hpp
  libs/functional/include_compatibility/hpx/util/serializable_function.hpp
  libs/functional/include_compatibility/hpx/util/serializable_unique_function.hpp
  libs/functional/tests/regressions/CMakeLists.txt
  libs/functional/tests/regressions/function_argument.cpp
  libs/functional/tests/regressions/function_serialization_728.cpp
  libs/include/CMakeLists.txt
  libs/include/include/hpx/hpx.hpp
  libs/schedulers/include/hpx/schedulers/thread_queue.hpp
  libs/schedulers/include/hpx/schedulers/thread_queue_mc.hpp
  libs/timing/CMakeLists.txt
  libs/timing/include/hpx/timing/tick_counter.hpp
  libs/timing/include_compatibility/hpx/util/tick_counter.hpp
  libs/util/CMakeLists.txt
  libs/util/include/hpx/util/regex_from_pattern.hpp
  libs/util/src/regex_from_pattern.cpp
  src/hpx_init.cpp
  src/util/detail/yield_k.cpp
  tests/regressions/util/CMakeLists.txt
  tests/unit/util/function/function_object_size.cpp
Labels: category: modules

#4270 Refactor future implementation
  docs/CMakeLists.txt
  hpx/lcos/future.hpp
  hpx/lcos/future_exec.hpp
  hpx/lcos/local/packaged_continuation.hpp
  hpx/lcos/wait_all.hpp
  hpx/parallel/executors/thread_timed_execution.hpp
  hpx/traits/future_then_result.hpp
  hpx/traits/future_then_result_exec.hpp
  libs/execution/CMakeLists.txt
  libs/execution/include/hpx/execution/execution.hpp
  libs/execution/include/hpx/execution/executors/default_executor.hpp
  libs/execution/include/hpx/execution/executors/execution.hpp
  libs/execution/include/hpx/execution/executors/timed_executors.hpp
  libs/execution/include_compatibility/hpx/parallel/executors/thread_timed_execution.hpp
  libs/include/include/hpx/include/future.hpp
  libs/include/include/hpx/include/parallel_executors.hpp
  libs/include/include/hpx/include/thread_executors.hpp
  libs/performance_counters/include/hpx/performance_counters/counters.hpp
  src/runtime/naming/name.cpp
Labels: category: modules

#4498 Fix compatibility of `pool_executor`
  hpx/runtime/threads/executors/pool_executor.hpp
Labels: category: threadmanager, type: compatibility issue, type: defect

#4500 Fix .clang-format version requirement comment
  .clang-format
Labels: type: cleanup

#4499 Attempting to fix hpx_init linking on macOS
  init/src/hpx_wrap.cpp
Labels: category: init, platform: Mac OSX

#4487 Properly dispatch exceptions thrown from hpx_main to be rethrown from hpx::init/hpx::stop
  hpx/runtime.hpp
  hpx/runtime_impl.hpp
  libs/schedulers/include/hpx/schedulers/shared_priority_queue_scheduler.hpp
  src/runtime_impl.cpp
  tests/regressions/unhandled_exception_582.cpp
Labels: category: init, type: enhancement

#4505 Fix duplicate linking in tests (ODR violations)
  libs/checkpoint/tests/unit/CMakeLists.txt
  libs/errors/tests/unit/CMakeLists.txt
  libs/iterator_support/tests/unit/CMakeLists.txt
  libs/synchronization/tests/performance/CMakeLists.txt
Labels: type: defect

#4508 Only test pull requests (not all branches) with GitHub actions
  .github/workflows/linux.yml
  .github/workflows/macos.yml
  .github/workflows/windows.yml
Labels: category: CI

#4504 Fix C++ standard handling
  cmake/HPX_CheckCXXStandard.cmake
  cmake/HPX_GeneratePackage.cmake
  src/CMakeLists.txt
Labels: category: CMake, type: defect

#4510 Attempt to fix APEX linking in external packages again
  cmake/HPX_SetupApex.cmake
Labels: category: APEX, category: CMake, type: defect

#4516 Fix various builds
  cmake/HPX_GeneratePackageUtils.cmake
  cmake/HPX_SetupCUDA.cmake
  libs/execution/include/hpx/execution/executors/guided_pool_executor.hpp
  libs/thread_executors/include/hpx/execution/executors/default_executor.hpp
  libs/thread_executors/include/hpx/thread_executors/default_executor.hpp
Labels: category: APEX, category: CMake, platform: CUDA, type: defect

#4522 Enable and fix deprecation warnings in execution module
  libs/async/include/hpx/async/async.hpp
  libs/async/include/hpx/async/sync.hpp
  libs/execution/CMakeLists.txt
  libs/execution/include/hpx/execution/executors/parallel_executor.hpp
  libs/execution/include/hpx/execution/executors/parallel_executor_aggregated.hpp
  libs/execution/include/hpx/execution/executors/sequenced_executor.hpp
  libs/execution/include/hpx/execution/executors/thread_pool_executor.hpp
Labels: category: modules

#4515 Replace backslashs by slashs in windows paths
  cmake/FindAmplifier.cmake
  cmake/FindGooglePerftools.cmake
  cmake/FindHPX_EXODUS.cmake
  cmake/FindHPX_GSL.cmake
  cmake/FindHPX_LORENE.cmake
  cmake/FindHPX_RNPL.cmake
  cmake/FindHwloc.cmake
  cmake/FindIbverbs.cmake
  cmake/FindJemalloc.cmake
  cmake/FindLibSigSegv.cmake
  cmake/FindLibfabric.cmake
  cmake/FindMSR.cmake
  cmake/FindOrangeFS.cmake
  cmake/FindPAPI.cmake
  cmake/FindPMI.cmake
  cmake/FindQThreads.cmake
Labels: type: compatibility issue

#4524 Add API guarantee notes to API reference documentation
  cmake/templates/conf.py.in
  docs/sphinx/api.rst
Labels: category: documentation, type: HEP

#4529 Adding missing template code to module creation script
  libs/create_library_skeleton.py
Labels: category: modules, category: tools, type: enhancement

#4528 Make sure version module uses HPX's binary dir, not the parent's
  libs/version/CMakeLists.txt
Labels: category: CMake, type: defect

#4306 Fix schedule hint not being taken from executor
  hpx/lcos/local/futures_factory.hpp
  libs/schedulers/include/hpx/schedulers/queue_holder_thread.hpp
  libs/schedulers/include/hpx/schedulers/shared_priority_queue_scheduler.hpp
  libs/thread_executors/CMakeLists.txt
  libs/thread_executors/include/hpx/thread_executors/thread_executor.hpp
  tests/unit/resource/CMakeLists.txt
  tests/unit/resource/scheduler_binding_check.cpp
Labels: category: APEX, category: executors, type: defect

#4520 Skip execution customization points when executor is known
  libs/async_base/include/hpx/async_base/sync.hpp
  libs/execution/include/hpx/execution/apply.hpp
  libs/execution/include/hpx/execution/dataflow.hpp
Labels: category: executors

#4532 Fixing broken url in README.rst
  README.rst
Labels: category: documentation, type: enhancement

#4538 Move channel documentation examples to examples directory
  docs/sphinx/manual/writing_single_node_hpx_applications.rst
  examples/quickstart/CMakeLists.txt
  examples/quickstart/channel_docs.cpp
  examples/quickstart/local_channel_docs.cpp
Labels: category: documentation

#4530 Make sure module API docs show up in correct order
  cmake/templates/conf.py.in
Labels: category: documentation

#4512 Adding C++20 jthread and stop_token
  .circleci/config.yml
  cmake/HPX_AddConfigTest.cmake
  cmake/HPX_PerformCxxFeatureTests.cmake
  cmake/tests/cxx17_deduction_guides.cpp
  cmake/tests/cxx17_inline_constexpr_variable.cpp
  cmake/tests/cxx17_nodiscard_attribute.cpp
  libs/config/include/hpx/config/attributes.hpp
  libs/config/include/hpx/config/constexpr.hpp
  libs/datastructures/include/hpx/datastructures/optional.hpp
  libs/synchronization/CMakeLists.txt
  libs/synchronization/include/hpx/synchronization/condition_variable.hpp
  libs/synchronization/include/hpx/synchronization/force_linking.hpp
  libs/synchronization/include/hpx/synchronization/stop_token.hpp
  libs/synchronization/src/force_linking.cpp
  libs/synchronization/src/stop_token.cpp
  libs/synchronization/tests/unit/CMakeLists.txt
  libs/synchronization/tests/unit/stop_token.cpp
  libs/synchronization/tests/unit/stop_tokencb2.cpp
  libs/threading/CMakeLists.txt
  libs/threading/include/hpx/threading/jthread.hpp
  libs/threading/tests/unit/CMakeLists.txt
  libs/threading/tests/unit/condition_variable2.cpp
  libs/threading/tests/unit/condition_variable3.cpp
  libs/threading/tests/unit/condition_variable4.cpp
  libs/threading/tests/unit/jthread1.cpp
  libs/threading/tests/unit/jthread2.cpp
  libs/threading/tests/unit/stop_tokencb1.cpp
  libs/threading/tests/unit/stop_tokenrace.cpp
  libs/topology/include/hpx/topology/topology.hpp
Labels: category: LCOs, category: threadmanager, type: compatibility issue, type: enhancement

#4541 Add API to check if a thread pool exists
  hpx/runtime/thread_pool_helpers.hpp
  libs/execution/include/hpx/execution/executors/pool_executor.hpp
  libs/resource_partitioner/tests/unit/named_pool_executor.cpp
  libs/threadmanager/include/hpx/threadmanager.hpp
  libs/threadmanager/src/threadmanager.cpp
  src/runtime/thread_pool_helpers.cpp
Labels: category: executors, category: resource_partitioner, category: threadmanager, type: feature request

#4544 Fix a typo in sanitizer build
  docs/sphinx/manual/debugging_hpx_applications.rst
Labels: category: documentation, type: enhancement

#4545 Fix header tests
  .circleci/config.yml
  docs/CMakeLists.txt
  libs/async/include/hpx/async/detail/async_implementations_fwd.hpp
  libs/datastructures/CMakeLists.txt
  libs/execution/include/hpx/execution/executors/parallel_executor_aggregated.hpp
Labels: category: tests, type: defect

#4503 Add CMakelists file check
  .circleci/config.yml
  cmake/HPX_AddModule.cmake
  libs/algorithms/CMakeLists.txt
  libs/async/CMakeLists.txt
  libs/async_combinators/CMakeLists.txt
  libs/checkpoint/CMakeLists.txt
  libs/collectives/CMakeLists.txt
  libs/command_line_handling/CMakeLists.txt
  libs/compute/CMakeLists.txt
  libs/compute_cuda/CMakeLists.txt
  libs/coroutines/CMakeLists.txt
  libs/errors/CMakeLists.txt
  libs/execution/CMakeLists.txt
  libs/execution/include/hpx/execution/executors/execution_information.hpp
  libs/functional/CMakeLists.txt
  libs/include/CMakeLists.txt
  libs/local_lcos/CMakeLists.txt
  libs/memory/CMakeLists.txt
  libs/mpi/CMakeLists.txt
  libs/pack_traversal/CMakeLists.txt
  libs/performance_counters/CMakeLists.txt
  libs/plugin/CMakeLists.txt
  libs/resiliency/CMakeLists.txt
  libs/resource_partitioner/CMakeLists.txt
  libs/runtime_configuration/CMakeLists.txt
  libs/schedulers/CMakeLists.txt
  libs/serialization/CMakeLists.txt
  libs/static_reinit/CMakeLists.txt
  libs/synchronization/CMakeLists.txt
  libs/thread_executors/CMakeLists.txt
  libs/thread_pools/CMakeLists.txt
  libs/threading_base/CMakeLists.txt
  libs/threadmanager/CMakeLists.txt
  libs/type_support/CMakeLists.txt
  libs/util/CMakeLists.txt
  libs/version/CMakeLists.txt
  tools/check_module_cmakelists.sh
Labels: category: CMake, category: modules

#4548 Fix stack size
  examples/quickstart/component_with_executor.cpp
  libs/coroutines/include/hpx/coroutines/thread_enums.hpp
  libs/threading/src/thread.cpp
  libs/threading_base/include/hpx/threading_base/set_thread_state.hpp
  tests/regressions/CMakeLists.txt
  tests/regressions/stack_size_config_4543.cpp
Labels: category: threadmanager, type: defect

#4553 Fix a runtime_ptr problem at shutdown when apex is enabled
  src/runtime_impl.cpp
Labels: category: APEX, category: core, type: compatibility issue, type: enhancement

#4549 Test FetchContent build on GitHub actions
  .github/workflows/linux_fetchcontent.yml
  tests/unit/build/fetchcontent/CMakeLists.txt
Labels: category: CMake

#4536 Add generic allocator for execution policies
  libs/algorithms/tests/regressions/count_3646.cpp
  libs/compute/include/hpx/compute/host/block_allocator.hpp
  libs/compute/include/hpx/compute/traits/allocator_traits.hpp
  libs/execution/include/hpx/execution/executors/static_chunk_size.hpp
  tests/performance/local/stream.cpp
Labels: category: executors

#4560 Making sure hash_any::operator()() is linked into core library
  libs/serialization/CMakeLists.txt
  libs/serialization/include/hpx/serialization/force_linking.hpp
  libs/serialization/include/hpx/serialization/serializable_any.hpp
  libs/serialization/src/force_linking.cpp
  libs/serialization/src/serializable_any.cpp
Labels: category: CI, platform: Windows, type: compatibility issue, type: enhancement

#4563 fix CMake option typo
  CMakeLists.txt
Labels: category: CMake, type: defect

#4559 Fixing compilation if HPX_WITH_THREAD_BACKTRACE_ON_SUSPENSION=On
  libs/threading_base/CMakeLists.txt
  libs/threading_base/include/hpx/threading_base/detail/reset_backtrace.hpp
  libs/threading_base/include/hpx/threading_base/detail/reset_lco_description.hpp
  libs/threading_base/src/execution_agent.cpp
  libs/threading_base/src/thread_data.cpp
  libs/threading_base/src/thread_helpers.cpp
Labels: type: compatibility issue, type: enhancement

#4557 Improve spinlock implementation to perform better in high-contention situations
  hpx/runtime/naming/name.hpp
  libs/basic_execution/include/hpx/basic_execution/this_thread.hpp
  libs/synchronization/include/hpx/synchronization/spinlock.hpp
  libs/synchronization/include/hpx/synchronization/spinlock_no_backoff.hpp
  libs/synchronization/src/stop_token.cpp
Labels: category: LCOs, type: enhancement

#4575 Excluding unconditional definition of class backtrace from global header
  libs/debugging/CMakeLists.txt
Labels: type: compatibility issue, type: enhancement

#4574 Changing return type of hardware_concurrency() to unsigned int
  libs/threading/include/hpx/threading/thread.hpp
  libs/threading/src/thread.cpp
  libs/topology/include/hpx/topology/topology.hpp
  libs/topology/src/topology.cpp
Labels: category: threadmanager, type: compatibility issue, type: enhancement

#4562 Unregister lock earlier to avoid holding it while suspending
  libs/synchronization/src/mutex.cpp
Labels: category: LCOs, category: tests, type: defect

#4552 Add configuration option for making exceptions less noisy
  docs/sphinx/manual/launching_and_configuring_hpx_applications.rst
  libs/runtime_configuration/src/init_ini_data.cpp
  libs/runtime_configuration/src/runtime_configuration.cpp
  src/custom_exception_info.cpp
  src/runtime.cpp
Labels: category: diagnostics, type: enhancement

#4579 Move get_stack_size_name and related functions
  hpx/runtime.hpp
  libs/coroutines/CMakeLists.txt
  libs/coroutines/include/hpx/coroutines/thread_enums.hpp
  libs/coroutines/src/thread_enums.cpp
  libs/threadmanager/src/threadmanager.cpp
  src/runtime.cpp
Labels: category: modules, category: threadmanager

#4581 Adding missing using placeholder::_X
  libs/performance_counters/src/registry.cpp
  src/runtime/agas/addressing_service.cpp
  tests/performance/network/network_storage/network_storage.cpp
Labels: type: compatibility issue, type: enhancement

#4582 Changing download url for Windows prerequisites to circumvent bandwidth limitations
  .github/workflows/windows.yml
Labels: category: CI, platform: Windows, type: enhancement

#4583 Fixing bad static_cast
  libs/topology/src/topology.cpp
Labels: category: core, type: compatibility issue, type: enhancement

#4586 Remove Travis CI config
  .travis.yml
  tools/travis/build_and_run_tests.sh
  tools/travis/configure.sh
  tools/travis/install_dependencies.sh
Labels: category: TravisCI, type: cleanup

#4561 Adding test macros supporting custom output stream
  libs/testing/include/hpx/testing.hpp
  libs/testing/src/testing.cpp
  libs/testing/tests/unit/CMakeLists.txt
  libs/testing/tests/unit/test_macros.cpp
Labels: category: tests, type: enhancement
