Repository STEllAR-GROUP/hpx, pull requests merged in 2021-01, with the labels that each got.

#5091 Avoid moving from lvalues
  libs/core/config/include/hpx/config/lambda_capture.hpp
Labels: type: compatibility issue, type: enhancement

#5090 Adopt C++20 std::endian
  cmake/HPX_AddConfigTest.cmake
  cmake/HPX_PerformCxxFeatureTests.cmake
  cmake/tests/cxx20_std_endian.cpp
  hpx/runtime/parcelset/parcelport_impl.hpp
  libs/core/config/CMakeLists.txt
  libs/core/config/include/hpx/config/endian.hpp
  libs/core/serialization/include/hpx/serialization/array.hpp
  libs/core/serialization/include/hpx/serialization/input_archive.hpp
  libs/core/serialization/include/hpx/serialization/output_archive.hpp
  libs/full/runtime_configuration/src/runtime_configuration.cpp
  src/runtime/parcelset/parcelhandler.cpp
Labels: type: compatibility issue, type: enhancement

#5093 Remove verbs parcelport
  CMakeLists.txt
  cmake/FindIB_VERBS.cmake
  cmake/FindIbverbs.cmake
  cmake/HPX_AddTest.cmake
  cmake/HPX_SetupBoost.cmake
  cmake/HPX_SetupVerbs.cmake
  cmake/templates/hpxrun.py.in
  cmake/toolchains/BGION-gcc.cmake
  cmake/toolchains/BGQ.cmake
  cmake/toolchains/XeonPhi.cmake
  libs/full/runtime_local/tests/unit/thread_mapper.cpp
  plugins/parcelport/CMakeLists.txt
  plugins/parcelport/parcelport_logging.hpp
  plugins/parcelport/verbs/.gitignore
  plugins/parcelport/verbs/CMakeLists.txt
  plugins/parcelport/verbs/connection_handler.hpp
  plugins/parcelport/verbs/header.hpp
  plugins/parcelport/verbs/locality.hpp
  plugins/parcelport/verbs/parcelport_verbs.cpp
  plugins/parcelport/verbs/performance_counter.hpp
  plugins/parcelport/verbs/pinned_memory_vector.hpp
  plugins/parcelport/verbs/rdma/RdmaCompletionChannel.h.good
  plugins/parcelport/verbs/rdma/rdma_chunk_pool.hpp
  plugins/parcelport/verbs/rdma/rdma_controller.cpp
  plugins/parcelport/verbs/rdma/rdma_controller.hpp
  plugins/parcelport/verbs/rdma/rdma_error.hpp
  plugins/parcelport/verbs/rdma/rdma_locks.hpp
  plugins/parcelport/verbs/rdma/rdma_logging.hpp
  plugins/parcelport/verbs/rdma/rdma_memory_pool.hpp
  plugins/parcelport/verbs/rdma/verbs_completion_queue.hpp
  plugins/parcelport/verbs/rdma/verbs_device.hpp
  plugins/parcelport/verbs/rdma/verbs_endpoint.hpp
  plugins/parcelport/verbs/rdma/verbs_event_channel.hpp
  plugins/parcelport/verbs/rdma/verbs_memory_region.hpp
  plugins/parcelport/verbs/rdma/verbs_protection_domain.hpp
  plugins/parcelport/verbs/rdma/verbs_sender_receiver.hpp
  plugins/parcelport/verbs/rdma/verbs_shared_receive_queue.hpp
  plugins/parcelport/verbs/sender_connection.hpp
  tests/performance/network/network_storage/ll-network-storage.sh.in
  tests/performance/network/network_storage/network_storage.cpp
Labels: category: parcel transport, type: cleanup

#5095 Use all AMD nodes again on rostam
  .jenkins/lsu/slurm-configuration-hipcc.sh
Labels: category: CI, platform: HIP

#5096 Remove fractals examples
  examples/quickstart/CMakeLists.txt
  examples/quickstart/EasyBMP/EasyBMP.cpp
  examples/quickstart/EasyBMP/EasyBMP.hpp
  examples/quickstart/EasyBMP/EasyBMP_BMP.hpp
  examples/quickstart/EasyBMP/EasyBMP_DataStructures.hpp
  examples/quickstart/EasyBMP/EasyBMP_VariousBMPutilities.hpp
  examples/quickstart/EasyBMP/hpx-no-inspect
  examples/quickstart/fractals.cpp
  examples/quickstart/fractals_executor.cpp
  examples/quickstart/fractals_struct.cpp
Labels: type: cleanup

#5097 Remove hpxMP support
  CMakeLists.txt
  cmake/HPX_SetupHpxmp.cmake
Labels: type: cleanup

#5094 Attempt to remove macOS workaround for GH actions environment
  .github/workflows/macos_debug.yml
Labels: category: CI, type: cleanup

#5098 Minor fixes to public API listing
  docs/sphinx/api/public_api.rst
Labels: category: API, category: documentation

#5033 Implement P2220 properties module
  cmake/templates/conf.py.in
  libs/all_modules.rst
  libs/core/CMakeLists.txt
  libs/core/modules.rst
  libs/core/properties/CMakeLists.txt
  libs/core/properties/README.rst
  libs/core/properties/docs/index.rst
  libs/core/properties/examples/CMakeLists.txt
  libs/core/properties/include/hpx/properties/property.hpp
  libs/core/properties/include/hpx/property.hpp
  libs/core/properties/tests/CMakeLists.txt
  libs/core/properties/tests/performance/CMakeLists.txt
  libs/core/properties/tests/regressions/CMakeLists.txt
  libs/core/properties/tests/unit/CMakeLists.txt
  libs/core/properties/tests/unit/properties.cpp
  libs/parallelism/execution/include/hpx/execution/executors/execution_parameters.hpp
  libs/parallelism/executors/include/hpx/executors/parallel_executor.hpp
Labels: category: executors, category: modules, type: enhancement

#5064 Refactor runtime configuration, command line handling, and resource partitioner
  hpx/runtime/agas/addressing_service.hpp
  libs/core/affinity/include/hpx/affinity/affinity_data.hpp
  libs/core/affinity/src/affinity_data.cpp
  libs/full/command_line_handling/include/hpx/command_line_handling/command_line_handling.hpp
  libs/full/command_line_handling/src/command_line_handling.cpp
  libs/full/init_runtime/src/hpx_init.cpp
  libs/full/resource_partitioner/CMakeLists.txt
  libs/full/resource_partitioner/include/hpx/resource_partitioner/detail/create_partitioner.hpp
  libs/full/resource_partitioner/include/hpx/resource_partitioner/detail/partitioner.hpp
  libs/full/resource_partitioner/include/hpx/resource_partitioner/partitioner.hpp
  libs/full/resource_partitioner/src/detail_partitioner.cpp
  libs/full/resource_partitioner/src/partitioner.cpp
  libs/full/runtime_local/include/hpx/runtime_local/runtime_local.hpp
  libs/full/runtime_local/src/runtime_local.cpp
  libs/full/threadmanager/include/hpx/modules/threadmanager.hpp
  libs/full/threadmanager/src/threadmanager.cpp
  src/runtime/agas/addressing_service.cpp
  src/runtime_distributed.cpp
Labels: category: resource_partitioner, category: runtime, type: cleanup

#5084 Disable compatibility options for 1.6.0 release
  CMakeLists.txt
  examples/1d_stencil/1d_stencil_channel.cpp
  examples/quickstart/print_to_console.cpp
  examples/transpose/CMakeLists.txt
  hpx/runtime/components/server/executor_component.hpp
  libs/core/datastructures/include/hpx/datastructures/any.hpp
  libs/core/format/include/hpx/util/from_string.hpp
  libs/full/async_distributed/include/hpx/async_distributed/dataflow.hpp
  libs/full/include/include/hpx/include/resource_partitioner.hpp
  libs/full/include/include/hpx/local/runtime.hpp
  libs/full/program_options/src/utf8_codecvt_facet.cpp
  libs/full/resiliency/include/hpx/resiliency/async_replay_executor.hpp
  libs/full/resiliency/include/hpx/resiliency/async_replicate_executor.hpp
  libs/full/thread_executors/include/hpx/thread_executors/thread_execution_information.hpp
  libs/full/thread_executors/include/hpx/thread_executors/thread_timed_execution.hpp
  libs/full/threadmanager/src/threadmanager.cpp
  libs/parallelism/algorithms/tests/unit/algorithms/make_heap.cpp
  libs/parallelism/algorithms/tests/unit/algorithms/parallel_sort.cpp
  libs/parallelism/algorithms/tests/unit/container_algorithms/make_heap_range.cpp
  libs/parallelism/execution/include/hpx/execution/detail/future_exec.hpp
  libs/parallelism/execution/include/hpx/execution/executors/execution_parameters.hpp
  libs/parallelism/execution/tests/regressions/CMakeLists.txt
  libs/parallelism/executors/include/hpx/executors/apply.hpp
  libs/parallelism/executors/include/hpx/executors/async.hpp
  libs/parallelism/executors/include/hpx/executors/dataflow.hpp
  libs/parallelism/executors/include/hpx/executors/execution_policy.hpp
  libs/parallelism/executors/include/hpx/executors/sync.hpp
  libs/parallelism/executors/tests/unit/service_executors.cpp
  tests/regressions/lcos/CMakeLists.txt
  tests/regressions/threads/CMakeLists.txt
  tests/unit/apex/annotation_check.cpp
  tests/unit/resource/scheduler_binding_check.cpp
Labels: type: cleanup, type: compatibility issue

#5104 Fix regeneration of two files that trigger unnecessary rebuilds
  cmake/HPX_AddModule.cmake
  cmake/TargetArch.cmake
Labels: category: CMake, type: enhancement, type: optimization

#5102 Untie deprecated thread enums from the CMake option
  libs/core/coroutines/include/hpx/coroutines/thread_enums.hpp
Labels: type: compatibility issue

#5101 Update APEX tag for 1.6.0
  CMakeLists.txt
Labels: category: APEX

#5103 Remove default runtime mode argument from start/init overloads
  libs/full/init_runtime/include/hpx/hpx_init.hpp
  libs/full/init_runtime/include/hpx/hpx_start.hpp
Labels: type: compatibility issue

#5109 Remove default runtime mode argument from init overload, again
  libs/full/init_runtime/include/hpx/hpx_init.hpp
  libs/full/init_runtime/include/hpx/hpx_start.hpp
Labels: category: init, type: compatibility issue

#5108 Refactor iter_sent.hpp to make structs lowercase
  libs/core/iterator_support/tests/unit/is_sentinel_for.cpp
  libs/core/iterator_support/tests/unit/is_sized_sentinel_for.cpp
  libs/core/iterator_support/tests/unit/iter_sent.hpp
  libs/parallelism/algorithms/tests/regressions/count_3646.cpp
  libs/parallelism/algorithms/tests/regressions/iter_sent.hpp
  libs/parallelism/algorithms/tests/regressions/reduce_3641.cpp
  libs/parallelism/algorithms/tests/unit/algorithms/distance.cpp
  libs/parallelism/algorithms/tests/unit/algorithms/iter_sent.hpp
  libs/parallelism/algorithms/tests/unit/container_algorithms/foreach_adapt.cpp
  libs/parallelism/algorithms/tests/unit/container_algorithms/iter_sent.hpp
Labels: type: compatibility issue, type: enhancement

#5106 Change initialization of property CPOs to satisfy older nvcc versions
  libs/core/properties/include/hpx/properties/property.hpp
  libs/parallelism/execution/include/hpx/execution/executors/execution_parameters.hpp
Labels: platform: CUDA, type: defect

#5116 Fix compilation with timer pool off
  libs/full/threadmanager/src/threadmanager.cpp
Labels: category: threadmanager, type: defect

#5114 Fix 5112 - make sure libatomic is used when needed
  CMakeLists.txt
  cmake/HPX_AddConfigTest.cmake
Labels: category: CMake, type: compatibility issue, type: enhancement

#5107 Relax dataflow internals
  libs/parallelism/executors/include/hpx/executors/dataflow.hpp
  libs/parallelism/lcos_local/tests/unit/local_dataflow_executor_additional_arguments.cpp
Labels: category: executors

#5123 Reduce vector sizes in partial sort benchmarks when running in debug mode
  libs/parallelism/algorithms/tests/performance/benchmark_partial_sort.cpp
  libs/parallelism/algorithms/tests/performance/benchmark_partial_sort_parallel.cpp
Labels: category: algorithms, category: tests

#5119 Use sequential_find and friends from separate detail header
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/all_any_none.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/detail/find.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/find.hpp
Labels: category: algorithms, type: compatibility issue, type: enhancement

#5122 Making sure exceptions during runtime initialization are correctly reported
  libs/core/errors/include/hpx/errors/exception.hpp
  libs/full/runtime_local/include/hpx/runtime_local/custom_exception_info.hpp
  libs/full/runtime_local/src/custom_exception_info.cpp
  libs/full/runtime_local/src/runtime_local.cpp
Labels: category: init, type: compatibility issue, type: enhancement

#5120 Fixing compatibility warnings in hpx::transform implementation
  libs/parallelism/algorithms/include/hpx/parallel/container_algorithms/transform.hpp
  plugins/parcelport/libfabric/sender.cpp
Labels: type: compatibility issue, type: enhancement

#5127 Fix typo in fibonacci documentation
  docs/sphinx/examples/fibonacci_local.rst
Labels: category: documentation

#5130 Adding specialization for std::hash<hpx::thread::id>
  libs/core/threading_base/include/hpx/threading_base/threading_base_fwd.hpp
  libs/parallelism/threading/include/hpx/threading/thread.hpp
Labels: type: compatibility issue, type: enhancement

#5131 Mark counting_iterator member functions as HPX_HOST_DEVICE
  libs/core/iterator_support/include/hpx/iterator_support/counting_iterator.hpp
Labels: platform: CUDA

#5132 Fixing spelling errors
  docs/joss_paper/paper.bib
  docs/sphinx/manual/launching_and_configuring_hpx_applications.rst
  docs/sphinx/releases/whats_new_0_9_6.rst
  docs/sphinx/releases/whats_new_0_9_8.rst
  docs/sphinx/releases/whats_new_0_9_9.rst
  docs/sphinx/releases/whats_new_0_9_99.rst
  docs/sphinx/releases/whats_new_1_0_0.rst
  examples/quickstart/composable_guard.cpp
  examples/spell_check/5desk.txt
  libs/core/concurrency/include/hpx/concurrency/detail/contiguous_index_queue.hpp
  libs/core/config/include/hpx/config.hpp
  libs/full/collectives/src/create_communication_set.cpp
  libs/full/program_options/include/hpx/program_options/parsers.hpp
  libs/full/resiliency_distributed/examples/async_replay_distributed.cpp
  libs/full/resiliency_distributed/examples/async_replicate_distributed.cpp
  libs/full/resiliency_distributed/tests/performance/replay/1d_stencil_replay_distributed.cpp
  libs/full/resiliency_distributed/tests/performance/replay/async_replay_distributed_validate.cpp
  libs/full/resiliency_distributed/tests/performance/replicate/async_replicate_distributed.cpp
  libs/full/resiliency_distributed/tests/performance/replicate/async_replicate_distributed_validate.cpp
  libs/full/resiliency_distributed/tests/performance/replicate/async_replicate_distributed_vote.cpp
  libs/full/resiliency_distributed/tests/performance/replicate/async_replicate_distributed_vote_validate.cpp
  libs/parallelism/resiliency/examples/dataflow_replicate.cpp
  plugins/parcelport/libfabric/receiver.hpp
Labels: type: enhancement

#5121 Working around hwloc limitation on certain platforms
  .jenkins/lsu/env-clang-9.sh
  libs/core/topology/CMakeLists.txt
  libs/core/topology/include/hpx/topology/topology.hpp
  libs/core/topology/src/topology.cpp
Labels: category: init, category: tools, type: compatibility issue, type: enhancement

#5136 Make sure codespell checks run on CircleCI
  .circleci/config.yml
Labels: category: CI

#5128 Fixing environment handling for FreeBSD
  components/performance_counters/memory/CMakeLists.txt
  components/process/include/hpx/components/process/util/posix/initializers/inherit_env.hpp
  examples/quickstart/CMakeLists.txt
  libs/core/debugging/CMakeLists.txt
  libs/core/debugging/include/hpx/debugging/environ.hpp
  libs/core/debugging/src/print.cpp
  libs/full/performance_counters/tests/regressions/CMakeLists.txt
  libs/full/program_options/src/parsers.cpp
  libs/full/runtime_local/src/custom_exception_info.cpp
Labels: platform: FreeBSD, type: compatibility issue, type: enhancement

#5139 Fix path problem in pre-commit hook, add summary commit line
  tools/pre-commit
Labels: category: tools, type: enhancement
