Repository STEllAR-GROUP/hpx, pull requests merged in 2021-07, with the labels that each got.

#5427 Removing unneeded typedef
  libs/parallelism/executors/include/hpx/executors/p0443_executor.hpp
Labels: category: executors, type: compatibility issue, type: enhancement

#5425 Adding the missing defined for HPX_HAVE_DEPRECATION_WARNINGS
  libs/core/config/include/hpx/config/attributes.hpp
Labels: type: compatibility issue, type: enhancement

#5389 Adapt uninitialized_move and uninitialized_move_n to C++ 20
  docs/sphinx/api/public_api.rst
  docs/sphinx/manual/writing_single_node_hpx_applications.rst
  libs/full/include_local/include/hpx/local/memory.hpp
  libs/parallelism/algorithms/CMakeLists.txt
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/uninitialized_move.hpp
  libs/parallelism/algorithms/include/hpx/parallel/container_algorithms/uninitialized_move.hpp
  libs/parallelism/algorithms/include/hpx/parallel/container_memory.hpp
  libs/parallelism/algorithms/include/hpx/parallel/util/result_types.hpp
  libs/parallelism/algorithms/tests/unit/algorithms/uninitialized_move.cpp
  libs/parallelism/algorithms/tests/unit/algorithms/uninitialized_move_tests.hpp
  libs/parallelism/algorithms/tests/unit/algorithms/uninitialized_moven.cpp
  libs/parallelism/algorithms/tests/unit/container_algorithms/CMakeLists.txt
  libs/parallelism/algorithms/tests/unit/container_algorithms/uninitialized_move_n_range.cpp
  libs/parallelism/algorithms/tests/unit/container_algorithms/uninitialized_move_range.cpp
Labels: category: algorithms, type: compatibility issue, type: enhancement

#5426 Adding more concept checks for sender/receiver algorithms
  libs/core/execution_base/include/hpx/execution_base/sender.hpp
  libs/parallelism/execution/include/hpx/execution/algorithms/detach.hpp
  libs/parallelism/execution/include/hpx/execution/algorithms/ensure_started.hpp
  libs/parallelism/execution/include/hpx/execution/algorithms/let_error.hpp
  libs/parallelism/execution/include/hpx/execution/algorithms/let_value.hpp
  libs/parallelism/execution/include/hpx/execution/algorithms/on.hpp
  libs/parallelism/execution/include/hpx/execution/algorithms/sync_wait.hpp
  libs/parallelism/execution/include/hpx/execution/algorithms/transform.hpp
Labels: category: executors, type: compatibility issue, type: enhancement

#5424 Disable Vc in final docker image created in CI
  .circleci/config.yml
Labels: category: CircleCi

#5415 Adapt uninitialized_default_construct and uninitialized_default_construct_n to C++ 20
  docs/sphinx/api/public_api.rst
  docs/sphinx/manual/writing_single_node_hpx_applications.rst
  libs/full/include_local/include/hpx/local/memory.hpp
  libs/parallelism/algorithms/CMakeLists.txt
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/uninitialized_default_construct.hpp
  libs/parallelism/algorithms/include/hpx/parallel/container_algorithms/uninitialized_default_construct.hpp
  libs/parallelism/algorithms/tests/unit/algorithms/uninitialized_default_construct_tests.hpp
  libs/parallelism/algorithms/tests/unit/algorithms/uninitialized_default_constructn.cpp
  libs/parallelism/algorithms/tests/unit/container_algorithms/CMakeLists.txt
  libs/parallelism/algorithms/tests/unit/container_algorithms/uninitialized_default_construct_range.cpp
  libs/parallelism/algorithms/tests/unit/container_algorithms/uninitialized_default_constructn_range.cpp
Labels: category: algorithms, type: compatibility issue, type: enhancement

#5430 Revert "Adding the missing defined for HPX_HAVE_DEPRECATION_WARNINGS"
  libs/core/config/include/hpx/config/attributes.hpp
Labels: category: core, type: compatibility issue, type: enhancement

#5422 Adding execution::experimental::bulk algorithm
  libs/core/type_support/include/hpx/type_support/pack.hpp
  libs/parallelism/execution/CMakeLists.txt
  libs/parallelism/execution/include/hpx/execution/algorithms/bulk.hpp
  libs/parallelism/execution/include/hpx/execution/algorithms/transform.hpp
  libs/parallelism/execution/include/hpx/execution/algorithms/when_all.hpp
  libs/parallelism/execution/tests/unit/CMakeLists.txt
  libs/parallelism/execution/tests/unit/algorithm_bulk.cpp
  libs/parallelism/execution/tests/unit/algorithm_test_utils.hpp
Labels: category: executors, type: compatibility issue, type: enhancement

#5432 Add deprecation warnings for v1.8
  libs/core/config/include/hpx/config/deprecation.hpp
Labels: category: core, type: compatibility issue, type: enhancement

#5438 Delete datapar/foreach_tests.hpp
  libs/parallelism/algorithms/tests/unit/datapar_algorithms/foreach_tests.hpp
Labels: type: cleanup

#5431 Rename the new P0443/P2300 executor to thread_pool_scheduler
  libs/core/synchronization/tests/unit/async_rw_mutex.cpp
  libs/full/async_cuda/tests/unit/transform_stream.cu
  libs/full/compute_cuda/tests/performance/synchronize.cu
  libs/parallelism/executors/CMakeLists.txt
  libs/parallelism/executors/include/hpx/executors/thread_pool_scheduler.hpp
  libs/parallelism/executors/tests/unit/CMakeLists.txt
  libs/parallelism/executors/tests/unit/thread_pool_scheduler.cpp
Labels: category: senders/receivers

#5433 Fix when_all_sender connect for references
  libs/parallelism/execution/include/hpx/execution/algorithms/when_all.hpp
Labels: category: senders/receivers, type: defect

#5434 Update CUDA polling logging to be more verbose
  libs/full/async_cuda/src/cuda_event_callback.cpp
Labels: platform: CUDA

#5437 Add back explicit -pthread flags when available
  CMakeLists.txt
  cmake/HPX_AddCompileFlag.cmake
  cmake/HPX_AddLinkFlag.cmake
  cmake/HPX_SetupThreads.cmake
Labels: category: CMake

#5417 Final release notes for 1.7.0
  docs/sphinx/releases/whats_new_1_7_0.rst
Labels: category: documentation

#5446 Use more verbose names in sender algorithms
  libs/parallelism/execution/include/hpx/execution/algorithms/bulk.hpp
  libs/parallelism/execution/include/hpx/execution/algorithms/detach.hpp
  libs/parallelism/execution/include/hpx/execution/algorithms/ensure_started.hpp
  libs/parallelism/execution/include/hpx/execution/algorithms/just.hpp
  libs/parallelism/execution/include/hpx/execution/algorithms/let_error.hpp
  libs/parallelism/execution/include/hpx/execution/algorithms/let_value.hpp
  libs/parallelism/execution/include/hpx/execution/algorithms/make_future.hpp
  libs/parallelism/execution/include/hpx/execution/algorithms/on.hpp
  libs/parallelism/execution/include/hpx/execution/algorithms/sync_wait.hpp
  libs/parallelism/execution/include/hpx/execution/algorithms/transform.hpp
  libs/parallelism/execution/include/hpx/execution/algorithms/when_all.hpp
  libs/parallelism/execution/tests/unit/algorithm_ensure_started.cpp
Labels: category: senders/receivers, type: cleanup

#5443 Properly support ASAN with MSVC
  CMakeLists.txt
  libs/core/config/include/hpx/config/compiler_specific.hpp
  libs/core/coroutines/include/hpx/coroutines/detail/context_linux_x86.hpp
  libs/core/coroutines/include/hpx/coroutines/detail/context_windows_fibers.hpp
Labels: category: instrumentation, platform: Windows, type: compatibility issue, type: enhancement

#5450 Change the print-bind output to be more precise
  libs/core/topology/src/topology.cpp
Labels: type: cleanup

#5453 Post 1.7.0 version bump
  CMakeLists.txt
  tools/roll_release.sh
Labels: category: general

#5454 Make performance plot show even if similar performance
  tools/perftests_ci/perftest/plot.py
Labels: category: perftests

#5452 Fix find_end parallel overload
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/find.hpp
  libs/parallelism/algorithms/tests/unit/algorithms/findend.cpp
Labels: category: algorithms, type: compatibility issue, type: enhancement

#5445 Improve performance of Spinlocks
  libs/core/synchronization/include/hpx/synchronization/spinlock.hpp
  libs/core/thread_support/include/hpx/thread_support/spinlock.hpp
Labels: category: LCOs, type: enhancement, type: optimization

#5461 Rename HPX_WITH_CUDA_COMPUTE with HPX_WITH_COMPUTE_CUDA
  CMakeLists.txt
  libs/full/async_cuda/docs/index.rst
  libs/full/compute_cuda/CMakeLists.txt
  libs/full/compute_cuda/examples/CMakeLists.txt
  libs/full/segmented_algorithms/tests/unit/CMakeLists.txt
  tests/performance/local/CMakeLists.txt
Labels: category: CMake, platform: CUDA

#5464 Moving tag_dispatch to separate module
  libs/core/CMakeLists.txt
  libs/core/functional/CMakeLists.txt
  libs/core/functional/tests/unit/CMakeLists.txt
  libs/core/modules.rst
  libs/core/tag_dispatch/CMakeLists.txt
  libs/core/tag_dispatch/README.rst
  libs/core/tag_dispatch/docs/index.rst
  libs/core/tag_dispatch/examples/CMakeLists.txt
  libs/core/tag_dispatch/include/hpx/functional/detail/invoke.hpp
  libs/core/tag_dispatch/include/hpx/functional/invoke_result.hpp
  libs/core/tag_dispatch/include/hpx/functional/tag_dispatch.hpp
  libs/core/tag_dispatch/include/hpx/functional/tag_fallback_dispatch.hpp
  libs/core/tag_dispatch/include/hpx/functional/tag_priority_dispatch.hpp
  libs/core/tag_dispatch/include/hpx/functional/traits/is_invocable.hpp
  libs/core/tag_dispatch/tests/CMakeLists.txt
  libs/core/tag_dispatch/tests/performance/CMakeLists.txt
  libs/core/tag_dispatch/tests/regressions/CMakeLists.txt
  libs/core/tag_dispatch/tests/unit/CMakeLists.txt
  libs/core/tag_dispatch/tests/unit/tag_dispatch.cpp
Labels: category: infrastructure, category: modules, type: compatibility issue

#5474 Make the cuda parameters of try_compile optional
  cmake/HPX_AddConfigTest.cmake
Labels: category: CMake

#5476 Fix cmake format error
  cmake/HPX_AddConfigTest.cmake
Labels: category: CMake

#5439 Adapt inclusive_scan to C++ 20
  docs/sphinx/api/public_api.rst
  docs/sphinx/manual/writing_single_node_hpx_applications.rst
  libs/core/iterator_support/include/hpx/iterator_support/traits/is_range.hpp
  libs/full/collectives/include/hpx/collectives/inclusive_scan.hpp
  libs/full/include_local/include/hpx/local/numeric.hpp
  libs/full/segmented_algorithms/include/hpx/parallel/segmented_algorithms/inclusive_scan.hpp
  libs/full/segmented_algorithms/include/hpx/parallel/segmented_algorithms/transform_inclusive_scan.hpp
  libs/full/segmented_algorithms/tests/unit/partitioned_vector_adjacent_difference1.cpp
  libs/full/segmented_algorithms/tests/unit/partitioned_vector_adjacent_difference2.cpp
  libs/full/segmented_algorithms/tests/unit/partitioned_vector_find.cpp
  libs/full/segmented_algorithms/tests/unit/partitioned_vector_find2.cpp
  libs/full/segmented_algorithms/tests/unit/partitioned_vector_inclusive_scan.cpp
  libs/full/segmented_algorithms/tests/unit/partitioned_vector_inclusive_scan2.cpp
  libs/parallelism/algorithms/CMakeLists.txt
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/inclusive_scan.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/reduce_by_key.hpp
  libs/parallelism/algorithms/include/hpx/parallel/container_algorithms/inclusive_scan.hpp
  libs/parallelism/algorithms/include/hpx/parallel/container_numeric.hpp
  libs/parallelism/algorithms/tests/regressions/scan_different_inits.cpp
  libs/parallelism/algorithms/tests/regressions/scan_non_commutative.cpp
  libs/parallelism/algorithms/tests/unit/algorithms/inclusive_scan.cpp
  libs/parallelism/algorithms/tests/unit/algorithms/inclusive_scan_tests.hpp
  libs/parallelism/algorithms/tests/unit/container_algorithms/CMakeLists.txt
  libs/parallelism/algorithms/tests/unit/container_algorithms/inclusive_scan_range.cpp
Labels: category: algorithms, type: compatibility issue, type: enhancement

#5481 Changing the APEX repository to the new location
  cmake/HPX_SetupApex.cmake
  cmake/templates/conf.py.in
Labels: category: APEX

#5421 Update CI base image to use clang-format 11
  .circleci/config.yml
  .clang-format
  .github/workflows/linux_debug.yml
  .github/workflows/linux_hip.yml
  .github/workflows/linux_release_fetchcontent.yml
  .github/workflows/linux_sanitizers.yml
  libs/core/datastructures/include/hpx/datastructures/member_pack.hpp
  libs/core/datastructures/include/hpx/datastructures/optional.hpp
  libs/core/errors/include/hpx/errors/exception_info.hpp
  libs/core/execution_base/include/hpx/execution_base/sender.hpp
  libs/core/execution_base/tests/unit/basic_schedule.cpp
  libs/core/execution_base/tests/unit/basic_submit.cpp
  libs/core/iterator_support/include/hpx/iterator_support/iterator_facade.hpp
  libs/core/iterator_support/tests/unit/iterator_facade.cpp
  libs/core/logging/include/hpx/modules/logging.hpp
  libs/core/memory/include/hpx/memory/intrusive_ptr.hpp
  libs/core/serialization/include/hpx/serialization/traits/brace_initializable_traits.hpp
  libs/core/tag_dispatch/include/hpx/functional/tag_fallback_dispatch.hpp
  libs/core/threading_base/include/hpx/threading_base/thread_description.hpp
  libs/core/threading_base/include/hpx/threading_base/threading_base_fwd.hpp
  libs/full/async_cuda/tests/unit/saxpy.cu
  libs/full/naming_base/include/hpx/naming_base/id_type.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/transform_exclusive_scan.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/transform_inclusive_scan.hpp
  libs/parallelism/algorithms/include/hpx/parallel/util/projection_identity.hpp
  libs/parallelism/execution/include/hpx/execution/algorithms/bulk.hpp
  libs/parallelism/execution/include/hpx/execution/algorithms/detach.hpp
  libs/parallelism/execution/include/hpx/execution/algorithms/ensure_started.hpp
  libs/parallelism/execution/include/hpx/execution/algorithms/let_error.hpp
  libs/parallelism/execution/include/hpx/execution/algorithms/let_value.hpp
  libs/parallelism/execution/include/hpx/execution/algorithms/make_future.hpp
  libs/parallelism/execution/include/hpx/execution/algorithms/on.hpp
  libs/parallelism/execution/include/hpx/execution/algorithms/sync_wait.hpp
  libs/parallelism/execution/include/hpx/execution/algorithms/transform.hpp
  libs/parallelism/execution/include/hpx/execution/algorithms/when_all.hpp
  libs/parallelism/executors/include/hpx/executors/parallel_executor.hpp
  libs/parallelism/executors/include/hpx/executors/restricted_thread_pool_executor.hpp
  libs/parallelism/pack_traversal/include/hpx/pack_traversal/detail/pack_traversal_async_impl.hpp
  tools/docker/Dockerfile
Labels: category: CI

#5479 Fix version check for CUDA noexcept/result_of bug
  libs/parallelism/lcos_local/include/hpx/lcos_local/channel.hpp
Labels: compiler: gcc, platform: CUDA, type: defect

#5436 Adapt exclusive_scan to C++20
  docs/sphinx/api/public_api.rst
  docs/sphinx/manual/writing_single_node_hpx_applications.rst
  libs/full/collectives/include/hpx/collectives/exclusive_scan.hpp
  libs/full/include_local/include/hpx/local/numeric.hpp
  libs/full/segmented_algorithms/include/hpx/parallel/segmented_algorithms/exclusive_scan.hpp
  libs/full/segmented_algorithms/include/hpx/parallel/segmented_algorithms/transform_exclusive_scan.hpp
  libs/full/segmented_algorithms/tests/unit/partitioned_vector_exclusive_scan.cpp
  libs/full/segmented_algorithms/tests/unit/partitioned_vector_exclusive_scan2.cpp
  libs/parallelism/algorithms/CMakeLists.txt
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/exclusive_scan.hpp
  libs/parallelism/algorithms/include/hpx/parallel/container_algorithms/exclusive_scan.hpp
  libs/parallelism/algorithms/include/hpx/parallel/container_numeric.hpp
  libs/parallelism/algorithms/tests/regressions/scan_different_inits.cpp
  libs/parallelism/algorithms/tests/regressions/scan_non_commutative.cpp
  libs/parallelism/algorithms/tests/unit/algorithms/exclusive_scan.cpp
  libs/parallelism/algorithms/tests/unit/algorithms/exclusive_scan2.cpp
  libs/parallelism/algorithms/tests/unit/algorithms/exclusive_scan_bad_alloc.cpp
  libs/parallelism/algorithms/tests/unit/algorithms/exclusive_scan_exception.cpp
  libs/parallelism/algorithms/tests/unit/algorithms/exclusive_scan_validate.cpp
  libs/parallelism/algorithms/tests/unit/container_algorithms/CMakeLists.txt
  libs/parallelism/algorithms/tests/unit/container_algorithms/exclusive_scan_range.cpp
  libs/parallelism/algorithms/tests/unit/container_algorithms/lexicographical_compare_range.cpp
Labels: category: algorithms, type: compatibility issue, type: enhancement

#5440 Adapt transform_exclusive_scan to C++ 20
  docs/sphinx/api/public_api.rst
  libs/full/include_local/include/hpx/local/numeric.hpp
  libs/full/segmented_algorithms/include/hpx/parallel/segmented_algorithms/transform_exclusive_scan.hpp
  libs/full/segmented_algorithms/tests/unit/partitioned_vector_transform_scan.cpp
  libs/full/segmented_algorithms/tests/unit/partitioned_vector_transform_scan2.cpp
  libs/parallelism/algorithms/CMakeLists.txt
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/transform_exclusive_scan.hpp
  libs/parallelism/algorithms/include/hpx/parallel/container_algorithms/transform_exclusive_scan.hpp
  libs/parallelism/algorithms/include/hpx/parallel/container_numeric.hpp
  libs/parallelism/algorithms/tests/regressions/scan_different_inits.cpp
  libs/parallelism/algorithms/tests/unit/algorithms/transform_exclusive_scan.cpp
  libs/parallelism/algorithms/tests/unit/container_algorithms/CMakeLists.txt
  libs/parallelism/algorithms/tests/unit/container_algorithms/transform_exclusive_scan_range.cpp
Labels: category: algorithms, type: compatibility issue, type: enhancement

#5444 Adapt transform_inclusive_scan to C++ 20
  docs/sphinx/api/public_api.rst
  docs/sphinx/manual/writing_single_node_hpx_applications.rst
  libs/full/include_local/include/hpx/local/numeric.hpp
  libs/full/segmented_algorithms/include/hpx/parallel/segmented_algorithms/transform_inclusive_scan.hpp
  libs/full/segmented_algorithms/tests/unit/partitioned_vector_transform_scan.cpp
  libs/full/segmented_algorithms/tests/unit/partitioned_vector_transform_scan2.cpp
  libs/parallelism/algorithms/CMakeLists.txt
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/transform_inclusive_scan.hpp
  libs/parallelism/algorithms/include/hpx/parallel/container_algorithms/transform_inclusive_scan.hpp
  libs/parallelism/algorithms/tests/regressions/scan_different_inits.cpp
  libs/parallelism/algorithms/tests/regressions/transform_inclusive_scan_4786.cpp
  libs/parallelism/algorithms/tests/regressions/transform_inclusive_scan_4787.cpp
  libs/parallelism/algorithms/tests/unit/algorithms/transform_inclusive_scan.cpp
  libs/parallelism/algorithms/tests/unit/container_algorithms/CMakeLists.txt
  libs/parallelism/algorithms/tests/unit/container_algorithms/transform_inclusive_scan_range.cpp
Labels: category: algorithms, type: compatibility issue, type: enhancement
