Repository STEllAR-GROUP/hpx, pull requests merged in 2021-10, with the labels that each got.

#5543 Extend launch policy to carry stack size and scheduling hint in addition to priority
  libs/core/async_base/CMakeLists.txt
  libs/core/async_base/include/hpx/async_base/launch_policy.hpp
  libs/core/async_base/include/hpx/async_base/scheduling_properties.hpp
  libs/core/async_base/include/hpx/async_base/traits/is_launch_policy.hpp
  libs/core/async_base/src/launch_policy.cpp
  libs/core/async_base/tests/unit/CMakeLists.txt
  libs/core/async_base/tests/unit/launch_policy.cpp
  libs/core/coroutines/include/hpx/coroutines/thread_enums.hpp
  libs/core/execution/include/hpx/execution/detail/async_launch_policy_dispatch.hpp
  libs/core/execution/include/hpx/execution/detail/post_policy_dispatch.hpp
  libs/core/execution/include/hpx/execution/executors/execution_parameters.hpp
  libs/core/executors/include/hpx/executors/detail/hierarchical_spawning.hpp
  libs/core/executors/include/hpx/executors/fork_join_executor.hpp
  libs/core/executors/include/hpx/executors/guided_pool_executor.hpp
  libs/core/executors/include/hpx/executors/parallel_executor.hpp
  libs/core/executors/include/hpx/executors/restricted_thread_pool_executor.hpp
  libs/core/futures/include/hpx/futures/detail/future_data.hpp
  libs/core/futures/include/hpx/futures/futures_factory.hpp
  libs/core/futures/src/future_data.cpp
  libs/core/properties/CMakeLists.txt
  libs/core/runtime_local/src/custom_exception_info.cpp
Labels: category: threadmanager

#5591 Remove unnecessary checks for C++17 for tests
  libs/core/async_cuda/tests/unit/CMakeLists.txt
  libs/core/execution/tests/unit/CMakeLists.txt
  libs/core/executors/tests/unit/CMakeLists.txt
  libs/core/synchronization/tests/unit/CMakeLists.txt
  libs/full/compute_cuda/tests/performance/CMakeLists.txt
Labels: category: CMake, type: compatibility issue, type: cleanup

#5510 Add any_sender and unique_any_sender
  libs/core/execution/include/hpx/execution/algorithms/just.hpp
  libs/core/execution_base/CMakeLists.txt
  libs/core/execution_base/include/hpx/execution_base/any_sender.hpp
  libs/core/execution_base/src/any_sender.cpp
  libs/core/execution_base/tests/unit/CMakeLists.txt
  libs/core/execution_base/tests/unit/any_sender.cpp
Labels: category: senders/receivers

#5588 Fixing the output formatting for id_types
  libs/full/actions/tests/regressions/CMakeLists.txt
  libs/full/naming_base/src/gid_type.cpp
  libs/full/naming_base/tests/regressions/CMakeLists.txt
  libs/full/naming_base/tests/regressions/format_id_type.cpp
Labels: category: core, type: enhancement, type: compatibility issue

#5593 Update any_sender to use tag_dispatch for execution customizations
  libs/core/execution_base/include/hpx/execution_base/any_sender.hpp
  libs/core/execution_base/src/any_sender.cpp
  libs/core/execution_base/tests/unit/any_sender.cpp
Labels: type: defect, category: senders/receivers
