Repository STEllAR-GROUP/hpx, pull requests merged in 2021-04, with the labels that each got.

#5256 Separate segmented algorithms for transform
  libs/full/segmented_algorithms/include/hpx/parallel/segmented_algorithms/transform.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/transform.hpp
  libs/parallelism/algorithms/include/hpx/parallel/container_algorithms/transform.hpp
Labels: category: algorithms, type: compatibility issue, type: enhancement

#5260 Separate segmented algorithms for transform_reduce
  libs/full/segmented_algorithms/include/hpx/parallel/segmented_algorithms/transform_reduce.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/transform_reduce.hpp
  libs/parallelism/algorithms/include/hpx/parallel/container_algorithms/transform_reduce.hpp
Labels: category: algorithms, type: compatibility issue, type: enhancement

#5271 Correcting target ids for symbol_namespace::iterate
  libs/full/agas_base/src/symbol_namespace.cpp
Labels: category: AGAS, type: compatibility issue, type: enhancement

#5276 Fix typo in docs
  libs/core/execution_base/include/hpx/execution_base/operation_state.hpp
Labels: category: documentation

#5272 Fix bogus deprecation warnings with GCC 10
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/remove.hpp
  libs/parallelism/algorithms/include/hpx/parallel/container_algorithms/all_any_none.hpp
  libs/parallelism/algorithms/include/hpx/parallel/container_algorithms/count.hpp
Labels: category: algorithms, type: warning

#5273 Retry CDash submissions on failure
  .jenkins/cscs/ctest.cmake
  .jenkins/lsu/ctest.cmake
Labels: category: CI, category: CMake

#5255 Future/sender adapters
  libs/parallelism/execution/CMakeLists.txt
  libs/parallelism/execution/include/hpx/execution/algorithms/detail/single_result.hpp
  libs/parallelism/execution/include/hpx/execution/algorithms/sync_wait.hpp
  libs/parallelism/execution/include/hpx/execution/algorithms/when_all.hpp
  libs/parallelism/execution/include/hpx/execution/sender_future.hpp
  libs/parallelism/executors/tests/unit/p0443_executor.cpp
  libs/parallelism/futures/include/hpx/futures/future.hpp
Labels: category: executors

#5247 Significantly speedup simple for_each, for_loop, and transform
  libs/core/functional/include/hpx/functional/tag_fallback_invoke.hpp
  libs/core/functional/include/hpx/functional/tag_invoke.hpp
  libs/core/functional/include/hpx/functional/tag_priority_invoke.hpp
  libs/core/threading_base/include/hpx/threading_base/annotated_function.hpp
  libs/full/segmented_algorithms/include/hpx/parallel/segmented_algorithms/detail/scan.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/adjacent_difference.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/all_any_none.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/copy.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/count.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/destroy.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/equal.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/exclusive_scan.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/for_each.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/for_loop.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/for_loop_induction.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/for_loop_reduction.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/inclusive_scan.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/is_partitioned.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/is_sorted.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/minmax.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/partition.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/remove.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/transform.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/transform_exclusive_scan.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/transform_inclusive_scan.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/unique.hpp
  libs/parallelism/algorithms/include/hpx/parallel/container_algorithms/for_each.hpp
  libs/parallelism/algorithms/include/hpx/parallel/datapar/loop.hpp
  libs/parallelism/algorithms/include/hpx/parallel/util/loop.hpp
  libs/parallelism/algorithms/include/hpx/parallel/util/prefetching.hpp
  libs/parallelism/algorithms/include/hpx/parallel/util/transform_loop.hpp
  libs/parallelism/algorithms/tests/performance/CMakeLists.txt
  libs/parallelism/algorithms/tests/performance/foreach_scaling.cpp
  libs/parallelism/algorithms/tests/performance/worker_timed.hpp
  libs/parallelism/algorithms/tests/unit/algorithms/test_utils.hpp
  libs/parallelism/execution/include/hpx/execution/algorithms/detail/predicates.hpp
  tests/performance/local/CMakeLists.txt
  tests/performance/local/worker_timed.hpp
Labels: category: algorithms, type: enhancement, type: optimization

#5280 Avoid modulo by zero in counting_iterator test
  libs/core/iterator_support/tests/unit/counting_iterator.cpp
Labels: category: tests, type: defect

#5277 Small fixes and improvements to CUDA/MPI polling
  libs/core/thread_pools/include/hpx/thread_pools/scheduling_loop.hpp
  libs/core/threading_base/include/hpx/threading_base/scheduler_base.hpp
  libs/full/async_cuda/include/hpx/async_cuda/custom_gpu_api.hpp
  libs/full/async_cuda/src/cuda_future.cpp
  libs/full/async_cuda/tests/unit/cuda_future.cpp
  libs/full/async_mpi/include/hpx/async_mpi/mpi_future.hpp
  libs/full/async_mpi/src/mpi_future.cpp
Labels: platform: CUDA

#5282 Update Boost for daint 20.11 after update
  .jenkins/cscs/env-clang-cuda.sh
  .jenkins/cscs/env-gcc-cuda.sh
  .jenkins/cscs/env-icc.sh
Labels: category: boost

#5284 Replacing util::function_nonser on std::function in hpx_init
  libs/full/init_runtime/include/hpx/hpx_init.hpp
  libs/full/init_runtime/include/hpx/hpx_init_impl.hpp
  libs/full/init_runtime/tests/unit/runtime_type.cpp
Labels: category: core, category: init, type: compatibility issue, type: enhancement

#5288 Move algorithms to tag_fallback_invoke
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/destroy.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/equal.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/fill.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/find.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/for_loop.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/generate.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/includes.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/is_heap.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/is_partitioned.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/is_sorted.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/make_heap.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/merge.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/mismatch.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/move.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/partial_sort.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/reduce.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/remove.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/remove_copy.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/search.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/set_difference.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/set_intersection.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/set_symmetric_difference.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/set_union.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/transform_reduce.hpp
Labels: category: algorithms, type: compatibility issue, type: enhancement

#5289 Allow splitting of futures holding std::tuple
  libs/parallelism/async_combinators/include/hpx/async_combinators/split_future.hpp
  libs/parallelism/lcos_local/tests/unit/split_future.cpp
Labels: category: LCOs, category: data-structures, type: compatibility issue, type: enhancement

#5290 Fixed source file line statements in examples documentation
  docs/sphinx/examples/1d_stencil.rst
  docs/sphinx/examples/accumulator.rst
  docs/sphinx/examples/fibonacci.rst
  docs/sphinx/examples/interest_calculator.rst
Labels: category: documentation, type: enhancement

#5293 Fix Clang 11 cuda_future test bug
  .jenkins/cscs/env-clang-cuda.sh
  libs/full/async_cuda/tests/unit/cuda_future.cpp
  libs/full/async_cuda/tests/unit/saxpy.cu
Labels: compiler: clang, platform: CUDA

#5295 Update clang-newest configuration to use clang 12 and Boost 1.76.0
  .jenkins/cscs/env-clang-newest.sh
Labels: category: CI

#5292 Add async_rw_mutex based on senders
  libs/core/synchronization/CMakeLists.txt
  libs/core/synchronization/include/hpx/synchronization/async_rw_mutex.hpp
  libs/core/synchronization/tests/unit/CMakeLists.txt
  libs/core/synchronization/tests/unit/async_rw_mutex.cpp
Labels: type: enhancement

#5302 Fix cmake bug, now propagate flag with right language
  cmake/HPX_AddCompileFlag.cmake
Labels: category: CMake, type: compatibility issue
