Repository STEllAR-GROUP/hpx, pull requests merged in 2021-05, with the labels that each got.

#5304 Fix compilation of sender CPOs with nvcc
  libs/core/execution_base/include/hpx/execution_base/sender.hpp
Labels: category: executors, platform: CUDA

#5310 Adding hpx::execution::experimental::task_group
  libs/core/errors/include/hpx/errors/exception_list.hpp
  libs/core/synchronization/include/hpx/synchronization/latch.hpp
  libs/core/synchronization/src/detail/condition_variable.cpp
  libs/parallelism/algorithms/CMakeLists.txt
  libs/parallelism/algorithms/include/hpx/parallel/task_block.hpp
  libs/parallelism/algorithms/include/hpx/parallel/task_group.hpp
  libs/parallelism/algorithms/tests/unit/block/CMakeLists.txt
  libs/parallelism/algorithms/tests/unit/block/task_group.cpp
Labels: category: algorithms, type: compatibility issue, type: enhancement

#5316 Attempt to fix checking for libatomic
  cmake/HPX_AddConfigTest.cmake
Labels: category: CMake

#5235 Attempting to fix datapar compilation issues
  .circleci/config.yml
  .github/workflows/linux_debug.yml
  .github/workflows/linux_hip.yml
  .github/workflows/linux_release_fetchcontent.yml
  .github/workflows/linux_sanitizers.yml
  CMakeLists.txt
  libs/CMakeLists.txt
  libs/parallelism/algorithms/include/hpx/parallel/datapar/iterator_helpers.hpp
  libs/parallelism/algorithms/include/hpx/parallel/datapar/loop.hpp
  libs/parallelism/algorithms/include/hpx/parallel/datapar/transform_loop.hpp
  libs/parallelism/algorithms/include/hpx/parallel/datapar/zip_iterator.hpp
  libs/parallelism/algorithms/include/hpx/parallel/util/loop.hpp
  libs/parallelism/algorithms/include/hpx/parallel/util/transform_loop.hpp
  libs/parallelism/algorithms/tests/regressions/CMakeLists.txt
  libs/parallelism/algorithms/tests/regressions/for_each_datapar.cpp
  libs/parallelism/algorithms/tests/unit/datapar_algorithms/count_datapar.cpp
  libs/parallelism/algorithms/tests/unit/datapar_algorithms/countif_datapar.cpp
  libs/parallelism/algorithms/tests/unit/datapar_algorithms/foreach_datapar.cpp
  libs/parallelism/algorithms/tests/unit/datapar_algorithms/foreach_datapar_zipiter.cpp
  libs/parallelism/algorithms/tests/unit/datapar_algorithms/foreachn_datapar.cpp
  libs/parallelism/algorithms/tests/unit/datapar_algorithms/transform_binary2_datapar.cpp
  libs/parallelism/algorithms/tests/unit/datapar_algorithms/transform_binary_datapar.cpp
  libs/parallelism/algorithms/tests/unit/datapar_algorithms/transform_datapar.cpp
  libs/parallelism/algorithms/tests/unit/datapar_algorithms/transform_reduce_binary_datapar.cpp
  libs/parallelism/executors/include/hpx/executors/datapar/execution_policy.hpp
  tools/docker/Dockerfile
Labels: category: algorithms, type: compatibility issue, type: enhancement

#5322 Replace executor customization point implementations with tag_invoke
  libs/core/concepts/include/hpx/concepts/has_member_xxx.hpp
  libs/core/concepts/include/hpx/concepts/has_xxx.hpp
  libs/core/errors/include/hpx/errors/exception_list.hpp
  libs/core/errors/src/exception_list.cpp
  libs/core/execution_base/CMakeLists.txt
  libs/core/execution_base/include/hpx/execution_base/execution.hpp
  libs/core/execution_base/include/hpx/execution_base/traits/is_executor.hpp
  libs/core/execution_base/include/hpx/execution_base/traits/is_executor_parameters.hpp
  libs/core/type_support/include/hpx/type_support/always_void.hpp
  libs/core/type_support/include/hpx/type_support/decay.hpp
  libs/full/async_cuda/include/hpx/async_cuda/cublas_executor.hpp
  libs/full/async_cuda/include/hpx/async_cuda/cuda_executor.hpp
  libs/full/async_distributed/include/hpx/async_distributed/dataflow.hpp
  libs/full/async_mpi/include/hpx/async_mpi/mpi_executor.hpp
  libs/full/compute/include/hpx/compute/host/block_executor.hpp
  libs/full/compute_cuda/include/hpx/compute/cuda/concurrent_executor_parameters.hpp
  libs/full/compute_cuda/include/hpx/compute/cuda/default_executor.hpp
  libs/full/compute_cuda/include/hpx/compute/cuda/default_executor_parameters.hpp
  libs/full/executors_distributed/include/hpx/executors_distributed/distribution_policy_executor.hpp
  libs/full/include/include/hpx/include/traits.hpp
  libs/full/resource_partitioner/examples/CMakeLists.txt
  libs/parallelism/algorithms/include/hpx/parallel/task_group.hpp
  libs/parallelism/execution/CMakeLists.txt
  libs/parallelism/execution/include/hpx/execution/detail/future_exec.hpp
  libs/parallelism/execution/include/hpx/execution/executors/auto_chunk_size.hpp
  libs/parallelism/execution/include/hpx/execution/executors/dynamic_chunk_size.hpp
  libs/parallelism/execution/include/hpx/execution/executors/execution.hpp
  libs/parallelism/execution/include/hpx/execution/executors/execution_information.hpp
  libs/parallelism/execution/include/hpx/execution/executors/execution_information_fwd.hpp
  libs/parallelism/execution/include/hpx/execution/executors/execution_parameters.hpp
  libs/parallelism/execution/include/hpx/execution/executors/execution_parameters_fwd.hpp
  libs/parallelism/execution/include/hpx/execution/executors/guided_chunk_size.hpp
  libs/parallelism/execution/include/hpx/execution/executors/persistent_auto_chunk_size.hpp
  libs/parallelism/execution/include/hpx/execution/executors/polymorphic_executor.hpp
  libs/parallelism/execution/include/hpx/execution/executors/static_chunk_size.hpp
  libs/parallelism/execution/include/hpx/execution/traits/executor_traits.hpp
  libs/parallelism/execution/include/hpx/execution/traits/future_then_result_exec.hpp
  libs/parallelism/execution/tests/unit/executor_parameters.cpp
  libs/parallelism/executors/include/hpx/executors/apply.hpp
  libs/parallelism/executors/include/hpx/executors/async.hpp
  libs/parallelism/executors/include/hpx/executors/dataflow.hpp
  libs/parallelism/executors/include/hpx/executors/datapar/execution_policy.hpp
  libs/parallelism/executors/include/hpx/executors/execution_policy.hpp
  libs/parallelism/executors/include/hpx/executors/fork_join_executor.hpp
  libs/parallelism/executors/include/hpx/executors/guided_pool_executor.hpp
  libs/parallelism/executors/include/hpx/executors/limiting_executor.hpp
  libs/parallelism/executors/include/hpx/executors/parallel_executor.hpp
  libs/parallelism/executors/include/hpx/executors/parallel_executor_aggregated.hpp
  libs/parallelism/executors/include/hpx/executors/sequenced_executor.hpp
  libs/parallelism/executors/include/hpx/executors/sync.hpp
  libs/parallelism/executors/tests/unit/fork_join_executor.cpp
  libs/parallelism/futures/include/hpx/futures/traits/future_access.hpp
  libs/parallelism/resiliency/include/hpx/resiliency/replay_executor.hpp
  libs/parallelism/resiliency/include/hpx/resiliency/replicate_executor.hpp
  libs/parallelism/timed_execution/include/hpx/timed_execution/timed_execution.hpp
  libs/parallelism/timed_execution/include/hpx/timed_execution/timed_execution_fwd.hpp
  libs/parallelism/timed_execution/include/hpx/timed_execution/traits/is_timed_executor.hpp
Labels: category: algorithms, category: executors, type: compatibility issue, type: enhancement

#5326 Adding resize() to serialize_buffer allowing to shrink its size
  libs/core/serialization/include/hpx/serialization/serialize_buffer.hpp
Labels: category: core, type: compatibility issue, type: enhancement

#5225 Adapt reverse to C++20
  docs/sphinx/api/public_api.rst
  docs/sphinx/manual/writing_single_node_hpx_applications.rst
  libs/core/iterator_support/tests/CMakeLists.txt
  libs/core/iterator_support/tests/include/hpx/iterator_support/tests/iter_sent.hpp
  libs/core/iterator_support/tests/unit/CMakeLists.txt
  libs/core/iterator_support/tests/unit/is_sentinel_for.cpp
  libs/core/iterator_support/tests/unit/is_sized_sentinel_for.cpp
  libs/core/iterator_support/tests/unit/iter_sent.hpp
  libs/full/include/include/hpx/algorithm.hpp
  libs/parallelism/algorithms/CMakeLists.txt
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/detail/advance_to_sentinel.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/replace.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/reverse.hpp
  libs/parallelism/algorithms/include/hpx/parallel/container_algorithms/remove.hpp
  libs/parallelism/algorithms/include/hpx/parallel/container_algorithms/remove_copy.hpp
  libs/parallelism/algorithms/include/hpx/parallel/container_algorithms/replace.hpp
  libs/parallelism/algorithms/include/hpx/parallel/container_algorithms/reverse.hpp
  libs/parallelism/algorithms/include/hpx/parallel/container_algorithms/transform.hpp
  libs/parallelism/algorithms/include/hpx/parallel/util/ranges_facilities.hpp
  libs/parallelism/algorithms/tests/regressions/CMakeLists.txt
  libs/parallelism/algorithms/tests/regressions/count_3646.cpp
  libs/parallelism/algorithms/tests/regressions/iter_sent.hpp
  libs/parallelism/algorithms/tests/regressions/ranges_facilities.cpp
  libs/parallelism/algorithms/tests/regressions/reduce_3641.cpp
  libs/parallelism/algorithms/tests/unit/algorithms/CMakeLists.txt
  libs/parallelism/algorithms/tests/unit/algorithms/iter_sent.hpp
  libs/parallelism/algorithms/tests/unit/algorithms/reverse.cpp
  libs/parallelism/algorithms/tests/unit/algorithms/reverse_copy.cpp
  libs/parallelism/algorithms/tests/unit/container_algorithms/CMakeLists.txt
  libs/parallelism/algorithms/tests/unit/container_algorithms/distance.cpp
  libs/parallelism/algorithms/tests/unit/container_algorithms/fill_range.cpp
  libs/parallelism/algorithms/tests/unit/container_algorithms/foreach_adapt.cpp
  libs/parallelism/algorithms/tests/unit/container_algorithms/generate_range.cpp
  libs/parallelism/algorithms/tests/unit/container_algorithms/remove_copy_if_range.cpp
  libs/parallelism/algorithms/tests/unit/container_algorithms/remove_copy_range.cpp
  libs/parallelism/algorithms/tests/unit/container_algorithms/remove_if_range.cpp
  libs/parallelism/algorithms/tests/unit/container_algorithms/remove_range.cpp
  libs/parallelism/algorithms/tests/unit/container_algorithms/replace_copy_if_range.cpp
  libs/parallelism/algorithms/tests/unit/container_algorithms/replace_copy_range.cpp
  libs/parallelism/algorithms/tests/unit/container_algorithms/replace_if_range.cpp
  libs/parallelism/algorithms/tests/unit/container_algorithms/replace_range.cpp
  libs/parallelism/algorithms/tests/unit/container_algorithms/reverse_copy_range.cpp
  libs/parallelism/algorithms/tests/unit/container_algorithms/reverse_range.cpp
Labels: category: algorithms, type: compatibility issue, type: enhancement

#5320 Fix is_sender trait and other small fixes to p0443 traits
  libs/core/execution_base/include/hpx/execution_base/sender.hpp
  libs/core/execution_base/tests/unit/basic_sender.cpp
Labels: category: senders/receivers, type: defect

#5331 More work on cleaning up executor CPOs
  libs/core/properties/include/hpx/properties/property.hpp
  libs/full/compute_cuda/include/hpx/compute/cuda/concurrent_executor.hpp
  libs/full/compute_cuda/include/hpx/compute/cuda/default_executor.hpp
  libs/parallelism/execution/CMakeLists.txt
  libs/parallelism/execution/include/hpx/execution/executors/execution_information.hpp
  libs/parallelism/execution/include/hpx/execution/executors/execution_information_fwd.hpp
  libs/parallelism/execution/include/hpx/execution/executors/execution_parameters.hpp
  libs/parallelism/execution/include/hpx/execution/executors/execution_parameters_fwd.hpp
  libs/parallelism/execution/tests/unit/executor_parameters_dispatching.cpp
  libs/parallelism/executors/include/hpx/executors/sequenced_executor.hpp
Labels: category: executors, type: enhancement

#5321 Seperate segmented algorithms for reduce
  libs/full/segmented_algorithms/include/hpx/parallel/segmented_algorithms/reduce.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/reduce.hpp
  libs/parallelism/algorithms/include/hpx/parallel/container_algorithms/reduce.hpp
  libs/parallelism/algorithms/tests/unit/algorithms/reduce_.cpp
  libs/parallelism/algorithms/tests/unit/container_algorithms/reduce_range.cpp
Labels: category: algorithms, type: compatibility issue, type: enhancement

#5199 Update ICC module name on Piz Daint Jenkins configuration
  .jenkins/cscs/ctest.cmake
  .jenkins/cscs/entry.sh
  .jenkins/cscs/env-icc.sh
  CMakeLists.txt
  hpx/plugins/parcelport/tcp/receiver.hpp
  libs/core/config/include/hpx/config/attributes.hpp
  libs/core/config/include/hpx/config/compiler_fence.hpp
  libs/core/format/include/hpx/util/from_string.hpp
  libs/core/functional/src/basic_function.cpp
  libs/core/thread_pools/src/scheduled_thread_pool.cpp
  libs/full/batch_environments/src/batch_environment.cpp
  libs/full/collectives/src/detail/barrier_node.cpp
  libs/full/performance_counters/tests/unit/all_counters.cpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/for_loop.hpp
  libs/parallelism/async_combinators/include/hpx/async_combinators/wait_all.hpp
  libs/parallelism/execution/include/hpx/execution/algorithms/detail/predicates.hpp
  libs/parallelism/execution/include/hpx/execution/executors/polymorphic_executor.hpp
  libs/parallelism/execution/src/polymorphic_executor.cpp
  libs/parallelism/resiliency/examples/CMakeLists.txt
  libs/parallelism/resiliency/tests/performance/replay/CMakeLists.txt
  libs/parallelism/resiliency/tests/performance/replicate/CMakeLists.txt
  libs/parallelism/resiliency/tests/unit/CMakeLists.txt
  tests/performance/local/agas_cache_timings.cpp
  tests/performance/local/stream.cpp
Labels: category: CI

#5339 Making sure hpx::util::hardware::timestamp() is always defined
  libs/core/hardware/include/hpx/hardware/timestamp/linux_generic.hpp
Labels: category: core, type: compatibility issue, type: enhancement

#5323 Add keep_future algorithm
  libs/parallelism/execution/CMakeLists.txt
  libs/parallelism/execution/include/hpx/execution/algorithms/keep_future.hpp
  libs/parallelism/executors/tests/unit/p0443_executor.cpp
Labels: category: senders/receivers

#5324 Add get member functions to async_rw_mutex proxy objects for explicitly getting the wrapped value
  libs/core/synchronization/include/hpx/synchronization/async_rw_mutex.hpp
Labels: category: senders/receivers, type: enhancement

#5332 Simplify tag_invoke and friends
  libs/core/functional/include/hpx/functional/tag_fallback_invoke.hpp
  libs/core/functional/include/hpx/functional/tag_invoke.hpp
  libs/core/functional/include/hpx/functional/tag_priority_invoke.hpp
Labels: category: infrastructure, type: enhancement, type: optimization

#5335 Make partial_algorithm work with any number of arguments
  libs/parallelism/execution/include/hpx/execution/algorithms/detail/partial_algorithm.hpp
Labels: category: algorithms, category: senders/receivers, type: enhancement

#5349 Update minimum boost version needed on the docs
  docs/sphinx/manual/building_hpx.rst
Labels: category: documentation

#5352 Adding missing includes
  libs/full/collectives/include/hpx/collectives/all_gather.hpp
  libs/full/collectives/include/hpx/collectives/all_reduce.hpp
  libs/full/collectives/include/hpx/collectives/all_to_all.hpp
  libs/full/collectives/include/hpx/collectives/broadcast.hpp
  libs/full/collectives/include/hpx/collectives/gather.hpp
  libs/full/collectives/include/hpx/collectives/scatter.hpp
Labels: category: LCOs, type: compatibility issue, type: enhancement

#5338 Fixing timed_executor specializations of customization points
  libs/parallelism/execution/include/hpx/execution/executors/execution_parameters.hpp
  libs/parallelism/execution/tests/unit/executor_parameters_dispatching.cpp
Labels: category: executors, type: compatibility issue, type: enhancement

#5355 Make the sequenced_executor processing_units_count member function const
  libs/parallelism/executors/include/hpx/executors/sequenced_executor.hpp
Labels: compiler: gcc

#5350 Adapt lexicographical_compare to C++20
  docs/sphinx/api/public_api.rst
  docs/sphinx/manual/writing_single_node_hpx_applications.rst
  libs/full/include_local/include/hpx/local/algorithm.hpp
  libs/parallelism/algorithms/CMakeLists.txt
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/lexicographical_compare.hpp
  libs/parallelism/algorithms/include/hpx/parallel/container_algorithms.hpp
  libs/parallelism/algorithms/include/hpx/parallel/container_algorithms/lexicographical_compare.hpp
  libs/parallelism/algorithms/tests/unit/algorithms/lexicographical_compare.cpp
  libs/parallelism/algorithms/tests/unit/container_algorithms/CMakeLists.txt
  libs/parallelism/algorithms/tests/unit/container_algorithms/lexicographical_compare_range.cpp
Labels: category: algorithms, type: compatibility issue, type: enhancement

#5314 Fix a race condition in async mpi affecting limiting executor
  libs/core/debugging/src/print.cpp
  libs/full/async_mpi/include/hpx/async_mpi/mpi_executor.hpp
  libs/full/async_mpi/include/hpx/async_mpi/mpi_future.hpp
  libs/full/async_mpi/src/mpi_future.cpp
  libs/full/async_mpi/tests/unit/mpi_ring_async_executor.cpp
Labels: category: executors, category: mpi, type: race condition

#5360 Update APEX and asio tags
  CMakeLists.txt
  cmake/HPX_SetupAsio.cmake
Labels: category: APEX

#5359 Fix check for pu-step in single-core case
  libs/full/command_line_handling/src/command_line_handling.cpp
  libs/full/command_line_handling_local/src/command_line_handling_local.cpp
Labels: category: core, type: compatibility issue, type: enhancement

#5354 Making sure default_stack_size is defined whenever declared
  libs/core/coroutines/include/hpx/coroutines/detail/context_posix.hpp
  libs/core/coroutines/src/detail/context_posix.cpp
Labels: platform:Summit, type: compatibility issue, type: enhancement
