Repository STEllAR-GROUP/hpx, pull requests merged in 2021-08, with the labels that each got.

#5490 Fix clang-format error on master
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/transform_exclusive_scan.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/transform_inclusive_scan.hpp
Labels: type: cleanup

#5377 More precompiled headers
  CMakeLists.txt
  init/CMakeLists.txt
  libs/core/config/include/hpx/config.hpp
  libs/core/coroutines/include/hpx/coroutines/detail/tss.hpp
  libs/core/coroutines/src/detail/tss.cpp
  libs/core/thread_pools/include/hpx/thread_pools/scheduled_thread_pool_impl.hpp
  libs/core/threading_base/CMakeLists.txt
  libs/core/threading_base/include/hpx/threading_base/detail/get_default_pool.hpp
  libs/core/threading_base/include/hpx/threading_base/detail/get_default_timer_service.hpp
  libs/core/threading_base/include/hpx/threading_base/register_thread.hpp
  libs/core/threading_base/include/hpx/threading_base/set_thread_state.hpp
  libs/core/threading_base/include/hpx/threading_base/set_thread_state_timed.hpp
  libs/core/threading_base/include/hpx/threading_base/thread_specific_ptr.hpp
  libs/core/threading_base/src/get_default_pool.cpp
  libs/core/threading_base/src/get_default_timer_service.cpp
  libs/core/threading_base/src/thread_helpers.cpp
  libs/parallelism/execution/include/hpx/execution/algorithms/ensure_started.hpp
  libs/parallelism/lcos_local/include/hpx/lcos_local/and_gate.hpp
  wrap/CMakeLists.txt
Labels: category: CMake

#5484 Add missing header to jacobi_component/server/solver.hpp
  examples/jacobi/jacobi_component/server/solver.hpp
Labels: type: cleanup

#5493 Update Jenkins GitHub token to use StellarBot GitHub account
  .jenkins/cscs-perftests/Jenkinsfile
  .jenkins/cscs/Jenkinsfile
  .jenkins/cscs/entry.sh
  .jenkins/lsu/Jenkinsfile
  .jenkins/lsu/entry.sh
Labels: category: Jenkins

#5482 Change extra archive data to rely on uniqueness of a variable address, not a function address
  libs/core/serialization/include/hpx/serialization/detail/extra_archive_data.hpp
  libs/core/serialization/include/hpx/serialization/detail/pointer.hpp
  libs/core/serialization/src/detail/pointer.cpp
  libs/full/checkpoint_base/include/hpx/checkpoint_base/checkpoint_data.hpp
  libs/full/checkpoint_base/src/checkpoint_data.cpp
  libs/full/naming/include/hpx/naming/detail/preprocess_gid_types.hpp
  libs/full/naming/src/detail/preprocess_gid_types.cpp
  libs/parallelism/lcos_local/include/hpx/lcos_local/detail/preprocess_future.hpp
  libs/parallelism/lcos_local/src/preprocess_future.cpp
Labels: type: enhancement, type: compatibility issue, category: serialization

#5485 Add Asio version check
  .jenkins/lsu/env-gcc-8.sh
  cmake/FindAsio.cmake
  cmake/HPX_SetupAsio.cmake
  cmake/templates/conf.py.in
  docs/sphinx/manual/building_hpx.rst
Labels: category: CMake, category: documentation, type: compatibility issue, category: CI

#5499 Rename simdpar to par_simd
  libs/parallelism/algorithms/include/hpx/parallel/datapar/transform_loop.hpp
  libs/parallelism/algorithms/include/hpx/parallel/util/detail/algorithm_result.hpp
  libs/parallelism/algorithms/include/hpx/parallel/util/detail/select_partitioner.hpp
  libs/parallelism/algorithms/tests/regressions/for_each_datapar.cpp
  libs/parallelism/algorithms/tests/unit/datapar_algorithms/copy_datapar.cpp
  libs/parallelism/algorithms/tests/unit/datapar_algorithms/copyn_datapar.cpp
  libs/parallelism/algorithms/tests/unit/datapar_algorithms/count_datapar.cpp
  libs/parallelism/algorithms/tests/unit/datapar_algorithms/countif_datapar.cpp
  libs/parallelism/algorithms/tests/unit/datapar_algorithms/foreach_datapar.cpp
  libs/parallelism/algorithms/tests/unit/datapar_algorithms/foreach_datapar_zipiter.cpp
  libs/parallelism/algorithms/tests/unit/datapar_algorithms/foreachn_datapar.cpp
  libs/parallelism/algorithms/tests/unit/datapar_algorithms/transform_binary2_datapar.cpp
  libs/parallelism/algorithms/tests/unit/datapar_algorithms/transform_binary_datapar.cpp
  libs/parallelism/algorithms/tests/unit/datapar_algorithms/transform_datapar.cpp
  libs/parallelism/algorithms/tests/unit/datapar_algorithms/transform_reduce_binary_datapar.cpp
  libs/parallelism/execution/tests/regressions/lambda_arguments_2403.cpp
  libs/parallelism/execution/tests/regressions/lambda_return_type_2402.cpp
  libs/parallelism/executors/include/hpx/executors/datapar/execution_policy.hpp
  libs/parallelism/executors/include/hpx/executors/datapar/execution_policy_fwd.hpp
  libs/parallelism/executors/include/hpx/executors/exception_list.hpp
  tests/performance/local/transform_reduce_binary_scaling.cpp
Labels: category: algorithms, type: cleanup

#5500 Minor bug fix in transform exclusive and inclusive scan tests
  libs/parallelism/algorithms/tests/unit/container_algorithms/exclusive_scan_range.cpp
  libs/parallelism/algorithms/tests/unit/container_algorithms/inclusive_scan_range.cpp
  libs/parallelism/algorithms/tests/unit/container_algorithms/transform_exclusive_scan_range.cpp
  libs/parallelism/algorithms/tests/unit/container_algorithms/transform_inclusive_scan_range.cpp
Labels: type: enhancement, type: compatibility issue, category: algorithms

#5448 More fixes to enable for all types to be assumed to be bitwise copyable
  libs/core/serialization/CMakeLists.txt
  libs/core/serialization/include/hpx/serialization/access.hpp
  libs/core/serialization/include/hpx/serialization/array.hpp
  libs/core/serialization/include/hpx/serialization/detail/constructor_selector.hpp
  libs/core/serialization/include/hpx/serialization/detail/non_default_constructible.hpp
  libs/core/serialization/include/hpx/serialization/detail/pointer.hpp
  libs/core/serialization/include/hpx/serialization/detail/polymorphic_nonintrusive_factory.hpp
  libs/core/serialization/include/hpx/serialization/detail/serialize_collection.hpp
  libs/core/serialization/include/hpx/serialization/input_archive.hpp
  libs/core/serialization/include/hpx/serialization/map.hpp
  libs/core/serialization/include/hpx/serialization/output_archive.hpp
  libs/core/serialization/include/hpx/serialization/std_tuple.hpp
  libs/core/serialization/include/hpx/serialization/traits/is_not_bitwise_serializable.hpp
  libs/core/serialization/include/hpx/serialization/traits/polymorphic_traits.hpp
  libs/core/serialization/include/hpx/serialization/tuple.hpp
  libs/core/serialization/include/hpx/serialization/vector.hpp
  libs/core/serialization/tests/unit/not_bitwise_serializable.cpp
  libs/full/compute/include/hpx/compute/serialization/vector.hpp
  libs/full/include/include/hpx/hpx.hpp
  libs/full/performance_counters/src/counters.cpp
  libs/parallelism/futures/include/hpx/futures/future.hpp
Labels: type: enhancement, type: compatibility issue, category: serialization

#5475 Require CMake 3.18 as it is already a requirement for CUDA
  .circleci/config.yml
  .github/workflows/linux_debug.yml
  .github/workflows/linux_hip.yml
  .github/workflows/linux_release_fetchcontent.yml
  .github/workflows/linux_sanitizers.yml
  .github/workflows/windows_debug.yml
  .github/workflows/windows_release.yml
  .jenkins/cscs-perftests/env-perftests.sh
  .jenkins/cscs/env-clang-10.sh
  .jenkins/cscs/env-clang-8.sh
  .jenkins/cscs/env-clang-9.sh
  .jenkins/cscs/env-clang-apex.sh
  .jenkins/cscs/env-clang-newest.sh
  .jenkins/cscs/env-clang-oldest.sh
  .jenkins/cscs/env-common.sh
  .jenkins/cscs/env-gcc-10.sh
  .jenkins/cscs/env-gcc-cuda.sh
  .jenkins/cscs/env-gcc-newest.sh
  .jenkins/cscs/env-gcc-oldest.sh
  CMakeLists.txt
  cmake/HPX_UpdateGitDocs.cmake
  cmake/templates/HPXConfig.cmake.in
  components/create_component_skeleton.py
  docs/sphinx/manual/building_hpx.rst
  docs/sphinx/manual/creating_hpx_projects.rst
  docs/sphinx/quickstart.rst
  examples/gtest_emulation/CMakeLists.txt
  examples/hello_world_component/CMakeLists.txt
  tests/unit/build/fetchcontent/CMakeLists.txt
  tools/docker/Dockerfile
Labels: category: CMake

#5477 Require cxx17 minor comments
  cmake/tests/builtin_make_integer_seq.cu
  cmake/tests/builtin_type_pack_element.cu
  docs/sphinx/manual/building_hpx.rst
  libs/core/config/include/hpx/config/constexpr.hpp
  libs/core/execution_base/include/hpx/execution_base/operation_state.hpp
  libs/core/execution_base/include/hpx/execution_base/receiver.hpp
  libs/core/execution_base/include/hpx/execution_base/sender.hpp
  libs/full/async_cuda/include/hpx/async_cuda/transform_stream.hpp
  libs/parallelism/execution/tests/unit/algorithm_test_utils.hpp
Labels: type: cleanup

#5501 Attempt to fix thread_pool_scheduler test
  libs/parallelism/executors/tests/unit/thread_pool_scheduler.cpp
Labels: type: defect, category: senders/receivers

#5455 Remove and clean up fallback sender implementations
  libs/core/execution_base/include/hpx/execution_base/sender.hpp
  libs/core/execution_base/tests/unit/CMakeLists.txt
  libs/core/execution_base/tests/unit/basic_executor.cpp
  libs/core/execution_base/tests/unit/basic_schedule.cpp
  libs/core/execution_base/tests/unit/basic_sender.cpp
  libs/core/execution_base/tests/unit/basic_submit.cpp
  libs/parallelism/execution/CMakeLists.txt
  libs/parallelism/execution/include/hpx/execution/algorithms/execute.hpp
  libs/parallelism/execution/tests/unit/CMakeLists.txt
  libs/parallelism/execution/tests/unit/algorithm_execute.cpp
  libs/parallelism/executors/include/hpx/executors/thread_pool_scheduler.hpp
Labels: type: cleanup, category: senders/receivers

#5459 Adapt rotate/rotate_copy to C++20
  libs/core/iterator_support/include/hpx/iterator_support/iterator_range.hpp
  libs/full/include_local/include/hpx/local/algorithm.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/rotate.hpp
  libs/parallelism/algorithms/include/hpx/parallel/container_algorithms/remove.hpp
  libs/parallelism/algorithms/include/hpx/parallel/container_algorithms/rotate.hpp
  libs/parallelism/algorithms/include/hpx/parallel/util/result_types.hpp
  libs/parallelism/algorithms/tests/unit/algorithms/rotate.cpp
  libs/parallelism/algorithms/tests/unit/algorithms/rotate_copy.cpp
  libs/parallelism/algorithms/tests/unit/container_algorithms/rotate_copy_range.cpp
  libs/parallelism/algorithms/tests/unit/container_algorithms/rotate_range.cpp
Labels: type: enhancement, type: compatibility issue, category: algorithms

#5507 Add missing commits from scheduler_executor PR
  libs/parallelism/executors/include/hpx/executors/scheduler_executor.hpp
  libs/parallelism/executors/tests/unit/scheduler_executor.cpp
Labels: category: senders/receivers

#5487 Add get_completion_scheduler CPO and customize bulk for thread_pool_scheduler
  libs/core/execution_base/CMakeLists.txt
  libs/core/execution_base/include/hpx/execution_base/completion_scheduler.hpp
  libs/core/execution_base/include/hpx/execution_base/execution.hpp
  libs/core/execution_base/include/hpx/execution_base/receiver.hpp
  libs/core/iterator_support/include/hpx/iterator_support/counting_iterator.hpp
  libs/core/iterator_support/include/hpx/iterator_support/counting_shape.hpp
  libs/core/iterator_support/include/hpx/iterator_support/traits/is_range.hpp
  libs/core/tag_dispatch/include/hpx/functional/tag_dispatch.hpp
  libs/core/tag_dispatch/include/hpx/functional/tag_fallback_dispatch.hpp
  libs/core/tag_dispatch/include/hpx/functional/tag_priority_dispatch.hpp
  libs/parallelism/execution/include/hpx/execution/algorithms/bulk.hpp
  libs/parallelism/execution/include/hpx/execution/algorithms/on.hpp
  libs/parallelism/execution/include/hpx/execution/algorithms/transform.hpp
  libs/parallelism/executors/CMakeLists.txt
  libs/parallelism/executors/include/hpx/executors/scheduler_executor.hpp
  libs/parallelism/executors/include/hpx/executors/thread_pool_scheduler.hpp
  libs/parallelism/executors/include/hpx/executors/thread_pool_scheduler_bulk.hpp
  libs/parallelism/executors/tests/unit/thread_pool_scheduler.cpp
Labels: category: senders/receivers

#5508 Minor release changes from 1.7.1
  .circleci/config.yml
  cmake/packaging/rpm/Changelog.txt
  docs/sphinx/contributing/release_procedure.rst
  docs/sphinx/quickstart.rst
  docs/sphinx/releases.rst
  docs/sphinx/releases/whats_new_1_7_1.rst
  tools/roll_release.sh
Labels: category: general

#5509 Test with Boost 1.77 on gcc/clang-newest configurations
  .jenkins/cscs/env-clang-newest.sh
  .jenkins/cscs/env-gcc-newest.sh
Labels: category: boost, category: CI

#5511 Fix Asio target name for precompiled headers
  CMakeLists.txt
Labels: category: CMake, type: defect

#5458 Adapt unique and unique_copy to C++ 20
  docs/sphinx/api/public_api.rst
  docs/sphinx/manual/writing_single_node_hpx_applications.rst
  libs/full/include_local/include/hpx/local/algorithm.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/unique.hpp
  libs/parallelism/algorithms/include/hpx/parallel/container_algorithms/unique.hpp
  libs/parallelism/algorithms/tests/performance/benchmark_unique.cpp
  libs/parallelism/algorithms/tests/performance/benchmark_unique_copy.cpp
  libs/parallelism/algorithms/tests/unit/algorithms/unique_copy_tests.hpp
  libs/parallelism/algorithms/tests/unit/algorithms/unique_tests.hpp
  libs/parallelism/algorithms/tests/unit/container_algorithms/unique_copy_range.cpp
  libs/parallelism/algorithms/tests/unit/container_algorithms/unique_range.cpp
Labels: type: enhancement, type: compatibility issue, category: algorithms

#5518 Add sender overloads to rotate/rotate_copy
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/rotate.hpp
  libs/parallelism/algorithms/include/hpx/parallel/container_algorithms/rotate.hpp
Labels: type: enhancement, type: compatibility issue, category: algorithms

#5460 Adapt sort to C++ 20
  docs/sphinx/api/public_api.rst
  docs/sphinx/manual/writing_single_node_hpx_applications.rst
  examples/quickstart/potpourri.cpp
  libs/full/include_local/include/hpx/local/algorithm.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/sort.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/sort_by_key.hpp
  libs/parallelism/algorithms/include/hpx/parallel/container_algorithms/sort.hpp
  libs/parallelism/algorithms/tests/performance/benchmark_inplace_merge.cpp
  libs/parallelism/algorithms/tests/performance/benchmark_merge.cpp
  libs/parallelism/algorithms/tests/unit/algorithms/parallel_sort.cpp
  libs/parallelism/algorithms/tests/unit/algorithms/sort.cpp
  libs/parallelism/algorithms/tests/unit/algorithms/sort_tests.hpp
  libs/parallelism/algorithms/tests/unit/container_algorithms/sort_range.cpp
  libs/parallelism/algorithms/tests/unit/container_algorithms/sort_range_tests.hpp
Labels: type: enhancement, type: compatibility issue, category: algorithms

#5520 Update reference as perftests failing regularly
  tools/perftests_ci/perftest/references/daint_default/local-priority-fifo.json
Labels: category: CI, category: perftests

#5515 Avoid deadlock in ignore_while_locked_1485 test
  libs/core/synchronization/tests/regressions/ignore_while_locked_1485.cpp
Labels: type: defect, category: LCOs, category: tests

#5512 Update Rostam HIP configuration
  .jenkins/lsu/env-hipcc.sh
  .jenkins/lsu/slurm-configuration-hipcc.sh
  cmake/HPX_SetupBoost.cmake
  libs/core/config/include/hpx/config/compiler_specific.hpp
  libs/full/async_cuda/include/hpx/async_cuda/cublas_executor.hpp
  libs/full/compute_cuda/tests/performance/synchronize.cu
Labels: category: CI, platform: HIP

#5522 Add sender overloads for remaining algorithms
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/exclusive_scan.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/inclusive_scan.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/sort.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/stable_sort.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/swap_ranges.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/transform_exclusive_scan.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/transform_inclusive_scan.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/unique.hpp
  libs/parallelism/algorithms/include/hpx/parallel/container_algorithms/exclusive_scan.hpp
  libs/parallelism/algorithms/include/hpx/parallel/container_algorithms/inclusive_scan.hpp
  libs/parallelism/algorithms/include/hpx/parallel/container_algorithms/sort.hpp
  libs/parallelism/algorithms/include/hpx/parallel/container_algorithms/stable_sort.hpp
  libs/parallelism/algorithms/include/hpx/parallel/container_algorithms/swap_ranges.hpp
  libs/parallelism/algorithms/include/hpx/parallel/container_algorithms/transform_exclusive_scan.hpp
  libs/parallelism/algorithms/include/hpx/parallel/container_algorithms/transform_inclusive_scan.hpp
  libs/parallelism/algorithms/include/hpx/parallel/container_algorithms/uninitialized_copy.hpp
  libs/parallelism/algorithms/include/hpx/parallel/container_algorithms/uninitialized_default_construct.hpp
  libs/parallelism/algorithms/include/hpx/parallel/container_algorithms/uninitialized_fill.hpp
  libs/parallelism/algorithms/include/hpx/parallel/container_algorithms/uninitialized_move.hpp
  libs/parallelism/algorithms/include/hpx/parallel/container_algorithms/uninitialized_value_construct.hpp
  libs/parallelism/algorithms/include/hpx/parallel/container_algorithms/unique.hpp
Labels: type: enhancement, type: compatibility issue, category: algorithms

#5506 Fix condition for checking if we should use our own variant
  libs/core/datastructures/include/hpx/datastructures/variant.hpp
  libs/parallelism/execution/include/hpx/execution/algorithms/bulk.hpp
  libs/parallelism/execution/include/hpx/execution/algorithms/detach.hpp
  libs/parallelism/execution/include/hpx/execution/algorithms/ensure_started.hpp
  libs/parallelism/execution/include/hpx/execution/algorithms/let_error.hpp
  libs/parallelism/execution/include/hpx/execution/algorithms/sync_wait.hpp
  libs/parallelism/execution/include/hpx/execution/algorithms/when_all.hpp
Labels: type: defect, type: compatibility issue

#5468 Experimentation to make the perftest report public
  .jenkins/cscs-perftests/comment_github.sh
  .jenkins/cscs-perftests/entry.sh
Labels: category: Jenkins, category: perftests

#5523 Modernize facilities related to hpx::sync
  libs/core/functional/include/hpx/functional/deferred_call.hpp
  libs/full/async_distributed/include/hpx/async_distributed/detail/sync_implementations.hpp
  libs/full/async_distributed/include/hpx/async_distributed/detail/sync_implementations_fwd.hpp
  libs/full/async_distributed/include/hpx/async_distributed/sync.hpp
  libs/parallelism/async_base/include/hpx/async_base/sync.hpp
  libs/parallelism/async_base/include/hpx/async_base/traits/is_launch_policy.hpp
  libs/parallelism/async_local/include/hpx/async_local/sync_fwd.hpp
  libs/parallelism/execution/include/hpx/execution/detail/sync_launch_policy_dispatch.hpp
  libs/parallelism/executors/include/hpx/executors/sync.hpp
  libs/parallelism/futures/include/hpx/futures/traits/promise_local_result.hpp
Labels: category: core, type: enhancement, type: compatibility issue

#5526 Update Rostam HIP configuration to use 4.3.0
  .jenkins/lsu/env-hipcc.sh
Labels: category: CI, platform: HIP

#5521 Minor changes that improve performance
  libs/core/asio/src/map_hostnames.cpp
  libs/core/concurrency/include/hpx/concurrency/deque.hpp
  libs/core/schedulers/include/hpx/schedulers/local_priority_queue_scheduler.hpp
  libs/full/batch_environments/src/batch_environment.cpp
  libs/full/runtime_configuration/include/hpx/runtime_configuration/runtime_configuration.hpp
  libs/full/runtime_configuration/src/runtime_configuration.cpp
  libs/full/runtime_local/include/hpx/runtime_local/pool_timer.hpp
Labels: category: core, type: enhancement, type: compatibility issue
