Repository STEllAR-GROUP/hpx, pull requests merged in 2021-06, with the labels that each got.

#5243 Make sure HPX_DEBUG is set based on HPX's build type, not consuming project's build type
  .github/workflows/windows_debug.yml
  .github/workflows/windows_release.yml
  cmake/HPX_CompilerFlagsTargets.cmake
  examples/gtest_emulation/CMakeLists.txt
  examples/hello_world_component/CMakeLists.txt
  examples/hello_world_component/hello_world_client.cpp
  tests/unit/build/CMakeLists.txt
Labels: category: CMake

#5291 "Fix" termination detection
  examples/quickstart/init_globally.cpp
  libs/core/execution_base/include/hpx/execution_base/this_thread.hpp
  libs/core/execution_base/src/this_thread.cpp
  libs/core/thread_pools/include/hpx/thread_pools/scheduled_thread_pool.hpp
  libs/core/thread_pools/include/hpx/thread_pools/scheduled_thread_pool_impl.hpp
  libs/core/threading_base/include/hpx/threading_base/scheduler_base.hpp
  libs/core/threading_base/include/hpx/threading_base/thread_pool_base.hpp
  libs/core/threading_base/src/scheduler_base.cpp
  libs/full/async_cuda/src/cuda_future.cpp
  libs/full/async_mpi/src/mpi_future.cpp
  libs/full/command_line_handling_local/examples/CMakeLists.txt
  libs/full/command_line_handling_local/tests/CMakeLists.txt
  libs/full/init_runtime/tests/unit/CMakeLists.txt
  libs/full/init_runtime/tests/unit/shutdown_suspended_thread.cpp
  libs/full/init_runtime_local/tests/CMakeLists.txt
  libs/full/init_runtime_local/tests/unit/CMakeLists.txt
  libs/full/init_runtime_local/tests/unit/shutdown_suspended_thread_local.cpp
  libs/full/runtime_configuration/src/runtime_configuration.cpp
  libs/full/runtime_distributed/src/server/runtime_support_server.cpp
  libs/full/runtime_local/src/runtime_local.cpp
  libs/full/threadmanager/include/hpx/modules/threadmanager.hpp
  libs/full/threadmanager/src/threadmanager.cpp
  libs/parallelism/execution/tests/unit/standalone_thread_pool_executor.cpp
  tests/performance/local/future_overhead.cpp
  tests/performance/local/libcds_hazard_pointer_overhead.cpp
Labels: category: scheduler, type: defect

#5330 Add option to disable pkgconfig generation
  CMakeLists.txt
  cmake/HPX_GeneratePackage.cmake
  tests/unit/build/CMakeLists.txt
Labels: category: CMake

#5361 Fix compilation with MPI enabled
  libs/full/async_mpi/src/mpi_future.cpp
Labels: category: mpi, type: defect

#5347 Remove `make_` prefix for executor properties
  libs/core/functional/include/hpx/functional/bind.hpp
  libs/core/functional/include/hpx/functional/bind_back.hpp
  libs/core/functional/include/hpx/functional/bind_front.hpp
  libs/core/functional/include/hpx/functional/deferred_call.hpp
  libs/core/functional/include/hpx/functional/function.hpp
  libs/core/functional/include/hpx/functional/function_ref.hpp
  libs/core/functional/include/hpx/functional/one_shot.hpp
  libs/core/functional/include/hpx/functional/traits/get_function_address.hpp
  libs/core/functional/include/hpx/functional/traits/get_function_annotation.hpp
  libs/core/functional/include/hpx/functional/unique_function.hpp
  libs/core/functional/tests/unit/tag_dispatch.cpp
  libs/core/properties/include/hpx/properties/property.hpp
  libs/core/properties/tests/unit/properties.cpp
  libs/core/threading_base/include/hpx/threading_base/annotated_function.hpp
  libs/core/threading_base/include/hpx/threading_base/register_thread.hpp
  libs/core/threading_base/include/hpx/threading_base/thread_description.hpp
  libs/core/threading_base/src/annotated_function.cpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/for_each.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/for_loop.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/transform.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/transform_reduce.hpp
  libs/parallelism/algorithms/include/hpx/parallel/util/detail/partitioner_iteration.hpp
  libs/parallelism/execution/include/hpx/execution/detail/async_launch_policy_dispatch.hpp
  libs/parallelism/execution/include/hpx/execution/detail/post_policy_dispatch.hpp
  libs/parallelism/execution/include/hpx/execution/executors/execution_parameters.hpp
  libs/parallelism/execution/include/hpx/execution/executors/rebind_executor.hpp
  libs/parallelism/execution/tests/unit/CMakeLists.txt
  libs/parallelism/executors/CMakeLists.txt
  libs/parallelism/executors/include/hpx/executors/dataflow.hpp
  libs/parallelism/executors/include/hpx/executors/detail/hierarchical_spawning.hpp
  libs/parallelism/executors/include/hpx/executors/execution_policy.hpp
  libs/parallelism/executors/include/hpx/executors/execution_policy_annotation.hpp
  libs/parallelism/executors/include/hpx/executors/fork_join_executor.hpp
  libs/parallelism/executors/include/hpx/executors/guided_pool_executor.hpp
  libs/parallelism/executors/include/hpx/executors/p0443_executor.hpp
  libs/parallelism/executors/include/hpx/executors/parallel_executor.hpp
  libs/parallelism/executors/include/hpx/executors/restricted_thread_pool_executor.hpp
  libs/parallelism/executors/tests/unit/CMakeLists.txt
  libs/parallelism/executors/tests/unit/annotation_property.cpp
  libs/parallelism/executors/tests/unit/created_executor.cpp
  libs/parallelism/executors/tests/unit/p0443_executor.cpp
  libs/parallelism/executors/tests/unit/parallel_executor.cpp
  libs/parallelism/executors/tests/unit/parallel_fork_executor.cpp
  libs/parallelism/executors/tests/unit/parallel_policy_executor.cpp
  libs/parallelism/executors/tests/unit/polymorphic_executor.cpp
  libs/parallelism/executors/tests/unit/shared_parallel_executor.cpp
  libs/parallelism/executors/tests/unit/standalone_thread_pool_executor.cpp
Labels: category: executors, type: breaking change, type: enhancement

#5351 Adding enable_logging/disable_logging API functions
  libs/core/logging/include/hpx/logging/manipulator.hpp
  libs/core/logging/include/hpx/modules/logging.hpp
  libs/core/logging/src/logging.cpp
  libs/full/init_runtime/CMakeLists.txt
  libs/full/init_runtime/include/hpx/init_runtime/detail/init_logging.hpp
  libs/full/init_runtime/src/hpx_init.cpp
  libs/full/init_runtime/src/init_logging.cpp
  libs/full/init_runtime_local/include/hpx/init_runtime_local/detail/init_logging.hpp
  libs/full/init_runtime_local/src/init_logging.cpp
  libs/full/init_runtime_local/src/init_runtime_local.cpp
  libs/full/runtime_configuration/src/runtime_configuration.cpp
Labels: category: core, type: enhancement

#5367 Disable pkgconfig by default again on macOS
  CMakeLists.txt
Labels: platform: Mac OSX

#5370 Decay types in just_sender value_types to match stored types
  libs/parallelism/execution/include/hpx/execution/algorithms/just.hpp
  libs/parallelism/execution/tests/unit/algorithm_just.cpp
  libs/parallelism/execution/tests/unit/algorithm_just_on.cpp
Labels: category: senders/receivers, type: defect

#5365 Use ccache for Jenkins builds on Piz Daint
  .jenkins/cscs/batch.sh
  .jenkins/cscs/env-clang-10.sh
  .jenkins/cscs/env-clang-8.sh
  .jenkins/cscs/env-clang-9.sh
  .jenkins/cscs/env-clang-apex.sh
  .jenkins/cscs/env-clang-cuda.sh
  .jenkins/cscs/env-clang-newest.sh
  .jenkins/cscs/env-clang-oldest.sh
  .jenkins/cscs/env-common.sh
  .jenkins/cscs/env-gcc-10.sh
  .jenkins/cscs/env-gcc-cuda.sh
  .jenkins/cscs/env-gcc-newest.sh
  .jenkins/cscs/env-gcc-oldest.sh
  .jenkins/cscs/env-icc.sh
Labels: category: CI, category: Jenkins

#5117 Attempt to fix segfaults assumed to be caused by future_data instances going out of scope.
  libs/parallelism/async_combinators/include/hpx/async_combinators/wait_all.hpp
  libs/parallelism/futures/include/hpx/futures/futures_factory.hpp
  libs/parallelism/futures/include/hpx/futures/packaged_continuation.hpp
Labels: category: LCOs, type: enhancement, type: race condition

#5372 Slight improvements to min/max/minmax_element algorithms
  .jenkins/lsu/env-clang-9.sh
  libs/core/logging/src/logging.cpp
  libs/full/init_runtime_local/src/init_logging.cpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/minmax.hpp
Labels: category: algorithms, type: enhancement

#5362 Adding channel_communicator
  examples/1d_stencil/1d_stencil_8.cpp
  libs/core/config/include/hpx/config.hpp
  libs/core/thread_support/include/hpx/thread_support/assert_owns_lock.hpp
  libs/core/type_support/include/hpx/type_support/lazy_conditional.hpp
  libs/full/actions_base/include/hpx/actions_base/traits/is_client.hpp
  libs/full/collectives/CMakeLists.txt
  libs/full/collectives/include/hpx/collectives/all_gather.hpp
  libs/full/collectives/include/hpx/collectives/all_reduce.hpp
  libs/full/collectives/include/hpx/collectives/all_to_all.hpp
  libs/full/collectives/include/hpx/collectives/argument_types.hpp
  libs/full/collectives/include/hpx/collectives/broadcast.hpp
  libs/full/collectives/include/hpx/collectives/channel_communicator.hpp
  libs/full/collectives/include/hpx/collectives/create_communicator.hpp
  libs/full/collectives/include/hpx/collectives/detail/channel_communicator.hpp
  libs/full/collectives/include/hpx/collectives/detail/communicator.hpp
  libs/full/collectives/include/hpx/collectives/exclusive_scan.hpp
  libs/full/collectives/include/hpx/collectives/gather.hpp
  libs/full/collectives/include/hpx/collectives/inclusive_scan.hpp
  libs/full/collectives/include/hpx/collectives/reduce.hpp
  libs/full/collectives/include/hpx/collectives/scatter.hpp
  libs/full/collectives/src/channel_communicator.cpp
  libs/full/collectives/src/create_communicator.cpp
  libs/full/collectives/src/detail/channel_communicator_server.cpp
  libs/full/collectives/tests/regressions/multiple_gather_ops_2001.cpp
  libs/full/collectives/tests/unit/CMakeLists.txt
  libs/full/collectives/tests/unit/all_gather.cpp
  libs/full/collectives/tests/unit/all_reduce.cpp
  libs/full/collectives/tests/unit/all_to_all.cpp
  libs/full/collectives/tests/unit/broadcast.cpp
  libs/full/collectives/tests/unit/channel_communicator.cpp
  libs/full/collectives/tests/unit/exclusive_scan_.cpp
  libs/full/collectives/tests/unit/gather.cpp
  libs/full/collectives/tests/unit/inclusive_scan_.cpp
  libs/full/collectives/tests/unit/reduce.cpp
  libs/full/collectives/tests/unit/scatter.cpp
  libs/full/components/include/hpx/components/client.hpp
  libs/full/components/include/hpx/components/client_base.hpp
  libs/full/lcos_distributed/include/hpx/lcos_distributed/channel.hpp
  libs/full/lcos_distributed/include/hpx/lcos_distributed/server/channel.hpp
  libs/full/lcos_distributed/tests/unit/CMakeLists.txt
  libs/parallelism/async_combinators/include/hpx/async_combinators/wait_all.hpp
  libs/parallelism/futures/include/hpx/futures/detail/future_data.hpp
  libs/parallelism/futures/include/hpx/futures/promise.hpp
  libs/parallelism/futures/include/hpx/futures/traits/detail/future_traits.hpp
  libs/parallelism/futures/include/hpx/futures/traits/future_then_result.hpp
  libs/parallelism/futures/include/hpx/futures/traits/future_traits.hpp
  libs/parallelism/futures/include/hpx/futures/traits/is_future.hpp
  libs/parallelism/futures/include/hpx/futures/traits/promise_remote_result.hpp
  libs/parallelism/lcos_local/include/hpx/lcos_local/channel.hpp
  libs/parallelism/lcos_local/include/hpx/lcos_local/packaged_task.hpp
Labels: category: LCOs, type: enhancement

#5342 Refactor CUDA event polling
  libs/core/synchronization/include/hpx/synchronization/condition_variable.hpp
  libs/full/async_cuda/CMakeLists.txt
  libs/full/async_cuda/include/hpx/async_cuda/cuda_event.hpp
  libs/full/async_cuda/include/hpx/async_cuda/cuda_future.hpp
  libs/full/async_cuda/include/hpx/async_cuda/cuda_polling_helper.hpp
  libs/full/async_cuda/include/hpx/async_cuda/detail/cuda_debug.hpp
  libs/full/async_cuda/include/hpx/async_cuda/detail/cuda_event_callback.hpp
  libs/full/async_cuda/include/hpx/async_cuda/transform_stream.hpp
  libs/full/async_cuda/src/cuda_event_callback.cpp
  libs/full/async_cuda/src/cuda_future.cpp
  libs/full/async_cuda/tests/performance/cuda_executor_throughput.cpp
  libs/full/async_cuda/tests/unit/CMakeLists.txt
  libs/full/async_cuda/tests/unit/cuda_future.cpp
  libs/full/async_cuda/tests/unit/transform_stream.cu
  libs/full/compute_cuda/CMakeLists.txt
  libs/full/compute_cuda/tests/performance/CMakeLists.txt
  libs/full/compute_cuda/tests/performance/synchronize.cu
  libs/parallelism/execution/include/hpx/execution/algorithms/sync_wait.hpp
Labels: category: senders/receivers, platform: CUDA

#5373 More changes to clang-cuda Jenkins configuration
  .jenkins/cscs/env-clang-cuda.sh
  components/performance_counters/io/src/io_counters.cpp
Labels: category: CI, category: Jenkins, compiler: clang

#5375 Slight performance improvement for hpx::copy and hpx::move et.al.
  libs/core/iterator_support/include/hpx/iterator_support/traits/is_iterator.hpp
  libs/full/compute_cuda/include/hpx/compute/cuda/transfer.hpp
  libs/parallelism/algorithms/include/hpx/algorithms/traits/pointer_category.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/copy.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/move.hpp
  libs/parallelism/algorithms/include/hpx/parallel/util/transfer.hpp
Labels: category: algorithms, type: enhancement

#5376 Remove unnecessary explicit listing of library modules.rst files in CMakeLists.txt
  docs/CMakeLists.txt
Labels: category: documentation

#5374 Remove unnecessary moves from future sender implementations
  libs/parallelism/execution/include/hpx/execution/algorithms/keep_future.hpp
  libs/parallelism/futures/include/hpx/futures/future.hpp
Labels: category: senders/receivers

#5384 Remove HPX 1.5.0 deprecations
  libs/core/functional/include/hpx/functional/deferred_call.hpp
  libs/core/functional/include/hpx/functional/invoke_fused.hpp
  libs/core/functional/include/hpx/functional/invoke_result.hpp
  libs/core/functional/include/hpx/functional/traits/is_invocable.hpp
Labels: type: cleanup

#5386 Attempt to fix the startup hang with nodes > 32
  libs/full/collectives/src/detail/barrier_node.cpp
Labels: category: init, type: enhancement

#5388 Fixing gather_there for used with lvalue reference argument
  libs/full/collectives/include/hpx/collectives/gather.hpp
  libs/full/collectives/tests/unit/gather.cpp
Labels: category: LCOs, type: compatibility issue, type: enhancement

#5393 Update APEX tag
  CMakeLists.txt
Labels: category: APEX, category: LCOs, type: breaking change

#5392 Fixing wrong usage of std::forward
  libs/full/collectives/include/hpx/collectives/gather.hpp
Labels: type: compatibility issue, type: enhancement

#5398 Improve logging in AGAS symbol namespace
  libs/full/agas_base/src/server/symbol_namespace_server.cpp
Labels: category: AGAS, category: utilities, type: enhancement

#5387 Extend thread state logging and change default stealing parameters
  docs/sphinx/manual/launching_and_configuring_hpx_applications.rst
  libs/core/config/include/hpx/config.hpp
  libs/core/schedulers/include/hpx/schedulers/local_priority_queue_scheduler.hpp
  libs/core/schedulers/include/hpx/schedulers/local_queue_scheduler.hpp
  libs/core/schedulers/include/hpx/schedulers/thread_queue.hpp
  libs/core/thread_pools/include/hpx/thread_pools/scheduling_loop.hpp
  libs/core/threading_base/include/hpx/threading_base/create_thread.hpp
  libs/core/threading_base/include/hpx/threading_base/create_work.hpp
  libs/core/threading_base/include/hpx/threading_base/scheduler_base.hpp
  libs/core/threading_base/include/hpx/threading_base/thread_pool_base.hpp
  libs/core/threading_base/src/execution_agent.cpp
  libs/core/threading_base/src/scheduler_base.cpp
  libs/core/threading_base/src/thread_pool_base.cpp
Labels: category: scheduler

#5391 Fix forwarding in transform_receiver constructor
  libs/parallelism/execution/include/hpx/execution/algorithms/transform.hpp
Labels: category: senders/receivers

#5394 Enable OTF2 in APEX CI configuration
  .jenkins/cscs/env-clang-apex.sh
Labels: category: APEX, category: CI

#5390 Make sure shared priority scheduler steals tasks on the current NUMA domain when (core) stealing is enabled
  libs/core/schedulers/include/hpx/schedulers/shared_priority_queue_scheduler.hpp
Labels: category: scheduler

#5382 Prefer installed Asio before considering FetchContent
  .circleci/config.yml
  .github/workflows/linux_debug.yml
  .github/workflows/linux_hip.yml
  .github/workflows/linux_release_fetchcontent.yml
  .github/workflows/linux_sanitizers.yml
  .github/workflows/macos_debug.yml
  .github/workflows/windows_debug.yml
  .github/workflows/windows_release.yml
  .jenkins/cscs/env-clang-10.sh
  .jenkins/cscs/env-clang-8.sh
  .jenkins/cscs/env-clang-9.sh
  .jenkins/cscs/env-clang-apex.sh
  .jenkins/cscs/env-clang-cuda.sh
  .jenkins/cscs/env-clang-newest.sh
  .jenkins/cscs/env-clang-oldest.sh
  .jenkins/cscs/env-gcc-10.sh
  .jenkins/cscs/env-gcc-cuda.sh
  .jenkins/cscs/env-gcc-newest.sh
  .jenkins/cscs/env-gcc-oldest.sh
  .jenkins/cscs/env-icc.sh
  .jenkins/lsu/env-clang-9.sh
  .jenkins/lsu/env-gcc-8.sh
  .jenkins/lsu/env-gcc-9-cuda-11.sh
  .jenkins/lsu/env-gcc-9.sh
  .jenkins/lsu/env-hipcc.sh
  CMakeLists.txt
  cmake/FindAsio.cmake
  cmake/HPX_SetupAsio.cmake
  cmake/templates/HPXConfig.cmake.in
  libs/core/asio/CMakeLists.txt
  libs/core/debugging/CMakeLists.txt
  libs/core/io_service/CMakeLists.txt
  libs/core/threading_base/CMakeLists.txt
Labels: category: CMake

#5399 Rename leftover tag_fallback_invoke to tag_fallback_dispatch
  libs/parallelism/execution/include/hpx/execution/executors/execution_parameters.hpp
Labels: type: defect

#5044 Add performance test in jenkins and reports
  .codacy.yml
  .jenkins/cscs-perftests/Jenkinsfile
  .jenkins/cscs-perftests/batch.sh
  .jenkins/cscs-perftests/ctest.cmake
  .jenkins/cscs-perftests/entry.sh
  .jenkins/cscs-perftests/env-perftests.sh
  .jenkins/cscs-perftests/slurm-constraint-perftests.sh
  CMakeLists.txt
  CTestConfig.cmake
  libs/core/testing/CMakeLists.txt
  libs/core/testing/include/hpx/modules/testing.hpp
  libs/core/testing/include/hpx/testing/performance.hpp
  libs/core/testing/src/performance.cpp
  libs/core/testing/src/testing.cpp
  tests/performance/local/CMakeLists.txt
  tests/performance/local/future_overhead_report.cpp
  tools/.codespell_whitelist
  tools/CMakeLists.txt
  tools/perftests_ci/CMakeLists.txt
  tools/perftests_ci/build/__init__.py
  tools/perftests_ci/driver.py
  tools/perftests_ci/local_run.sh
  tools/perftests_ci/perftest/__init__.py
  tools/perftests_ci/perftest/html.py
  tools/perftests_ci/perftest/plot.py
  tools/perftests_ci/perftest/references/daint_default/local-priority-fifo.json
  tools/perftests_ci/pyutils/__init__.py
  tools/perftests_ci/pyutils/args.py
  tools/perftests_ci/pyutils/buildinfo.py.in
  tools/perftests_ci/pyutils/default_vars.py
  tools/perftests_ci/pyutils/env.py
  tools/perftests_ci/pyutils/log.py
  tools/perftests_ci/pyutils/runtools.py
  tools/perftests_ci/requirements.txt
  tools/perftests_ci/test/__init__.py
Labels: category: CI

#5403 Create generic executor that adds annotations to any other executor
  libs/core/concepts/include/hpx/concepts/has_member_xxx.hpp
  libs/core/concepts/include/hpx/concepts/has_xxx.hpp
  libs/core/execution_base/include/hpx/execution_base/traits/is_executor.hpp
  libs/core/execution_base/include/hpx/execution_base/traits/is_executor_parameters.hpp
  libs/core/functional/include/hpx/functional/deferred_call.hpp
  libs/core/functional/include/hpx/functional/tag_dispatch.hpp
  libs/core/functional/include/hpx/functional/tag_fallback_dispatch.hpp
  libs/core/functional/include/hpx/functional/tag_priority_dispatch.hpp
  libs/core/type_support/include/hpx/type_support/always_void.hpp
  libs/parallelism/execution/include/hpx/execution/executors/execution.hpp
  libs/parallelism/execution/include/hpx/execution/executors/fused_bulk_execute.hpp
  libs/parallelism/execution/include/hpx/execution/traits/executor_traits.hpp
  libs/parallelism/executors/CMakeLists.txt
  libs/parallelism/executors/include/hpx/executors/annotating_executor.hpp
  libs/parallelism/executors/include/hpx/executors/execution_policy_annotation.hpp
  libs/parallelism/executors/include/hpx/executors/parallel_executor.hpp
  libs/parallelism/executors/tests/unit/CMakeLists.txt
  libs/parallelism/executors/tests/unit/annotating_executor.cpp
  libs/parallelism/executors/tests/unit/annotation_property.cpp
  libs/parallelism/timed_execution/include/hpx/timed_execution/traits/is_timed_executor.hpp
Labels: category: executors, type: compatibility issue, type: enhancement, type: optimization

#5400 Fix sliding semaphore test
  libs/core/synchronization/tests/unit/sliding_semaphore.cpp
Labels: category: LCOs, category: tests, type: defect

#5405 Fetch Asio automatically in perftests CI
  tools/perftests_ci/driver.py
Labels: category: CI

#5401 Modernize a variety of facilities related to parallel algorithms
  libs/core/thread_support/include/hpx/thread_support/spinlock.hpp
  libs/core/threading_base/include/hpx/threading_base/annotated_function.hpp
  libs/full/segmented_algorithms/include/hpx/parallel/segmented_algorithms/detail/scan.hpp
  libs/parallelism/algorithms/include/hpx/algorithms/traits/projected.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/adjacent_difference.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/all_any_none.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/copy.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/count.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/destroy.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/equal.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/exclusive_scan.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/for_each.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/for_loop.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/inclusive_scan.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/is_partitioned.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/is_sorted.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/minmax.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/partition.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/remove.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/transform.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/transform_exclusive_scan.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/transform_inclusive_scan.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/unique.hpp
  libs/parallelism/algorithms/include/hpx/parallel/datapar/loop.hpp
  libs/parallelism/algorithms/include/hpx/parallel/datapar/transform_loop.hpp
  libs/parallelism/algorithms/include/hpx/parallel/util/detail/chunk_size.hpp
  libs/parallelism/algorithms/include/hpx/parallel/util/detail/handle_local_exceptions.hpp
  libs/parallelism/algorithms/include/hpx/parallel/util/foreach_partitioner.hpp
  libs/parallelism/algorithms/include/hpx/parallel/util/loop.hpp
  libs/parallelism/algorithms/include/hpx/parallel/util/prefetching.hpp
  libs/parallelism/algorithms/include/hpx/parallel/util/transform_loop.hpp
Labels: category: algorithms, type: enhancement, type: optimization

#5396 Introduce compatibility layer for collective operations
  libs/full/collectives/docs/index.rst
  libs/full/collectives/include/hpx/collectives/all_gather.hpp
  libs/full/collectives/include/hpx/collectives/all_reduce.hpp
  libs/full/collectives/include/hpx/collectives/all_to_all.hpp
  libs/full/collectives/include/hpx/collectives/broadcast.hpp
  libs/full/collectives/include/hpx/collectives/exclusive_scan.hpp
  libs/full/collectives/include/hpx/collectives/gather.hpp
  libs/full/collectives/include/hpx/collectives/inclusive_scan.hpp
  libs/full/collectives/include/hpx/collectives/scatter.hpp
Labels: category: LCOs, type: compatibility issue, type: enhancement

#5406 Simplify dispatching to annotation handlers
  libs/core/properties/include/hpx/properties/property.hpp
  libs/parallelism/executors/include/hpx/executors/annotating_executor.hpp
  libs/parallelism/executors/include/hpx/executors/execution_policy_annotation.hpp
  libs/parallelism/executors/include/hpx/executors/parallel_executor.hpp
  libs/parallelism/executors/tests/unit/annotating_executor.cpp
Labels: type: compatibility issue, type: enhancement

#5418 Reduce max size and number of files in ccache cache
  .jenkins/cscs/env-common.sh
Labels: category: Jenkins

#5413 Fixing sender/receiver code base to compile with MSVC
  cmake/HPX_AddConfigTest.cmake
  cmake/HPX_PerformCxxFeatureTests.cmake
  cmake/tests/cxx17_copy_elision.cpp
  libs/core/datastructures/CMakeLists.txt
  libs/core/datastructures/include/hpx/datastructures/detail/variant.hpp
  libs/core/datastructures/include/hpx/datastructures/optional.hpp
  libs/core/datastructures/include/hpx/datastructures/variant.hpp
  libs/parallelism/execution/include/hpx/execution/algorithms/let_error.hpp
  libs/parallelism/execution/include/hpx/execution/algorithms/let_value.hpp
  libs/parallelism/execution/include/hpx/execution/algorithms/on.hpp
  libs/parallelism/execution/include/hpx/execution/algorithms/transform.hpp
  libs/parallelism/executors/include/hpx/executors/p0443_executor.hpp
  libs/parallelism/executors/tests/unit/p0443_executor.cpp
Labels: category: algorithms, compiler: msvc, type: compatibility issue, type: enhancement

#5414 Improve integration of futures and senders
  libs/core/allocator_support/CMakeLists.txt
  libs/core/allocator_support/include/hpx/allocator_support/traits/is_allocator.hpp
  libs/core/execution_base/include/hpx/execution_base/operation_state.hpp
  libs/core/execution_base/include/hpx/execution_base/receiver.hpp
  libs/core/execution_base/include/hpx/execution_base/sender.hpp
  libs/parallelism/execution/CMakeLists.txt
  libs/parallelism/execution/include/hpx/execution/algorithms/detail/partial_algorithm.hpp
  libs/parallelism/execution/include/hpx/execution/algorithms/ensure_started.hpp
  libs/parallelism/execution/include/hpx/execution/algorithms/keep_future.hpp
  libs/parallelism/execution/include/hpx/execution/algorithms/let_error.hpp
  libs/parallelism/execution/include/hpx/execution/algorithms/let_value.hpp
  libs/parallelism/execution/include/hpx/execution/algorithms/make_future.hpp
  libs/parallelism/execution/include/hpx/execution/algorithms/sync_wait.hpp
  libs/parallelism/execution/include/hpx/execution/sender_future.hpp
  libs/parallelism/executors/tests/unit/p0443_executor.cpp
  libs/parallelism/futures/include/hpx/futures/future.hpp
  libs/parallelism/futures/include/hpx/futures/traits/is_future.hpp
Labels: category: executors, type: compatibility issue, type: enhancement

#5420 Update logic to find threading library
  CMakeLists.txt
  cmake/FindAsio.cmake
  cmake/HPX_GeneratePackage.cmake
  cmake/HPX_SetupBoost.cmake
  cmake/HPX_SetupThreads.cmake
  cmake/templates/HPXConfig.cmake.in
Labels: category: CMake
