Repository STEllAR-GROUP/hpx, pull requests merged in 2021-09, with the labels that each got.

#5525 Fix Building HPX in Quick start
  docs/sphinx/quickstart.rst
Labels: category: documentation, type: enhancement, type: compatibility issue

#5527 Set local thread/pool number in local/static_queue_scheduler
  libs/core/schedulers/include/hpx/schedulers/local_queue_scheduler.hpp
Labels: type: defect, category: scheduler

#5528 Add missing properties to executors/schedulers
  libs/parallelism/execution/include/hpx/execution/executors/execution_parameters.hpp
  libs/parallelism/executors/include/hpx/executors/parallel_executor.hpp
  libs/parallelism/executors/include/hpx/executors/scheduler_executor.hpp
Labels: type: enhancement, category: executors, category: senders/receivers

#5529 Update benchmarks and add support for scheduler_executor
  libs/parallelism/executors/include/hpx/executors/scheduler_executor.hpp
  tests/performance/local/future_overhead.cpp
  tests/performance/local/stream.cpp
Labels: category: executors, category: perftests

#5532 Update two remaining apex links from khuck to UO-OACISS
  docs/sphinx/contributing/release_procedure.rst
  docs/sphinx/releases/whats_new_0_9_11.rst
Labels: category: documentation

#5466 Add shift_left and shift_right algorithms
  docs/sphinx/api/public_api.rst
  docs/sphinx/manual/writing_single_node_hpx_applications.rst
  libs/parallelism/algorithms/CMakeLists.txt
  libs/parallelism/algorithms/include/hpx/parallel/algorithm.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/shift_left.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/shift_right.hpp
  libs/parallelism/algorithms/include/hpx/parallel/container_algorithms.hpp
  libs/parallelism/algorithms/include/hpx/parallel/container_algorithms/shift_left.hpp
  libs/parallelism/algorithms/include/hpx/parallel/container_algorithms/shift_right.hpp
  libs/parallelism/algorithms/tests/unit/algorithms/CMakeLists.txt
  libs/parallelism/algorithms/tests/unit/algorithms/shift_left.cpp
  libs/parallelism/algorithms/tests/unit/algorithms/shift_right.cpp
  libs/parallelism/algorithms/tests/unit/container_algorithms/CMakeLists.txt
  libs/parallelism/algorithms/tests/unit/container_algorithms/shift_left_range.cpp
  libs/parallelism/algorithms/tests/unit/container_algorithms/shift_right_range.cpp
Labels: type: enhancement, type: compatibility issue, category: algorithms

#5536 This fixes referencing stale iterators during the execution of binary mismatch
  libs/core/iterator_support/include/hpx/iterator_support/traits/is_sentinel_for.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/adjacent_difference.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/adjacent_find.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/copy.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/detail/advance_to_sentinel.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/detail/search.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/detail/set_operation.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/exclusive_scan.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/find.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/inclusive_scan.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/is_heap.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/is_sorted.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/lexicographical_compare.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/mismatch.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/remove.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/transform_exclusive_scan.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/transform_inclusive_scan.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/uninitialized_copy.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/uninitialized_default_construct.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/uninitialized_fill.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/uninitialized_move.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/uninitialized_value_construct.hpp
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/unique.hpp
  libs/parallelism/algorithms/include/hpx/parallel/util/detail/algorithm_result.hpp
Labels: type: enhancement, category: algorithms

#5538 Document specific sphinx version required for the documentation
  docs/sphinx/manual/building_hpx.rst
Labels: category: documentation

#5539 Adapt mismatch to support sentinels
  libs/parallelism/algorithms/include/hpx/parallel/algorithms/mismatch.hpp
Labels: type: enhancement, type: compatibility issue, category: algorithms

#5383 Tentatively remove runtime_registration_wrapper from cuda futures
  libs/full/async_cuda/include/hpx/async_cuda/cuda_future.hpp
  libs/full/async_cuda/src/cuda_future.cpp
  libs/full/runtime_distributed/include/hpx/runtime_distributed.hpp
  libs/full/runtime_distributed/src/runtime_distributed.cpp
  libs/full/runtime_local/include/hpx/runtime_local/runtime_local.hpp
  libs/full/runtime_local/src/runtime_local.cpp
Labels: platform: CUDA

#5533 Fix `annotate_function` for `std::string`
  libs/core/threading_base/include/hpx/threading_base/annotated_function.hpp
  libs/core/threading_base/src/annotated_function.cpp
  tests/unit/apex/CMakeLists.txt
  tests/unit/apex/annotation_check.cpp
Labels: type: defect, category: APEX

#5473 Update cuda arch and change cuda version
  .jenkins/lsu/env-gcc-9-cuda-11.sh
  libs/core/execution_base/include/hpx/execution_base/receiver.hpp
  libs/full/compute/include/hpx/compute/vector.hpp
  libs/full/compute_cuda/include/hpx/compute/cuda/detail/launch.hpp
Labels: type: compatibility issue, platform: CUDA

#5545 Remove wrong move in thread_pool_scheduler_bulk.hpp
  libs/parallelism/executors/include/hpx/executors/thread_pool_scheduler_bulk.hpp
Labels: type: defect, category: senders/receivers

#5548 Making get_action_name() noexcept
  libs/core/functional/include/hpx/functional/traits/get_action_name.hpp
  libs/full/actions/include/hpx/actions/base_action.hpp
  libs/full/actions_base/include/hpx/actions_base/actions_base_support.hpp
Labels: type: enhancement, category: actions

#5552 Modernizing some of the async facilities
  libs/parallelism/execution/include/hpx/execution/detail/async_launch_policy_dispatch.hpp
  libs/parallelism/execution/include/hpx/execution/detail/post_policy_dispatch.hpp
  libs/parallelism/executors/include/hpx/executors/async.hpp
  libs/parallelism/futures/include/hpx/futures/detail/future_transforms.hpp
  libs/parallelism/futures/include/hpx/futures/packaged_continuation.hpp
Labels: category: core, type: enhancement, type: compatibility issue

#5547 Fixing communication set
  libs/full/collectives/src/detail/communication_set_node.cpp
  libs/full/collectives/tests/unit/communication_set.cpp
Labels: type: enhancement, category: tests, type: compatibility issue

#5550 Update CUDA module in clang-cuda configuration
  .jenkins/cscs/env-clang-cuda.sh
Labels: platform: CUDA, category: CI, category: Jenkins

#5537 Test release and debug builds on Piz Daint
  .jenkins/cscs/Jenkinsfile
  .jenkins/cscs/batch.sh
  .jenkins/cscs/entry.sh
  .jenkins/cscs/env-clang-10.sh
  .jenkins/cscs/env-clang-8.sh
  .jenkins/cscs/env-clang-9.sh
  .jenkins/cscs/env-clang-apex.sh
  .jenkins/cscs/env-clang-cuda.sh
  .jenkins/cscs/env-clang-newest.sh
  .jenkins/cscs/env-clang-oldest.sh
  .jenkins/cscs/env-common.sh
  .jenkins/cscs/env-gcc-10.sh
  .jenkins/cscs/env-gcc-cuda.sh
  .jenkins/cscs/env-gcc-newest.sh
  .jenkins/cscs/env-gcc-oldest.sh
  .jenkins/lsu/batch.sh
  .jenkins/lsu/env-common.sh
  .jenkins/lsu/env-gcc-8.sh
  .jenkins/lsu/env-gcc-9-cuda-11.sh
  .jenkins/lsu/env-gcc-9.sh
  .jenkins/lsu/env-hipcc.sh
  libs/core/tag_dispatch/include/hpx/functional/detail/invoke.hpp
Labels: category: CI, category: Jenkins

#5558 Fixing wrong module dependencies
  .jenkins/cscs/env-common.sh
  .jenkins/lsu/env-common.sh
  libs/core/mpi_base/CMakeLists.txt
  libs/full/init_runtime/CMakeLists.txt
  libs/full/runtime_distributed/CMakeLists.txt
Labels: category: CMake, type: enhancement

#5559 Fixing cmake folder names after module restructuring
  libs/core/algorithms/tests/performance/CMakeLists.txt
  libs/core/algorithms/tests/regressions/CMakeLists.txt
  libs/core/algorithms/tests/unit/algorithms/CMakeLists.txt
  libs/core/algorithms/tests/unit/algorithms/detail/CMakeLists.txt
  libs/core/algorithms/tests/unit/algorithms/util/CMakeLists.txt
  libs/core/algorithms/tests/unit/block/CMakeLists.txt
  libs/core/algorithms/tests/unit/container_algorithms/CMakeLists.txt
  libs/core/algorithms/tests/unit/datapar_algorithms/CMakeLists.txt
  libs/core/async_combinators/tests/regressions/CMakeLists.txt
  libs/core/async_combinators/tests/unit/CMakeLists.txt
  libs/core/async_local/tests/unit/CMakeLists.txt
  libs/core/execution/tests/regressions/CMakeLists.txt
  libs/core/execution/tests/unit/CMakeLists.txt
  libs/core/executors/tests/unit/CMakeLists.txt
  libs/core/functional/tests/regressions/CMakeLists.txt
  libs/core/futures/tests/regressions/CMakeLists.txt
  libs/core/futures/tests/unit/CMakeLists.txt
  libs/core/lcos_local/tests/regressions/CMakeLists.txt
  libs/core/lcos_local/tests/unit/CMakeLists.txt
  libs/core/pack_traversal/tests/regressions/CMakeLists.txt
  libs/core/pack_traversal/tests/unit/CMakeLists.txt
  libs/core/resiliency/examples/CMakeLists.txt
  libs/core/resiliency/tests/performance/replay/CMakeLists.txt
  libs/core/resiliency/tests/performance/replicate/CMakeLists.txt
  libs/core/resiliency/tests/unit/CMakeLists.txt
  libs/core/threading/tests/unit/CMakeLists.txt
  libs/core/timed_execution/tests/unit/CMakeLists.txt
Labels: category: CMake, type: enhancement

#5568 Change try catch block to try_catch_exception_ptr
  libs/core/async_cuda/include/hpx/async_cuda/transform_stream.hpp
Labels: category: exception-handling

#5562 More changes to overcome build problems on Windows after recent module rearrangements
  libs/core/mpi_base/include/hpx/mpi_base/mpi_environment.hpp
  libs/core/runtime_configuration/CMakeLists.txt
  libs/core/runtime_configuration/include/hpx/runtime_configuration/static_factory_data.hpp
  libs/core/runtime_configuration/src/static_factory_data.cpp
  libs/core/runtime_local/src/runtime_local.cpp
  libs/full/collectives/src/barrier.cpp
  libs/full/command_line_handling/CMakeLists.txt
  libs/full/init_runtime/include/hpx/hpx_init_impl.hpp
  libs/full/init_runtime/include/hpx/hpx_start_impl.hpp
  libs/full/init_runtime/include/hpx/init_runtime/detail/run_or_start.hpp
  libs/full/runtime_distributed/src/server/runtime_support_server.cpp
  plugins/parcelport/mpi/parcelport_mpi.cpp
  src/runtime/parcelset/parcelhandler.cpp
Labels: type: enhancement, type: compatibility issue

#5554 Make sure command line aliasing is properly handled
  libs/core/command_line_handling_local/include/hpx/command_line_handling_local/parse_command_line_local.hpp
  libs/core/command_line_handling_local/src/parse_command_line_local.cpp
  libs/core/command_line_handling_local/tests/regressions/CMakeLists.txt
  libs/core/command_line_handling_local/tests/regressions/ignore_aliases_local.cpp
  libs/full/command_line_handling/src/command_line_handling.cpp
  libs/full/command_line_handling/src/parse_command_line.cpp
  libs/full/command_line_handling/tests/regressions/CMakeLists.txt
  libs/full/command_line_handling/tests/regressions/ignore_aliases.cpp
Labels: type: enhancement, category: init, type: compatibility issue

#5556 Remove leftover thread pool os executor tests
  tests/regressions/threads/CMakeLists.txt
  tests/regressions/threads/thread_pool_executor_1112.cpp
  tests/regressions/threads/thread_pool_executor_1114.cpp
Labels: type: cleanup

#5567 Make default_agent::yield actually yield
  libs/core/execution_base/src/this_thread.cpp
Labels: category: scheduler

#5551 Fixing for local executions of actions to properly set task names
  libs/full/async_distributed/include/hpx/async_distributed/detail/async_implementations.hpp
  tests/unit/apex/apex_action_count.cpp
Labels: type: enhancement, category: actions, type: compatibility issue

#5555 Add option enabling serializing raw pointers
  libs/core/serialization/CMakeLists.txt
  libs/core/serialization/include/hpx/serialization/basic_archive.hpp
  libs/core/serialization/include/hpx/serialization/input_archive.hpp
  libs/core/serialization/include/hpx/serialization/output_archive.hpp
  libs/core/serialization/include/hpx/serialization/serialization_fwd.hpp
  libs/core/serialization/include/hpx/serialization/std_tuple.hpp
  libs/core/serialization/include/hpx/serialization/traits/is_bitwise_serializable.hpp
  libs/core/serialization/include/hpx/serialization/tuple.hpp
  libs/core/serialization/tests/unit/CMakeLists.txt
  libs/core/serialization/tests/unit/serialization_raw_pointer.cpp
  libs/full/actions_base/include/hpx/actions_base/basic_action.hpp
Labels: type: enhancement, category: actions, type: compatibility issue, category: serialization

#5572 Remove more guards for the distributed runtime
  libs/core/runtime_configuration/include/hpx/runtime_configuration/register_locks_globally.hpp
  libs/core/runtime_configuration/src/register_locks_globally.cpp
  libs/full/async_distributed/include/hpx/async_distributed/bind_action.hpp
  libs/full/async_distributed/include/hpx/async_distributed/lcos_fwd.hpp
  libs/full/async_distributed/include/hpx/async_distributed/promise.hpp
  libs/full/executors_distributed/include/hpx/executors_distributed/distribution_policy_executor.hpp
  libs/full/include/include/hpx/hpx.hpp
  libs/full/include/include/hpx/include/actions.hpp
  libs/full/include/include/hpx/include/agas.hpp
  libs/full/include/include/hpx/include/applier.hpp
  libs/full/include/include/hpx/include/apply.hpp
  libs/full/include/include/hpx/include/async.hpp
  libs/full/include/include/hpx/include/bind.hpp
  libs/full/include/include/hpx/include/client.hpp
  libs/full/include/include/hpx/include/components.hpp
  libs/full/include/include/hpx/include/compression.hpp
  libs/full/include/include/hpx/include/compression_registration.hpp
  libs/full/include/include/hpx/include/dataflow.hpp
  libs/full/include/include/hpx/include/lcos.hpp
  libs/full/include/include/hpx/include/naming.hpp
  libs/full/include/include/hpx/include/parallel_adjacent_difference.hpp
  libs/full/include/include/hpx/include/parallel_adjacent_find.hpp
  libs/full/include/include/hpx/include/parallel_all_any_none_of.hpp
  libs/full/include/include/hpx/include/parallel_count.hpp
  libs/full/include/include/hpx/include/parallel_fill.hpp
  libs/full/include/include/hpx/include/parallel_find.hpp
  libs/full/include/include/hpx/include/parallel_for_each.hpp
  libs/full/include/include/hpx/include/parallel_generate.hpp
  libs/full/include/include/hpx/include/parallel_minmax.hpp
  libs/full/include/include/hpx/include/parallel_reduce.hpp
  libs/full/include/include/hpx/include/parallel_scan.hpp
  libs/full/include/include/hpx/include/parallel_transform.hpp
  libs/full/include/include/hpx/include/parallel_transform_reduce.hpp
  libs/full/include/include/hpx/include/parallel_transform_scan.hpp
  libs/full/include/include/hpx/include/performance_counters.hpp
  libs/full/include/include/hpx/include/plain_actions.hpp
  libs/full/include/include/hpx/include/runtime.hpp
  libs/full/include/include/hpx/include/sync.hpp
  libs/full/include/include/hpx/include/traits.hpp
  libs/full/include/include/hpx/include/util.hpp
  libs/full/runtime_distributed/include/hpx/runtime_distributed/applier.hpp
  libs/full/runtime_distributed/include/hpx/runtime_distributed/runtime_fwd.hpp
  libs/full/segmented_algorithms/include/hpx/parallel/segmented_algorithms/traits/zip_iterator.hpp
Labels: type: cleanup, category: modules

#5571 Add workaround for libstc++ in string_util trim
  libs/core/string_util/include/hpx/string_util/trim.hpp
Labels: compiler: gcc

#5569 Use no_unique_address in sender adaptors
  libs/core/execution/include/hpx/execution/algorithms/bulk.hpp
  libs/core/execution/include/hpx/execution/algorithms/detach.hpp
  libs/core/execution/include/hpx/execution/algorithms/just.hpp
  libs/core/execution/include/hpx/execution/algorithms/keep_future.hpp
  libs/core/execution/include/hpx/execution/algorithms/let_error.hpp
  libs/core/execution/include/hpx/execution/algorithms/let_value.hpp
  libs/core/execution/include/hpx/execution/algorithms/on.hpp
  libs/core/execution/include/hpx/execution/algorithms/split.hpp
  libs/core/execution/include/hpx/execution/algorithms/transform.hpp
  libs/core/execution/include/hpx/execution/algorithms/when_all.hpp
  libs/core/executors/include/hpx/executors/thread_pool_scheduler.hpp
  libs/core/executors/include/hpx/executors/thread_pool_scheduler_bulk.hpp
Labels: type: enhancement, category: senders/receivers

#5577 fix unit fill test for datapar with Vc
  libs/core/algorithms/tests/unit/algorithms/fill_tests.hpp
  libs/core/algorithms/tests/unit/algorithms/filln_tests.hpp
Labels: type: enhancement, type: compatibility issue, category: algorithms

#5542 Simplify execution CPOs
  libs/core/async_cuda/include/hpx/async_cuda/transform_stream.hpp
  libs/core/execution/include/hpx/execution/algorithms/bulk.hpp
  libs/core/execution/include/hpx/execution/algorithms/detach.hpp
  libs/core/execution/include/hpx/execution/algorithms/just.hpp
  libs/core/execution/include/hpx/execution/algorithms/keep_future.hpp
  libs/core/execution/include/hpx/execution/algorithms/let_error.hpp
  libs/core/execution/include/hpx/execution/algorithms/let_value.hpp
  libs/core/execution/include/hpx/execution/algorithms/make_future.hpp
  libs/core/execution/include/hpx/execution/algorithms/on.hpp
  libs/core/execution/include/hpx/execution/algorithms/split.hpp
  libs/core/execution/include/hpx/execution/algorithms/sync_wait.hpp
  libs/core/execution/include/hpx/execution/algorithms/transform.hpp
  libs/core/execution/include/hpx/execution/algorithms/when_all.hpp
  libs/core/execution/tests/unit/algorithm_execute.cpp
  libs/core/execution/tests/unit/algorithm_just.cpp
  libs/core/execution/tests/unit/algorithm_test_utils.hpp
  libs/core/execution/tests/unit/algorithm_transform.cpp
  libs/core/execution/tests/unit/algorithm_when_all.cpp
  libs/core/execution_base/include/hpx/execution_base/operation_state.hpp
  libs/core/execution_base/include/hpx/execution_base/receiver.hpp
  libs/core/execution_base/include/hpx/execution_base/sender.hpp
  libs/core/execution_base/tests/unit/basic_operation_state.cpp
  libs/core/execution_base/tests/unit/basic_receiver.cpp
  libs/core/execution_base/tests/unit/basic_schedule.cpp
  libs/core/execution_base/tests/unit/basic_sender.cpp
  libs/core/executors/include/hpx/executors/thread_pool_scheduler.hpp
  libs/core/executors/include/hpx/executors/thread_pool_scheduler_bulk.hpp
  libs/core/executors/tests/unit/thread_pool_scheduler.cpp
  libs/core/futures/include/hpx/futures/future.hpp
  libs/core/synchronization/include/hpx/synchronization/async_rw_mutex.hpp
Labels: type: cleanup, category: senders/receivers

#5576 Update forgotten "Full" names
  libs/core/async_cuda/tests/performance/CMakeLists.txt
  libs/core/async_cuda/tests/unit/CMakeLists.txt
  libs/core/async_mpi/tests/unit/CMakeLists.txt
  libs/core/batch_environments/tests/unit/CMakeLists.txt
  libs/core/command_line_handling_local/tests/regressions/CMakeLists.txt
  libs/core/init_runtime_local/tests/unit/CMakeLists.txt
  libs/core/program_options/examples/CMakeLists.txt
  libs/core/program_options/tests/regressions/CMakeLists.txt
  libs/core/program_options/tests/unit/CMakeLists.txt
  libs/core/resource_partitioner/examples/CMakeLists.txt
  libs/core/resource_partitioner/tests/regressions/CMakeLists.txt
  libs/core/resource_partitioner/tests/unit/CMakeLists.txt
  libs/core/runtime_local/tests/unit/CMakeLists.txt
Labels: type: compatibility issue

#5546 Fixing shutdown problems caused by missing ref-counting
  components/iostreams/include/hpx/components/iostreams/server/output_stream.hpp
  components/iostreams/src/server/output_stream.cpp
  components/iostreams/src/standard_streams.cpp
  libs/core/thread_pools/include/hpx/thread_pools/scheduled_thread_pool_impl.hpp
  libs/core/threading_base/src/set_thread_state.cpp
  libs/full/runtime_distributed/src/server/runtime_support_server.cpp
Labels: category: core, type: enhancement, type: compatibility issue

#5471 Add corrected citation.cff
  .github/workflows/cff-validator.yml
  CITATION.cff
  README.rst
Labels: category: documentation, type: enhancement

#5534 Fix Quick start & Manual Docs
  cmake/templates/cmake_toolchains.rst.in
  docs/CMakeLists.txt
  docs/sphinx/contributing/documentation.rst
  docs/sphinx/contributing/testing_hpx.rst
  docs/sphinx/manual.rst
  docs/sphinx/manual/building_hpx.rst
  docs/sphinx/manual/debugging_hpx_applications.rst
  docs/sphinx/manual/getting_hpx.rst
  docs/sphinx/quickstart.rst
  docs/sphinx/why_hpx.rst
Labels: category: documentation, type: enhancement

#5549 Fixing agent_ref::yield_k to actually call yield_k
  libs/core/execution_base/src/agent_ref.cpp
Labels: type: enhancement, category: threadmanager, type: compatibility issue

#5560 Update tests and examples
  .jenkins/cscs/env-gcc-cuda.sh
  CMakeLists.txt
  examples/1d_stencil/1d_stencil_1.cpp
  examples/1d_stencil/1d_stencil_1_omp.cpp
  examples/1d_stencil/1d_stencil_2.cpp
  examples/1d_stencil/1d_stencil_3.cpp
  examples/1d_stencil/1d_stencil_3_omp.cpp
  examples/1d_stencil/1d_stencil_4.cpp
  examples/1d_stencil/1d_stencil_4_parallel.cpp
  examples/1d_stencil/CMakeLists.txt
  examples/1d_stencil/print_time_results.hpp
  examples/jacobi_smp/CMakeLists.txt
  examples/jacobi_smp/jacobi.cpp
  examples/jacobi_smp/jacobi_nonuniform_omp.hpp
  examples/jacobi_smp/jacobi_omp.hpp
  examples/quickstart/CMakeLists.txt
  examples/quickstart/customize_async.cpp
  examples/quickstart/disable_thread_stealing_executor.cpp
  examples/quickstart/enumerate_threads.cpp
  examples/quickstart/event_synchronization.cpp
  examples/quickstart/local_channel.cpp
  examples/quickstart/local_channel_docs.cpp
  examples/quickstart/pipeline1.cpp
  examples/quickstart/potpourri.cpp
  examples/quickstart/shared_mutex.cpp
  examples/quickstart/simple_future_continuation.cpp
  examples/quickstart/sort_by_key_demo.cpp
  examples/quickstart/timed_futures.cpp
  examples/quickstart/vector_counting_dotproduct.cpp
  examples/quickstart/vector_zip_dotproduct.cpp
  libs/core/functional/tests/regressions/CMakeLists.txt
  libs/core/functional/tests/regressions/is_callable_1179.cpp
  libs/core/functional/tests/regressions/protect_with_nullary_pfo.cpp
  libs/core/functional/tests/unit/CMakeLists.txt
  libs/core/functional/tests/unit/function_object_size.cpp
  libs/core/functional/tests/unit/is_invocable.cpp
  tests/performance/local/CMakeLists.txt
  tests/performance/local/hpx_heterogeneous_timed_task_spawn.cpp
  tests/performance/local/openmp_homogeneous_timed_task_spawn.cpp
  tests/performance/local/openmp_parallel_region.cpp
  tests/performance/local/parent_vs_child_stealing.cpp
  tests/performance/local/skynet.cpp
  tests/performance/local/transform_reduce_binary_scaling.cpp
  tests/performance/local/wait_all_timings.cpp
  tests/regressions/CMakeLists.txt
  tests/regressions/threads/CMakeLists.txt
  tests/regressions/threads/thread_rescheduling.cpp
  tests/regressions/traits/CMakeLists.txt
  tests/regressions/util/CMakeLists.txt
  tests/unit/CMakeLists.txt
  tests/unit/traits/CMakeLists.txt
  tests/unit/util/CMakeLists.txt
  tests/unit/util/function/CMakeLists.txt
Labels: type: cleanup, category: modules

#5530 Eagerly initialize a configurable number of threads on scheduler/thread queue init
  libs/core/config/include/hpx/config.hpp
  libs/core/coroutines/include/hpx/coroutines/coroutine.hpp
  libs/core/coroutines/include/hpx/coroutines/detail/context_base.hpp
  libs/core/coroutines/include/hpx/coroutines/detail/coroutine_impl.hpp
  libs/core/coroutines/include/hpx/coroutines/thread_id_type.hpp
  libs/core/executors/tests/unit/thread_pool_scheduler.cpp
  libs/core/runtime_configuration/src/runtime_configuration.cpp
  libs/core/schedulers/include/hpx/schedulers/queue_holder_thread.hpp
  libs/core/schedulers/include/hpx/schedulers/thread_queue.hpp
  libs/core/threading_base/include/hpx/threading_base/thread_data.hpp
  libs/core/threading_base/include/hpx/threading_base/thread_data_stackful.hpp
  libs/core/threading_base/include/hpx/threading_base/thread_data_stackless.hpp
  libs/core/threading_base/include/hpx/threading_base/thread_queue_init_parameters.hpp
  libs/core/threading_base/src/thread_data.cpp
  libs/core/threadmanager/src/threadmanager.cpp
Labels: category: scheduler

#5579 Split absolute paths for generated pkg-config files into -L/-l parts
  cmake/HPX_GeneratePackageUtils.cmake
Labels: category: CMake, type: enhancement, type: compatibility issue

#5582 Make more examples work with local runtime
  examples/balancing/CMakeLists.txt
  examples/balancing/hpx_thread_phase.cpp
  examples/balancing/os_thread_num.cpp
  examples/future_reduce/CMakeLists.txt
  examples/future_reduce/rnd_future_reduce.cpp
  examples/quickstart/composable_guard.cpp
  examples/quickstart/executor_with_thread_hooks.cpp
  examples/quickstart/fibonacci_dataflow.cpp
  examples/quickstart/fibonacci_futures.cpp
  examples/quickstart/fibonacci_local.cpp
  examples/quickstart/file_serialization.cpp
  examples/quickstart/interval_timer.cpp
  examples/quickstart/latch_local.cpp
  examples/quickstart/potpourri.cpp
  examples/quickstart/safe_object.cpp
  examples/quickstart/timed_wake.cpp
  examples/quickstart/use_main_thread.cpp
  examples/quickstart/wait_composition.cpp
  examples/transpose/transpose_await.cpp
  examples/transpose/transpose_serial.cpp
  examples/transpose/transpose_serial_block.cpp
  examples/transpose/transpose_smp.cpp
  examples/transpose/transpose_smp_block.cpp
Labels: category: tests, type: cleanup, category: modules, category: runtime

#5583 fix coroutine_traits allocate calls, add unhandled_exception() implementation.
  libs/core/futures/include/hpx/futures/traits/detail/future_await_traits.hpp
Labels: category: core, type: enhancement, type: compatibility issue

#5584 Serialization of hpx::tuple must use hpx::get
  libs/core/serialization/include/hpx/serialization/tuple.hpp
Labels: type: enhancement, type: compatibility issue, category: data-structures, category: serialization

#5585 Delete GitExternal.cmake
  cmake/GitExternal.cmake
Labels: type: cleanup
