Repository STEllAR-GROUP/hpx, pull requests merged in 2022-09, with the labels that each got.

#5975 docs: fix & improve parallel algorithms documentation 5
  libs/core/algorithms/include/hpx/parallel/algorithms/transform.hpp
  libs/core/algorithms/include/hpx/parallel/algorithms/transform_exclusive_scan.hpp
  libs/core/algorithms/include/hpx/parallel/algorithms/transform_inclusive_scan.hpp
  libs/core/algorithms/include/hpx/parallel/algorithms/transform_reduce.hpp
  libs/core/algorithms/include/hpx/parallel/algorithms/uninitialized_copy.hpp
  libs/core/algorithms/include/hpx/parallel/algorithms/uninitialized_default_construct.hpp
  libs/core/algorithms/include/hpx/parallel/algorithms/uninitialized_fill.hpp
  libs/core/algorithms/include/hpx/parallel/algorithms/uninitialized_move.hpp
  libs/core/algorithms/include/hpx/parallel/algorithms/uninitialized_value_construct.hpp
  libs/core/algorithms/include/hpx/parallel/algorithms/unique.hpp
Labels: category: documentation, type: enhancement, type: compatibility issue

#5986 Fix warnings when building docs
  libs/core/algorithms/include/hpx/parallel/algorithms/partition.hpp
  libs/core/algorithms/include/hpx/parallel/algorithms/reverse.hpp
  libs/core/algorithms/include/hpx/parallel/task_block.hpp
  libs/core/algorithms/include/hpx/parallel/util/projection_identity.hpp
  libs/core/algorithms/include/hpx/parallel/util/result_types.hpp
Labels: category: documentation, type: enhancement, type: compatibility issue

#5989 Fix missing documentation in Public API page
  docs/sphinx/api/public_api.rst
  libs/core/algorithms/include/hpx/parallel/container_algorithms/fill.hpp
  libs/core/async_base/include/hpx/async_base/async.hpp
  libs/core/functional/include/hpx/functional/bind.hpp
  libs/core/functional/include/hpx/functional/bind_front.hpp
  libs/core/functional/include/hpx/functional/function.hpp
  libs/core/functional/include/hpx/functional/move_only_function.hpp
  libs/core/functional/include/hpx/functional/traits/is_bind_expression.hpp
  libs/core/functional/include/hpx/functional/traits/is_placeholder.hpp
  libs/core/futures/include/hpx/futures/future_fwd.hpp
  libs/core/futures/include/hpx/futures/packaged_task.hpp
  libs/core/futures/include/hpx/futures/promise.hpp
  libs/core/synchronization/include/hpx/synchronization/condition_variable.hpp
Labels: category: documentation, type: enhancement, type: compatibility issue

#6002 Making sure that default constructble arguments are properly constructed during deserialization
  libs/core/datastructures/include/hpx/datastructures/serialization/tuple.hpp
  libs/full/actions/tests/regressions/CMakeLists.txt
  libs/full/actions/tests/regressions/non_default_constructible_argument_5998.cpp
Labels: type: enhancement, type: compatibility issue, category: serialization

#6003 Always exporting get_component_name implementations
  libs/full/components_base/include/hpx/components_base/component_type.hpp
Labels: type: enhancement, category: components, type: compatibility issue

#6007 docs: add docs for mutex.hpp
  libs/core/synchronization/include/hpx/synchronization/mutex.hpp
Labels: category: documentation, type: enhancement, type: compatibility issue

#6005 reshuffle header tests to different instances
  .circleci/config.yml
Labels: type: enhancement, type: compatibility issue, category: CircleCi

#6012 docs: add missing links to public api
  docs/sphinx/api/public_api.rst
Labels: category: documentation, type: enhancement, type: compatibility issue

#6004 Add documentation Public API
  docs/sphinx/api/public_api.rst
  libs/core/assertion/include/hpx/assertion/source_location.hpp
  libs/core/async_base/include/hpx/async_base/sync.hpp
  libs/core/datastructures/include/hpx/datastructures/any.hpp
  libs/core/datastructures/include/hpx/datastructures/serialization/serializable_any.hpp
  libs/core/datastructures/include/hpx/datastructures/tuple.hpp
  libs/core/futures/include/hpx/futures/future.hpp
  libs/core/synchronization/include/hpx/synchronization/stop_token.hpp
  libs/core/tag_invoke/include/hpx/functional/traits/is_invocable.hpp
  libs/core/threading/include/hpx/threading/jthread.hpp
  libs/core/threading/include/hpx/threading/thread.hpp
Labels: category: documentation, type: enhancement, type: compatibility issue

#6009 Fixing sender&receiver integration with for_each and for_loop
  libs/core/algorithms/include/hpx/parallel/algorithms/detail/dispatch.hpp
  libs/core/algorithms/include/hpx/parallel/algorithms/for_each.hpp
  libs/core/algorithms/include/hpx/parallel/algorithms/for_loop.hpp
  libs/core/algorithms/include/hpx/parallel/util/detail/algorithm_result.hpp
  libs/core/algorithms/include/hpx/parallel/util/detail/sender_util.hpp
  libs/core/algorithms/include/hpx/parallel/util/partitioner.hpp
  libs/core/algorithms/tests/performance/foreach_scaling_helpers.hpp
  libs/core/algorithms/tests/unit/algorithms/for_loop_sender.cpp
  libs/core/algorithms/tests/unit/algorithms/foreach_sender.cpp
  libs/core/algorithms/tests/unit/container_algorithms/foreach_range_sender.cpp
  libs/core/async_cuda/tests/unit/transform_stream.cu
  libs/core/async_mpi/tests/unit/algorithm_transform_mpi.cpp
  libs/core/execution/tests/unit/algorithm_run_loop.cpp
  libs/core/executors/include/hpx/executors/explicit_scheduler_executor.hpp
  libs/core/type_support/include/hpx/type_support/void_guard.hpp
Labels: type: enhancement, type: compatibility issue, category: algorithms, category: senders/receivers

#6023 Minor fixes on "How to build on Windows"
  docs/sphinx/manual/building_hpx.rst
Labels: category: documentation, type: enhancement, type: compatibility issue

#6024 Add --start-group and --end-group before libraries are added for linking
  cmake/templates/hpxcxx.in
Labels: category: CMake, type: enhancement, type: compatibility issue

#6026 add option hpx:force_ipv4 to force resolving hostnames to ipv4 adresses
  docs/sphinx/manual/launching_and_configuring_hpx_applications.rst
  libs/core/asio/include/hpx/asio/asio_util.hpp
  libs/core/asio/include/hpx/asio/map_hostnames.hpp
  libs/core/asio/src/asio_util.cpp
  libs/core/asio/src/map_hostnames.cpp
  libs/full/command_line_handling/src/command_line_handling.cpp
  libs/full/command_line_handling/src/parse_command_line.cpp
Labels: type: enhancement, category: parcel transport, type: compatibility issue

#6027 Add/Fix documentation in Public API page
  libs/core/async_base/include/hpx/async_base/async.hpp
  libs/core/synchronization/include/hpx/synchronization/once.hpp
  libs/core/synchronization/include/hpx/synchronization/shared_mutex.hpp
  libs/core/timing/include/hpx/timing/high_resolution_clock.hpp
Labels: category: documentation, type: enhancement, type: compatibility issue

#6020 docs: add cppref NamedRequirements support
  cmake/templates/conf.py.in
  libs/core/synchronization/include/hpx/synchronization/condition_variable.hpp
  libs/core/synchronization/include/hpx/synchronization/mutex.hpp
Labels: category: documentation, type: enhancement, type: compatibility issue

#6025 build(docs): remove leftover sections
  cmake/HPX_Documentation.cmake
  cmake/templates/autodoc.doxy.in
  docs/CMakeLists.txt
Labels: category: documentation, type: enhancement, type: compatibility issue
