Repository STEllAR-GROUP/hpx, pull requests merged in 2022-02, with the labels that each got.

#5759 Switch to use generic rostam SLURM partitions
  .jenkins/lsu/slurm-configuration-clang-11.sh
  .jenkins/lsu/slurm-configuration-clang-12.sh
  .jenkins/lsu/slurm-configuration-clang-13.sh
  .jenkins/lsu/slurm-configuration-gcc-10-cuda-11.sh
  .jenkins/lsu/slurm-configuration-gcc-10.sh
  .jenkins/lsu/slurm-configuration-gcc-11.sh
  .jenkins/lsu/slurm-configuration-gcc-9.sh
  .jenkins/lsu/slurm-configuration-hipcc.sh
Labels: type: enhancement, category: CI

#5760 Update cdash build url
  .jenkins/common/set_github_status.sh
Labels: category: CI, category: Jenkins

#5761 Add missing inline to mpi_exception.hpp error_message function
  libs/core/async_mpi/include/hpx/async_mpi/mpi_exception.hpp
Labels: type: defect, category: mpi

#5763 add num_cores facility
  libs/core/execution/CMakeLists.txt
  libs/core/execution/include/hpx/execution/executors/num_cores.hpp
Labels: type: enhancement, category: algorithms

#5756 Add stop support to when_all
  libs/core/execution/CMakeLists.txt
  libs/core/execution/include/hpx/execution/algorithms/let_error.hpp
  libs/core/execution/include/hpx/execution/algorithms/let_value.hpp
  libs/core/execution/include/hpx/execution/algorithms/schedule_from.hpp
  libs/core/execution/include/hpx/execution/algorithms/when_all.hpp
  libs/core/execution/include/hpx/execution/queries/get_allocator.hpp
  libs/core/execution/include/hpx/execution/queries/get_delegatee_scheduler.hpp
  libs/core/execution/include/hpx/execution/queries/get_scheduler.hpp
  libs/core/execution/include/hpx/execution/queries/get_stop_token.hpp
  libs/core/execution/include/hpx/execution/queries/read.hpp
  libs/core/execution/tests/unit/CMakeLists.txt
  libs/core/execution/tests/unit/algorithm_transfer_when_all.cpp
  libs/core/execution/tests/unit/forwarding_env_query.cpp
  libs/core/execution_base/CMakeLists.txt
  libs/core/execution_base/include/hpx/execution_base/completion_scheduler.hpp
  libs/core/execution_base/include/hpx/execution_base/get_env.hpp
  libs/core/execution_base/include/hpx/execution_base/sender.hpp
  libs/core/execution_base/tests/unit/CMakeLists.txt
  libs/core/threading/src/thread.cpp
  libs/core/type_support/include/hpx/type_support/equality.hpp
  libs/core/type_support/include/hpx/type_support/pack.hpp
Labels: type: enhancement, type: compatibility issue, category: senders/receivers

#5766 Fixing a integral conversion warning
  libs/core/runtime_local/src/runtime_local.cpp
Labels: category: core, type: enhancement, type: compatibility issue

#5772 Adding missing docs for ranges::find_if and find_if_not algorithms
  libs/core/algorithms/include/hpx/parallel/algorithms/find.hpp
  libs/core/algorithms/include/hpx/parallel/container_algorithms/find.hpp
Labels: category: documentation, type: enhancement, type: compatibility issue, category: algorithms

#5769 Slight improvement of small_vector performance
  libs/core/datastructures/include/hpx/datastructures/detail/small_vector.hpp
  libs/core/datastructures/tests/performance/CMakeLists.txt
  libs/core/datastructures/tests/performance/small_vector_benchmark.cpp
Labels: type: optimization, type: enhancement, category: data-structures

#5771 Moving for_loop into namespace hpx::experimental
  docs/sphinx/api/public_api.rst
  docs/sphinx/examples/matrix_multiplication.rst
  docs/sphinx/manual/writing_single_node_hpx_applications.rst
  examples/quickstart/disable_thread_stealing_executor.cpp
  examples/quickstart/executor_with_thread_hooks.cpp
  examples/quickstart/matrix_multiplication.cpp
  libs/core/algorithms/include/hpx/parallel/algorithms/for_loop.hpp
  libs/core/algorithms/include/hpx/parallel/algorithms/for_loop_induction.hpp
  libs/core/algorithms/include/hpx/parallel/algorithms/for_loop_reduction.hpp
  libs/core/algorithms/include/hpx/parallel/container_algorithms/for_loop.hpp
  libs/core/algorithms/tests/performance/foreach_scaling_helpers.hpp
  libs/core/algorithms/tests/regressions/for_loop_2281.cpp
  libs/core/algorithms/tests/unit/algorithms/for_loop.cpp
  libs/core/algorithms/tests/unit/algorithms/for_loop_exception.cpp
  libs/core/algorithms/tests/unit/algorithms/for_loop_induction.cpp
  libs/core/algorithms/tests/unit/algorithms/for_loop_induction_async.cpp
  libs/core/algorithms/tests/unit/algorithms/for_loop_n.cpp
  libs/core/algorithms/tests/unit/algorithms/for_loop_n_strided.cpp
  libs/core/algorithms/tests/unit/algorithms/for_loop_reduction.cpp
  libs/core/algorithms/tests/unit/algorithms/for_loop_reduction_async.cpp
  libs/core/algorithms/tests/unit/algorithms/for_loop_strided.cpp
  libs/core/algorithms/tests/unit/container_algorithms/for_loop_exception_range.cpp
  libs/core/algorithms/tests/unit/container_algorithms/for_loop_induction_async_range.cpp
  libs/core/algorithms/tests/unit/container_algorithms/for_loop_induction_range.cpp
  libs/core/algorithms/tests/unit/container_algorithms/for_loop_range.cpp
  libs/core/algorithms/tests/unit/container_algorithms/for_loop_reduction_async_range.cpp
  libs/core/algorithms/tests/unit/container_algorithms/for_loop_reduction_range.cpp
  libs/core/algorithms/tests/unit/container_algorithms/for_loop_strided_range.cpp
  libs/core/async_cuda/tests/unit/cublas_matmul.cpp
  libs/core/resource_partitioner/examples/oversubscribing_resource_partitioner.cpp
  libs/core/resource_partitioner/examples/simple_resource_partitioner.cpp
  libs/full/collectives/tests/performance/osu/osu_bibw.cpp
  libs/full/resiliency_distributed/tests/performance/replay/1d_stencil_distributed.cpp
  libs/full/resiliency_distributed/tests/performance/replay/1d_stencil_replay_distributed.cpp
  tests/performance/local/future_overhead.cpp
Labels: type: enhancement, type: compatibility issue, category: algorithms

#5777 Update reference for foreach benchmark
  tools/perftests_ci/perftest/references/daint_default/foreach_report_test.json
Labels: category: CI

#5770 Fixing HIP issues
  libs/core/async_cuda/include/hpx/async_cuda/cublas_executor.hpp
  libs/core/executors/include/hpx/executors/service_executors.hpp
Labels: type: enhancement, type: compatibility issue, platform: HIP

#5781 Updating used version of Visual Studio
  .github/workflows/windows_debug.yml
  .github/workflows/windows_release.yml
Labels: type: enhancement, type: compatibility issue, category: CI

#5785 add cmake code to detect arm64 on macOS
  CMakeLists.txt
  cmake/TargetArch.cmake
Labels: category: CMake, type: enhancement, type: compatibility issue

#5787 Remove unneeded (and commented) tests
  libs/core/functional/tests/unit/contains_test.cpp
Labels: category: tests, type: cleanup

#5775 Move optional into namespace hpx
  docs/sphinx/api/public_api.rst
  libs/core/concurrency/include/hpx/concurrency/detail/contiguous_index_queue.hpp
  libs/core/datastructures/CMakeLists.txt
  libs/core/datastructures/docs/index.rst
  libs/core/datastructures/include/hpx/datastructures/detail/optional.hpp
  libs/core/datastructures/include/hpx/datastructures/optional.hpp
  libs/core/datastructures/tests/regressions/optional_swap_3200.cpp
  libs/core/execution/include/hpx/execution/algorithms/schedule_from.hpp
  libs/core/execution/include/hpx/execution/algorithms/when_all.hpp
  libs/core/executors/include/hpx/executors/fork_join_executor.hpp
  libs/core/executors/include/hpx/executors/thread_pool_scheduler_bulk.hpp
  libs/core/include_local/include/hpx/local/optional.hpp
  libs/core/program_options/include/hpx/program_options/config.hpp
  libs/core/program_options/include/hpx/program_options/detail/value_semantic.hpp
  libs/core/runtime_local/include/hpx/runtime_local/run_as_hpx_thread.hpp
  libs/core/serialization/include/hpx/serialization/optional.hpp
  libs/core/serialization/tests/unit/serialization_optional.cpp
  libs/core/synchronization/include/hpx/synchronization/async_rw_mutex.hpp
  libs/core/threading/tests/unit/in_place_stop_token_cb1.cpp
  libs/core/threading/tests/unit/in_place_stop_token_race.cpp
  libs/core/threading/tests/unit/stop_token_cb1.cpp
  libs/core/threading/tests/unit/stop_token_race.cpp
  libs/full/agas_base/include/hpx/agas_base/server/primary_namespace.hpp
Labels: type: enhancement, type: compatibility issue, category: data-structures

#5780 Update Piz Daint Jenkins configurations from gcc/clang 7 to 8
  .jenkins/cscs/Jenkinsfile
  .jenkins/cscs/env-clang-7.sh
  .jenkins/cscs/env-clang-8.sh
  .jenkins/cscs/env-gcc-8.sh
  .jenkins/cscs/slurm-constraint-gcc-7.sh
  .jenkins/cscs/slurm-constraint-gcc-8.sh
Labels: category: CI, category: Jenkins

#5765 Adding a sphinx role allowing to link to a file directly in github
  cmake/templates/conf.py.in
  docs/sphinx/extensions/sphinx-hpx.py
Labels: category: documentation, type: enhancement

#5778 Updated for_loop.hpp
  libs/core/algorithms/include/hpx/parallel/algorithms/for_loop.hpp
  libs/core/algorithms/tests/regressions/CMakeLists.txt
  libs/core/algorithms/tests/regressions/for_loop_test.cpp
Labels: type: defect, category: algorithms

#5790 Moving serializable function/move_only_function into namespace hpx::distributed
  components/parcel_plugins/binary_filter/bzip2/tests/regressions/function_serialization_728_bzip2.cpp
  components/parcel_plugins/binary_filter/snappy/tests/regressions/function_serialization_728_snappy.cpp
  components/parcel_plugins/binary_filter/zlib/tests/regressions/function_serialization_728_zlib.cpp
  components/parcel_plugins/coalescing/tests/regressions/function_serialization_728.cpp
  libs/core/functional/include/hpx/functional/function.hpp
  libs/core/functional/include/hpx/functional/move_only_function.hpp
  libs/full/actions/tests/regressions/function_argument.cpp
  libs/full/agas_base/include/hpx/agas_base/detail/bootstrap_component_namespace.hpp
  libs/full/async_distributed/include/hpx/async_distributed/continuation.hpp
  libs/full/async_distributed/tests/unit/util/bind_action.cpp
  libs/full/collectives/tests/performance/osu/broadcast.hpp
  tests/performance/local/function_object_wrapper_overhead.cpp
Labels: type: enhancement, type: compatibility issue, category: API

#5786 Attempting to fix hangs in distributed barrier
  libs/full/collectives/include/hpx/collectives/detail/barrier_node.hpp
  libs/full/collectives/src/detail/barrier_node.cpp
Labels: type: enhancement, category: init, type: compatibility issue

#5792 Making sure num_cores is properly handled by parallel_executor
  libs/core/algorithms/include/hpx/parallel/algorithms/detail/advance_and_get_distance.hpp
  libs/core/algorithms/include/hpx/parallel/algorithms/for_each.hpp
  libs/core/algorithms/include/hpx/parallel/algorithms/reverse.hpp
  libs/core/algorithms/include/hpx/parallel/task_group.hpp
  libs/core/algorithms/include/hpx/parallel/util/detail/algorithm_result.hpp
  libs/core/algorithms/include/hpx/parallel/util/foreach_partitioner.hpp
  libs/core/datastructures/include/hpx/datastructures/tuple.hpp
  libs/core/execution/include/hpx/execution/executors/execution_parameters.hpp
  libs/core/execution/include/hpx/execution/executors/execution_parameters_fwd.hpp
  libs/core/execution/include/hpx/execution/executors/num_cores.hpp
  libs/core/execution/tests/unit/executor_parameters_dispatching.cpp
  libs/core/executors/CMakeLists.txt
  libs/core/executors/include/hpx/executors/execution_policy.hpp
  libs/core/executors/include/hpx/executors/execution_policy_parameters.hpp
  libs/core/executors/include/hpx/executors/parallel_executor.hpp
  libs/core/futures/include/hpx/futures/future.hpp
  libs/core/iterator_support/include/hpx/iterator_support/counting_iterator.hpp
  libs/core/iterator_support/include/hpx/iterator_support/counting_shape.hpp
  libs/core/iterator_support/include/hpx/iterator_support/iterator_adaptor.hpp
  libs/core/iterator_support/include/hpx/iterator_support/iterator_facade.hpp
  libs/core/iterator_support/include/hpx/iterator_support/iterator_range.hpp
  libs/core/iterator_support/include/hpx/iterator_support/zip_iterator.hpp
Labels: type: enhancement, type: compatibility issue, category: algorithms, category: executors

#5711 Refactor manual sections
  docs/sphinx/manual.rst
  docs/sphinx/manual/building_hpx.rst
  docs/sphinx/manual/cmake_variables.rst
  docs/sphinx/manual/getting_hpx.rst
  docs/sphinx/manual/prerequisites.rst
Labels: category: documentation, type: enhancement, split: docs

#5796 Disable CUDA tests that cause NVCC to silently fail without error messages
  libs/core/async_cuda/tests/performance/synchronize.cu
  libs/core/async_cuda/tests/unit/transform_stream.cu
Labels: type: enhancement, category: tests, type: compatibility issue, platform: CUDA

#5795 Avoid writing path and directories into HPXCacheVariables.cmake
  cmake/HPX_ForwardCacheVariables.cmake
Labels: type: enhancement, type: compatibility issue, category: CircleCi

#5798 Adding MPI as a dependency to APEX
  cmake/HPX_SetupApex.cmake
Labels: type: enhancement, type: compatibility issue, category: APEX
