Repository STEllAR-GROUP/hpx, pull requests merged in 2022-04, with the labels that each got.

#5825 Steal from neighboring NUMA domain only
  libs/core/schedulers/include/hpx/schedulers/local_priority_queue_scheduler.hpp
Labels: type: optimization, type: enhancement, category: scheduler

#5834 API docs changes
  cmake/templates/conf.py.in
  docs/sphinx/api/public_api.rst
Labels: category: documentation, type: enhancement

#5835 Add missing compatibility layer for id_type::management_type values
  libs/full/naming_base/include/hpx/naming_base/id_type.hpp
Labels: type: enhancement, type: compatibility issue

#5830 Exposing zero-copy serialization threshold through configuration option
  docs/sphinx/manual/launching_and_configuring_hpx_applications.rst
  libs/core/serialization/include/hpx/serialization/container.hpp
  libs/core/serialization/include/hpx/serialization/input_archive.hpp
  libs/core/serialization/include/hpx/serialization/input_container.hpp
  libs/core/serialization/include/hpx/serialization/output_archive.hpp
  libs/core/serialization/include/hpx/serialization/output_container.hpp
  libs/full/parcelset/include/hpx/parcelset/encode_parcels.hpp
  libs/full/parcelset/include/hpx/parcelset/parcelport_impl.hpp
  libs/full/parcelset/src/parcelhandler.cpp
  libs/full/parcelset_base/include/hpx/parcelset_base/parcelport.hpp
  libs/full/parcelset_base/src/parcelport.cpp
  libs/full/plugin_factories/include/hpx/plugin_factories/parcelport_factory.hpp
Labels: type: enhancement, category: parcel transport, type: compatibility issue

#5842 change the default value of HPX_WITH_LCI_TAG to v1.7
  CMakeLists.txt
Labels: type: enhancement, category: parcel transport, type: compatibility issue

#5831 Further improvement actions to rotate
  libs/core/algorithms/include/hpx/parallel/algorithms/rotate.hpp
  libs/core/algorithms/include/hpx/parallel/util/detail/sender_util.hpp
  libs/core/algorithms/tests/unit/algorithms/rotate.cpp
  libs/core/executors/include/hpx/executors/execution_policy.hpp
Labels: type: optimization, type: enhancement, category: algorithms

#5837 Moving latch types to hpx and hpx::distributed namespaces
  components/process/include/hpx/components/process/util/posix/initializers/wait_on_latch.hpp
  components/process/include/hpx/components/process/util/windows/initializers/wait_on_latch.hpp
  docs/sphinx/api/public_api.rst
  examples/quickstart/enumerate_threads.cpp
  examples/quickstart/latch_local.cpp
  examples/quickstart/latch_remote.cpp
  examples/quickstart/partitioned_vector_spmd_foreach.cpp
  libs/core/execution/tests/unit/minimal_async_executor.cpp
  libs/core/executors/include/hpx/executors/detail/hierarchical_spawning.hpp
  libs/core/executors/include/hpx/executors/parallel_executor_aggregated.hpp
  libs/core/executors/tests/unit/annotating_executor.cpp
  libs/core/executors/tests/unit/annotation_property.cpp
  libs/core/executors/tests/unit/scheduler_executor.cpp
  libs/core/include_local/include/hpx/local/latch.hpp
  libs/core/include_local/include/hpx/local/memory.hpp
  libs/core/resiliency/include/hpx/resiliency/replay_executor.hpp
  libs/core/resiliency/include/hpx/resiliency/replicate_executor.hpp
  libs/core/synchronization/docs/index.rst
  libs/core/synchronization/include/hpx/synchronization/latch.hpp
  libs/core/synchronization/tests/unit/local_latch.cpp
  libs/core/timed_execution/tests/unit/minimal_timed_async_executor.cpp
  libs/core/timed_execution/tests/unit/minimal_timed_sync_executor.cpp
  libs/full/collectives/docs/index.rst
  libs/full/collectives/include/hpx/collectives/detail/latch.hpp
  libs/full/collectives/include/hpx/collectives/latch.hpp
  libs/full/collectives/src/latch.cpp
  libs/full/collectives/tests/unit/remote_latch.cpp
  libs/full/include/include/hpx/latch.hpp
  libs/full/init_runtime/src/pre_main.cpp
  tests/performance/local/future_overhead.cpp
  tests/performance/local/future_overhead_report.cpp
  tests/performance/local/libcds_hazard_pointer_overhead.cpp
Labels: type: enhancement, category: LCOs, type: compatibility issue, type: cleanup

#5841 Move the split_future facilities into the namespace hpx
  libs/core/async_combinators/docs/index.rst
  libs/core/async_combinators/include/hpx/async_combinators/split_future.hpp
  libs/core/futures/include/hpx/futures/detail/future_data.hpp
Labels: type: enhancement, type: compatibility issue, type: cleanup

#5840 wait_xxx_nothrow functions return whether one of the futures is exceptional
  libs/core/algorithms/include/hpx/parallel/algorithms/make_heap.hpp
  libs/core/algorithms/include/hpx/parallel/util/foreach_partitioner.hpp
  libs/core/algorithms/include/hpx/parallel/util/partitioner.hpp
  libs/core/algorithms/include/hpx/parallel/util/partitioner_with_cleanup.hpp
  libs/core/algorithms/include/hpx/parallel/util/scan_partitioner.hpp
  libs/core/async_combinators/include/hpx/async_combinators/wait_all.hpp
  libs/core/async_combinators/include/hpx/async_combinators/wait_any.hpp
  libs/core/async_combinators/include/hpx/async_combinators/wait_some.hpp
  libs/core/async_combinators/tests/unit/wait_all.cpp
  libs/core/async_combinators/tests/unit/wait_all_std_array.cpp
  libs/core/async_combinators/tests/unit/wait_any.cpp
  libs/core/async_combinators/tests/unit/wait_any_std_array.cpp
  libs/core/async_combinators/tests/unit/wait_some.cpp
  libs/core/async_combinators/tests/unit/wait_some_std_array.cpp
  libs/core/futures/tests/regressions/exception_from_continuation_1613.cpp
  libs/full/compute/include/hpx/compute/host/numa_allocator.hpp
  libs/full/resiliency_distributed/tests/performance/replay/async_replay_distributed.cpp
  libs/full/resiliency_distributed/tests/performance/replay/async_replay_distributed_validate.cpp
Labels: type: enhancement, category: LCOs, type: compatibility issue

#5844 Attempting to fix timeouts of segmented iterator tests
  libs/core/algorithms/include/hpx/algorithms/traits/segmented_iterator_traits.hpp
  libs/full/segmented_algorithms/CMakeLists.txt
  libs/full/segmented_algorithms/include/hpx/parallel/segmented_algorithms/exclusive_scan.hpp
  libs/full/segmented_algorithms/include/hpx/parallel/segmented_algorithms/minmax.hpp
  libs/full/segmented_algorithms/tests/unit/partitioned_vector_exclusive_scan.cpp
  libs/full/segmented_algorithms/tests/unit/partitioned_vector_exclusive_scan2.cpp
  libs/full/segmented_algorithms/tests/unit/partitioned_vector_inclusive_scan.cpp
  libs/full/segmented_algorithms/tests/unit/partitioned_vector_inclusive_scan2.cpp
Labels: type: enhancement, category: tests, type: compatibility issue, type: cleanup

#5849 Update LCI parcelport to LCI v1.7.1
  .jenkins/lsu/env-clang-11.sh
  .jenkins/lsu/env-clang-12.sh
  .jenkins/lsu/env-clang-13.sh
  .jenkins/lsu/env-gcc-10.sh
  .jenkins/lsu/env-gcc-11.sh
  .jenkins/lsu/env-gcc-9.sh
  CMakeLists.txt
  cmake/HPX_SetupLCI.cmake
  cmake/templates/HPXConfig.cmake.in
Labels: type: enhancement, category: parcel transport

#5847 Fix API, troubleshooting & people
  cmake/templates/conf.py.in
  docs/sphinx/_static/images/emails/dkaratza.png
  docs/sphinx/_static/images/emails/ggonidelis.png
  docs/sphinx/about_hpx/people.rst
  docs/sphinx/index.rst
  docs/sphinx/manual/troubleshooting.rst
Labels: category: documentation, type: enhancement

#5850 Convert perf_counters::counter_type enum to enum class.
  components/parcel_plugins/coalescing/src/performance_counters.cpp
  examples/performance_counters/access_counter_set.cpp
  libs/full/performance_counters/include/hpx/performance_counters/counters_fwd.hpp
  libs/full/performance_counters/src/counters.cpp
  libs/full/performance_counters/src/query_counters.cpp
  libs/full/performance_counters/src/registry.cpp
  libs/full/performance_counters/src/server/arithmetics_counter.cpp
  libs/full/performance_counters/src/server/arithmetics_counter_extended.cpp
  libs/full/performance_counters/src/server/raw_counter.cpp
  libs/full/performance_counters/src/server/statistics_counter.cpp
  libs/full/runtime_distributed/src/runtime_distributed.cpp
Labels: type: enhancement, type: compatibility issue, type: cleanup

#5848 Fedora related fixes
  CMakeLists.txt
Labels: category: CMake, type: enhancement, type: compatibility issue

#5854 Fixing left-overs from changing counter_type to enum class
  components/parcel_plugins/coalescing/src/performance_counters.cpp
  components/performance_counters/io/src/io_counters.cpp
  components/performance_counters/memory/src/memory.cpp
  components/performance_counters/papi/src/papi_startup.cpp
  docs/sphinx/manual/optimizing_hpx_applications.rst
  examples/performance_counters/simplest_performance_counter.cpp
  examples/performance_counters/sine/sine.cpp
  libs/full/performance_counters/include/hpx/performance_counters/counters.hpp
  libs/full/performance_counters/include/hpx/performance_counters/counters_fwd.hpp
  libs/full/performance_counters/include/hpx/performance_counters/manage_counter_type.hpp
  libs/full/performance_counters/src/agas_counter_types.cpp
  libs/full/performance_counters/src/component_namespace_counters.cpp
  libs/full/performance_counters/src/locality_namespace_counters.cpp
  libs/full/performance_counters/src/manage_counter_type.cpp
  libs/full/performance_counters/src/parcelhandler_counter_types.cpp
  libs/full/performance_counters/src/performance_counter_set.cpp
  libs/full/performance_counters/src/primary_namespace_counters.cpp
  libs/full/performance_counters/src/query_counters.cpp
  libs/full/performance_counters/src/registry.cpp
  libs/full/performance_counters/src/server/action_invocation_counter.cpp
  libs/full/performance_counters/src/server/component_instance_counter.cpp
  libs/full/performance_counters/src/server/elapsed_time_counter.cpp
  libs/full/performance_counters/src/server/per_action_data_counters.cpp
  libs/full/performance_counters/src/server/raw_counter.cpp
  libs/full/performance_counters/src/server/raw_values_counter.cpp
  libs/full/performance_counters/src/symbol_namespace_counters.cpp
  libs/full/performance_counters/src/threadmanager_counter_types.cpp
  libs/full/performance_counters/tests/unit/reinit_counters.cpp
  libs/full/runtime_distributed/src/runtime_distributed.cpp
Labels: type: enhancement, type: compatibility issue, type: cleanup

#5859 Splitting documentation generation steps on CircleCI
  .circleci/config.yml
  docs/CMakeLists.txt
Labels: category: documentation, type: enhancement, type: compatibility issue, category: CI

#5863 Adding llvm 14.0.0 with boost 1.79.0 to Jenkins
  .jenkins/lsu/Jenkinsfile
  .jenkins/lsu/env-clang-14.sh
  .jenkins/lsu/slurm-configuration-clang-14.sh
Labels: compiler: clang, affecting: LSU, category: CI

#5852 Optimize LCI parcelport
  libs/core/lci_base/include/hpx/lci_base/lci_environment.hpp
  libs/core/lci_base/src/lci_environment.cpp
  libs/full/parcelport_lci/include/hpx/parcelport_lci/receiver.hpp
  libs/full/parcelport_lci/include/hpx/parcelport_lci/receiver_connection.hpp
  libs/full/parcelport_lci/include/hpx/parcelport_lci/sender.hpp
  libs/full/parcelport_lci/include/hpx/parcelport_lci/sender_connection.hpp
Labels: type: optimization, type: enhancement, category: parcel transport

#5851 Forking dynamic_bitset from Boost
  examples/jacobi_smp/jacobi_hpx.cpp
  examples/sheneos/sheneos_test.cpp
  examples/throttle/throttle/server/throttle.hpp
  examples/tuplespace/central_tuplespace/server/tuple.hpp
  libs/core/datastructures/CMakeLists.txt
  libs/core/datastructures/include/hpx/datastructures/detail/dynamic_bitset.hpp
  libs/core/datastructures/include/hpx/datastructures/serialization/dynamic_bitset.hpp
  libs/core/datastructures/include/hpx/datastructures/serialization/optional.hpp
  libs/core/datastructures/include/hpx/datastructures/serialization/serializable_any.hpp
  libs/core/datastructures/include/hpx/datastructures/serialization/tuple.hpp
  libs/core/datastructures/include/hpx/datastructures/traits/supports_streaming_with_any.hpp
  libs/core/datastructures/include/hpx/datastructures/variant.hpp
  libs/core/datastructures/src/serializable_any.cpp
  libs/core/datastructures/tests/unit/CMakeLists.txt
  libs/core/datastructures/tests/unit/any_serialization.cpp
  libs/core/datastructures/tests/unit/bitset_test.hpp
  libs/core/datastructures/tests/unit/dynamic_bitset1.cpp
  libs/core/datastructures/tests/unit/dynamic_bitset2.cpp
  libs/core/datastructures/tests/unit/dynamic_bitset3.cpp
  libs/core/datastructures/tests/unit/dynamic_bitset4.cpp
  libs/core/datastructures/tests/unit/dynamic_bitset5.cpp
  libs/core/datastructures/tests/unit/serializable_any.cpp
  libs/core/datastructures/tests/unit/serializable_boost_any.cpp
  libs/core/datastructures/tests/unit/serialization_optional.cpp
  libs/core/datastructures/tests/unit/serialization_raw_pointer_tuple.cpp
  libs/core/datastructures/tests/unit/serialization_tuple.cpp
  libs/core/lcos_local/include/hpx/lcos_local/and_gate.hpp
  libs/core/memory/CMakeLists.txt
  libs/core/serialization/CMakeLists.txt
  libs/core/serialization/include/hpx/serialization/brace_initializable.hpp
  libs/core/serialization/include/hpx/serialization/dynamic_bitset.hpp
  libs/core/serialization/include/hpx/serialization/serialize_buffer.hpp
  libs/core/serialization/include/hpx/serialization/variant.hpp
  libs/core/serialization/tests/unit/CMakeLists.txt
  libs/core/serialization/tests/unit/serialization_raw_pointer.cpp
  libs/core/topology/include/hpx/topology/cpu_mask.hpp
  libs/full/actions/include/hpx/actions/transfer_action.hpp
  libs/full/actions/include/hpx/actions/transfer_base_action.hpp
  libs/full/actions/src/base_action.cpp
  libs/full/actions/tests/unit/set_thread_state.cpp
  libs/full/agas/include/hpx/agas/addressing_service.hpp
  libs/full/agas/src/addressing_service.cpp
  libs/full/async_distributed/src/base_lco_with_value_3.cpp
  libs/full/collectives/tests/performance/osu/osu_bcast.cpp
  libs/full/compute/src/get_host_targets.cpp
  libs/full/compute/src/host_target.cpp
  libs/full/include/include/hpx/any.hpp
  libs/full/segmented_algorithms/tests/unit/partitioned_vector_transform_reduce1.cpp
  libs/full/segmented_algorithms/tests/unit/partitioned_vector_transform_reduce2.cpp
  tests/regressions/threads/thread_rescheduling.cpp
Labels: type: enhancement, type: compatibility issue, type: cleanup

#5861 Let install step proceed on CircleCI even if the segmented algorithms fail
  .circleci/config.yml
Labels: type: enhancement, category: CircleCi

#5864 ATOMIC_INIT_FLAG is deprecated starting C++20
  cmake/HPX_AddConfigTest.cmake
  cmake/HPX_PerformCxxFeatureTests.cmake
  cmake/tests/cxx11_atomic_init_flag.cpp
  cmake/tests/cxx11_std_atomic.cpp
  libs/core/execution_base/tests/unit/execution_context.cpp
  libs/core/functional/tests/unit/is_invocable.cpp
  libs/core/threading_base/tests/regressions/thread_stacksize_current.cpp
Labels: category: core, type: enhancement, type: compatibility issue, compiler: clang
