Repository STEllAR-GROUP/hpx, pull requests merged in 2022-03, with the labels that each got.

#5800 Add option to restrict MPI background work to subset of cores
  libs/core/config/include/hpx/config.hpp
  libs/full/parcelport_mpi/src/parcelport_mpi.cpp
Labels: type: optimization, type: enhancement, category: parcel transport, type: compatibility issue, category: mpi

#5803 Attempt to fix CUDA related OctoTiger problems
  libs/core/type_support/include/hpx/type_support/meta.hpp
  libs/full/components/include/hpx/components/make_client.hpp
Labels: type: enhancement, type: compatibility issue, affecting: LSU, compiler: nvcc, platform: CUDA

#5807 Use C++20 std::source_location, if available
  cmake/HPX_AddConfigTest.cmake
  cmake/HPX_PerformCxxFeatureTests.cmake
  cmake/tests/cxx20_source_location.cpp
  libs/core/assertion/include/hpx/assertion/evaluate_assert.hpp
  libs/core/assertion/include/hpx/assertion/source_location.hpp
  libs/core/assertion/include/hpx/modules/assertion.hpp
  libs/core/assertion/src/assertion.cpp
  libs/core/assertion/src/source_location.cpp
  libs/core/include_local/CMakeLists.txt
  libs/core/include_local/include/hpx/local/source_location.hpp
  libs/core/runtime_local/include/hpx/runtime_local/runtime_handlers.hpp
  libs/core/runtime_local/src/runtime_handlers.cpp
  libs/core/type_support/include/hpx/type_support/meta.hpp
  libs/full/include/CMakeLists.txt
  libs/full/include/include/hpx/source_location.hpp
Labels: type: enhancement, category: diagnostics, type: compatibility issue, category: API

#5811 Make sure reduction value is properly moved, when possible
  libs/core/algorithms/include/hpx/parallel/algorithms/detail/accumulate.hpp
  libs/core/algorithms/include/hpx/parallel/util/loop.hpp
  libs/full/segmented_algorithms/include/hpx/parallel/segmented_algorithms/detail/reduce.hpp
  libs/full/segmented_algorithms/include/hpx/parallel/segmented_algorithms/reduce.hpp
Labels: type: optimization, type: enhancement, type: compatibility issue, category: algorithms

#5814 Avoid test timeouts by reducing test sizes
  libs/full/actions/tests/unit/serialize_buffer.cpp
Labels: type: enhancement, category: tests

#5816 Modernize cache module
  libs/core/cache/include/hpx/cache/entries/entry.hpp
  libs/core/cache/include/hpx/cache/entries/fifo_entry.hpp
  libs/core/cache/include/hpx/cache/entries/lfu_entry.hpp
  libs/core/cache/include/hpx/cache/entries/lru_entry.hpp
  libs/core/cache/include/hpx/cache/entries/size_entry.hpp
  libs/core/cache/include/hpx/cache/local_cache.hpp
  libs/core/cache/include/hpx/cache/lru_cache.hpp
  libs/core/cache/include/hpx/cache/policies/always.hpp
  libs/core/cache/include/hpx/cache/statistics/local_full_statistics.hpp
  libs/core/cache/include/hpx/cache/statistics/local_statistics.hpp
  libs/core/cache/include/hpx/cache/statistics/no_statistics.hpp
  libs/core/cache/tests/unit/local_lru_cache.cpp
  libs/core/cache/tests/unit/local_mru_cache.cpp
  libs/core/cache/tests/unit/local_statistics.cpp
Labels: type: enhancement, type: cleanup

#5815 Reapply flyby changes from #5467
  examples/quickstart/1d_wave_equation.cpp
  examples/quickstart/receive_buffer.cpp
  libs/core/async_combinators/tests/unit/when_all.cpp
  libs/core/command_line_handling_local/src/command_line_handling_local.cpp
  libs/core/coroutines/include/hpx/coroutines/detail/coroutine_stackful_self.hpp
  libs/core/execution/include/hpx/execution/detail/post_policy_dispatch.hpp
  libs/core/execution/include/hpx/execution/detail/sync_launch_policy_dispatch.hpp
  libs/core/execution_base/include/hpx/execution_base/this_thread.hpp
  libs/core/executors/include/hpx/executors/dataflow.hpp
  libs/core/executors/include/hpx/executors/detail/hierarchical_spawning.hpp
  libs/core/executors/include/hpx/executors/parallel_executor.hpp
  libs/core/futures/include/hpx/futures/traits/is_future.hpp
  libs/core/resource_partitioner/tests/unit/suspend_thread_external.cpp
  libs/core/runtime_local/src/runtime_local.cpp
  libs/core/schedulers/include/hpx/schedulers/local_priority_queue_scheduler.hpp
  libs/core/timing/include/hpx/timing/high_resolution_timer.hpp
  libs/full/async_distributed/include/hpx/async_distributed/detail/async_implementations.hpp
  libs/full/async_distributed/include/hpx/async_distributed/detail/async_unwrap_result_implementations.hpp
  libs/full/collectives/tests/unit/CMakeLists.txt
  libs/full/command_line_handling/src/command_line_handling.cpp
  libs/full/runtime_distributed/src/runtime_distributed.cpp
Labels: type: enhancement, type: cleanup

#5762 Fix Public API main page
  cmake/templates/conf.py.in
  docs/CMakeLists.txt
  docs/sphinx/api.rst
  docs/sphinx/api/full_api.rst
  docs/sphinx/api/public_api.rst
Labels: category: documentation, type: enhancement, type: compatibility issue

#5818 Unconditionally use C++17 attributes
  components/parcel_plugins/coalescing/src/coalescing_message_handler.cpp
  libs/core/algorithms/include/hpx/parallel/util/detail/handle_exception_termination_handler.hpp
  libs/core/algorithms/include/hpx/parallel/util/detail/handle_local_exceptions.hpp
  libs/core/algorithms/include/hpx/parallel/util/detail/handle_remote_exceptions.hpp
  libs/core/algorithms/src/handle_exception_termination_handler.cpp
  libs/core/allocator_support/include/hpx/allocator_support/aligned_allocator.hpp
  libs/core/allocator_support/include/hpx/allocator_support/internal_allocator.hpp
  libs/core/async_cuda/include/hpx/async_cuda/cuda_polling_helper.hpp
  libs/core/async_mpi/include/hpx/async_mpi/mpi_future.hpp
  libs/core/config/include/hpx/config/attributes.hpp
  libs/core/config/include/hpx/config/deprecation.hpp
  libs/core/errors/include/hpx/errors/exception_info.hpp
  libs/core/errors/include/hpx/errors/throw_exception.hpp
  libs/core/errors/src/throw_exception.cpp
  libs/core/execution/include/hpx/execution/algorithms/let_error.hpp
  libs/core/execution/include/hpx/execution/algorithms/let_value.hpp
  libs/core/execution/include/hpx/execution/algorithms/schedule_from.hpp
  libs/core/execution/include/hpx/execution/algorithms/split.hpp
  libs/core/execution/include/hpx/execution/algorithms/start_detached.hpp
  libs/core/execution/include/hpx/execution/executors/polymorphic_executor.hpp
  libs/core/execution/src/polymorphic_executor.cpp
  libs/core/execution_base/include/hpx/execution_base/any_sender.hpp
  libs/core/execution_base/include/hpx/execution_base/sender.hpp
  libs/core/execution_base/include/hpx/execution_base/this_thread.hpp
  libs/core/executors/include/hpx/executors/exception_list.hpp
  libs/core/executors/src/exception_list_callbacks.cpp
  libs/core/format/include/hpx/util/bad_lexical_cast.hpp
  libs/core/functional/include/hpx/functional/detail/empty_function.hpp
  libs/core/functional/src/empty_function.cpp
  libs/core/futures/include/hpx/futures/traits/detail/future_await_traits.hpp
  libs/core/hashing/include/hpx/hashing/jenkins_hash.hpp
  libs/core/resource_partitioner/src/detail_partitioner.cpp
  libs/core/runtime_local/include/hpx/runtime_local/custom_exception_info.hpp
  libs/core/runtime_local/include/hpx/runtime_local/runtime_handlers.hpp
  libs/core/runtime_local/src/runtime_handlers.cpp
  libs/core/runtime_local/src/runtime_local.cpp
  libs/core/runtime_local/src/serialize_exception.cpp
  libs/core/serialization/src/exception_ptr.cpp
  libs/core/synchronization/include/hpx/synchronization/barrier.hpp
  libs/core/synchronization/include/hpx/synchronization/stop_token.hpp
  libs/core/threading/include/hpx/threading/jthread.hpp
  libs/core/threading/include/hpx/threading/thread.hpp
  libs/core/threading_base/include/hpx/threading_base/scoped_annotation.hpp
  libs/core/threading_base/src/create_thread.cpp
  libs/core/threading_base/src/set_thread_state.cpp
  libs/core/topology/include/hpx/topology/topology.hpp
  libs/core/util/src/regex_from_pattern.cpp
  libs/full/init_runtime/include/hpx/hpx_finalize.hpp
  libs/full/naming_base/src/id_type.cpp
  libs/full/performance_counters/src/registry.cpp
  libs/full/performance_counters/src/server/per_action_data_counters.cpp
  libs/full/runtime_distributed/include/hpx/runtime_distributed/server/runtime_support.hpp
Labels: type: enhancement, type: compatibility issue, type: cleanup

#5709 Update the MPI cmake setup
  CMakeLists.txt
  cmake/HPX_SetupApex.cmake
  cmake/HPX_SetupMPI.cmake
  cmake/templates/HPXConfig.cmake.in
  libs/core/version/CMakeLists.txt
  tests/headers/CMakeLists.txt
Labels: category: CMake, split: local

#5813 The CUDA problem is not fixed in V11.5 yet...
  libs/full/components/include/hpx/components/make_client.hpp
Labels: type: enhancement, type: compatibility issue, platform: CUDA

#5821 Enable permissive- flag on Windows GitHub actions builders
  .github/workflows/windows_debug.yml
  .github/workflows/windows_release.yml
  examples/transpose/transpose_serial_vector.cpp
Labels: type: enhancement, platform: Windows, category: CI

#5823 Remove obsolete directories and adjust build system
  CMakeLists.txt
  libs/CMakeLists.txt
  plugins/CMakeLists.txt
  plugins/parcelport/CMakeLists.txt
  src/CMakeLists.txt
  tests/CMakeLists.txt
  tests/headers/CMakeLists.txt
Labels: category: CMake, type: enhancement, type: compatibility issue, type: cleanup

#5819 Marking customization points for intrusive_ptr as noexcept
  examples/1d_stencil/1d_stencil_8.cpp
  examples/jacobi/jacobi_component/row_range.hpp
  examples/quickstart/zerocopy_rdma.cpp
  libs/core/allocator_support/include/hpx/allocator_support/aligned_allocator.hpp
  libs/core/allocator_support/include/hpx/allocator_support/allocator_deleter.hpp
  libs/core/allocator_support/include/hpx/allocator_support/internal_allocator.hpp
  libs/core/async_cuda/include/hpx/async_cuda/cuda_future.hpp
  libs/core/async_mpi/include/hpx/async_mpi/mpi_future.hpp
  libs/core/concurrency/include/hpx/concurrency/deque.hpp
  libs/core/concurrency/include/hpx/concurrency/detail/freelist.hpp
  libs/core/coroutines/include/hpx/coroutines/detail/context_generic_context.hpp
  libs/core/coroutines/include/hpx/coroutines/thread_id_type.hpp
  libs/core/datastructures/tests/unit/small_vector.cpp
  libs/core/execution/include/hpx/execution/executors/polymorphic_executor.hpp
  libs/core/functional/include/hpx/functional/detail/vtable/vtable.hpp
  libs/core/functional/tests/unit/allocator_test.cpp
  libs/core/futures/tests/unit/test_allocator.hpp
  libs/core/lcos_local/include/hpx/lcos_local/channel.hpp
  libs/core/memory/include/hpx/memory/intrusive_ptr.hpp
  libs/core/memory/tests/unit/intrusive_ptr.cpp
  libs/core/memory/tests/unit/intrusive_ptr_move.cpp
  libs/core/memory/tests/unit/intrusive_ptr_polymorphic.cpp
  libs/core/memory/tests/unit/intrusive_ptr_polymorphic_nonintrusive.cpp
  libs/core/memory/tests/unit/ip_convertible.cpp
  libs/core/memory/tests/unit/ip_hash.cpp
  libs/core/memory/tests/unit/serialization_intrusive_ptr.cpp
  libs/core/pack_traversal/tests/unit/pack_traversal.cpp
  libs/core/schedulers/include/hpx/schedulers/queue_holder_thread.hpp
  libs/core/schedulers/include/hpx/schedulers/thread_queue.hpp
  libs/core/serialization/tests/unit/polymorphic/smart_ptr_polymorphic.cpp
  libs/core/serialization/tests/unit/polymorphic/smart_ptr_polymorphic_nonintrusive.cpp
  libs/core/serialization/tests/unit/serialization_smart_ptr.cpp
  libs/core/synchronization/include/hpx/synchronization/condition_variable.hpp
  libs/core/synchronization/include/hpx/synchronization/detail/condition_variable.hpp
  libs/core/synchronization/include/hpx/synchronization/stop_token.hpp
  libs/core/synchronization/src/detail/condition_variable.cpp
  libs/core/threading_base/include/hpx/threading_base/thread_data.hpp
  libs/core/threading_base/include/hpx/threading_base/thread_data_stackful.hpp
  libs/core/threading_base/include/hpx/threading_base/thread_data_stackless.hpp
  libs/core/topology/include/hpx/topology/topology.hpp
  libs/core/topology/src/topology.cpp
  libs/full/async_distributed/include/hpx/async_distributed/detail/promise_lco.hpp
  libs/full/collectives/include/hpx/collectives/detail/barrier_node.hpp
  libs/full/components_base/include/hpx/components_base/server/component.hpp
  libs/full/components_base/include/hpx/components_base/server/managed_component_base.hpp
  libs/full/components_base/include/hpx/components_base/server/wrapper_heap.hpp
  libs/full/compute/include/hpx/compute/host/block_allocator.hpp
  libs/full/compute/include/hpx/compute/host/numa_allocator.hpp
  libs/full/compute/include/hpx/compute/host/numa_binding_allocator.hpp
  libs/full/compute/include/hpx/compute/traits/allocator_traits.hpp
  libs/full/compute/tests/regressions/for_each_value_proxy.cpp
  libs/full/lcos_distributed/tests/unit/test_allocator.hpp
  libs/full/naming/include/hpx/naming/credit_handling.hpp
  libs/full/naming/src/credit_handling.cpp
  libs/full/naming_base/include/hpx/naming_base/id_type.hpp
  tests/performance/network/network_storage/network_storage.cpp
  tests/regressions/util/serialize_buffer_1069.cpp
Labels: type: enhancement, type: compatibility issue, type: cleanup

#5827 Add back explicit template parameter to `ignore_while_checking` to compile with nvcc
  libs/core/execution/include/hpx/execution/algorithms/sync_wait.hpp
Labels: type: defect, compiler: nvcc, platform: CUDA, category: senders/receivers

#5820 Convert throwmode enum to enum class
  components/containers/partitioned_vector/include/hpx/components/containers/partitioned_vector/partitioned_vector_component_impl.hpp
  components/containers/unordered/include/hpx/components/containers/unordered/partition_unordered_map_component.hpp
  examples/cancelable_action/cancelable_action_client.cpp
  examples/quickstart/error_handling.cpp
  examples/quickstart/local_channel.cpp
  libs/core/cache/include/hpx/cache/statistics/no_statistics.hpp
  libs/core/errors/include/hpx/errors/error_code.hpp
  libs/core/errors/include/hpx/errors/exception.hpp
  libs/core/errors/include/hpx/errors/exception_fwd.hpp
  libs/core/errors/include/hpx/errors/throw_exception.hpp
  libs/core/errors/src/error_code.cpp
  libs/core/errors/src/exception.cpp
  libs/core/errors/src/throw_exception.cpp
  libs/core/futures/include/hpx/futures/future.hpp
  libs/core/init_runtime_local/src/init_logging.cpp
  libs/core/lcos_local/include/hpx/lcos_local/and_gate.hpp
  libs/core/lcos_local/include/hpx/lcos_local/channel.hpp
  libs/core/lcos_local/include/hpx/lcos_local/trigger.hpp
  libs/core/lcos_local/tests/unit/channel_local.cpp
  libs/core/runtime_configuration/src/init_ini_data.cpp
  libs/core/runtime_configuration/src/runtime_configuration.cpp
  libs/core/runtime_local/src/custom_exception_info.cpp
  libs/core/runtime_local/src/interval_timer.cpp
  libs/core/runtime_local/src/runtime_local.cpp
  libs/core/runtime_local/src/serialize_exception.cpp
  libs/core/serialization/src/exception_ptr.cpp
  libs/core/thread_pools/include/hpx/thread_pools/scheduled_thread_pool_impl.hpp
  libs/core/threading/src/thread.cpp
  libs/core/threading_base/include/hpx/threading_base/scheduler_mode.hpp
  libs/core/threading_base/include/hpx/threading_base/scheduler_state.hpp
  libs/core/threading_base/src/set_thread_state.cpp
  libs/core/threading_base/src/set_thread_state_timed.cpp
  libs/core/threading_base/src/thread_helpers.cpp
  libs/full/actions/src/base_action.cpp
  libs/full/agas_base/src/server/component_namespace_server.cpp
  libs/full/agas_base/src/server/locality_namespace_server.cpp
  libs/full/agas_base/src/server/primary_namespace_server.cpp
  libs/full/agas_base/src/server/symbol_namespace_server.cpp
  libs/full/components/include/hpx/components/client_base.hpp
  libs/full/components_base/include/hpx/components_base/server/fixed_component_base.hpp
  libs/full/init_runtime/src/pre_main.cpp
  libs/full/lcos_distributed/tests/unit/channel.cpp
  libs/full/naming/src/credit_handling.cpp
  libs/full/parcelport_mpi/include/hpx/parcelport_mpi/sender.hpp
  libs/full/parcelport_mpi/include/hpx/parcelport_mpi/sender_connection.hpp
  libs/full/parcelset/include/hpx/parcelset/coalescing_message_handler_registration.hpp
  libs/full/parcelset/include/hpx/parcelset/parcelport_impl.hpp
  libs/full/parcelset/src/parcelhandler.cpp
  libs/full/performance_counters/src/manage_counter.cpp
  libs/full/performance_counters/src/manage_counter_type.cpp
  libs/full/performance_counters/src/query_counters.cpp
  libs/full/performance_counters/src/registry.cpp
  libs/full/performance_counters/src/server/statistics_counter.cpp
  libs/full/runtime_distributed/src/runtime_distributed.cpp
  libs/full/runtime_distributed/src/server/runtime_support_server.cpp
  tests/performance/local/timed_task_spawn.cpp
Labels: type: enhancement, type: compatibility issue, type: cleanup

#5829 Attempting to fix failing barrier test
  libs/core/synchronization/include/hpx/synchronization/barrier.hpp
  libs/full/collectives/tests/unit/barrier.cpp
Labels: type: enhancement, category: LCOs, category: tests, type: compatibility issue

#5715 The new LCI parcelport for HPX
  .gitignore
  .jenkins/lsu/batch.sh
  .jenkins/lsu/env-clang-11.sh
  .jenkins/lsu/env-clang-12.sh
  .jenkins/lsu/env-clang-13.sh
  .jenkins/lsu/env-gcc-10.sh
  .jenkins/lsu/env-gcc-11.sh
  .jenkins/lsu/env-gcc-9.sh
  CMakeLists.txt
  cmake/FindLCI.cmake
  cmake/HPX_AddTest.cmake
  cmake/HPX_GeneratePackage.cmake
  cmake/HPX_SetupLCI.cmake
  cmake/templates/HPXConfig.cmake.in
  cmake/templates/hpxrun.py.in
  libs/core/CMakeLists.txt
  libs/core/algorithms/include/hpx/parallel/algorithms/ends_with.hpp
  libs/core/algorithms/include/hpx/parallel/container_algorithms/is_partitioned.hpp
  libs/core/lci_base/CMakeLists.txt
  libs/core/lci_base/README.rst
  libs/core/lci_base/docs/index.rst
  libs/core/lci_base/examples/CMakeLists.txt
  libs/core/lci_base/include/hpx/lci_base/lci.hpp
  libs/core/lci_base/include/hpx/lci_base/lci_environment.hpp
  libs/core/lci_base/src/lci_environment.cpp
  libs/core/lci_base/tests/CMakeLists.txt
  libs/core/lci_base/tests/performance/CMakeLists.txt
  libs/core/lci_base/tests/regressions/CMakeLists.txt
  libs/core/lci_base/tests/unit/CMakeLists.txt
  libs/core/mpi_base/src/mpi_environment.cpp
  libs/core/version/CMakeLists.txt
  libs/core/version/src/version.cpp
  libs/full/CMakeLists.txt
  libs/full/command_line_handling/CMakeLists.txt
  libs/full/command_line_handling/src/command_line_handling.cpp
  libs/full/modules.rst
  libs/full/parcelport_lci/CMakeLists.txt
  libs/full/parcelport_lci/README.rst
  libs/full/parcelport_lci/docs/index.rst
  libs/full/parcelport_lci/examples/CMakeLists.txt
  libs/full/parcelport_lci/include/hpx/parcelport_lci/header.hpp
  libs/full/parcelport_lci/include/hpx/parcelport_lci/locality.hpp
  libs/full/parcelport_lci/include/hpx/parcelport_lci/receiver.hpp
  libs/full/parcelport_lci/include/hpx/parcelport_lci/receiver_connection.hpp
  libs/full/parcelport_lci/include/hpx/parcelport_lci/sender.hpp
  libs/full/parcelport_lci/include/hpx/parcelport_lci/sender_connection.hpp
  libs/full/parcelport_lci/include/hpx/parcelport_lci/tag_provider.hpp
  libs/full/parcelport_lci/src/locality.cpp
  libs/full/parcelport_lci/src/parcelport_lci.cpp
  libs/full/parcelport_lci/tests/CMakeLists.txt
  libs/full/parcelport_lci/tests/performance/CMakeLists.txt
  libs/full/parcelport_lci/tests/regressions/CMakeLists.txt
  libs/full/parcelport_lci/tests/unit/CMakeLists.txt
Labels: type: enhancement, category: parcel transport
