Repository STEllAR-GROUP/hpx, pull requests merged in 2022-08, with the labels that each got.

#5952 docs: fix & improve parallel algorithms documentation 3
  libs/core/algorithms/include/hpx/parallel/algorithms/adjacent_difference.hpp
  libs/core/algorithms/include/hpx/parallel/algorithms/adjacent_find.hpp
  libs/core/algorithms/include/hpx/parallel/algorithms/generate.hpp
  libs/core/algorithms/include/hpx/parallel/algorithms/includes.hpp
  libs/core/algorithms/include/hpx/parallel/algorithms/inclusive_scan.hpp
  libs/core/algorithms/include/hpx/parallel/algorithms/is_heap.hpp
  libs/core/algorithms/include/hpx/parallel/algorithms/is_partitioned.hpp
  libs/core/algorithms/include/hpx/parallel/algorithms/is_sorted.hpp
  libs/core/algorithms/include/hpx/parallel/algorithms/lexicographical_compare.hpp
  libs/core/algorithms/include/hpx/parallel/algorithms/make_heap.hpp
  libs/core/algorithms/include/hpx/parallel/algorithms/merge.hpp
  libs/core/algorithms/include/hpx/parallel/algorithms/minmax.hpp
  libs/core/algorithms/include/hpx/parallel/algorithms/mismatch.hpp
  libs/core/algorithms/include/hpx/parallel/algorithms/move.hpp
  libs/core/algorithms/include/hpx/parallel/algorithms/nth_element.hpp
  libs/core/algorithms/include/hpx/parallel/algorithms/partial_sort.hpp
  libs/core/algorithms/include/hpx/parallel/algorithms/partial_sort_copy.hpp
  libs/core/algorithms/include/hpx/parallel/algorithms/partition.hpp
  libs/core/algorithms/include/hpx/parallel/algorithms/reduce.hpp
  libs/core/algorithms/include/hpx/parallel/algorithms/reduce_by_key.hpp
  libs/core/algorithms/include/hpx/parallel/algorithms/remove_copy.hpp
Labels: category: documentation, type: enhancement, type: compatibility issue

#5955 Fix documentation for container algorithms
  libs/core/algorithms/include/hpx/parallel/container_algorithms/merge.hpp
  libs/core/algorithms/include/hpx/parallel/container_algorithms/nth_element.hpp
  libs/core/algorithms/include/hpx/parallel/container_algorithms/partial_sort.hpp
  libs/core/algorithms/include/hpx/parallel/container_algorithms/partial_sort_copy.hpp
  libs/core/algorithms/include/hpx/parallel/container_algorithms/partition.hpp
  libs/core/algorithms/include/hpx/parallel/container_algorithms/reduce.hpp
  libs/core/algorithms/include/hpx/parallel/container_algorithms/remove.hpp
  libs/core/algorithms/include/hpx/parallel/container_algorithms/remove_copy.hpp
  libs/core/algorithms/include/hpx/parallel/container_algorithms/replace.hpp
  libs/core/algorithms/include/hpx/parallel/container_algorithms/reverse.hpp
  libs/core/algorithms/include/hpx/parallel/container_algorithms/rotate.hpp
  libs/core/algorithms/include/hpx/parallel/container_algorithms/search.hpp
  libs/core/algorithms/include/hpx/parallel/container_algorithms/set_difference.hpp
  libs/core/algorithms/include/hpx/parallel/container_algorithms/set_intersection.hpp
  libs/core/algorithms/include/hpx/parallel/container_algorithms/set_symmetric_difference.hpp
  libs/core/algorithms/include/hpx/parallel/container_algorithms/set_union.hpp
  libs/core/algorithms/include/hpx/parallel/container_algorithms/shift_left.hpp
  libs/core/algorithms/include/hpx/parallel/container_algorithms/shift_right.hpp
  libs/core/algorithms/include/hpx/parallel/container_algorithms/sort.hpp
  libs/core/algorithms/include/hpx/parallel/container_algorithms/stable_sort.hpp
  libs/core/algorithms/include/hpx/parallel/container_algorithms/starts_with.hpp
  libs/core/algorithms/include/hpx/parallel/container_algorithms/swap_ranges.hpp
Labels: category: documentation, type: enhancement, type: compatibility issue

#5949 Converting async combinators into CPOs
  libs/core/async_combinators/CMakeLists.txt
  libs/core/async_combinators/include/hpx/async_combinators/wait_all.hpp
  libs/core/async_combinators/include/hpx/async_combinators/wait_any.hpp
  libs/core/async_combinators/include/hpx/async_combinators/wait_each.hpp
  libs/core/async_combinators/include/hpx/async_combinators/wait_some.hpp
  libs/core/async_combinators/include/hpx/async_combinators/when_all.hpp
  libs/core/async_combinators/include/hpx/async_combinators/when_any.hpp
  libs/core/async_combinators/include/hpx/async_combinators/when_each.hpp
  libs/core/async_combinators/include/hpx/async_combinators/when_some.hpp
  libs/core/async_combinators/tests/unit/wait_all.cpp
  libs/core/async_combinators/tests/unit/when_all.cpp
  libs/core/async_combinators/tests/unit/when_any.cpp
  libs/core/async_combinators/tests/unit/when_some.cpp
  libs/core/execution_base/include/hpx/execution_base/traits/is_executor_parameters.hpp
Labels: type: optimization, type: enhancement, category: LCOs, type: compatibility issue, type: breaking change

#5971 added logic to detect riscv compiler configured for 64 bit target
  cmake/TargetArch.cmake
  libs/core/hardware/include/hpx/hardware/timestamp/linux_riscv_64.hpp
  libs/core/hardware/tests/CMakeLists.txt
Labels: category: core, type: enhancement, type: compatibility issue

#5957 HPX V1.8.1
  .github/workflows/macos_debug.yml
  CITATION.cff
  CMakeLists.txt
  README.rst
  cmake/HPX_UpdateGitDocs.cmake
  cmake/packaging/rpm/Changelog.txt
  cmake/templates/conf.py.in
  docs/sphinx/about_hpx/people.rst
  docs/sphinx/quickstart.rst
  docs/sphinx/releases.rst
  docs/sphinx/releases/whats_new_1_8_1.rst
  libs/core/datastructures/include/hpx/datastructures/detail/small_vector.hpp
  libs/core/execution/include/hpx/execution/algorithms/sync_wait.hpp
  tools/roll_release.sh
Labels: type: enhancement

#5973 defaults boost.context on riscv64
  CMakeLists.txt
Labels: category: CMake, type: enhancement, type: compatibility issue

#5977 fix: Compilation errors for -std=c++17 builders
  libs/core/execution_base/tests/unit/completion_signatures.cpp
Labels: type: enhancement, type: compatibility issue, category: senders/receivers

#5962 Changes in html page of documentation
  cmake/templates/conf.py.in
  docs/sphinx/_static/images/emails/aberge.png
  docs/sphinx/_static/images/emails/alemoine.png
  docs/sphinx/_static/images/emails/aserio.png
  docs/sphinx/_static/images/emails/atrantan.png
  docs/sphinx/_static/images/emails/blelbach.png
  docs/sphinx/_static/images/emails/jhabraken.png
  docs/sphinx/_static/images/emails/mbrodowicz.png
  docs/sphinx/_static/images/emails/theller.png
  docs/sphinx/_static/images/emails/vexocide.png
  docs/sphinx/about_hpx/people.rst
  docs/sphinx/index.rst
  docs/sphinx/manual/launching_and_configuring_hpx_applications.rst
Labels: category: documentation, type: enhancement

#5972 Fix documentation for container algorithms
  libs/core/algorithms/include/hpx/parallel/container_algorithms/copy.hpp
  libs/core/algorithms/include/hpx/parallel/container_algorithms/find.hpp
  libs/core/algorithms/include/hpx/parallel/container_algorithms/is_heap.hpp
  libs/core/algorithms/include/hpx/parallel/container_algorithms/partial_sort_copy.hpp
  libs/core/algorithms/include/hpx/parallel/container_algorithms/reduce.hpp
  libs/core/algorithms/include/hpx/parallel/container_algorithms/remove.hpp
  libs/core/algorithms/include/hpx/parallel/container_algorithms/replace.hpp
  libs/core/algorithms/include/hpx/parallel/container_algorithms/reverse.hpp
  libs/core/algorithms/include/hpx/parallel/container_algorithms/transform.hpp
  libs/core/algorithms/include/hpx/parallel/container_algorithms/transform_exclusive_scan.hpp
  libs/core/algorithms/include/hpx/parallel/container_algorithms/transform_inclusive_scan.hpp
  libs/core/algorithms/include/hpx/parallel/container_algorithms/transform_reduce.hpp
  libs/core/algorithms/include/hpx/parallel/container_algorithms/uninitialized_copy.hpp
  libs/core/algorithms/include/hpx/parallel/container_algorithms/uninitialized_default_construct.hpp
  libs/core/algorithms/include/hpx/parallel/container_algorithms/uninitialized_fill.hpp
  libs/core/algorithms/include/hpx/parallel/container_algorithms/uninitialized_move.hpp
  libs/core/algorithms/include/hpx/parallel/container_algorithms/uninitialized_value_construct.hpp
  libs/core/algorithms/include/hpx/parallel/container_algorithms/unique.hpp
Labels: category: documentation, type: enhancement, type: compatibility issue

#5979 Unsupport clang-v8 and clang-v9, switch LSU clang-v13 to C++17
  .jenkins/cscs/Jenkinsfile
  .jenkins/cscs/env-clang-8.sh
  .jenkins/cscs/env-clang-9.sh
  .jenkins/cscs/slurm-constraint-clang-8.sh
  .jenkins/lsu/env-clang-13.sh
  .jenkins/lsu/env-common.sh
  docs/sphinx/manual/prerequisites.rst
  docs/sphinx/releases.rst
  docs/sphinx/releases/whats_new_1_9_0.rst
Labels: type: enhancement, type: compatibility issue, category: CI

#5980 More work on execution::read
  libs/core/execution/include/hpx/execution/queries/read.hpp
  libs/core/tag_invoke/include/hpx/functional/traits/is_invocable.hpp
Labels: type: enhancement, type: compatibility issue, category: senders/receivers

#5991 Support IPV6 on command line for explicit network initialization
  libs/core/asio/src/asio_util.cpp
Labels: type: enhancement, category: parcel transport, category: init, type: compatibility issue

#5993 Using EVE requires C++20
  .jenkins/lsu/env-clang-13.sh
  .jenkins/lsu/env-clang-14.sh
Labels: type: enhancement, type: compatibility issue, affecting: LSU, category: CI

#5994 Fix CTRL+C on windows
  libs/core/runtime_local/src/runtime_local.cpp
Labels: type: enhancement, type: compatibility issue, platform: Windows
