Repository STEllAR-GROUP/hpx, pull requests merged in 2022-12, with the labels that each got.

#6092 Use C++17 static_assert where possible
  cmake/tests/builtin_integer_pack.cpp
  cmake/tests/builtin_make_integer_seq.cpp
  cmake/tests/builtin_type_pack_element.cpp
  libs/core/format/include/hpx/util/from_string.hpp
  libs/core/iterator_support/include/hpx/iterator_support/traits/is_iterator.hpp
  libs/core/iterator_support/tests/unit/is_iterator.cpp
Labels: type: enhancement, type: compatibility issue, type: cleanup

#6091 Replace artificial sequencing with fold expressions
  components/iostreams/tests/regressions/lost_output_2236.cpp
  components/process/include/hpx/components/process/util/posix/executor.hpp
  components/process/include/hpx/components/process/util/windows/executor.hpp
  libs/core/algorithms/include/hpx/parallel/algorithms/for_loop.hpp
  libs/core/algorithms/include/hpx/parallel/datapar/zip_iterator.hpp
  libs/core/algorithms/include/hpx/parallel/util/prefetching.hpp
  libs/core/async_combinators/include/hpx/async_combinators/detail/throw_if_exceptional.hpp
  libs/core/async_combinators/include/hpx/async_combinators/wait_some.hpp
  libs/core/async_combinators/include/hpx/async_combinators/when_any.hpp
  libs/core/async_combinators/include/hpx/async_combinators/when_some.hpp
  libs/core/datastructures/include/hpx/datastructures/member_pack.hpp
  libs/core/datastructures/include/hpx/datastructures/serialization/tuple.hpp
  libs/core/datastructures/include/hpx/datastructures/tuple.hpp
  libs/core/execution/include/hpx/execution/executors/execution_parameters.hpp
  libs/core/iterator_support/include/hpx/iterator_support/zip_iterator.hpp
  libs/core/serialization/include/hpx/serialization/serialization_fwd.hpp
  libs/core/serialization/include/hpx/serialization/serialize.hpp
  libs/core/serialization/include/hpx/serialization/std_tuple.hpp
  libs/full/checkpoint_base/include/hpx/checkpoint_base/checkpoint_data.hpp
Labels: type: enhancement, type: compatibility issue, type: cleanup

#6093 Replace boost::string_ref with std::string_view
  CMakeLists.txt
  libs/core/coroutines/include/hpx/coroutines/thread_id_type.hpp
  libs/core/datastructures/tests/unit/dynamic_bitset4.cpp
  libs/core/format/include/hpx/modules/format.hpp
  libs/core/format/src/format.cpp
  libs/core/format/tests/unit/format.cpp
  libs/core/logging/include/hpx/logging/level.hpp
  libs/core/logging/include/hpx/logging/manipulator.hpp
  libs/core/logging/include/hpx/logging/message.hpp
  libs/core/logging/src/level.cpp
  libs/full/actions_base/include/hpx/actions_base/basic_action.hpp
  libs/full/actions_base/include/hpx/actions_base/component_action.hpp
  libs/full/actions_base/include/hpx/actions_base/plain_action.hpp
Labels: type: enhancement, type: compatibility issue, type: cleanup

#6095 Replacing facilities from Boost.Range
  components/process/include/hpx/components/process/util/posix/initializers/close_fds.hpp
  components/process/include/hpx/components/process/util/posix/initializers/close_fds_if.hpp
  examples/1d_stencil/1d_stencil_4.cpp
  examples/1d_stencil/1d_stencil_4_repart.cpp
  examples/1d_stencil/1d_stencil_4_throttle.cpp
  examples/jacobi/jacobi_component/row_range.hpp
  examples/transpose/transpose_await.cpp
  examples/transpose/transpose_block.cpp
  examples/transpose/transpose_smp.cpp
  examples/transpose/transpose_smp_block.cpp
  libs/core/algorithms/include/hpx/parallel/spmd_block.hpp
  libs/core/algorithms/include/hpx/parallel/util/detail/chunk_size.hpp
  libs/core/iterator_support/tests/performance/stencil3_iterators.cpp
  libs/core/resiliency/tests/performance/replay/1d_stencil.cpp
  libs/core/resiliency/tests/performance/replay/1d_stencil_checksum.cpp
  libs/core/resiliency/tests/performance/replay/1d_stencil_replay.cpp
  libs/core/resiliency/tests/performance/replay/dataflow_replay.cpp
  libs/core/resiliency/tests/performance/replay/dataflow_replay_validate.cpp
  libs/core/resiliency/tests/performance/replay/pure_dataflow.cpp
  libs/core/resiliency/tests/performance/replicate/1d_stencil_replicate.cpp
  libs/core/resiliency/tests/performance/replicate/1d_stencil_replicate_checksum.cpp
  libs/full/checkpoint/examples/1d_stencil_4_checkpoint.cpp
  libs/full/collectives/include/hpx/collectives/spmd_block.hpp
  libs/full/collectives/tests/performance/osu/osu_bw.cpp
  libs/full/collectives/tests/performance/osu/osu_latency.cpp
  libs/full/collectives/tests/performance/osu/osu_multi_lat.cpp
  libs/full/collectives/tests/regressions/barrier_hang.cpp
  tools/inspect/deprecated_include_check.cpp
Labels: type: enhancement, type: compatibility issue, type: cleanup

#6096 Forking Boost.Tokenizer
  CMakeLists.txt
  components/process/include/hpx/components/process/util/posix/initializers/run_exe.hpp
  components/process/include/hpx/components/process/util/posix/initializers/set_cmd_line.hpp
  components/process/src/util/posix/search_path_u.cpp
  components/process/src/util/windows/search_path_w.cpp
  examples/1d_stencil/1d_stencil_4_repart.cpp
  examples/jacobi/jacobi_component/server/row.hpp
  libs/core/async_cuda/tests/unit/trivial_demo.cu
  libs/core/batch_environments/src/pjm_environment.cpp
  libs/core/command_line_handling_local/CMakeLists.txt
  libs/core/command_line_handling_local/src/command_line_handling_local.cpp
  libs/core/datastructures/tests/unit/any_serialization.cpp
  libs/core/debugging/src/backtrace.cpp
  libs/core/iterator_support/CMakeLists.txt
  libs/core/iterator_support/include/hpx/iterator_support/detail/minimum_category.hpp
  libs/core/iterator_support/include/hpx/iterator_support/zip_iterator.hpp
  libs/core/lci_base/CMakeLists.txt
  libs/core/lci_base/src/lci_environment.cpp
  libs/core/mpi_base/CMakeLists.txt
  libs/core/mpi_base/src/mpi_environment.cpp
  libs/core/prefix/src/find_prefix.cpp
  libs/core/program_options/CMakeLists.txt
  libs/core/program_options/examples/option_groups.cpp
  libs/core/program_options/examples/response_file.cpp
  libs/core/program_options/src/options_description.cpp
  libs/core/program_options/src/split.cpp
  libs/core/runtime_configuration/CMakeLists.txt
  libs/core/runtime_configuration/src/init_ini_data.cpp
  libs/core/runtime_configuration/src/runtime_configuration.cpp
  libs/core/string_util/CMakeLists.txt
  libs/core/string_util/include/hpx/string_util/token_functions.hpp
  libs/core/string_util/include/hpx/string_util/token_iterator.hpp
  libs/core/string_util/include/hpx/string_util/tokenizer.hpp
  libs/core/string_util/tests/unit/CMakeLists.txt
  libs/core/string_util/tests/unit/tokenizer.cpp
  libs/core/string_util/tests/unit/tokenizer_1.cpp
  libs/core/string_util/tests/unit/tokenizer_2.cpp
  libs/core/string_util/tests/unit/tokenizer_3.cpp
  libs/core/string_util/tests/unit/tokenizer_4.cpp
  libs/core/string_util/tests/unit/tokenizer_5.cpp
  libs/full/command_line_handling/src/command_line_handling.cpp
  libs/full/performance_counters/src/server/elapsed_time_counter.cpp
  libs/full/runtime_distributed/src/server/runtime_support_server.cpp
  tests/performance/local/hpx_tls_overhead.cpp
  tools/inspect/end_check.cpp
  tools/inspect/endline_whitespace_check.cpp
  tools/inspect/length_check.cpp
  tools/inspect/tab_check.cpp
Labels: type: enhancement, type: compatibility issue, type: cleanup

#6101 Using more fold expressions
  libs/core/pack_traversal/include/hpx/pack_traversal/detail/pack_traversal_async_impl.hpp
  libs/core/pack_traversal/include/hpx/pack_traversal/detail/pack_traversal_impl.hpp
Labels: type: enhancement, type: compatibility issue, type: cleanup

#6102 Prevent warnings generated by clang-cl
  cmake/tests/cxx20_no_unique_address_attribute.cpp
Labels: category: CMake, type: enhancement, type: compatibility issue, platform: Windows, compiler: clang

#6098 Forking Boost.Lockfree
  CMakeLists.txt
  examples/balancing/CMakeLists.txt
  examples/balancing/hpx_thread_phase.cpp
  examples/balancing/os_thread_num.cpp
  libs/core/allocator_support/include/hpx/allocator_support/aligned_allocator.hpp
  libs/core/async_cuda/include/hpx/async_cuda/cuda_event.hpp
  libs/core/concurrency/CMakeLists.txt
  libs/core/concurrency/include/hpx/concurrency/cache_line_data.hpp
  libs/core/concurrency/include/hpx/concurrency/deque.hpp
  libs/core/concurrency/include/hpx/concurrency/detail/copy_payload.hpp
  libs/core/concurrency/include/hpx/concurrency/detail/freelist.hpp
  libs/core/concurrency/include/hpx/concurrency/detail/freelist_stack.hpp
  libs/core/concurrency/include/hpx/concurrency/detail/tagged_ptr.hpp
  libs/core/concurrency/include/hpx/concurrency/detail/tagged_ptr_dcas.hpp
  libs/core/concurrency/include/hpx/concurrency/detail/tagged_ptr_pair.hpp
  libs/core/concurrency/include/hpx/concurrency/detail/tagged_ptr_ptrcompression.hpp
  libs/core/concurrency/include/hpx/concurrency/queue.hpp
  libs/core/concurrency/include/hpx/concurrency/stack.hpp
  libs/core/concurrency/tests/unit/CMakeLists.txt
  libs/core/concurrency/tests/unit/freelist.cpp
  libs/core/concurrency/tests/unit/lockfree_fifo.cpp
  libs/core/concurrency/tests/unit/queue.cpp
  libs/core/concurrency/tests/unit/queue_stress.cpp
  libs/core/concurrency/tests/unit/stack.cpp
  libs/core/concurrency/tests/unit/stack_destructor.cpp
  libs/core/concurrency/tests/unit/stack_stress.cpp
  libs/core/concurrency/tests/unit/tagged_ptr.cpp
  libs/core/concurrency/tests/unit/test_common.hpp
  libs/core/concurrency/tests/unit/test_helpers.hpp
  libs/core/config/include/hpx/config/compiler_specific.hpp
  libs/core/schedulers/include/hpx/schedulers/lockfree_queue_backends.hpp
  libs/full/parcelport_libfabric/include/hpx/parcelport_libfabric/parcelport_libfabric.hpp
  libs/full/parcelport_libfabric/include/hpx/parcelport_libfabric/receiver.hpp
  libs/full/parcelport_libfabric/include/hpx/parcelport_libfabric/rma_memory_pool.hpp
  libs/full/parcelport_libfabric/src/receiver.cpp
  libs/full/runtime_distributed/include/hpx/runtime_distributed/big_boot_barrier.hpp
  libs/full/segmented_algorithms/tests/unit/CMakeLists.txt
  tests/performance/local/nonconcurrent_fifo_overhead.cpp
  tests/performance/local/nonconcurrent_lifo_overhead.cpp
Labels: type: enhancement, type: compatibility issue, type: cleanup

#6104 Adding parameters API: measure_iteration
  docs/sphinx/api/public_api.rst
  docs/sphinx/manual/writing_single_node_hpx_applications.rst
  libs/core/algorithms/include/hpx/parallel/algorithms/detail/set_operation.hpp
  libs/core/algorithms/include/hpx/parallel/algorithms/make_heap.hpp
  libs/core/algorithms/include/hpx/parallel/algorithms/partial_sort.hpp
  libs/core/algorithms/include/hpx/parallel/algorithms/partition.hpp
  libs/core/algorithms/include/hpx/parallel/algorithms/rotate.hpp
  libs/core/algorithms/include/hpx/parallel/algorithms/sort.hpp
  libs/core/algorithms/include/hpx/parallel/algorithms/stable_sort.hpp
  libs/core/algorithms/include/hpx/parallel/util/detail/chunk_size.hpp
  libs/core/algorithms/tests/performance/foreach_scaling_helpers.hpp
  libs/core/algorithms/tests/regressions/scan_non_commutative.cpp
  libs/core/algorithms/tests/unit/block/task_block_executor.cpp
  libs/core/async_mpi/include/hpx/async_mpi/mpi_executor.hpp
  libs/core/compute_local/include/hpx/compute_local/host/block_executor.hpp
  libs/core/compute_local/include/hpx/compute_local/host/block_fork_join_executor.hpp
  libs/core/compute_local/include/hpx/compute_local/host/numa_allocator.hpp
  libs/core/compute_local/tests/regressions/parallel_fill_4132.cpp
  libs/core/execution/include/hpx/execution/executors/adaptive_static_chunk_size.hpp
  libs/core/execution/include/hpx/execution/executors/auto_chunk_size.hpp
  libs/core/execution/include/hpx/execution/executors/dynamic_chunk_size.hpp
  libs/core/execution/include/hpx/execution/executors/execution_parameters.hpp
  libs/core/execution/include/hpx/execution/executors/execution_parameters_fwd.hpp
  libs/core/execution/include/hpx/execution/executors/guided_chunk_size.hpp
  libs/core/execution/include/hpx/execution/executors/num_cores.hpp
  libs/core/execution/include/hpx/execution/executors/persistent_auto_chunk_size.hpp
  libs/core/execution/include/hpx/execution/executors/static_chunk_size.hpp
  libs/core/execution/include/hpx/execution/traits/executor_traits.hpp
  libs/core/execution/tests/regressions/annotated_minmax_2593.cpp
  libs/core/execution/tests/regressions/chunk_size_4118.cpp
  libs/core/execution/tests/unit/executor_parameters.cpp
  libs/core/execution/tests/unit/executor_parameters_dispatching.cpp
  libs/core/execution/tests/unit/persistent_executor_parameters.cpp
  libs/core/executors/include/hpx/executors/execution_policy_parameters.hpp
  libs/core/executors/include/hpx/executors/explicit_scheduler_executor.hpp
  libs/core/executors/include/hpx/executors/fork_join_executor.hpp
  libs/core/executors/include/hpx/executors/parallel_executor.hpp
  libs/core/executors/include/hpx/executors/restricted_thread_pool_executor.hpp
  libs/core/executors/include/hpx/executors/scheduler_executor.hpp
  libs/core/executors/include/hpx/executors/sequenced_executor.hpp
  libs/core/executors/include/hpx/executors/service_executors.hpp
  libs/core/executors/include/hpx/executors/thread_pool_scheduler.hpp
  libs/core/executors/tests/regressions/parallel_executor_1781.cpp
  libs/core/resource_partitioner/examples/oversubscribing_resource_partitioner.cpp
  libs/core/resource_partitioner/examples/simple_resource_partitioner.cpp
  libs/core/timing/include/hpx/timing/steady_clock.hpp
  tests/performance/local/future_overhead.cpp
  tests/performance/local/partitioned_vector_foreach.cpp
Labels: type: enhancement, type: compatibility issue, category: algorithms, category: executors, type: breaking change

#6110 Use pragma error directive to report warnings as errors on msvc
  cmake/tests/cxx17_aligned_new.cpp
Labels: category: CMake, type: enhancement, type: compatibility issue

#6111 Modernize all modules from module level 8
  cmake/HPX_AddConfigTest.cmake
  cmake/HPX_PerformCxxFeatureTests.cmake
  cmake/tests/cxx20_std_construct_at.cpp
  examples/quickstart/component_with_custom_heap.cpp
  examples/quickstart/custom_serialization.cpp
  libs/core/algorithms/include/hpx/parallel/algorithms/uninitialized_copy.hpp
  libs/core/algorithms/include/hpx/parallel/algorithms/uninitialized_default_construct.hpp
  libs/core/algorithms/include/hpx/parallel/algorithms/uninitialized_fill.hpp
  libs/core/algorithms/include/hpx/parallel/algorithms/uninitialized_move.hpp
  libs/core/algorithms/include/hpx/parallel/algorithms/uninitialized_value_construct.hpp
  libs/core/algorithms/include/hpx/parallel/util/low_level.hpp
  libs/core/allocator_support/CMakeLists.txt
  libs/core/allocator_support/include/hpx/allocator_support/aligned_allocator.hpp
  libs/core/allocator_support/include/hpx/allocator_support/detail/new.hpp
  libs/core/allocator_support/include/hpx/allocator_support/internal_allocator.hpp
  libs/core/compute_local/include/hpx/compute_local/host/numa_allocator.hpp
  libs/core/compute_local/include/hpx/compute_local/host/numa_binding_allocator.hpp
  libs/core/concurrency/include/hpx/concurrency/deque.hpp
  libs/core/datastructures/include/hpx/datastructures/any.hpp
  libs/core/datastructures/include/hpx/datastructures/detail/optional.hpp
  libs/core/datastructures/include/hpx/datastructures/detail/small_vector.hpp
  libs/core/datastructures/include/hpx/datastructures/member_pack.hpp
  libs/core/datastructures/include/hpx/datastructures/serialization/serializable_any.hpp
  libs/core/datastructures/include/hpx/datastructures/serialization/tuple.hpp
  libs/core/datastructures/include/hpx/datastructures/traits/is_tuple_like.hpp
  libs/core/datastructures/include/hpx/datastructures/traits/supports_streaming_with_any.hpp
  libs/core/datastructures/include/hpx/datastructures/tuple.hpp
  libs/core/datastructures/include/hpx/datastructures/variant_helper.hpp
  libs/core/datastructures/src/serializable_any.cpp
  libs/core/execution/CMakeLists.txt
  libs/core/execution/include/hpx/execution/executors/polymorphic_executor.hpp
  libs/core/execution_base/include/hpx/execution_base/any_sender.hpp
  libs/core/functional/include/hpx/functional/detail/basic_function.hpp
  libs/core/functional/include/hpx/functional/detail/empty_function.hpp
  libs/core/functional/include/hpx/functional/detail/vtable/callable_vtable.hpp
  libs/core/functional/include/hpx/functional/detail/vtable/copyable_vtable.hpp
  libs/core/functional/include/hpx/functional/detail/vtable/function_vtable.hpp
  libs/core/functional/include/hpx/functional/detail/vtable/vtable.hpp
  libs/core/futures/include/hpx/futures/detail/future_data.hpp
  libs/core/hashing/include/hpx/hashing/fibhash.hpp
  libs/core/hashing/include/hpx/hashing/jenkins_hash.hpp
  libs/core/memory/include/hpx/memory/detail/sp_convertible.hpp
  libs/core/memory/include/hpx/memory/intrusive_ptr.hpp
  libs/core/memory/include/hpx/memory/serialization/intrusive_ptr.hpp
  libs/core/serialization/include/hpx/serialization/binary_filter.hpp
  libs/core/static_reinit/include/hpx/static_reinit/reinitializable_static.hpp
  libs/core/synchronization/include/hpx/synchronization/channel_mpmc.hpp
  libs/core/synchronization/include/hpx/synchronization/channel_mpsc.hpp
  libs/core/synchronization/include/hpx/synchronization/channel_spsc.hpp
  libs/core/threading_base/include/hpx/threading_base/thread_data_stackful.hpp
  libs/core/threading_base/include/hpx/threading_base/thread_data_stackless.hpp
  libs/core/type_support/CMakeLists.txt
  libs/core/type_support/include/hpx/type_support/construct_at.hpp
  libs/core/type_support/include/hpx/type_support/static.hpp
  libs/full/checkpoint_base/include/hpx/checkpoint_base/checkpoint_data.hpp
  libs/full/checkpoint_base/src/checkpoint_data.cpp
  libs/full/collectives/include/hpx/collectives/detail/channel_communicator.hpp
  libs/full/components_base/include/hpx/components_base/server/create_component.hpp
  libs/full/include/include/hpx/include/util.hpp
Labels: type: enhancement, type: compatibility issue, type: cleanup

#6115 Modernize modules of levels 14, 15, and 16
  .github/workflows/macos_debug.yml
  libs/core/affinity/include/hpx/affinity/affinity_data.hpp
  libs/core/affinity/include/hpx/affinity/detail/partlit.hpp
  libs/core/affinity/include/hpx/affinity/parse_affinity_options.hpp
  libs/core/affinity/src/affinity_data.cpp
  libs/core/affinity/src/parse_affinity_options.cpp
  libs/core/affinity/tests/unit/parse_affinity_options.cpp
  libs/core/async_base/include/hpx/async_base/async.hpp
  libs/core/async_base/include/hpx/async_base/dataflow.hpp
  libs/core/async_base/include/hpx/async_base/launch_policy.hpp
  libs/core/async_base/include/hpx/async_base/post.hpp
  libs/core/async_base/include/hpx/async_base/scheduling_properties.hpp
  libs/core/async_base/include/hpx/async_base/sync.hpp
  libs/core/async_base/include/hpx/async_base/traits/is_launch_policy.hpp
  libs/core/async_base/src/launch_policy.cpp
  libs/core/command_line_handling_local/include/hpx/command_line_handling_local/command_line_handling_local.hpp
  libs/core/command_line_handling_local/include/hpx/command_line_handling_local/late_command_line_handling_local.hpp
  libs/core/command_line_handling_local/include/hpx/command_line_handling_local/parse_command_line_local.hpp
  libs/core/command_line_handling_local/src/command_line_handling_local.cpp
  libs/core/command_line_handling_local/src/late_command_line_handling_local.cpp
  libs/core/command_line_handling_local/src/parse_command_line_local.cpp
  libs/core/errors/include/hpx/errors/error.hpp
  libs/core/logging/include/hpx/logging/message.hpp
  libs/core/runtime_configuration/include/hpx/runtime_configuration/agas_service_mode.hpp
  libs/core/runtime_configuration/include/hpx/runtime_configuration/component_commandline_base.hpp
  libs/core/runtime_configuration/include/hpx/runtime_configuration/component_factory_base.hpp
  libs/core/runtime_configuration/include/hpx/runtime_configuration/component_registry_base.hpp
  libs/core/runtime_configuration/include/hpx/runtime_configuration/init_ini_data.hpp
  libs/core/runtime_configuration/include/hpx/runtime_configuration/plugin_registry_base.hpp
  libs/core/runtime_configuration/include/hpx/runtime_configuration/runtime_configuration.hpp
  libs/core/runtime_configuration/include/hpx/runtime_configuration/runtime_configuration_fwd.hpp
  libs/core/runtime_configuration/include/hpx/runtime_configuration/runtime_mode.hpp
  libs/core/runtime_configuration/include/hpx/runtime_configuration/static_factory_data.hpp
  libs/core/runtime_configuration/src/runtime_configuration.cpp
  libs/core/runtime_configuration/src/runtime_mode.cpp
  libs/core/runtime_configuration/src/static_factory_data.cpp
  libs/core/runtime_local/src/runtime_local.cpp
  libs/core/topology/include/hpx/topology/cpu_mask.hpp
  libs/core/topology/include/hpx/topology/topology.hpp
  libs/core/topology/src/cpu_mask.cpp
  libs/core/topology/src/topology.cpp
  libs/full/agas/include/hpx/agas/addressing_service.hpp
  libs/full/command_line_handling/include/hpx/command_line_handling/command_line_handling.hpp
  libs/full/command_line_handling/include/hpx/command_line_handling/late_command_line_handling.hpp
  libs/full/command_line_handling/include/hpx/command_line_handling/parse_command_line.hpp
  libs/full/command_line_handling/src/command_line_handling.cpp
  libs/full/command_line_handling/src/late_command_line_handling.cpp
  libs/full/command_line_handling/src/parse_command_line.cpp
  libs/full/runtime_distributed/src/big_boot_barrier.cpp
Labels: type: enhancement, type: compatibility issue, type: cleanup

#6088 Add/fix Public API documentation
  docs/sphinx/api/public_api.rst
  libs/core/functional/include/hpx/functional/bind_back.hpp
  libs/core/functional/include/hpx/functional/bind_front.hpp
  libs/core/functional/include/hpx/functional/traits/is_bind_expression.hpp
  libs/core/functional/include/hpx/functional/traits/is_placeholder.hpp
Labels: type: enhancement, type: compatibility issue, type: cleanup

#6119 Update CMakeLists.txt
  CMakeLists.txt
Labels: type: enhancement, type: compatibility issue, affecting: UO, category: APEX

#6120 Use index_queue for parallel executors bulk_async_execute
  .jenkins/cscs/Jenkinsfile
  .jenkins/cscs/env-gcc-8.sh
  docs/sphinx/manual/prerequisites.rst
  docs/sphinx/releases/whats_new_1_9_0.rst
  libs/core/algorithms/CMakeLists.txt
  libs/core/algorithms/include/hpx/parallel/algorithms/for_loop.hpp
  libs/core/algorithms/include/hpx/parallel/spmd_block.hpp
  libs/core/algorithms/include/hpx/parallel/util/adapt_sharing_mode.hpp
  libs/core/algorithms/include/hpx/parallel/util/detail/partitioner_iteration.hpp
  libs/core/algorithms/include/hpx/parallel/util/loop.hpp
  libs/core/algorithms/tests/regressions/for_loop_2281.cpp
  libs/core/async_base/src/launch_policy.cpp
  libs/core/compute_local/include/hpx/compute_local/host/block_allocator.hpp
  libs/core/concurrency/include/hpx/concurrency/detail/contiguous_index_queue.hpp
  libs/core/concurrency/include/hpx/concurrency/detail/non_contiguous_index_queue.hpp
  libs/core/coroutines/include/hpx/coroutines/thread_enums.hpp
  libs/core/executors/CMakeLists.txt
  libs/core/executors/include/hpx/executors/detail/hierarchical_spawning.hpp
  libs/core/executors/include/hpx/executors/detail/index_queue_spawning.hpp
  libs/core/executors/include/hpx/executors/parallel_executor.hpp
  libs/core/executors/include/hpx/executors/thread_pool_scheduler_bulk.hpp
  libs/core/resource_partitioner/include/hpx/resource_partitioner/detail/partitioner.hpp
  libs/core/resource_partitioner/src/detail_partitioner.cpp
Labels: type: optimization, type: enhancement, category: algorithms
