Repository STEllAR-GROUP/hpx, pull requests merged in 2022-11, with the labels that each got.

#6061 Minor fix in small_vector (from upstream)
  libs/core/datastructures/include/hpx/datastructures/detail/small_vector.hpp
Labels: type: enhancement, type: compatibility issue, category: data-structures

#6060 Allow to disable registering signal handlers
  docs/sphinx/manual/launching_and_configuring_hpx_applications.rst
  libs/core/coroutines/include/hpx/coroutines/detail/context_linux_x86.hpp
  libs/core/coroutines/include/hpx/coroutines/signal_handler_debugging.hpp
  libs/core/coroutines/src/signal_handler_debugging.cpp
  libs/core/runtime_configuration/src/runtime_configuration.cpp
  libs/core/runtime_local/src/runtime_local.cpp
Labels: type: enhancement, category: diagnostics, type: compatibility issue

#6071 Making get_forward_progress_guarantee_t specializations constexpr
  libs/core/execution/include/hpx/execution/algorithms/run_loop.hpp
  libs/core/executors/include/hpx/executors/thread_pool_scheduler.hpp
Labels: type: enhancement, type: compatibility issue, category: senders/receivers

#6074 Fixing compilation issues on gcc V8
  CMakeLists.txt
  libs/core/executors/tests/unit/annotating_executor.cpp
Labels: type: compatibility issue, compiler: gcc

#6076 Cleaning up functionality that was deprecated in V1.7
  components/containers/partitioned_vector/include/hpx/components/containers/partitioned_vector/partitioned_vector_segmented_iterator.hpp
  components/containers/partitioned_vector/include/hpx/components/containers/partitioned_vector/partitioned_vector_view_iterator.hpp
  components/containers/unordered/include/hpx/components/containers/unordered/unordered_map_segmented_iterator.hpp
  libs/core/algorithms/include/hpx/parallel/algorithms/lexicographical_compare.hpp
  libs/core/algorithms/include/hpx/parallel/algorithms/minmax.hpp
  libs/core/algorithms/include/hpx/parallel/algorithms/replace.hpp
  libs/core/algorithms/include/hpx/parallel/algorithms/reverse.hpp
  libs/core/algorithms/include/hpx/parallel/algorithms/uninitialized_copy.hpp
  libs/core/algorithms/include/hpx/parallel/algorithms/uninitialized_default_construct.hpp
  libs/core/algorithms/include/hpx/parallel/algorithms/uninitialized_fill.hpp
  libs/core/algorithms/include/hpx/parallel/algorithms/uninitialized_move.hpp
  libs/core/algorithms/include/hpx/parallel/algorithms/uninitialized_value_construct.hpp
  libs/core/algorithms/include/hpx/parallel/container_algorithms/minmax.hpp
  libs/core/algorithms/include/hpx/parallel/container_algorithms/remove_copy.hpp
  libs/core/algorithms/include/hpx/parallel/container_algorithms/replace.hpp
  libs/core/algorithms/include/hpx/parallel/container_algorithms/reverse.hpp
  libs/core/algorithms/tests/unit/container_algorithms/reverse_copy_range.cpp
  libs/core/config/include/hpx/config/deprecation.hpp
  libs/core/pack_traversal/include/hpx/pack_traversal/unwrap.hpp
  libs/full/collectives/include/hpx/collectives/all_gather.hpp
  libs/full/collectives/include/hpx/collectives/all_reduce.hpp
  libs/full/collectives/include/hpx/collectives/all_to_all.hpp
  libs/full/collectives/include/hpx/collectives/broadcast.hpp
  libs/full/collectives/include/hpx/collectives/gather.hpp
  libs/full/collectives/include/hpx/collectives/scatter.hpp
  libs/full/components_base/include/hpx/components_base/components_base_fwd.hpp
  tests/regressions/build/server_1950.cpp
  tests/regressions/build/server_1950.hpp
Labels: type: enhancement, type: breaking change, type: cleanup

#6079 Adding more natvis files, correct existing
  tools/VS/intrusive_ptr.natvis
  tools/VS/thread_data.natvis
  tools/VS/thread_id.natvis
  tools/VS/thread_state.natvis
Labels: type: enhancement, type: compatibility issue, category: tools

#6081 Update github actions to avoid warnings
  .github/workflows/linux_bors.yml
  .github/workflows/linux_crosscompile_arm_sve_release.yml
  .github/workflows/linux_debug.yml
  .github/workflows/linux_hip.yml
  .github/workflows/linux_release_fetchcontent.yml
  .github/workflows/linux_sanitizers.yml
  .github/workflows/macos_debug.yml
  .github/workflows/windows_clang_debug.yml
  .github/workflows/windows_clang_release.yml
  .github/workflows/windows_debug.yml
  .github/workflows/windows_release.yml
  .github/workflows/windows_release_static.yml
Labels: type: enhancement, type: compatibility issue, category: CI

#6080 Disable some tests that fail on LCI
  .cmake-format.py
  cmake/HPX_AddTest.cmake
  libs/full/runtime_components/tests/unit/components/CMakeLists.txt
  libs/full/segmented_algorithms/tests/unit/CMakeLists.txt
Labels: category: CMake, type: compatibility issue, category: CI

#6077 Making default constructor of hpx::mutex constexpr
  libs/core/algorithms/tests/unit/container_algorithms/foreach_tests.hpp
  libs/core/algorithms/tests/unit/container_algorithms/foreach_tests_projection.hpp
  libs/core/concurrency/include/hpx/concurrency/cache_line_data.hpp
  libs/core/config/include/hpx/config/constexpr.hpp
  libs/core/datastructures/CMakeLists.txt
  libs/core/datastructures/include/hpx/datastructures/detail/intrusive_list.hpp
  libs/core/datastructures/tests/unit/CMakeLists.txt
  libs/core/datastructures/tests/unit/intrusive_list.cpp
  libs/core/synchronization/include/hpx/synchronization/detail/condition_variable.hpp
  libs/core/synchronization/include/hpx/synchronization/mutex.hpp
  libs/core/synchronization/include/hpx/synchronization/spinlock.hpp
  libs/core/synchronization/src/detail/condition_variable.cpp
  libs/core/synchronization/src/mutex.cpp
  libs/core/thread_support/include/hpx/thread_support/atomic_count.hpp
Labels: type: enhancement, type: compatibility issue

#6070 Implement P2690 for our algorithms
  libs/core/algorithms/include/hpx/parallel/util/detail/sender_util.hpp
  libs/core/algorithms/tests/unit/algorithms/CMakeLists.txt
  libs/core/algorithms/tests/unit/algorithms/foreach_scheduler.cpp
  libs/core/execution_base/include/hpx/execution_base/sender.hpp
  libs/core/executors/CMakeLists.txt
  libs/core/executors/include/hpx/executors/execute_on.hpp
Labels: type: enhancement, type: compatibility issue, category: algorithms, category: senders/receivers

#6086 Deprecate `hpx::util::unlock_guard` in favor of `hpx::unlock_guard`
  components/iostreams/include/hpx/components/iostreams/server/order_output.hpp
  components/parcel_plugins/coalescing/src/coalescing_message_handler.cpp
  examples/quickstart/component_with_custom_heap.cpp
  examples/throttle/throttle/server/throttle.cpp
  libs/core/errors/src/exception_list.cpp
  libs/core/include_local/include/hpx/local/mutex.hpp
  libs/core/ini/src/ini.cpp
  libs/core/lcos_local/include/hpx/lcos_local/and_gate.hpp
  libs/core/lcos_local/include/hpx/lcos_local/channel.hpp
  libs/core/lcos_local/include/hpx/lcos_local/trigger.hpp
  libs/core/runtime_local/src/interval_timer.cpp
  libs/core/runtime_local/src/pool_timer.cpp
  libs/core/schedulers/include/hpx/schedulers/thread_queue.hpp
  libs/core/synchronization/include/hpx/synchronization/condition_variable.hpp
  libs/core/synchronization/src/detail/condition_variable.cpp
  libs/core/synchronization/src/stop_token.cpp
  libs/core/synchronization/tests/unit/condition_variable.cpp
  libs/core/thread_pools/include/hpx/thread_pools/scheduled_thread_pool_impl.hpp
  libs/core/thread_support/include/hpx/thread_support/unlock_guard.hpp
  libs/core/threading/src/thread.cpp
  libs/core/threading/tests/unit/condition_variable4.cpp
  libs/core/threading_base/src/thread_data.cpp
  libs/full/agas/src/addressing_service.cpp
  libs/full/agas_base/src/server/symbol_namespace_server.cpp
  libs/full/components_base/include/hpx/components_base/server/locking_hook.hpp
  libs/full/components_base/include/hpx/components_base/server/wrapper_heap_list.hpp
  libs/full/components_base/src/generate_unique_ids.cpp
  libs/full/components_base/src/server/one_size_heap_list.cpp
  libs/full/components_base/src/server/wrapper_heap.cpp
  libs/full/lcos_distributed/include/hpx/lcos_distributed/server/object_semaphore.hpp
  libs/full/naming/include/hpx/naming/detail/preprocess_gid_types.hpp
  libs/full/naming/src/credit_handling.cpp
  libs/full/parcelset/src/parcelhandler.cpp
  libs/full/performance_counters/src/server/statistics_counter.cpp
  libs/full/runtime_components/src/console_logging.cpp
  libs/full/runtime_distributed/src/server/runtime_support_server.cpp
Labels: type: enhancement, type: compatibility issue, type: cleanup, category: utilities
