Repository STEllAR-GROUP/hpx, pull requests merged in 2022-06, with the labels that each got.

#5894 Fix executor_with_thread_hooks example
  examples/quickstart/executor_with_thread_hooks.cpp
Labels: type: compatibility issue, category: examples, category: executors

#5906 Use BUILD_SHARED_LIBS correctly
  CMakeLists.txt
Labels: category: CMake, type: enhancement, type: compatibility issue

#5905 Fix incorrect usage of generator expressions
  cmake/HPX_AddModule.cmake
  cmake/HPX_GeneratePackageUtils.cmake
Labels: category: CMake, type: enhancement, type: compatibility issue

#5911 Removed references to hpx::vector in comments
  components/containers/partitioned_vector/include/hpx/components/containers/partitioned_vector/partitioned_vector_segmented_iterator.hpp
  components/containers/unordered/include/hpx/components/containers/unordered/unordered_map_segmented_iterator.hpp
Labels: category: documentation, type: enhancement

#5889 Par unseq/unseq adding
  examples/quickstart/CMakeLists.txt
  examples/quickstart/custom_serialization.cpp
  libs/core/algorithms/include/hpx/parallel/util/detail/algorithm_result.hpp
  libs/core/algorithms/include/hpx/parallel/util/detail/handle_local_exceptions.hpp
  libs/core/algorithms/include/hpx/parallel/util/detail/select_partitioner.hpp
  libs/core/algorithms/include/hpx/parallel/util/detail/sender_util.hpp
  libs/core/algorithms/tests/unit/algorithms/foreach.cpp
  libs/core/algorithms/tests/unit/algorithms/foreach_executors.cpp
  libs/core/algorithms/tests/unit/algorithms/rotate.cpp
  libs/core/algorithms/tests/unit/container_algorithms/foreach_range.cpp
  libs/core/execution/include/hpx/execution/traits/is_execution_policy.hpp
  libs/core/executors/include/hpx/executors/exception_list.hpp
  libs/core/executors/include/hpx/executors/execution_policy.hpp
  libs/core/executors/include/hpx/executors/execution_policy_fwd.hpp
Labels: type: enhancement, type: compatibility issue, category: algorithms

#5890 Adding simple average power consumption performance counter
  .jenkins/lsu/env-clang-11.sh
  .jenkins/lsu/env-clang-12.sh
  .jenkins/lsu/env-clang-13.sh
  .jenkins/lsu/env-clang-14.sh
  .jenkins/lsu/env-gcc-10.sh
  .jenkins/lsu/env-gcc-11.sh
  .jenkins/lsu/env-gcc-9.sh
  cmake/FindPWR.cmake
  components/performance_counters/CMakeLists.txt
  components/performance_counters/power/CMakeLists.txt
  components/performance_counters/power/include/hpx/components/performance_counters/power/power_counter.hpp
  components/performance_counters/power/src/power.cpp
  components/performance_counters/power/src/power_counter.cpp
  components/performance_counters/power/tests/CMakeLists.txt
  components/performance_counters/power/tests/performance/CMakeLists.txt
  components/performance_counters/power/tests/regressions/CMakeLists.txt
  components/performance_counters/power/tests/unit/CMakeLists.txt
  components/performance_counters/power/tests/unit/power_counter.cpp
Labels: category: performance counters, type: enhancement

#5914 Remove CSS rules - update sphinx version
  .circleci/config.yml
  cmake/templates/conf.py.in
  docs/sphinx/_static/css/theme_overrides.css
  docs/sphinx/api/public_api.rst
  docs/sphinx/contributing/documentation.rst
Labels: category: documentation, type: enhancement, type: compatibility issue

#5916 Fix minor doxygen parsing typo
  libs/core/algorithms/include/hpx/parallel/container_algorithms/partial_sort.hpp
  libs/core/algorithms/include/hpx/parallel/container_algorithms/sort.hpp
  libs/core/algorithms/include/hpx/parallel/container_algorithms/stable_sort.hpp
  libs/core/algorithms/include/hpx/parallel/container_algorithms/unique.hpp
Labels: category: documentation, type: enhancement, type: compatibility issue

#5915 docs: fix broken api algo links
  .gitignore
  cmake/templates/conf.py.in
Labels: category: documentation, type: enhancement

#5917 Fixing various 'held lock while suspending' problems
  libs/core/assertion/include/hpx/modules/assertion.hpp
  libs/core/futures/include/hpx/futures/detail/future_data.hpp
  libs/core/futures/src/future_data.cpp
  libs/core/synchronization/include/hpx/synchronization/barrier.hpp
  libs/core/synchronization/include/hpx/synchronization/detail/condition_variable.hpp
  libs/core/synchronization/include/hpx/synchronization/latch.hpp
  libs/core/synchronization/src/detail/condition_variable.cpp
  libs/core/synchronization/src/stop_token.cpp
  libs/core/thread_support/include/hpx/thread_support/assert_owns_lock.hpp
Labels: category: core, type: enhancement, type: compatibility issue

#5899 Replace PMR based version of small_vector
  libs/core/datastructures/include/hpx/datastructures/detail/small_vector.hpp
  libs/core/datastructures/tests/unit/small_vector.cpp
  libs/core/iterator_support/include/hpx/iterator_support/traits/is_iterator.hpp
  libs/core/iterator_support/tests/unit/is_iterator.cpp
  tools/perftests_ci/perftest/references/daint_default/foreach_report_test.json
  tools/perftests_ci/perftest/references/daint_default/future_overhead_report_test.json
Labels: type: optimization, type: enhancement, category: data-structures

#5928 updated context_generic_context to accomodate arm64_arch_8/Apple architecture
  libs/core/coroutines/include/hpx/coroutines/detail/context_generic_context.hpp
Labels: type: enhancement, category: threadmanager, type: compatibility issue, platform: ARM

#5927 Public derivation for counting_semaphore_var
  libs/core/synchronization/include/hpx/synchronization/counting_semaphore.hpp
Labels: type: enhancement, category: LCOs, type: compatibility issue

#5909 Remove stuff which is defined in the header
  libs/core/lock_registration/include/hpx/lock_registration/detail/register_locks.hpp
  libs/core/lock_registration/src/register_locks.cpp
Labels: category: core, type: enhancement, type: compatibility issue

#5931 docs: fix & improve parallel algorithms documentation
  docs/sphinx/api/public_api.rst
  libs/core/algorithms/include/hpx/parallel/algorithms/adjacent_difference.hpp
  libs/core/algorithms/include/hpx/parallel/algorithms/adjacent_find.hpp
  libs/core/algorithms/include/hpx/parallel/algorithms/all_any_none.hpp
  libs/core/algorithms/include/hpx/parallel/algorithms/copy.hpp
  libs/core/algorithms/include/hpx/parallel/algorithms/destroy.hpp
  libs/core/algorithms/include/hpx/parallel/algorithms/ends_with.hpp
  libs/core/algorithms/include/hpx/parallel/algorithms/equal.hpp
Labels: category: documentation, type: enhancement, type: compatibility issue

#5934 Attempting to fix datapar issues on CircleCI
  libs/core/executors/include/hpx/executors/execution_policy.hpp
Labels: type: enhancement, type: compatibility issue, category: algorithms

#5930 Add boost to hip builder
  .jenkins/lsu/env-hipcc.sh
  libs/core/datastructures/tests/unit/CMakeLists.txt
  libs/core/datastructures/tests/unit/small_vector.cpp
Labels: type: enhancement, type: compatibility issue, category: CI
