Repository STEllAR-GROUP/hpx, pull requests merged in 2023-03, with the labels that each got.

#6183 Update CI integration for EVE
  .github/workflows/linux_crosscompile_arm_eve_sve_release.yml
  .jenkins/lsu/env-gcc-12.sh
  cmake/HPX_SetupDatapar.cmake
Labels: type: enhancement, type: compatibility issue, category: CI

#6186 thread_support/CMakeLists: Fix build issue
  libs/core/thread_support/CMakeLists.txt
Labels: category: CMake, type: enhancement, type: compatibility issue

#6185 Fix EVE datapar with cxx_standard less than 20
  cmake/HPX_SetupDatapar.cmake
Labels: type: enhancement, type: compatibility issue, category: algorithms

#6139 [P2300] execution: Cleanup coroutines integration and improve ADL isolation
  libs/core/execution/include/hpx/execution/algorithms/as_sender.hpp
  libs/core/execution/include/hpx/execution/algorithms/bulk.hpp
  libs/core/execution/include/hpx/execution/algorithms/just.hpp
  libs/core/execution/include/hpx/execution/algorithms/keep_future.hpp
  libs/core/execution/include/hpx/execution/algorithms/let_error.hpp
  libs/core/execution/include/hpx/execution/algorithms/let_stopped.hpp
  libs/core/execution/include/hpx/execution/algorithms/let_value.hpp
  libs/core/execution/include/hpx/execution/algorithms/run_loop.hpp
  libs/core/execution/include/hpx/execution/algorithms/schedule_from.hpp
  libs/core/execution/include/hpx/execution/algorithms/split.hpp
  libs/core/execution/include/hpx/execution/algorithms/sync_wait.hpp
  libs/core/execution/include/hpx/execution/algorithms/then.hpp
  libs/core/execution/include/hpx/execution/algorithms/when_all.hpp
  libs/core/execution/include/hpx/execution/algorithms/when_all_vector.hpp
  libs/core/execution_base/include/hpx/execution_base/completion_signatures.hpp
  libs/core/execution_base/include/hpx/execution_base/get_env.hpp
  libs/core/execution_base/include/hpx/execution_base/traits/coroutine_traits.hpp
  libs/core/execution_base/tests/include/coroutine_task.hpp
  libs/core/execution_base/tests/unit/basic_sender.cpp
  libs/core/execution_base/tests/unit/coroutine_traits.cpp
  libs/core/execution_base/tests/unit/coroutine_utils.cpp
  libs/core/futures/include/hpx/futures/traits/detail/future_await_traits.hpp
  libs/core/type_support/include/hpx/type_support/identity.hpp
  libs/core/type_support/include/hpx/type_support/meta.hpp
Labels: type: enhancement, type: compatibility issue, type: cleanup, category: senders/receivers

#6180 Fixing use of for_loop with rebound execution policy (using `.with()`)
  .circleci/config.yml
  libs/core/algorithms/CMakeLists.txt
  libs/core/algorithms/include/hpx/algorithms/traits/is_pair.hpp
  libs/core/algorithms/include/hpx/parallel/algorithms/for_loop.hpp
  libs/core/algorithms/include/hpx/parallel/util/foreach_partitioner.hpp
  libs/core/algorithms/include/hpx/parallel/util/partitioner.hpp
  libs/core/algorithms/tests/regressions/CMakeLists.txt
  libs/core/algorithms/tests/regressions/for_loop_with_auto_chunk_size.cpp
  libs/core/algorithms/tests/unit/algorithms/for_loop_exception.cpp
  libs/core/execution_base/include/hpx/execution_base/traits/coroutine_traits.hpp
  libs/core/itt_notify/include/hpx/modules/itt_notify.hpp
Labels: type: enhancement, type: compatibility issue, category: algorithms

#6195 Change the default tag of autofetch LCI to v1.7.3.
  CMakeLists.txt
Labels: category: CMake, type: enhancement, category: parcel transport, type: compatibility issue

#6085 Add experimental sycl integration/executor
  CMakeLists.txt
  cmake/HPX_SetupSYCL.cmake
  libs/core/CMakeLists.txt
  libs/core/async_sycl/CMakeLists.txt
  libs/core/async_sycl/README.rst
  libs/core/async_sycl/docs/index.rst
  libs/core/async_sycl/examples/CMakeLists.txt
  libs/core/async_sycl/include/hpx/async_sycl/detail/sycl_event_callback.hpp
  libs/core/async_sycl/include/hpx/async_sycl/sycl_executor.hpp
  libs/core/async_sycl/include/hpx/async_sycl/sycl_future.hpp
  libs/core/async_sycl/include/hpx/async_sycl/sycl_polling_helper.hpp
  libs/core/async_sycl/src/sycl_event_callback.cpp
  libs/core/async_sycl/src/sycl_future.cpp
  libs/core/async_sycl/tests/CMakeLists.txt
  libs/core/async_sycl/tests/performance/CMakeLists.txt
  libs/core/async_sycl/tests/regressions/CMakeLists.txt
  libs/core/async_sycl/tests/unit/CMakeLists.txt
  libs/core/async_sycl/tests/unit/common/sycl_vector_add_test_utils.hpp
  libs/core/async_sycl/tests/unit/sycl_stream.cpp
  libs/core/async_sycl/tests/unit/sycl_vector_add_concurrent_executors.cpp
  libs/core/async_sycl/tests/unit/sycl_vector_add_executor.cpp
  libs/core/async_sycl/tests/unit/sycl_vector_add_get_future.cpp
  libs/core/config/include/hpx/config/compiler_specific.hpp
  libs/core/modules.rst
  libs/core/threading_base/include/hpx/threading_base/scheduler_base.hpp
  libs/core/threading_base/src/scheduler_base.cpp
Labels: type: enhancement, type: compatibility issue, category: executors

#6204 Use LRT_ instead of LAPP_ logging in barrier implementation
  libs/full/collectives/src/detail/barrier_node.cpp
Labels: category: core, type: enhancement, type: compatibility issue

#6208 Fix the compilation warning in the MPI parcelport with gcc 11.2
  libs/full/parcelport_mpi/include/hpx/parcelport_mpi/header.hpp
Labels: type: enhancement, category: parcel transport, type: compatibility issue

#6207 Automatically enable Boost.Context when compiling for arm64.
  CMakeLists.txt
Labels: category: CMake, type: enhancement, type: compatibility issue

#6201 Update the LCI parcelport documents
  docs/sphinx/manual/using_the_lci_parcelport.rst
Labels: category: documentation, type: enhancement, category: parcel transport, type: compatibility issue

#6210 Fixing MPI parcelport initialization if MPI is initialized outside of HPX
  libs/core/mpi_base/include/hpx/mpi_base/mpi_environment.hpp
  libs/core/mpi_base/src/mpi_environment.cpp
Labels: type: enhancement, category: parcel transport, type: compatibility issue, category: mpi

#6209 Prevent thread stealing during scheduler shutdown
  libs/core/thread_pools/include/hpx/thread_pools/detail/background_thread.hpp
  libs/core/thread_pools/include/hpx/thread_pools/scheduling_loop.hpp
  libs/core/thread_pools/src/detail/background_thread.cpp
Labels: type: enhancement, type: compatibility issue
