Repository STEllAR-GROUP/hpx, pull requests merged in 2023-02, with the labels that each got.

#6161 Update EVE integration
  cmake/FindEve.cmake
  cmake/HPX_SetupDatapar.cmake
  cmake/HPX_SetupEve.cmake
  cmake/templates/HPXConfig.cmake.in
  libs/CMakeLists.txt
  libs/core/execution/CMakeLists.txt
  libs/core/execution/include/hpx/execution/traits/detail/eve/vector_pack_all_any_none.hpp
  libs/core/execution/include/hpx/execution/traits/detail/eve/vector_pack_count_bits.hpp
  libs/core/execution/include/hpx/execution/traits/detail/eve/vector_pack_find.hpp
  libs/core/execution/include/hpx/execution/traits/detail/eve/vector_pack_load_store.hpp
Labels: type: enhancement, type: compatibility issue, category: algorithms

#6129 Modernize module from levels 22, 23
  libs/core/async_local/include/hpx/async_local/async_fwd.hpp
  libs/core/async_local/include/hpx/async_local/sync_fwd.hpp
  libs/core/executors/include/hpx/executors/annotating_executor.hpp
  libs/core/executors/include/hpx/executors/async.hpp
  libs/core/executors/include/hpx/executors/current_executor.hpp
  libs/core/executors/include/hpx/executors/dataflow.hpp
  libs/core/executors/include/hpx/executors/datapar/execution_policy.hpp
  libs/core/executors/include/hpx/executors/datapar/execution_policy_fwd.hpp
  libs/core/executors/include/hpx/executors/exception_list.hpp
  libs/core/executors/include/hpx/executors/execute_on.hpp
  libs/core/executors/include/hpx/executors/execution_policy.hpp
  libs/core/executors/include/hpx/executors/execution_policy_fwd.hpp
  libs/core/executors/include/hpx/executors/fork_join_executor.hpp
  libs/core/executors/include/hpx/executors/guided_pool_executor.hpp
  libs/core/executors/include/hpx/executors/limiting_executor.hpp
  libs/core/executors/include/hpx/executors/parallel_executor.hpp
  libs/core/executors/include/hpx/executors/post.hpp
  libs/core/executors/include/hpx/executors/scheduler_executor.hpp
  libs/core/executors/include/hpx/executors/sequenced_executor.hpp
  libs/core/executors/include/hpx/executors/service_executors.hpp
  libs/core/executors/include/hpx/executors/std_execution_policy.hpp
  libs/core/executors/include/hpx/executors/sync.hpp
  libs/core/executors/include/hpx/executors/thread_pool_executor.hpp
  libs/core/executors/include/hpx/executors/thread_pool_scheduler.hpp
  libs/core/executors/include/hpx/executors/thread_pool_scheduler_bulk.hpp
  libs/core/executors/src/current_executor.cpp
  libs/core/executors/src/exception_list_callbacks.cpp
  libs/core/timed_execution/include/hpx/timed_execution/timed_execution.hpp
  libs/core/timed_execution/include/hpx/timed_execution/timed_execution_fwd.hpp
  libs/core/timed_execution/include/hpx/timed_execution/timed_executors.hpp
  libs/core/timed_execution/include/hpx/timed_execution/traits/is_timed_executor.hpp
  libs/full/actions_base/include/hpx/actions_base/traits/is_valid_action.hpp
  libs/full/async_distributed/include/hpx/async_distributed/async.hpp
  libs/full/async_distributed/include/hpx/async_distributed/async_callback.hpp
  libs/full/async_distributed/include/hpx/async_distributed/detail/post.hpp
  libs/full/async_distributed/include/hpx/async_distributed/sync.hpp
Labels: type: enhancement, type: compatibility issue, type: cleanup

#6166 Add missing header for std::intmax_t
  libs/core/iterator_support/include/hpx/iterator_support/counting_iterator.hpp
Labels: type: enhancement, type: compatibility issue

#6165 Attempt to work around MSVC problem
  .github/workflows/windows_debug.yml
  .github/workflows/windows_release.yml
  .github/workflows/windows_release_static.yml
  CMakeLists.txt
  libs/core/execution_base/include/hpx/execution_base/completion_signatures.hpp
  libs/core/futures/include/hpx/futures/packaged_continuation.hpp
  libs/core/tag_invoke/include/hpx/functional/traits/is_invocable.hpp
  libs/full/collectives/src/detail/communication_set_node.cpp
Labels: type: enhancement, type: compatibility issue, compiler: msvc

#6105 Optimizations on LCI parcelport: merge small messages; remove sender mutex lock.
  CMakeLists.txt
  cmake/HPX_SetupLCI.cmake
  libs/core/lci_base/include/hpx/lci_base/lci_environment.hpp
  libs/core/lci_base/src/lci_environment.cpp
  libs/full/parcelport_lci/CMakeLists.txt
  libs/full/parcelport_lci/include/hpx/parcelport_lci/header.hpp
  libs/full/parcelport_lci/include/hpx/parcelport_lci/receiver.hpp
  libs/full/parcelport_lci/include/hpx/parcelport_lci/sender.hpp
  libs/full/parcelport_lci/include/hpx/parcelport_lci/sender_connection.hpp
  libs/full/parcelport_lci/include/hpx/parcelport_lci/tag_provider.hpp
  libs/full/parcelport_lci/src/parcelport_lci.cpp
  libs/full/parcelset/include/hpx/parcelset/parcel_buffer.hpp
Labels: type: optimization, type: enhancement, category: parcel transport

#6168 Remove the mutex lock in parcelhandler::invoke_write_handler
  libs/full/parcelset/src/parcelhandler.cpp
Labels: type: optimization, type: enhancement, category: parcel transport, type: compatibility issue

#6170 Adding missing fallback for processing_units_count customization point
  libs/core/execution/include/hpx/execution/executors/execution_parameters.hpp
  libs/core/execution/include/hpx/execution/executors/execution_parameters_fwd.hpp
Labels: type: enhancement, type: compatibility issue, category: executors

#6172 [Docs] Fix example of how to run single/specific test(s)
  docs/sphinx/manual/building_tests_examples.rst
Labels: category: documentation, type: enhancement

#6174 Replace boost::integer::gcd with std::gcd
  tests/performance/local/timed_task_spawn.cpp
Labels: type: enhancement, type: compatibility issue

#6169 LCI parcelport: bypass the parcel queue and connection cache.
  libs/full/parcelport_lci/include/hpx/parcelport_lci/sender.hpp
  libs/full/parcelport_lci/include/hpx/parcelport_lci/sender_connection.hpp
  libs/full/parcelport_lci/src/parcelport_lci.cpp
  libs/full/parcelport_libfabric/include/hpx/parcelport_libfabric/connection_handler.hpp
  libs/full/parcelport_mpi/src/parcelport_mpi.cpp
  libs/full/parcelport_tcp/include/hpx/parcelport_tcp/connection_handler.hpp
  libs/full/parcelset/include/hpx/parcelset/parcelport_impl.hpp
  libs/full/plugin_factories/include/hpx/plugin_factories/parcelport_factory.hpp
Labels: type: optimization, type: enhancement, category: parcel transport, type: compatibility issue

#6178 Changes needed to make chapel_hpx examples work
  CMakeLists.txt
  examples/quickstart/CMakeLists.txt
  examples/quickstart/invoke_function.cpp
  libs/core/algorithms/include/hpx/parallel/algorithms/for_loop.hpp
  libs/core/algorithms/include/hpx/parallel/util/detail/partitioner_iteration.hpp
  libs/full/actions/include/hpx/actions/invoke_function.hpp
  libs/full/actions_base/include/hpx/actions_base/basic_action.hpp
  libs/full/async_colocated/include/hpx/async_colocated/functional/colocated_helpers.hpp
  libs/full/async_colocated/include/hpx/async_colocated/post_colocated_callback.hpp
  libs/full/async_distributed/include/hpx/async_distributed/async.hpp
  libs/full/async_distributed/include/hpx/async_distributed/async_callback.hpp
  libs/full/async_distributed/include/hpx/async_distributed/async_continue.hpp
  libs/full/async_distributed/include/hpx/async_distributed/async_continue_callback.hpp
  libs/full/async_distributed/include/hpx/async_distributed/async_continue_callback_fwd.hpp
  libs/full/async_distributed/include/hpx/async_distributed/async_continue_fwd.hpp
  libs/full/async_distributed/include/hpx/async_distributed/detail/post.hpp
  libs/full/async_distributed/include/hpx/async_distributed/detail/post_callback.hpp
  libs/full/async_distributed/include/hpx/async_distributed/sync.hpp
  libs/full/async_distributed/tests/unit/async_remote.cpp
  libs/full/distribution_policies/CMakeLists.txt
  libs/full/distribution_policies/include/hpx/distribution_policies/colocating_distribution_policy.hpp
  libs/full/distribution_policies/include/hpx/distribution_policies/container_distribution_policy.hpp
  libs/full/distribution_policies/include/hpx/distribution_policies/default_distribution_policy.hpp
  libs/full/executors_distributed/include/hpx/executors_distributed/distribution_policy_executor.hpp
  libs/full/executors_distributed/tests/unit/distribution_policy_executor.cpp
  libs/full/include/include/hpx/include/components.hpp
  libs/full/runtime_components/CMakeLists.txt
  libs/full/runtime_components/include/hpx/runtime_components/new.hpp
Labels: type: enhancement, type: compatibility issue, type: cleanup
