Repository STEllAR-GROUP/hpx, pull requests merged in 2023-11, with the labels that each got.

#6372 Fix resource partitioner tests for small thread count
  libs/core/resource_partitioner/tests/unit/named_pool_executor.cpp
  libs/core/resource_partitioner/tests/unit/resource_partitioner_info.cpp
  libs/core/resource_partitioner/tests/unit/shutdown_suspended_pus.cpp
  libs/core/resource_partitioner/tests/unit/suspend_pool.cpp
  libs/core/resource_partitioner/tests/unit/suspend_thread.cpp
  libs/core/resource_partitioner/tests/unit/suspend_thread_external.cpp
Labels: type: enhancement, type: compatibility issue, platform: Mac OSX, category: CI

#6378 Allowing to disable signal handlers
  libs/core/coroutines/include/hpx/coroutines/detail/context_posix.hpp
  libs/core/coroutines/src/signal_handler_debugging.cpp
  libs/core/init_runtime_local/src/init_runtime_local.cpp
  libs/core/runtime_local/include/hpx/runtime_local/runtime_local.hpp
  libs/core/runtime_local/src/runtime_local.cpp
  libs/full/init_runtime/src/hpx_init.cpp
Labels: type: enhancement, category: init, type: compatibility issue

#6380 Fixing setting an annotation for an execution policy
  libs/core/executors/include/hpx/executors/execution_policy_annotation.hpp
Labels: type: enhancement, type: compatibility issue, category: executors

#6352 Add Public distributed API documentation
  docs/sphinx/api.rst
  docs/sphinx/api/public_api.rst
  docs/sphinx/api/public_distributed_api.rst
  libs/full/collectives/CMakeLists.txt
  libs/full/collectives/include/hpx/collectives/argument_types.hpp
  libs/full/collectives/include/hpx/collectives/barrier.hpp
  libs/full/collectives/include/hpx/collectives/channel_communicator.hpp
  libs/full/collectives/include/hpx/collectives/communication_set.hpp
  libs/full/collectives/include/hpx/collectives/create_communicator.hpp
  libs/full/collectives/include/hpx/collectives/latch.hpp
  libs/full/include/CMakeLists.txt
  libs/full/include/include/hpx/collectives.hpp
Labels: category: documentation, type: enhancement, type: compatibility issue

#6377 Fix gasnet-related test failures
  .jenkins/lsu/env-clang-12.sh
  .jenkins/lsu/env-clang-13.sh
  .jenkins/lsu/env-clang-14.sh
  .jenkins/lsu/env-clang-15.sh
  .jenkins/lsu/env-clang-16.sh
  .jenkins/lsu/env-clang-17.sh
  .jenkins/lsu/env-gcc-10.sh
  .jenkins/lsu/env-gcc-12.sh
  .jenkins/lsu/env-gcc-13.sh
  cmake/HPX_AddTest.cmake
  cmake/HPX_SetupGasnet.cmake
  cmake/templates/hpxrun.py.in
  libs/core/gasnet_base/src/gasnet_environment.cpp
Labels: category: CMake, type: enhancement, category: parcel transport, type: compatibility issue

#6387 Need to break out of the loop when searching the suffixes.
  cmake/templates/hpxcxx.in
Labels: type: enhancement, type: compatibility issue, category: tools

#6390 Making function local constexpr variables non-static
  libs/core/algorithms/include/hpx/parallel/algorithms/for_each.hpp
  libs/core/algorithms/include/hpx/parallel/algorithms/rotate.hpp
  libs/core/algorithms/include/hpx/parallel/util/adapt_placement_mode.hpp
  libs/core/algorithms/include/hpx/parallel/util/adapt_sharing_mode.hpp
  libs/core/algorithms/include/hpx/parallel/util/adapt_thread_priority.hpp
  libs/core/futures/include/hpx/futures/packaged_continuation.hpp
  libs/core/lcos_local/tests/unit/local_dataflow_external_future.cpp
  libs/core/serialization/include/hpx/serialization/array.hpp
  libs/core/serialization/include/hpx/serialization/detail/serialize_collection.hpp
  libs/core/serialization/include/hpx/serialization/map.hpp
  libs/core/serialization/include/hpx/serialization/vector.hpp
Labels: type: enhancement, type: compatibility issue, compiler: msvc

#6383 Enable fork_join_executor to handle return values from scheduled functions
  libs/core/executors/include/hpx/executors/fork_join_executor.hpp
  libs/core/executors/tests/regressions/CMakeLists.txt
  libs/core/executors/tests/regressions/fork_join_with_result.cpp
  libs/core/executors/tests/unit/fork_join_executor.cpp
Labels: type: enhancement, type: compatibility issue, category: executors

#6389 Disable resolving hostnames if TCP is disabled
  libs/core/batch_environments/include/hpx/batch_environments/batch_environment.hpp
  libs/core/batch_environments/src/batch_environment.cpp
  libs/full/command_line_handling/src/command_line_handling.cpp
Labels: type: enhancement, category: parcel transport, category: init, type: compatibility issue
