Repository STEllAR-GROUP/hpx, pull requests merged in 2023-06, with the labels that each got.

#6266 Attempt to resolve occasional hang in run_loop
  .circleci/config.yml
  libs/core/execution/CMakeLists.txt
  libs/core/execution/include/hpx/execution/algorithms/make_future.hpp
  libs/core/execution/include/hpx/execution/algorithms/run_loop.hpp
  libs/core/execution/src/run_loop.cpp
  libs/core/synchronization/include/hpx/synchronization/condition_variable.hpp
Labels: type: enhancement, type: compatibility issue, category: senders/receivers

#6248 Fix CUDA/HIP Jenkins pipelines
  .jenkins/lsu/batch.sh
  .jenkins/lsu/entry.sh
  .jenkins/lsu/env-common.sh
  .jenkins/lsu/env-gcc-10-cuda-11.sh
  .jenkins/lsu/env-hipcc.sh
  libs/core/async_cuda/tests/performance/synchronize.cu
  libs/core/async_cuda/tests/unit/transform_stream.cu
Labels: type: enhancement, type: compatibility issue, category: CI

#6268 Move dependabot.yml into correct directory
  .github/dependabot.yml
Labels: type: enhancement, type: compatibility issue, category: CI

#6267 Attempting to fix migration tests
  components/component_storage/include/hpx/components/component_storage/server/component_storage.hpp
  components/component_storage/include/hpx/components/component_storage/server/migrate_from_storage.hpp
  components/component_storage/include/hpx/components/component_storage/server/migrate_to_storage.hpp
  libs/core/command_line_handling_local/tests/unit/CMakeLists.txt
  libs/full/actions_base/include/hpx/actions_base/plain_action.hpp
  libs/full/actions_base/include/hpx/actions_base/traits/action_was_object_migrated.hpp
  libs/full/actions_base/include/hpx/actions_base/traits/extract_action.hpp
  libs/full/actions_base/include/hpx/actions_base/traits/is_continuation.hpp
  libs/full/agas/include/hpx/agas/addressing_service.hpp
  libs/full/agas/src/addressing_service.cpp
  libs/full/agas/src/detail/interface.cpp
  libs/full/agas_base/include/hpx/agas_base/server/primary_namespace.hpp
  libs/full/agas_base/src/server/primary_namespace_server.cpp
  libs/full/async_colocated/include/hpx/async_colocated/server/destroy_component.hpp
  libs/full/async_colocated/src/server/destroy_component.cpp
  libs/full/async_distributed/CMakeLists.txt
  libs/full/async_distributed/include/hpx/async_distributed/async.hpp
  libs/full/async_distributed/include/hpx/async_distributed/base_lco.hpp
  libs/full/async_distributed/include/hpx/async_distributed/detail/async_implementations.hpp
  libs/full/async_distributed/include/hpx/async_distributed/detail/async_implementations_fwd.hpp
  libs/full/async_distributed/include/hpx/async_distributed/detail/async_unwrap_result_implementations.hpp
  libs/full/async_distributed/include/hpx/async_distributed/detail/async_unwrap_result_implementations_fwd.hpp
  libs/full/async_distributed/include/hpx/async_distributed/detail/post_callback.hpp
  libs/full/async_distributed/include/hpx/async_distributed/detail/post_continue_fwd.hpp
  libs/full/async_distributed/include/hpx/async_distributed/detail/post_implementations.hpp
  libs/full/async_distributed/include/hpx/async_distributed/detail/post_implementations_fwd.hpp
  libs/full/async_distributed/include/hpx/async_distributed/detail/promise_lco.hpp
  libs/full/async_distributed/include/hpx/async_distributed/detail/sync_implementations.hpp
  libs/full/async_distributed/include/hpx/async_distributed/detail/sync_implementations_fwd.hpp
  libs/full/async_distributed/include/hpx/async_distributed/packaged_action.hpp
  libs/full/async_distributed/include/hpx/async_distributed/trigger_lco.hpp
  libs/full/components/include/hpx/components/get_ptr.hpp
  libs/full/components_base/include/hpx/components_base/agas_interface.hpp
  libs/full/components_base/include/hpx/components_base/component_type.hpp
  libs/full/components_base/include/hpx/components_base/components_base_fwd.hpp
  libs/full/components_base/include/hpx/components_base/detail/agas_interface_functions.hpp
  libs/full/components_base/include/hpx/components_base/pinned_ptr.hpp
  libs/full/components_base/include/hpx/components_base/server/abstract_migration_support.hpp
  libs/full/components_base/include/hpx/components_base/server/component.hpp
  libs/full/components_base/include/hpx/components_base/server/component_base.hpp
  libs/full/components_base/include/hpx/components_base/server/fixed_component_base.hpp
  libs/full/components_base/include/hpx/components_base/server/managed_component_base.hpp
  libs/full/components_base/include/hpx/components_base/server/migration_support.hpp
  libs/full/components_base/include/hpx/components_base/traits/component_pin_support.hpp
  libs/full/components_base/include/hpx/components_base/traits/component_supports_migration.hpp
  libs/full/components_base/src/address_ostream.cpp
  libs/full/components_base/src/agas_interface.cpp
  libs/full/components_base/src/component_type.cpp
  libs/full/components_base/src/detail/agas_interface_functions.cpp
  libs/full/components_base/src/server/component_base.cpp
  libs/full/parcelset/include/hpx/parcelset/parcelset_fwd.hpp
  libs/full/parcelset_base/include/hpx/parcelset_base/parcelset_base_fwd.hpp
  libs/full/parcelset_base/src/parcel_interface.cpp
  libs/full/performance_counters/include/hpx/performance_counters/server/base_performance_counter.hpp
  libs/full/runtime_components/tests/unit/components/migrate_component.cpp
  libs/full/runtime_components/tests/unit/components/migrate_polymorphic_component.cpp
  libs/full/runtime_distributed/include/hpx/runtime_distributed/server/migrate_component.hpp
  libs/full/runtime_distributed/include/hpx/runtime_distributed/server/runtime_support.hpp
  libs/full/runtime_distributed/src/stubs/runtime_support_stubs.cpp
Labels: type: enhancement, category: components, type: compatibility issue

#6260 Add migration guide to manual
  docs/sphinx/manual.rst
  docs/sphinx/manual/migration_guide.rst
  docs/sphinx/quickstart.rst
Labels: category: documentation, type: enhancement, type: compatibility issue

#6283 Consistently #include unistd.h for _POSIX_VERSION
  libs/core/command_line_handling_local/src/command_line_handling_local.cpp
  libs/core/command_line_handling_local/src/parse_command_line_local.cpp
  libs/core/coroutines/include/hpx/coroutines/detail/context_impl.hpp
  libs/core/coroutines/src/detail/context_posix.cpp
  libs/core/topology/src/topology.cpp
Labels: type: enhancement, type: compatibility issue

#6281 Creating directory for file copy
  cmake/HPX_AddModule.cmake
Labels: category: CMake, type: enhancement

#6279 Re-expose error names
  libs/core/errors/include/hpx/errors/error.hpp
  libs/core/errors/src/error_code.cpp
Labels: category: core, type: enhancement, type: compatibility issue

#6278 Making sure the future's shared state doesn't go out of scope prematurely
  libs/core/futures/include/hpx/futures/detail/future_data.hpp
  libs/core/futures/src/future_data.cpp
Labels: type: race condition, category: core, type: enhancement, type: compatibility issue

#5988 Adding CI configuration for DGX-A100 at LSU
  .jenkins/lsu/Jenkinsfile
  .jenkins/lsu/env-gcc-12-cuda-12-dgx.sh
  .jenkins/lsu/slurm-configuration-gcc-12-cuda-12-dgx.sh
Labels: type: enhancement, category: CI

#6272 set thread name for linux
  CMakeLists.txt
  cmake/HPX_AddConfigTest.cmake
  cmake/tests/set_thread_name.cpp
  libs/core/thread_support/include/hpx/thread_support/set_thread_name.hpp
  libs/core/thread_support/src/set_thread_name.cpp
Labels: type: enhancement, category: diagnostics, type: compatibility issue

#6277 add llvm/15, gcc/13 and boost/1.82 to jenkins
  .jenkins/lsu/Jenkinsfile
  .jenkins/lsu/env-clang-15.sh
  .jenkins/lsu/env-gcc-13.sh
  .jenkins/lsu/slurm-configuration-clang-15.sh
  .jenkins/lsu/slurm-configuration-gcc-13.sh
  CMakeLists.txt
  cmake/HPX_AddConfigTest.cmake
  cmake/HPX_PerformCxxFeatureTests.cmake
  cmake/tests/c11_aligned_alloc.cpp
  cmake/tests/cxx11_std_atomic.cpp
  cmake/tests/cxx17_std_aligned_alloc.cpp
  cmake/tests/cxx20_perfect_pack_capture.cpp
  cmake/tests/cxx20_std_construct_at.cpp
  libs/core/datastructures/tests/unit/bitset_test.hpp
  libs/core/executors/include/hpx/executors/guided_pool_executor.hpp
  libs/core/functional/tests/regressions/protect_with_nullary_pfo.cpp
  libs/core/functional/tests/unit/bind_dm3_test.cpp
  libs/core/pack_traversal/include/hpx/pack_traversal/detail/pack_traversal_async_impl.hpp
  libs/core/pack_traversal/tests/unit/pack_traversal.cpp
  libs/core/resource_partitioner/examples/async_customization.cpp
  libs/core/synchronization/tests/unit/local_mutex.cpp
  libs/core/threading/tests/unit/jthread1.cpp
  libs/core/threading/tests/unit/jthread2.cpp
  libs/core/threadmanager/src/threadmanager.cpp
  libs/core/type_support/include/hpx/type_support/generator.hpp
  libs/core/type_support/tests/unit/generator.cpp
  libs/full/agas/tests/regressions/duplicate_id_registration_1596.cpp
  libs/full/async_distributed/include/hpx/async_distributed/base_lco.hpp
  libs/full/async_distributed/src/base_lco.cpp
  libs/full/parcelport_lci/src/putva/sender_connection_putva.cpp
  libs/full/parcelport_lci/src/sendrecv/sender_connection_sendrecv.cpp
Labels: type: enhancement, type: compatibility issue, category: CI

#6289 Re-enable compiling with HPX_WITH_NETWORKING=OFF
  .jenkins/lsu/env-gcc-11.sh
  examples/quickstart/custom_serialization.cpp
  libs/full/agas/src/addressing_service.cpp
  libs/full/runtime_distributed/include/hpx/runtime_distributed/migrate_component.hpp
  libs/full/runtime_distributed/src/runtime_distributed.cpp
Labels: type: enhancement, type: compatibility issue

#6290 Adding user supplied on_finalize
  libs/core/init_runtime_local/include/hpx/init_runtime_local/init_runtime_local.hpp
  libs/core/init_runtime_local/src/init_runtime_local.cpp
  libs/core/init_runtime_local/tests/unit/CMakeLists.txt
  libs/core/init_runtime_local/tests/unit/on_finalize.cpp
  libs/full/init_runtime/CMakeLists.txt
  libs/full/init_runtime/src/hpx_init.cpp
Labels: category: core, type: enhancement, category: init, type: compatibility issue

#6274 Improve the MPI parcelport and change the zero-copy threshold to 8192
  CMakeLists.txt
  cmake/toolchains/Cray.cmake
  cmake/toolchains/CrayKNL.cmake
  cmake/toolchains/CrayKNLStatic.cmake
  cmake/toolchains/CrayStatic.cmake
  libs/core/mpi_base/include/hpx/mpi_base/mpi_environment.hpp
  libs/core/mpi_base/src/mpi_environment.cpp
  libs/full/parcelport_lci/include/hpx/parcelport_lci/header.hpp
  libs/full/parcelport_mpi/include/hpx/parcelport_mpi/header.hpp
  libs/full/parcelport_mpi/include/hpx/parcelport_mpi/receiver.hpp
  libs/full/parcelport_mpi/include/hpx/parcelport_mpi/receiver_connection.hpp
  libs/full/parcelport_mpi/include/hpx/parcelport_mpi/sender.hpp
  libs/full/parcelport_mpi/include/hpx/parcelport_mpi/sender_connection.hpp
  libs/full/parcelport_mpi/include/hpx/parcelport_mpi/tag_provider.hpp
Labels: type: enhancement, category: parcel transport, type: compatibility issue, category: mpi
