Repository STEllAR-GROUP/hpx, pull requests merged in 2023-10, with the labels that each got.

#6362 Fixing compilation problems on 32 Linux systems
  libs/core/concurrency/include/hpx/concurrency/detail/tagged_ptr_pair.hpp
  libs/core/concurrency/include/hpx/concurrency/detail/tagged_ptr_ptrcompression.hpp
  libs/full/async_colocated/src/server/destroy_component.cpp
Labels: type: enhancement, type: compatibility issue, compiler: gcc

#6336 More cleaning up for module levels 19-20
  libs/core/futures/include/hpx/futures/detail/future_data.hpp
  libs/core/futures/include/hpx/futures/future.hpp
  libs/core/futures/include/hpx/futures/futures_factory.hpp
  libs/core/futures/include/hpx/futures/packaged_continuation.hpp
  libs/core/futures/include/hpx/futures/packaged_task.hpp
  libs/core/futures/include/hpx/futures/promise.hpp
  libs/core/futures/include/hpx/futures/traits/acquire_future.hpp
  libs/core/futures/include/hpx/futures/traits/detail/future_await_traits.hpp
  libs/core/futures/include/hpx/futures/traits/detail/future_traits.hpp
  libs/core/futures/include/hpx/futures/traits/future_then_result.hpp
  libs/core/futures/include/hpx/futures/traits/promise_local_result.hpp
  libs/core/io_service/include/hpx/io_service/io_service_pool.hpp
  libs/core/synchronization/include/hpx/synchronization/async_rw_mutex.hpp
  libs/core/synchronization/include/hpx/synchronization/barrier.hpp
  libs/core/synchronization/include/hpx/synchronization/channel_mpmc.hpp
  libs/core/synchronization/include/hpx/synchronization/channel_mpsc.hpp
  libs/core/synchronization/include/hpx/synchronization/channel_spsc.hpp
  libs/core/synchronization/include/hpx/synchronization/condition_variable.hpp
  libs/core/synchronization/include/hpx/synchronization/counting_semaphore.hpp
  libs/core/synchronization/include/hpx/synchronization/event.hpp
  libs/core/synchronization/include/hpx/synchronization/latch.hpp
  libs/core/synchronization/include/hpx/synchronization/no_mutex.hpp
  libs/core/synchronization/include/hpx/synchronization/once.hpp
  libs/core/synchronization/include/hpx/synchronization/recursive_mutex.hpp
  libs/core/synchronization/include/hpx/synchronization/shared_mutex.hpp
  libs/core/synchronization/include/hpx/synchronization/spinlock.hpp
  libs/core/synchronization/include/hpx/synchronization/spinlock_pool.hpp
  libs/core/synchronization/include/hpx/synchronization/stop_token.hpp
  libs/core/synchronization/src/detail/condition_variable.cpp
  libs/core/synchronization/src/detail/counting_semaphore.cpp
  libs/core/synchronization/src/detail/sliding_semaphore.cpp
  libs/core/synchronization/src/local_barrier.cpp
  libs/core/synchronization/src/mutex.cpp
  libs/core/synchronization/src/stop_token.cpp
Labels: type: enhancement, type: compatibility issue, type: cleanup

#6369 working issue with MPI_CC / CC conflict in automake
  cmake/HPX_SetupGasnet.cmake
Labels: category: CMake, type: enhancement, category: parcel transport, type: compatibility issue

#6371 Fix jacobi omp examples.
  examples/jacobi_smp/jacobi.cpp
  examples/jacobi_smp/jacobi_nonuniform.cpp
Labels: type: enhancement, type: compatibility issue, category: examples

#6368 Making sure serialize_buffer properly destroys buffer, if needed.
  examples/1d_stencil/1d_stencil_6.cpp
  examples/1d_stencil/1d_stencil_7.cpp
  examples/1d_stencil/1d_stencil_8.cpp
  examples/quickstart/zerocopy_rdma.cpp
  libs/core/serialization/include/hpx/serialization/serialize_buffer.hpp
  libs/full/checkpoint/examples/1d_stencil_4_checkpoint.cpp
Labels: type: enhancement, type: compatibility issue, category: serialization
