Repository STEllAR-GROUP/hpx, pull requests merged in 2023-05, with the labels that each got.

#6143 Add list of new namespaces for new release
  docs/sphinx/releases.rst
  docs/sphinx/releases/new_namespaces_1_9_0.rst
Labels: category: documentation, type: enhancement, type: compatibility issue

#6212 Initial trait definition for `relocatable`
  libs/core/algorithms/CMakeLists.txt
  libs/core/algorithms/include/hpx/algorithms/traits/is_relocatable.hpp
  libs/core/algorithms/include/hpx/algorithms/traits/pointer_category.hpp
  libs/core/algorithms/tests/unit/algorithms/util/CMakeLists.txt
  libs/core/algorithms/tests/unit/algorithms/util/test_is_relocatable.cpp
Labels: type: enhancement, type: compatibility issue, category: algorithms

#6233 Moving is_relocatable to namespace hpx
  libs/core/algorithms/include/hpx/algorithms/traits/is_relocatable.hpp
Labels: type: enhancement, type: compatibility issue, category: algorithms

#6229 Adding zero-copy support on the receiving end of the TCP and MPI parcel ports
  .cmake-format.py
  docs/sphinx/manual/launching_and_configuring_hpx_applications.rst
  libs/core/assertion/CMakeLists.txt
  libs/core/assertion/include/hpx/modules/assertion.hpp
  libs/core/format/CMakeLists.txt
  libs/core/format/src/format.cpp
  libs/core/mpi_base/CMakeLists.txt
  libs/core/mpi_base/src/mpi_environment.cpp
  libs/core/serialization/CMakeLists.txt
  libs/core/serialization/include/hpx/serialization/array.hpp
  libs/core/serialization/include/hpx/serialization/basic_archive.hpp
  libs/core/serialization/include/hpx/serialization/container.hpp
  libs/core/serialization/include/hpx/serialization/detail/allow_zero_copy_receive.hpp
  libs/core/serialization/include/hpx/serialization/input_archive.hpp
  libs/core/serialization/include/hpx/serialization/input_container.hpp
  libs/core/serialization/include/hpx/serialization/output_archive.hpp
  libs/core/serialization/include/hpx/serialization/serialization_chunk.hpp
  libs/core/serialization/src/detail/allow_zero_copy_receive.cpp
  libs/full/actions/tests/performance/serialization_overhead.cpp
  libs/full/agas/tests/regressions/CMakeLists.txt
  libs/full/parcelport_lci/include/hpx/parcelport_lci/receiver.hpp
  libs/full/parcelport_libfabric/src/rma_receiver.cpp
  libs/full/parcelport_mpi/include/hpx/parcelport_mpi/receiver_connection.hpp
  libs/full/parcelport_mpi/src/parcelport_mpi.cpp
  libs/full/parcelport_tcp/include/hpx/parcelport_tcp/connection_handler.hpp
  libs/full/parcelport_tcp/include/hpx/parcelport_tcp/locality.hpp
  libs/full/parcelport_tcp/include/hpx/parcelport_tcp/receiver.hpp
  libs/full/parcelport_tcp/include/hpx/parcelport_tcp/sender.hpp
  libs/full/parcelport_tcp/src/connection_handler_tcp.cpp
  libs/full/parcelport_tcp/src/parcelport_tcp.cpp
  libs/full/parcelset/include/hpx/parcelset/decode_parcels.hpp
  libs/full/parcelset/include/hpx/parcelset/parcel.hpp
  libs/full/parcelset/include/hpx/parcelset/parcel_buffer.hpp
  libs/full/parcelset/include/hpx/parcelset/parcelhandler.hpp
  libs/full/parcelset/include/hpx/parcelset/parcelport_impl.hpp
  libs/full/parcelset/include/hpx/parcelset/parcelset_fwd.hpp
  libs/full/parcelset/src/detail/parcel_await.cpp
  libs/full/parcelset/src/parcel.cpp
  libs/full/parcelset/src/parcelhandler.cpp
  libs/full/parcelset/tests/unit/CMakeLists.txt
  libs/full/parcelset/tests/unit/put_parcels.cpp
  libs/full/parcelset/tests/unit/zero_copy_parcel.cpp
  libs/full/parcelset_base/include/hpx/parcelset_base/locality.hpp
  libs/full/parcelset_base/include/hpx/parcelset_base/locality_interface.hpp
  libs/full/parcelset_base/include/hpx/parcelset_base/parcel_interface.hpp
  libs/full/parcelset_base/include/hpx/parcelset_base/parcelport.hpp
  libs/full/parcelset_base/src/locality.cpp
  libs/full/parcelset_base/src/locality_interface.cpp
  libs/full/parcelset_base/src/parcel_interface.cpp
  libs/full/parcelset_base/src/parcelport.cpp
  libs/full/parcelset_base/src/parcelset_base.cpp
  libs/full/plugin_factories/include/hpx/plugin_factories/parcelport_factory.hpp
  tests/regressions/build/CMakeLists.txt
  tests/regressions/lcos/CMakeLists.txt
  tests/regressions/util/CMakeLists.txt
Labels: type: enhancement, category: parcel transport, type: compatibility issue

#6243 Adding github action builders using VS2019
  .github/workflows/windows_debug_vs2019.yml
  .github/workflows/windows_debug_vs2022.yml
  .github/workflows/windows_release_2019.yml
  .github/workflows/windows_release_2022.yml
  libs/core/datastructures/include/hpx/datastructures/detail/optional.hpp
  libs/core/datastructures/include/hpx/datastructures/optional.hpp
  libs/core/execution/include/hpx/execution/algorithms/make_future.hpp
  libs/core/execution/include/hpx/execution/algorithms/when_all_vector.hpp
  libs/core/schedulers/include/hpx/schedulers/background_scheduler.hpp
Labels: type: enhancement, type: compatibility issue, category: CI

#6242 updated deprecated headers
  components/performance_counters/io/src/io_counters.cpp
Labels: type: enhancement, type: compatibility issue

#6236 Attempt to resolve occasional shutdown hangs in distributed operation
  .circleci/config.yml
  libs/core/execution_base/include/hpx/execution_base/this_thread.hpp
  libs/core/synchronization/include/hpx/synchronization/barrier.hpp
  libs/core/threadmanager/include/hpx/modules/threadmanager.hpp
  libs/core/threadmanager/src/threadmanager.cpp
  libs/full/actions/include/hpx/actions/transfer_action.hpp
  libs/full/actions_base/include/hpx/actions_base/basic_action.hpp
  libs/full/async_distributed/include/hpx/async_distributed/detail/async_implementations.hpp
  libs/full/async_distributed/include/hpx/async_distributed/transfer_continuation_action.hpp
  libs/full/collectives/include/hpx/collectives/barrier.hpp
  libs/full/collectives/include/hpx/collectives/spmd_block.hpp
  libs/full/collectives/src/barrier.cpp
  libs/full/components/include/hpx/components/client_base.hpp
  libs/full/components_base/include/hpx/components_base/server/locking_hook.hpp
  libs/full/components_base/include/hpx/components_base/server/migration_support.hpp
  libs/full/init_runtime/src/pre_main.cpp
  libs/full/parcelset/src/parcelhandler.cpp
  libs/full/parcelset/tests/unit/CMakeLists.txt
  libs/full/parcelset/tests/unit/put_parcels.cpp
  libs/full/performance_counters/include/hpx/performance_counters/counters.hpp
  libs/full/performance_counters/include/hpx/performance_counters/counters_fwd.hpp
  libs/full/performance_counters/include/hpx/performance_counters/performance_counter.hpp
  libs/full/performance_counters/src/counters.cpp
  libs/full/performance_counters/src/performance_counter.cpp
  libs/full/runtime_components/include/hpx/runtime_components/server/console_logging.hpp
  libs/full/runtime_distributed/include/hpx/runtime_distributed/server/runtime_support.hpp
  libs/full/runtime_distributed/src/server/runtime_support_server.cpp
Labels: category: core, type: enhancement, type: compatibility issue

#6251 Attempting to fix problems in barrier causing hangs
  libs/core/synchronization/include/hpx/synchronization/barrier.hpp
  libs/core/synchronization/src/local_barrier.cpp
Labels: type: enhancement, category: LCOs

#6256 Fix nvcc/gcc-10 (Octo-Tiger) compilation issue
  libs/core/algorithms/include/hpx/parallel/util/loop.hpp
Labels: type: enhancement, type: compatibility issue, compiler: nvcc

#6239 Fix `Optimizing HPX applications` page of Manual
  docs/sphinx/manual/optimizing_hpx_applications.rst
  docs/sphinx/manual/using_the_lci_parcelport.rst
Labels: category: documentation, type: enhancement, type: compatibility issue

#6258 Rewriting wait_some to circumvent data races causing hangs
  libs/core/async_combinators/CMakeLists.txt
  libs/core/async_combinators/include/hpx/async_combinators/wait_some.hpp
Labels: type: enhancement, category: LCOs, type: compatibility issue

#6257 Cmake Tests: Delete operator check for size_t arg
  cmake/HPX_AddConfigTest.cmake
  cmake/HPX_PerformCxxFeatureTests.cmake
  cmake/tests/cxx_14_delete_operator_with_size.cpp
  libs/core/type_support/include/hpx/type_support/generator.hpp
Labels: type: enhancement, type: compatibility issue

#6249 Implement the send immediate optimization for the MPI parcelport.
  libs/full/parcelport_lci/include/hpx/parcelport_lci/parcelport_lci.hpp
  libs/full/parcelport_mpi/include/hpx/parcelport_mpi/sender.hpp
  libs/full/parcelport_mpi/include/hpx/parcelport_mpi/sender_connection.hpp
  libs/full/parcelport_mpi/src/parcelport_mpi.cpp
  libs/full/plugin_factories/include/hpx/plugin_factories/parcelport_factory.hpp
Labels: type: enhancement, category: parcel transport

#6265 Create dependabot.yml
  .github/workflows/dependabot.yml
Labels: type: enhancement, type: compatibility issue, category: CI
