Repository STEllAR-GROUP/hpx, pull requests merged in 2023-08, with the labels that each got.

#6271 Uninitialised algorithms, move using std::memcpy
  libs/core/algorithms/include/hpx/parallel/algorithms/uninitialized_copy.hpp
  libs/core/algorithms/include/hpx/parallel/algorithms/uninitialized_default_construct.hpp
  libs/core/algorithms/include/hpx/parallel/algorithms/uninitialized_fill.hpp
  libs/core/algorithms/include/hpx/parallel/algorithms/uninitialized_move.hpp
  libs/core/algorithms/include/hpx/parallel/algorithms/uninitialized_value_construct.hpp
  libs/core/algorithms/include/hpx/parallel/unseq/loop.hpp
  libs/core/algorithms/include/hpx/parallel/util/loop.hpp
  libs/core/algorithms/include/hpx/parallel/util/transfer.hpp
Labels: type: enhancement, type: compatibility issue, category: algorithms

#6234 Adding release notes page for next release
  docs/sphinx/releases.rst
  docs/sphinx/releases/whats_new_1_10_0.rst
Labels: category: documentation

#6317 Fixing linker problem on FreeBSD
  libs/full/init_runtime/include/hpx/hpx_init_impl.hpp
  libs/full/init_runtime/include/hpx/hpx_start_impl.hpp
  libs/full/init_runtime/include/hpx/init_runtime/detail/run_or_start.hpp
  libs/full/init_runtime/src/hpx_init.cpp
Labels: type: enhancement, type: compatibility issue, platform: FreeBSD

#6319 Generate git tag if needed but it is not available
  CMakeLists.txt
Labels: category: CMake, category: documentation, type: enhancement, type: compatibility issue

#6321 Ensure hpx_main is a proper thread_function
  libs/core/runtime_local/src/runtime_local.cpp
  libs/full/init_runtime/src/hpx_init.cpp
  libs/full/runtime_distributed/src/runtime_distributed.cpp
  tests/regressions/threads/CMakeLists.txt
  tests/regressions/threads/main_thread_exit_callbacks.cpp
Labels: category: core, type: enhancement, category: init, type: compatibility issue

#6320 Fixing cyclic dependencies in naming and agas modules
  .github/workflows/linux_release_static.yml
  cmake/FindHwloc.cmake
  cmake/HPX_AddModule.cmake
  cmake/HPX_ParcelPorts.cmake
  cmake/HPX_SetupTarget.cmake
  components/parcel_plugins/binary_filter/bzip2/CMakeLists.txt
  components/parcel_plugins/binary_filter/snappy/CMakeLists.txt
  components/parcel_plugins/binary_filter/zlib/CMakeLists.txt
  examples/cancelable_action/cancelable_action/cancelable_action.cpp
  examples/cancelable_action/cancelable_action/cancelable_action.hpp
  examples/cancelable_action/cancelable_action/server/cancelable_action.hpp
  examples/cancelable_action/cancelable_action/stubs/cancelable_action.hpp
  examples/cancelable_action/cancelable_action_client.cpp
  libs/CMakeLists.txt
  libs/core/CMakeLists.txt
  libs/core/include_local/CMakeLists.txt
  libs/core/init_runtime_local/CMakeLists.txt
  libs/create_module_skeleton.py
  libs/full/CMakeLists.txt
  libs/full/agas/src/route.cpp
  libs/full/agas_base/CMakeLists.txt
  libs/full/agas_base/include/hpx/agas_base/route.hpp
  libs/full/agas_base/include/hpx/agas_base/server/primary_namespace.hpp
  libs/full/agas_base/src/server/primary_namespace_server.cpp
  libs/full/init_runtime/CMakeLists.txt
  libs/full/init_runtime/src/hpx_init.cpp
  libs/full/modules.rst
  libs/full/naming/include/hpx/naming/credit_handling.hpp
  libs/full/naming/src/credit_handling.cpp
  libs/full/naming_base/include/hpx/naming_base/id_type.hpp
  libs/full/naming_base/src/id_type.cpp
  libs/full/parcelports/CMakeLists.txt
  libs/full/parcelports/cmake/templates/static_parcelports.hpp.in
  libs/full/parcelports/include/hpx/parcelports/init_all_parcelports.hpp
  libs/full/parcelports/src/static_parcelports.cpp
  libs/full/parcelset/CMakeLists.txt
  libs/full/parcelset/include/hpx/parcelset/init_parcelports.hpp
  libs/full/parcelset/src/parcelhandler.cpp
  libs/full/plugin_factories/include/hpx/plugin_factories/parcelport_factory.hpp
Labels: type: enhancement, type: compatibility issue

#6309 Making sure changed number of cores is propagated to executor
  libs/core/algorithms/include/hpx/parallel/container_algorithms/is_sorted.hpp
  libs/core/algorithms/include/hpx/parallel/util/detail/chunk_size.hpp
  libs/core/algorithms/include/hpx/parallel/util/foreach_partitioner.hpp
  libs/core/algorithms/include/hpx/parallel/util/partitioner.hpp
  libs/core/algorithms/tests/regressions/CMakeLists.txt
  libs/core/algorithms/tests/regressions/num_cores.cpp
  libs/core/algorithms/tests/unit/algorithms/rotate_sender.cpp
  libs/core/algorithms/tests/unit/container_algorithms/is_sorted_until_range.cpp
  libs/core/execution/include/hpx/execution/executors/execution_parameters_fwd.hpp
  libs/core/execution/include/hpx/execution/executors/num_cores.hpp
  libs/core/execution/tests/regressions/is_executor_1691.cpp
  libs/core/execution/tests/unit/executor_parameters_dispatching.cpp
  libs/core/executors/examples/disable_thread_stealing_executor.cpp
  libs/core/executors/examples/executor_with_thread_hooks.cpp
  libs/core/executors/include/hpx/executors/annotating_executor.hpp
  libs/core/executors/include/hpx/executors/datapar/execution_policy.hpp
  libs/core/executors/include/hpx/executors/datapar/execution_policy_fwd.hpp
  libs/core/executors/include/hpx/executors/execution_policy.hpp
  libs/core/executors/include/hpx/executors/execution_policy_fwd.hpp
  libs/core/executors/include/hpx/executors/execution_policy_mappings.hpp
  libs/core/executors/include/hpx/executors/explicit_scheduler_executor.hpp
  libs/core/executors/include/hpx/executors/parallel_executor.hpp
  libs/core/executors/include/hpx/executors/restricted_thread_pool_executor.hpp
  libs/core/executors/include/hpx/executors/scheduler_executor.hpp
  libs/core/executors/include/hpx/executors/sequenced_executor.hpp
  libs/core/executors/include/hpx/executors/thread_pool_scheduler.hpp
  libs/core/executors/include/hpx/executors/thread_pool_scheduler_bulk.hpp
  libs/core/executors/tests/regressions/pu_count_6184.cpp
  libs/core/resiliency/include/hpx/resiliency/replay_executor.hpp
  libs/core/resiliency/include/hpx/resiliency/replicate_executor.hpp
  libs/core/resource_partitioner/tests/unit/scheduler_priority_check.cpp
  libs/core/tag_invoke/include/hpx/functional/detail/tag_fallback_invoke.hpp
  libs/core/tag_invoke/include/hpx/functional/detail/tag_priority_invoke.hpp
  libs/core/tag_invoke/include/hpx/functional/tag_invoke.hpp
  libs/full/checkpoint/examples/1d_stencil_4_checkpoint.cpp
Labels: type: enhancement, type: compatibility issue, category: algorithms

#6332 More fixes for CMake V3.27
  cmake/FindJemalloc.cmake
  cmake/HPX_SetupLCI.cmake
Labels: category: CMake, type: enhancement, type: compatibility issue

#6301 Add MPI migration guide
  docs/sphinx/manual/migration_guide.rst
  libs/core/algorithms/include/hpx/parallel/algorithm.hpp
  libs/full/collectives/examples/channel_communicator.cpp
Labels: category: documentation, type: enhancement, type: compatibility issue

#5845 Adding local work requesting scheduler that is based on message passing internally
  .circleci/config.yml
  .jenkins/lsu/env-clang-13.sh
  .jenkins/lsu/env-gcc-11.sh
  CMakeLists.txt
  cmake/HPX_AddTest.cmake
  docs/sphinx/manual/hpx_runtime_and_resources.rst
  docs/sphinx/manual/launching_and_configuring_hpx_applications.rst
  examples/1d_stencil/1d_stencil_4.cpp
  examples/1d_stencil/1d_stencil_4_throttle.cpp
  examples/1d_stencil/1d_stencil_7.cpp
  examples/1d_stencil/1d_stencil_8.cpp
  examples/quickstart/fibonacci_local.cpp
  libs/core/command_line_handling_local/src/parse_command_line_local.cpp
  libs/core/resiliency/tests/performance/replay/1d_stencil.cpp
  libs/core/resiliency/tests/performance/replay/1d_stencil_checksum.cpp
  libs/core/resiliency/tests/performance/replay/1d_stencil_replay.cpp
  libs/core/resiliency/tests/performance/replay/dataflow_replay.cpp
  libs/core/resiliency/tests/performance/replay/dataflow_replay_validate.cpp
  libs/core/resiliency/tests/performance/replay/pure_dataflow.cpp
  libs/core/resiliency/tests/performance/replicate/1d_stencil_replicate.cpp
  libs/core/resiliency/tests/performance/replicate/1d_stencil_replicate_checksum.cpp
  libs/core/resource_partitioner/include/hpx/resource_partitioner/partitioner_fwd.hpp
  libs/core/resource_partitioner/src/detail_partitioner.cpp
  libs/core/schedulers/CMakeLists.txt
  libs/core/schedulers/include/hpx/modules/schedulers.hpp
  libs/core/schedulers/include/hpx/schedulers/local_workrequesting_scheduler.hpp
  libs/core/synchronization/tests/unit/sliding_semaphore.cpp
  libs/core/testing/src/performance.cpp
  libs/core/thread_pools/include/hpx/thread_pools/scheduling_loop.hpp
  libs/core/thread_pools/src/scheduled_thread_pool.cpp
  libs/core/threading_base/src/scheduler_base.cpp
  libs/core/threading_base/tests/regressions/thread_stacksize_current.cpp
  libs/core/threadmanager/include/hpx/modules/threadmanager.hpp
  libs/core/threadmanager/src/threadmanager.cpp
  libs/full/checkpoint/examples/1d_stencil_4_checkpoint.cpp
  tests/performance/local/future_overhead.cpp
  tools/perftests_ci/perftest/plot.py
Labels: type: optimization, type: enhancement, category: threadmanager
