Repository STEllAR-GROUP/hpx, pull requests merged in 2023-07, with the labels that each got.

#6292 update(lci pp): update the default version of LCI autofetch to v1.7.5
  CMakeLists.txt
  docs/sphinx/manual/using_the_lci_parcelport.rst
Labels: type: enhancement, category: parcel transport, type: compatibility issue

#6284 Add CUDA/HIP MultiGPU Event Polling
  libs/core/async_cuda/CMakeLists.txt
  libs/core/async_cuda/include/hpx/async_cuda/cuda_event.hpp
  libs/core/async_cuda/include/hpx/async_cuda/cuda_future.hpp
  libs/core/async_cuda/include/hpx/async_cuda/detail/cuda_event_callback.hpp
  libs/core/async_cuda/src/cuda_event.cpp
  libs/core/async_cuda/src/cuda_event_callback.cpp
  libs/core/async_cuda/src/cuda_future.cpp
  libs/core/async_cuda/src/cuda_target.cpp
  libs/core/async_cuda/tests/unit/CMakeLists.txt
  libs/core/async_cuda/tests/unit/cuda_multi_device_polling.cpp
Labels: category: core, type: enhancement, category: threadmanager, type: compatibility issue, platform: CUDA, platform: HIP

#6280 Add TBB to HPX documentation in Migration Guide
  docs/sphinx/api/public_api.rst
  docs/sphinx/manual/migration_guide.rst
Labels: category: documentation, type: enhancement, type: compatibility issue

#6296 Fixing error message about use_guard_pages
  libs/core/coroutines/include/hpx/coroutines/detail/posix_utility.hpp
Labels: type: enhancement, category: diagnostics, type: compatibility issue

#6300 Updating APEX default version to v2.6.3
  CMakeLists.txt
Labels: category: CMake, type: enhancement, type: compatibility issue

#6226 Re-enable dependency on segmented algorithms on CircleCI
  .circleci/config.yml
  libs/full/segmented_algorithms/tests/unit/partitioned_vector_exclusive_scan.cpp
  libs/full/segmented_algorithms/tests/unit/partitioned_vector_exclusive_scan2.cpp
  libs/full/segmented_algorithms/tests/unit/partitioned_vector_inclusive_scan.cpp
  libs/full/segmented_algorithms/tests/unit/partitioned_vector_inclusive_scan2.cpp
Labels: category: tests, type: compatibility issue, category: CircleCi

#6304 Fixing an integral type mismatch warning
  libs/full/parcelport_mpi/include/hpx/parcelport_mpi/receiver.hpp
Labels: type: enhancement, type: compatibility issue

#6306 The hpxcxx script was broken such that it could only compile for _release
  cmake/templates/hpxcxx.in
Labels: type: enhancement, type: compatibility issue, category: CI

#6312 Fixing warning/error
  libs/core/async_cuda/tests/unit/cuda_multi_device_polling.cpp
Labels: type: enhancement, type: compatibility issue, platform: CUDA

#6310 Define HPX_COMPUTE_CODE in builds with SYCL
  libs/core/config/include/hpx/config/compiler_specific.hpp
Labels: category: core, type: enhancement, type: compatibility issue

#6294 Add internal reference counting to semaphores
  libs/core/synchronization/include/hpx/synchronization/counting_semaphore.hpp
  libs/core/synchronization/include/hpx/synchronization/detail/counting_semaphore.hpp
  libs/core/synchronization/include/hpx/synchronization/detail/sliding_semaphore.hpp
  libs/core/synchronization/include/hpx/synchronization/sliding_semaphore.hpp
Labels: type: enhancement, category: LCOs, type: compatibility issue

#6311 Adding executor parallel invoke CPOs
  libs/core/algorithms/include/hpx/parallel/util/partitioner.hpp
  libs/core/compute_local/include/hpx/compute_local/host/block_fork_join_executor.hpp
  libs/core/compute_local/tests/unit/block_fork_join_executor.cpp
  libs/core/execution/include/hpx/execution/executors/execution.hpp
  libs/core/execution_base/include/hpx/execution_base/execution.hpp
  libs/core/executors/include/hpx/executors/fork_join_executor.hpp
  libs/core/executors/tests/unit/fork_join_executor.cpp
  libs/core/functional/CMakeLists.txt
  libs/core/functional/include/hpx/functional/detail/runtime_get.hpp
Labels: type: enhancement, type: compatibility issue, category: executors
