Repository STEllAR-GROUP/hpx, pull requests merged in 2023-01, with the labels that each got.

#6124 Fixing use of any_sender in combination with when_all
  libs/core/execution/include/hpx/execution/algorithms/when_all.hpp
  libs/core/execution/tests/regressions/CMakeLists.txt
  libs/core/execution/tests/regressions/fibonacci_sr.cpp
  libs/core/execution_base/include/hpx/execution_base/any_sender.hpp
Labels: type: enhancement, type: compatibility issue, category: senders/receivers

#6125 Making sure sync_wait compiles when used with an lvalue sender involving bulk
  libs/core/executors/include/hpx/executors/thread_pool_scheduler_bulk.hpp
  libs/core/executors/tests/regressions/CMakeLists.txt
  libs/core/executors/tests/regressions/bulk_sync_wait.cpp
  libs/core/thread_pools/include/hpx/thread_pools/detail/scheduling_log.hpp
Labels: type: enhancement, type: compatibility issue, category: senders/receivers

#6127 Working around gccV9 problem that prevent us from storing enum classes in bit fields
  libs/core/algorithms/include/hpx/parallel/util/adapt_placement_mode.hpp
  libs/core/algorithms/include/hpx/parallel/util/adapt_sharing_mode.hpp
  libs/core/async_base/src/launch_policy.cpp
  libs/core/coroutines/include/hpx/coroutines/thread_enums.hpp
  libs/core/execution/tests/regressions/fibonacci_sr.cpp
  libs/core/executors/include/hpx/executors/detail/index_queue_spawning.hpp
  libs/core/executors/include/hpx/executors/parallel_executor.hpp
  libs/core/executors/include/hpx/executors/thread_pool_scheduler_bulk.hpp
  libs/core/executors/tests/unit/explicit_scheduler_executor.cpp
Labels: type: enhancement, type: compatibility issue, compiler: gcc, type: cleanup

#6130 Remove the mutex lock in the critical path of get_partitioner.
  libs/core/resource_partitioner/src/partitioner.cpp
Labels: type: optimization, type: enhancement

#6126 Deprecate hpx::parallel::task_block in favor of hpx::experimental::ta…
  cmake/templates/conf.py.in
  docs/sphinx/api/public_api.rst
  docs/sphinx/manual/writing_single_node_hpx_applications.rst
  libs/core/algorithms/include/hpx/parallel/task_block.hpp
  libs/core/algorithms/tests/unit/block/task_block.cpp
  libs/core/algorithms/tests/unit/block/task_block_executor.cpp
  libs/core/algorithms/tests/unit/block/task_block_par.cpp
  libs/core/include_local/include/hpx/local/task_block.hpp
Labels: type: enhancement, type: compatibility issue, type: cleanup

#6133 Adding abridged static scheduler that supports running background threads only
  libs/core/schedulers/CMakeLists.txt
  libs/core/schedulers/include/hpx/modules/schedulers.hpp
  libs/core/schedulers/include/hpx/schedulers/background_scheduler.hpp
  libs/core/thread_pools/include/hpx/thread_pools/scheduling_loop.hpp
  libs/core/thread_pools/src/scheduled_thread_pool.cpp
  libs/core/threading_base/include/hpx/threading_base/scheduler_mode.hpp
  libs/core/threadmanager/include/hpx/modules/threadmanager.hpp
  libs/core/threadmanager/src/threadmanager.cpp
Labels: type: enhancement, category: threadmanager

#5855 Adding performance test Jenkins builder at LSU
  .jenkins/lsu-perftests/Jenkinsfile
  .jenkins/lsu-perftests/batch.sh
  .jenkins/lsu-perftests/comment_github.sh
  .jenkins/lsu-perftests/ctest.cmake
  .jenkins/lsu-perftests/entry.sh
  .jenkins/lsu-perftests/env-perftests.sh
  .jenkins/lsu-perftests/launch_perftests.sh
  .jenkins/lsu-perftests/slurm-constraint-perftests.sh
  tools/perftests_ci/driver.py
  tools/perftests_ci/local_run-lsu.sh
  tools/perftests_ci/perftest/__init__.py
  tools/perftests_ci/perftest/references/lsu_default/foreach_report_test.json
  tools/perftests_ci/perftest/references/lsu_default/future_overhead_report_test.json
  tools/perftests_ci/perftest/references/lsu_default/stream_report_test.json
  tools/perftests_ci/pyutils/env.py
Labels: type: enhancement, affecting: LSU, category: CI

#6132 Fixing to_non_par() for parallel simd policies
  libs/core/execution/tests/regressions/CMakeLists.txt
  libs/core/execution/tests/regressions/rebind_par_simd.cpp
  libs/core/executors/include/hpx/executors/datapar/execution_policy.hpp
  libs/core/executors/include/hpx/executors/datapar/execution_policy_mappings.hpp
  libs/core/executors/include/hpx/executors/execution_policy.hpp
  libs/core/executors/include/hpx/executors/execution_policy_mappings.hpp
  libs/core/executors/include/hpx/executors/parallel_executor.hpp
  libs/core/executors/include/hpx/executors/sequenced_executor.hpp
  libs/core/executors/tests/unit/execution_policy_mappings.cpp
Labels: type: enhancement, type: compatibility issue, category: executors

#6134 Adding notification function for parcelports to be called after early parcel handling
  libs/full/parcelset/src/parcelhandler.cpp
  libs/full/parcelset_base/include/hpx/parcelset_base/parcelport.hpp
  libs/full/parcelset_base/src/parcelport.cpp
Labels: type: enhancement, category: parcel transport, type: feature request

#6136 Deprecate `execution::experimental::task_group` in favor of `experimental::task_group`
  docs/sphinx/api/public_api.rst
  libs/core/algorithms/include/hpx/parallel/task_block.hpp
  libs/core/algorithms/include/hpx/parallel/task_group.hpp
  libs/core/algorithms/src/task_group.cpp
  libs/core/algorithms/tests/unit/block/task_group.cpp
  libs/core/concurrency/tests/unit/freelist.cpp
  libs/core/concurrency/tests/unit/test_common.hpp
  libs/full/parcelset/tests/unit/put_parcels.cpp
Labels: type: enhancement, type: compatibility issue, type: cleanup

#6135 Fixing warnings reported by MSVC analysis
  libs/core/concurrency/include/hpx/concurrency/cache_line_data.hpp
  libs/core/concurrency/include/hpx/concurrency/deque.hpp
  libs/core/concurrency/include/hpx/concurrency/detail/freelist_stack.hpp
  libs/core/coroutines/include/hpx/coroutines/detail/context_windows_fibers.hpp
  libs/core/datastructures/include/hpx/datastructures/any.hpp
  libs/core/datastructures/include/hpx/datastructures/detail/intrusive_list.hpp
  libs/core/datastructures/include/hpx/datastructures/tuple.hpp
  libs/core/execution/src/polymorphic_executor.cpp
  libs/core/execution_base/include/hpx/execution_base/any_sender.hpp
  libs/core/executors/include/hpx/executors/fork_join_executor.hpp
  libs/core/executors/include/hpx/executors/thread_pool_scheduler_bulk.hpp
  libs/core/functional/include/hpx/functional/bind.hpp
  libs/core/functional/include/hpx/functional/invoke_fused.hpp
  libs/core/functional/src/basic_function.cpp
  libs/core/futures/include/hpx/futures/detail/future_data.hpp
  libs/core/futures/include/hpx/futures/packaged_continuation.hpp
  libs/core/init_runtime_local/src/init_logging.cpp
  libs/core/lcos_local/include/hpx/lcos_local/receive_buffer.hpp
  libs/core/lcos_local/src/composable_guard.cpp
  libs/core/pack_traversal/include/hpx/pack_traversal/detail/pack_traversal_async_impl.hpp
  libs/core/runtime_local/include/hpx/runtime_local/runtime_handlers.hpp
  libs/core/runtime_local/src/runtime_handlers.cpp
  libs/core/schedulers/include/hpx/schedulers/queue_holder_thread.hpp
  libs/core/schedulers/include/hpx/schedulers/shared_priority_queue_scheduler.hpp
  libs/core/schedulers/include/hpx/schedulers/thread_queue.hpp
  libs/core/schedulers/include/hpx/schedulers/thread_queue_mc.hpp
  libs/core/serialization/src/detail/polymorphic_id_factory.cpp
  libs/core/synchronization/include/hpx/synchronization/event.hpp
  libs/core/synchronization/include/hpx/synchronization/latch.hpp
  libs/core/synchronization/src/detail/condition_variable.cpp
  libs/core/synchronization/src/mutex.cpp
  libs/core/tag_invoke/include/hpx/functional/detail/invoke.hpp
  libs/core/thread_pools/include/hpx/thread_pools/scheduled_thread_pool_impl.hpp
  libs/core/thread_pools/include/hpx/thread_pools/scheduling_loop.hpp
  libs/core/thread_support/include/hpx/thread_support/assert_owns_lock.hpp
  libs/core/threading_base/include/hpx/threading_base/detail/get_default_timer_service.hpp
  libs/core/threading_base/src/execution_agent.cpp
  libs/core/threading_base/src/get_default_timer_service.cpp
  libs/core/threading_base/src/scheduler_base.cpp
  libs/core/threading_base/src/set_thread_state_timed.cpp
  libs/full/actions/include/hpx/actions/base_action.hpp
  libs/full/actions/include/hpx/actions/register_action.hpp
  libs/full/agas/src/addressing_service.cpp
  libs/full/agas_base/src/symbol_namespace.cpp
  libs/full/async_distributed/include/hpx/async_distributed/base_lco_with_value.hpp
  libs/full/async_distributed/include/hpx/async_distributed/bind_action.hpp
  libs/full/async_distributed/include/hpx/async_distributed/detail/async_implementations.hpp
  libs/full/async_distributed/include/hpx/async_distributed/detail/promise_base.hpp
  libs/full/collectives/include/hpx/collectives/barrier.hpp
  libs/full/collectives/src/barrier.cpp
  libs/full/collectives/src/detail/barrier_node.cpp
  libs/full/naming/src/credit_handling.cpp
  libs/full/naming_base/include/hpx/naming_base/gid_type.hpp
  libs/full/parcelport_mpi/include/hpx/parcelport_mpi/receiver.hpp
  libs/full/performance_counters/src/counters.cpp
  libs/full/runtime_distributed/src/runtime_distributed.cpp
Labels: type: enhancement, type: compatibility issue, type: cleanup

#6137 Adding example of a simple master/slave distributed application
  examples/quickstart/CMakeLists.txt
  examples/quickstart/simple_master_slave.cpp
Labels: category: examples

#6142 Update performance test references for Piz Daint
  tools/perftests_ci/perftest/references/daint_default/foreach_report_test.json
  tools/perftests_ci/perftest/references/daint_default/future_overhead_report_test.json
  tools/perftests_ci/perftest/references/daint_default/stream_report_test.json
Labels: category: CI, category: perftests

#6147 Make posix co-routine stacks non-executable
  libs/core/coroutines/include/hpx/coroutines/detail/posix_utility.hpp
Labels: type: enhancement, type: cleanup

#6146 Avoid ambiguities wrt tag_invoke
  .jenkins/lsu/env-gcc-10-cuda-11.sh
  libs/core/async_combinators/include/hpx/async_combinators/wait_all.hpp
  libs/core/async_combinators/include/hpx/async_combinators/wait_any.hpp
  libs/core/async_combinators/include/hpx/async_combinators/wait_some.hpp
  libs/core/coroutines/include/hpx/coroutines/detail/coroutine_impl.hpp
  libs/core/threading_base/include/hpx/threading_base/detail/reset_lco_description.hpp
Labels: type: enhancement, type: compatibility issue, type: cleanup

#6140 Fixing background scheduler to properly exit in the end
  libs/core/resource_partitioner/include/hpx/resource_partitioner/detail/partitioner.hpp
  libs/core/resource_partitioner/include/hpx/resource_partitioner/partitioner.hpp
  libs/core/resource_partitioner/include/hpx/resource_partitioner/partitioner_fwd.hpp
  libs/core/resource_partitioner/src/detail_partitioner.cpp
  libs/core/resource_partitioner/src/partitioner.cpp
  libs/core/resource_partitioner/tests/unit/CMakeLists.txt
  libs/core/resource_partitioner/tests/unit/background_scheduler.cpp
  libs/core/schedulers/include/hpx/schedulers/background_scheduler.hpp
  libs/core/schedulers/include/hpx/schedulers/local_priority_queue_scheduler.hpp
  libs/core/schedulers/include/hpx/schedulers/local_queue_scheduler.hpp
  libs/core/schedulers/include/hpx/schedulers/shared_priority_queue_scheduler.hpp
  libs/core/schedulers/include/hpx/schedulers/static_priority_queue_scheduler.hpp
  libs/core/schedulers/include/hpx/schedulers/static_queue_scheduler.hpp
  libs/core/thread_pools/CMakeLists.txt
  libs/core/thread_pools/include/hpx/thread_pools/detail/background_thread.hpp
  libs/core/thread_pools/include/hpx/thread_pools/detail/scheduling_callbacks.hpp
  libs/core/thread_pools/include/hpx/thread_pools/detail/scheduling_counters.hpp
  libs/core/thread_pools/include/hpx/thread_pools/detail/scoped_background_timer.hpp
  libs/core/thread_pools/include/hpx/thread_pools/scheduling_loop.hpp
  libs/core/thread_pools/src/detail/background_thread.cpp
  libs/core/threading_base/include/hpx/threading_base/scheduler_base.hpp
  libs/core/threading_base/include/hpx/threading_base/threading_base_fwd.hpp
  libs/core/threadmanager/src/threadmanager.cpp
  libs/full/runtime_distributed/src/runtime_distributed.cpp
Labels: type: enhancement, category: threadmanager, type: compatibility issue, category: resource_partitioner

#6144 General improvements to scheduling and related fixes
  .jenkins/lsu/env-clang-11.sh
  .jenkins/lsu/env-clang-12.sh
  .jenkins/lsu/env-clang-13.sh
  .jenkins/lsu/env-clang-14.sh
  .jenkins/lsu/env-gcc-10.sh
  .jenkins/lsu/env-gcc-11.sh
  .jenkins/lsu/env-gcc-12.sh
  .jenkins/lsu/env-gcc-9.sh
  libs/core/allocator_support/include/hpx/allocator_support/internal_allocator.hpp
  libs/core/concurrency/include/hpx/concurrency/deque.hpp
  libs/core/concurrency/include/hpx/concurrency/detail/contiguous_index_queue.hpp
  libs/core/concurrency/include/hpx/concurrency/detail/non_contiguous_index_queue.hpp
  libs/core/concurrency/include/hpx/concurrency/spinlock.hpp
  libs/core/config/include/hpx/config/constexpr.hpp
  libs/core/memory/include/hpx/memory/intrusive_ptr.hpp
  libs/core/schedulers/CMakeLists.txt
  libs/core/schedulers/include/hpx/schedulers/background_scheduler.hpp
  libs/core/schedulers/include/hpx/schedulers/local_priority_queue_scheduler.hpp
  libs/core/schedulers/include/hpx/schedulers/local_queue_scheduler.hpp
  libs/core/schedulers/include/hpx/schedulers/shared_priority_queue_scheduler.hpp
  libs/core/schedulers/include/hpx/schedulers/static_priority_queue_scheduler.hpp
  libs/core/schedulers/include/hpx/schedulers/static_queue_scheduler.hpp
  libs/core/schedulers/include/hpx/schedulers/thread_queue.hpp
  libs/core/synchronization/include/hpx/synchronization/channel_mpmc.hpp
  libs/core/synchronization/include/hpx/synchronization/channel_mpsc.hpp
  libs/core/synchronization/include/hpx/synchronization/channel_spsc.hpp
  libs/core/thread_pools/include/hpx/thread_pools/detail/background_thread.hpp
  libs/core/thread_pools/include/hpx/thread_pools/scheduled_thread_pool.hpp
  libs/core/thread_pools/include/hpx/thread_pools/scheduled_thread_pool_impl.hpp
  libs/core/thread_pools/include/hpx/thread_pools/scheduling_loop.hpp
  libs/core/thread_pools/src/detail/background_thread.cpp
  libs/core/thread_support/include/hpx/thread_support/spinlock.hpp
  libs/core/threading_base/CMakeLists.txt
  libs/core/threading_base/include/hpx/threading_base/detail/switch_status.hpp
  libs/core/threading_base/include/hpx/threading_base/scheduler_base.hpp
  libs/core/threading_base/include/hpx/threading_base/thread_pool_base.hpp
  libs/core/threading_base/src/scheduler_base.cpp
  libs/core/threadmanager/include/hpx/modules/threadmanager.hpp
  libs/core/threadmanager/src/threadmanager.cpp
  tests/performance/local/future_overhead.cpp
  tests/performance/local/future_overhead_report.cpp
Labels: type: optimization, type: enhancement, type: compatibility issue, type: cleanup

#6148 Investigate the failure of the LCI parcelport.
  .jenkins/lsu/env-clang-11.sh
  .jenkins/lsu/env-clang-12.sh
  .jenkins/lsu/env-clang-13.sh
  .jenkins/lsu/env-clang-14.sh
  .jenkins/lsu/env-common.sh
  .jenkins/lsu/env-gcc-10.sh
  .jenkins/lsu/env-gcc-11.sh
  .jenkins/lsu/env-gcc-12.sh
  .jenkins/lsu/env-gcc-9.sh
Labels: category: parcel transport

#6152 The -rd and -mr options didn't work, and they should have been --rd and --mr
  cmake/templates/hpxcxx.in
Labels: type: enhancement, type: cleanup, category: utilities

#6153 Assign global ids to managed component instances that are locally resolvable
  libs/full/agas/tests/regressions/send_gid_keep_component_1624.cpp
  libs/full/agas_base/include/hpx/agas_base/server/primary_namespace.hpp
  libs/full/agas_base/src/server/primary_namespace_server.cpp
  libs/full/components_base/include/hpx/components_base/server/managed_component_base.hpp
  libs/full/components_base/include/hpx/components_base/server/wrapper_heap.hpp
  libs/full/components_base/include/hpx/components_base/server/wrapper_heap_base.hpp
  libs/full/components_base/include/hpx/components_base/server/wrapper_heap_list.hpp
  libs/full/components_base/src/server/component_base.cpp
  libs/full/components_base/src/server/wrapper_heap.cpp
  libs/full/naming_base/include/hpx/naming_base/gid_type.hpp
  libs/full/naming_base/src/gid_type.cpp
Labels: type: optimization, category: AGAS, type: enhancement

#6151 Refactoring the Manual page in documentation
  cmake/templates/cmake_variables.rst.in
  docs/sphinx/examples.rst
  docs/sphinx/manual.rst
  docs/sphinx/manual/building_hpx.rst
  docs/sphinx/manual/building_tests_examples.rst
Labels: category: documentation, type: enhancement, type: compatibility issue

#6154 Avoid performing late command line handling twice in distributed runtime
  libs/core/command_line_handling_local/include/hpx/command_line_handling_local/late_command_line_handling_local.hpp
  libs/core/command_line_handling_local/src/late_command_line_handling_local.cpp
  libs/core/runtime_local/include/hpx/runtime_local/runtime_local.hpp
  libs/core/runtime_local/src/runtime_local.cpp
Labels: type: enhancement, category: init, type: compatibility issue

#6057 Create a dedicated thread pool to run LCI_progress.
  libs/core/lci_base/include/hpx/lci_base/lci_environment.hpp
  libs/core/lci_base/src/lci_environment.cpp
  libs/full/parcelport_lci/src/parcelport_lci.cpp
Labels: type: defect, category: parcel transport
