Repository STEllAR-GROUP/hpx, pull requests merged in 2023-12, with the labels that each got.

#6395 Adapt amount of collective testing
  libs/full/collectives/tests/unit/all_gather.cpp
  libs/full/collectives/tests/unit/all_reduce.cpp
  libs/full/collectives/tests/unit/all_to_all.cpp
  libs/full/collectives/tests/unit/broadcast.cpp
  libs/full/collectives/tests/unit/exclusive_scan_.cpp
  libs/full/collectives/tests/unit/gather.cpp
  libs/full/collectives/tests/unit/inclusive_scan_.cpp
  libs/full/collectives/tests/unit/reduce.cpp
  libs/full/collectives/tests/unit/scatter.cpp
Labels: type: enhancement, category: tests, type: cleanup

#6393 Optionally disable caching allocator
  libs/core/allocator_support/CMakeLists.txt
  libs/core/allocator_support/include/hpx/allocator_support/thread_local_caching_allocator.hpp
Labels: category: CMake, type: enhancement, type: compatibility issue

#6400 Fx the affinity setting bug when using LCI pp and multiple localities per node
  libs/full/parcelport_lci/src/parcelport_lci.cpp
Labels: type: enhancement, category: parcel transport, type: compatibility issue

#6396 Making is_bitwise_serializable SFINAE-friendly
  libs/core/serialization/include/hpx/serialization/traits/is_bitwise_serializable.hpp
  libs/full/actions_base/src/detail/action_factory.cpp
Labels: type: enhancement, type: compatibility issue, category: serialization

#6402 fix(lci pp): fix deadlocks with too many failed sends
  libs/full/parcelport_lci/src/sender_connection_base.cpp
Labels: type: enhancement, category: parcel transport, type: compatibility issue
