Repository STEllAR-GROUP/hpx, pull requests merged in 2024-02, with the labels that each got.

#6429 Making sure HPX_WITH_ASYNC_MPI is reported properly
  libs/core/async_mpi/CMakeLists.txt
Labels: category: CMake, type: enhancement, type: compatibility issue

#6433 Use shared mutex for resolve_locality procedure.
  libs/full/agas/include/hpx/agas/addressing_service.hpp
  libs/full/agas/src/addressing_service.cpp
Labels: category: AGAS, type: enhancement, type: compatibility issue

#6434 improve termination detection: removing lock from criticial path
  libs/full/runtime_distributed/include/hpx/runtime_distributed/server/runtime_support.hpp
  libs/full/runtime_distributed/src/server/runtime_support_server.cpp
Labels: type: optimization, type: enhancement, type: compatibility issue, category: runtime

#6436 Update docs
  docs/sphinx/_static/images/HPX.png
  docs/sphinx/_static/images/HPX_STELLAR.png
  docs/sphinx/_static/images/HPX_STELLAR_blue.png
  docs/sphinx/_static/images/favicon.png
  docs/sphinx/api/public_api.rst
  docs/sphinx/manual/prerequisites.rst
  docs/sphinx/quickstart.rst
  libs/core/functional/include/hpx/functional/experimental/scope_exit.hpp
  libs/core/functional/include/hpx/functional/experimental/scope_fail.hpp
  libs/core/functional/include/hpx/functional/experimental/scope_success.hpp
Labels: category: documentation, type: enhancement, type: compatibility issue

#6427 Modifying CMakeLists to copy libhwloc-15.dll to the binary folder in Windows, independently
  CMakeLists.txt
  cmake/HPX_SetupHwloc.cmake
Labels: category: CMake, type: enhancement, type: compatibility issue, platform: Windows

#6435 Parcel layer tweaks
  libs/full/agas/include/hpx/agas/addressing_service.hpp
  libs/full/agas/src/addressing_service.cpp
  libs/full/agas/src/route.cpp
  libs/full/async_distributed/include/hpx/async_distributed/put_parcel.hpp
  libs/full/async_distributed/include/hpx/async_distributed/put_parcel_fwd.hpp
  libs/full/naming_base/include/hpx/naming_base/gid_type.hpp
  libs/full/naming_base/include/hpx/naming_base/id_type.hpp
Labels: type: optimization, type: enhancement, category: parcel transport, type: compatibility issue

#6445 Fix agas addressing cache
  libs/full/agas/src/addressing_service.cpp
Labels: category: AGAS, type: enhancement, type: compatibility issue

#6441 Minor documentation fixes
  docs/sphinx/index.rst
  docs/sphinx/manual/troubleshooting.rst
  docs/sphinx/quickstart.rst
Labels: category: documentation, type: enhancement

#6439 Optimizing use of certain #includes
  libs/core/affinity/CMakeLists.txt
  libs/core/affinity/include/hpx/affinity/detail/parse_mappings.hpp
  libs/core/affinity/include/hpx/affinity/parse_affinity_options.hpp
  libs/core/affinity/src/parse_affinity_options.cpp
  libs/core/affinity/tests/unit/parse_affinity_options.cpp
  libs/core/execution/include/hpx/execution/algorithms/run_loop.hpp
  libs/core/futures/include/hpx/futures/futures_factory.hpp
  libs/core/futures/include/hpx/futures/packaged_continuation.hpp
  libs/core/runtime_local/src/runtime_local.cpp
  libs/core/serialization/CMakeLists.txt
  libs/core/serialization/include/hpx/serialization/array.hpp
  libs/core/serialization/include/hpx/serialization/detail/polymorphic_id_factory.hpp
  libs/core/serialization/include/hpx/serialization/detail/polymorphic_intrusive_factory.hpp
  libs/core/serialization/include/hpx/serialization/detail/polymorphic_nonintrusive_factory.hpp
  libs/core/serialization/include/hpx/serialization/shared_ptr.hpp
  libs/core/serialization/include/hpx/serialization/variant.hpp
  libs/core/serialization/tests/unit/serialization_boost_variant.cpp
  libs/core/synchronization/include/hpx/synchronization/mutex.hpp
  libs/core/synchronization/include/hpx/synchronization/stop_token.hpp
  libs/core/threading_base/include/hpx/threading_base/detail/reset_backtrace.hpp
  libs/core/threading_base/include/hpx/threading_base/thread_helpers.hpp
  libs/full/async_distributed/include/hpx/async_distributed/put_parcel.hpp
  libs/full/parcelset_base/include/hpx/parcelset_base/parcelport.hpp
Labels: type: optimization, type: enhancement
