Repository STEllAR-GROUP/hpx, pull requests merged in 2024-08, with the labels that each got.

#6531 More fixes for the Boost package
  cmake/HPX_SetupBoost.cmake
Labels: category: CMake, type: enhancement, type: compatibility issue

#6512 Minor cleanup of future_data
  libs/core/futures/include/hpx/futures/detail/future_data.hpp
  libs/core/futures/src/future_data.cpp
  libs/full/components/include/hpx/components/client_base.hpp
Labels: type: enhancement, type: cleanup

#6537 Update README.rst
  README.rst
Labels: category: documentation, type: enhancement, type: compatibility issue
