Repository STEllAR-GROUP/hpx, pull requests merged in 2024-10, with the labels that each got.

#6551 Update building_hpx.rst
  docs/sphinx/manual/building_hpx.rst
Labels: category: documentation, type: enhancement, type: compatibility issue

#6549 Fix CMake conditionals checking ENV variables
  cmake/FindAmplifier.cmake
  cmake/FindAsio.cmake
  cmake/FindHwloc.cmake
  cmake/FindJemalloc.cmake
  cmake/FindLibSigSegv.cmake
  cmake/FindLibfabric.cmake
  cmake/FindMSR.cmake
  cmake/FindOrangeFS.cmake
  cmake/FindPWR.cmake
  cmake/FindPapi.cmake
  cmake/FindQThreads.cmake
  cmake/FindTBBmalloc.cmake
  cmake/FindTCMalloc.cmake
  cmake/HPX_SetupApex.cmake
  cmake/HPX_SetupBoost.cmake
  cmake/HPX_SetupGasnet.cmake
  cmake/templates/HPXConfig.cmake.in
  libs/full/parcelport_libfabric/cmake/FindPMI.cmake
Labels: category: CMake, type: enhancement, type: compatibility issue

#6497 Contains and contains_subrange parallel algorithm implementation GSOC 2024
  libs/core/algorithms/CMakeLists.txt
  libs/core/algorithms/include/hpx/parallel/algorithms/detail/contains.hpp
  libs/core/algorithms/include/hpx/parallel/container_algorithms.hpp
  libs/core/algorithms/include/hpx/parallel/container_algorithms/contains.hpp
  libs/core/algorithms/tests/unit/algorithms/search.cpp
  libs/core/algorithms/tests/unit/container_algorithms/CMakeLists.txt
  libs/core/algorithms/tests/unit/container_algorithms/contains_range.cpp
  libs/core/algorithms/tests/unit/container_algorithms/contains_subrange_range.cpp
Labels: type: enhancement, category: algorithms
