Repository STEllAR-GROUP/hpx, pull requests merged in 2024-11, with the labels that each got.

#6555 Fix title and minor typos in documentation
  docs/sphinx/index.rst
  docs/sphinx/manual/migration_guide.rst
Labels: category: documentation

#6553 Fix omp vectorization pragma errors
  .jenkins/lsu/env-clang-17.sh
  .jenkins/lsu/env-gcc-13.sh
  libs/core/algorithms/include/hpx/parallel/unseq/loop.hpp
  libs/core/algorithms/include/hpx/parallel/unseq/reduce_helpers.hpp
  libs/core/algorithms/include/hpx/parallel/unseq/transform_loop.hpp
  libs/core/algorithms/include/hpx/parallel/util/loop.hpp
Labels: type: enhancement, type: compatibility issue, category: algorithms

#6539 Use thread-safe cache in thread_local_caching_allocator
  libs/core/allocator_support/include/hpx/allocator_support/thread_local_caching_allocator.hpp
  libs/core/async_base/CMakeLists.txt
  libs/core/async_base/include/hpx/async_base/dataflow.hpp
  libs/core/async_combinators/CMakeLists.txt
  libs/core/async_combinators/include/hpx/async_combinators/when_all.hpp
  libs/core/concurrency/include/hpx/concurrency/stack.hpp
  libs/core/concurrency/tests/unit/stack.cpp
  libs/core/execution/CMakeLists.txt
  libs/core/execution/include/hpx/execution/detail/future_exec.hpp
  libs/core/executors/CMakeLists.txt
  libs/core/executors/include/hpx/executors/parallel_executor.hpp
  libs/core/futures/CMakeLists.txt
  libs/core/futures/include/hpx/futures/future.hpp
  libs/core/futures/include/hpx/futures/futures_factory.hpp
  libs/core/futures/include/hpx/futures/packaged_continuation.hpp
  libs/core/lcos_local/CMakeLists.txt
  libs/core/lcos_local/include/hpx/lcos_local/and_gate.hpp
  libs/full/async_distributed/CMakeLists.txt
  libs/full/async_distributed/include/hpx/async_distributed/detail/async_implementations.hpp
Labels: type: enhancement, compiler: gcc, compiler: clang, category: data-structures

#6474 Remove remnants of libfabric parcelport
  libs/full/CMakeLists.txt
  libs/full/modules.rst
  libs/full/parcelport_libfabric/CMakeLists.txt
  libs/full/parcelport_libfabric/cmake/FindPMI.cmake
  libs/full/parcelport_libfabric/cmake/HPX_SetupLibfabric.cmake
  libs/full/parcelport_libfabric/docs/index.rst
  libs/full/parcelport_libfabric/examples/CMakeLists.txt
  libs/full/parcelport_libfabric/include/hpx/parcelport_libfabric/connection_handler.hpp
  libs/full/parcelport_libfabric/include/hpx/parcelport_libfabric/fabric_error.hpp
  libs/full/parcelport_libfabric/include/hpx/parcelport_libfabric/header.hpp
  libs/full/parcelport_libfabric/include/hpx/parcelport_libfabric/libfabric_controller.hpp
  libs/full/parcelport_libfabric/include/hpx/parcelport_libfabric/libfabric_region_provider.hpp
  libs/full/parcelport_libfabric/include/hpx/parcelport_libfabric/locality.hpp
  libs/full/parcelport_libfabric/include/hpx/parcelport_libfabric/parcelport_libfabric.hpp
  libs/full/parcelport_libfabric/include/hpx/parcelport_libfabric/parcelport_logging.hpp
  libs/full/parcelport_libfabric/include/hpx/parcelport_libfabric/performance_counter.hpp
  libs/full/parcelport_libfabric/include/hpx/parcelport_libfabric/pinned_memory_vector.hpp
  libs/full/parcelport_libfabric/include/hpx/parcelport_libfabric/rdma_locks.hpp
  libs/full/parcelport_libfabric/include/hpx/parcelport_libfabric/readers_writers_mutex.hpp
  libs/full/parcelport_libfabric/include/hpx/parcelport_libfabric/receiver.hpp
  libs/full/parcelport_libfabric/include/hpx/parcelport_libfabric/rma_base.hpp
  libs/full/parcelport_libfabric/include/hpx/parcelport_libfabric/rma_memory_pool.hpp
  libs/full/parcelport_libfabric/include/hpx/parcelport_libfabric/rma_memory_region.hpp
  libs/full/parcelport_libfabric/include/hpx/parcelport_libfabric/rma_memory_region_traits.hpp
  libs/full/parcelport_libfabric/include/hpx/parcelport_libfabric/rma_receiver.hpp
  libs/full/parcelport_libfabric/include/hpx/parcelport_libfabric/sender.hpp
  libs/full/parcelport_libfabric/include/hpx/parcelport_libfabric/unordered_map.hpp
  libs/full/parcelport_libfabric/src/parcelport_libfabric.cpp
  libs/full/parcelport_libfabric/src/receiver.cpp
  libs/full/parcelport_libfabric/src/rma_receiver.cpp
  libs/full/parcelport_libfabric/src/sender.cpp
  libs/full/parcelport_libfabric/tests/CMakeLists.txt
  libs/full/parcelport_libfabric/tests/performance/CMakeLists.txt
  libs/full/parcelport_libfabric/tests/regressions/CMakeLists.txt
  libs/full/parcelport_libfabric/tests/unit/CMakeLists.txt
  libs/full/runtime_distributed/tests/unit/thread_mapper_parcel_pools.cpp
  tests/performance/network/network_storage/slurm-network-storage.sh.in
Labels: type: enhancement, category: parcel transport, type: compatibility issue, type: cleanup

#6556 Set copyright year in generated files
  CMakeLists.txt
  cmake/HPX_SetupNanobench.cmake
  cmake/templates/HPXCacheVariables.cmake.in
  cmake/templates/HPXConfig.cmake.in
  cmake/templates/HPXMacros.cmake.in
  cmake/templates/cmake_variables.rst.in
  cmake/templates/compatibility_header.hpp.in
  cmake/templates/conf.py.in
  cmake/templates/config_defines_entries_for_modules.cpp.in
  cmake/templates/config_defines_strings.hpp.in
  cmake/templates/global_module_header.hpp.in
  cmake/templates/hpx_application.pc.in
  cmake/templates/hpx_component.pc.in
  cmake/templates/hpxcxx.in
  cmake/templates/hpxdep_index.html.in
  cmake/templates/hpxrun.py.in
  cmake/templates/modules_enabled.hpp.in
  libs/core/async_cuda/tests/unit/saxpy.cu
  libs/core/testing/src/performance.cpp
Labels: type: enhancement, type: compatibility issue

#6558 Remove CSCS CI's
  .jenkins/cscs-perftests/Jenkinsfile
  .jenkins/cscs-perftests/batch.sh
  .jenkins/cscs-perftests/comment_github.sh
  .jenkins/cscs-perftests/ctest.cmake
  .jenkins/cscs-perftests/entry.sh
  .jenkins/cscs-perftests/env-perftests.sh
  .jenkins/cscs-perftests/launch_perftests.sh
  .jenkins/cscs-perftests/slurm-constraint-perftests.sh
  .jenkins/cscs/Jenkinsfile
  .jenkins/cscs/batch.sh
  .jenkins/cscs/boost_user_config_cray_clang.hpp
  .jenkins/cscs/ctest.cmake
  .jenkins/cscs/entry.sh
  .jenkins/cscs/env-clang-10.sh
  .jenkins/cscs/env-clang-13.sh
  .jenkins/cscs/env-common.sh
  .jenkins/cscs/env-gcc-11.sh
  .jenkins/cscs/slurm-constraint-clang-10.sh
  .jenkins/cscs/slurm-constraint-clang-13.sh
  .jenkins/cscs/slurm-constraint-gcc-11.sh
Labels: type: enhancement, type: compatibility issue, category: CI

#6560 Fixes for bit_cast on 32bit systems
  libs/core/concurrency/include/hpx/concurrency/detail/tagged_ptr_ptrcompression.hpp
Labels: type: enhancement, type: compatibility issue, category: infrastructure

#6530 Attempt to fixing the E4S HPX tests
  libs/core/include_local/include/hpx/compute.hpp.in
  libs/full/include/include/hpx/compute.hpp
  libs/full/include/include/hpx/include/compute.hpp
Labels: type: enhancement, type: compatibility issue, platform: CUDA, platform: ROCm

#6562 Fix doc return type of broadcast_to
  libs/full/collectives/include/hpx/collectives/broadcast.hpp
Labels: category: documentation

#6564 Remove superfluous HPX_MOVE()
  libs/full/collectives/include/hpx/collectives/broadcast_direct.hpp
  libs/full/collectives/include/hpx/collectives/reduce_direct.hpp
Labels: type: enhancement, type: compatibility issue, compiler: nvcc

#6559 Making sure that all parcelport counters are unavailable if no networking is needed or configured
  libs/full/performance_counters/src/parcelhandler_counter_types.cpp
Labels: category: performance counters, type: enhancement, category: parcel transport, type: compatibility issue

#6578 Remove leftovers from libfabric parcelport
  cmake/HPX_SetupBoost.cmake
  cmake/toolchains/Cray.cmake
  cmake/toolchains/CrayKNL.cmake
  cmake/toolchains/CrayKNLStatic.cmake
  cmake/toolchains/CrayStatic.cmake
Labels: category: parcel transport, type: cleanup

#6577 Download Boost from their own archives, not from Sourceforge
  .github/workflows/macos_debug_fetch_hwloc.yml
  .github/workflows/windows_release_gcc_mingw.yml
Labels: type: enhancement, type: compatibility issue, category: CI

#6575 Replace previously downloaded CDash conv.xsl with local version
  .circleci/config.yml
  .circleci/conv.xsl
Labels: type: enhancement, type: compatibility issue, category: CircleCi
