Repository STEllAR-GROUP/hpx, pull requests merged in 2024-05, with the labels that each got.

#6478 Fixing issues on MacOS
  .github/workflows/macos_debug_fetch_hwloc.yml
  CMakeLists.txt
  cmake/HPX_SetupHwloc.cmake
  libs/core/resource_partitioner/src/detail_partitioner.cpp
  libs/core/resource_partitioner/tests/unit/cross_pool_injection.cpp
  libs/core/resource_partitioner/tests/unit/shutdown_suspended_pus.cpp
  libs/core/resource_partitioner/tests/unit/suspend_pool.cpp
  libs/core/resource_partitioner/tests/unit/suspend_pool_external.cpp
  libs/core/resource_partitioner/tests/unit/suspend_runtime.cpp
  libs/core/resource_partitioner/tests/unit/suspend_thread.cpp
  libs/core/resource_partitioner/tests/unit/suspend_thread_external.cpp
  libs/core/resource_partitioner/tests/unit/suspend_thread_timed.cpp
  libs/core/schedulers/CMakeLists.txt
  libs/core/schedulers/include/hpx/modules/schedulers.hpp
  libs/core/thread_pools/src/scheduled_thread_pool.cpp
  libs/core/threading_base/tests/regressions/thread_stacksize_current.cpp
  libs/core/threadmanager/src/threadmanager.cpp
Labels: category: CMake, type: enhancement, type: compatibility issue, platform: Mac OSX, category: scheduler, category: CI

#6481 Fixing use of HPX_WITH_CXX_STANDARD
  cmake/HPX_CheckCXXStandard.cmake
Labels: category: CMake, type: enhancement, type: compatibility issue

#6480 Remove equal_to from hpx::any
  libs/core/datastructures/include/hpx/datastructures/any.hpp
  libs/core/datastructures/include/hpx/datastructures/serialization/serializable_any.hpp
  libs/core/program_options/tests/unit/variable_map.cpp
  libs/core/serialization/include/hpx/serialization/access.hpp
  libs/full/collectives/tests/regressions/CMakeLists.txt
  libs/full/collectives/tests/regressions/trivially_copyable_all_gather.cpp
Labels: type: enhancement, type: compatibility issue, category: data-structures, project: FLeCSI

#6456 Move APEX CI to rostam
  .jenkins/cscs/Jenkinsfile
  .jenkins/cscs/env-clang-apex.sh
  .jenkins/lsu/Jenkinsfile
  .jenkins/lsu/env-clang-12-apex.sh
  .jenkins/lsu/slurm-configuration-clang-12-apex.sh
  components/performance_counters/papi/tests/regressions/papi_counters_active_interface.cpp
  libs/core/affinity/src/affinity_data.cpp
  libs/core/compute_local/include/hpx/compute_local/host/numa_allocator.hpp
  libs/core/resource_partitioner/src/detail_partitioner.cpp
  libs/core/runtime_local/src/runtime_local.cpp
  libs/core/thread_pools/include/hpx/thread_pools/scheduled_thread_pool_impl.hpp
Labels: type: enhancement, type: compatibility issue, category: CI

#6482 Generalize the notion of bitwise serialization
  cmake/HPX_CompilerFlagsTargets.cmake
  libs/core/schedulers/include/hpx/schedulers/local_priority_queue_scheduler.hpp
  libs/core/schedulers/include/hpx/schedulers/local_queue_scheduler.hpp
  libs/core/schedulers/include/hpx/schedulers/local_workrequesting_scheduler.hpp
  libs/core/serialization/include/hpx/serialization/access.hpp
  libs/core/serialization/include/hpx/serialization/input_archive.hpp
  libs/core/serialization/include/hpx/serialization/output_archive.hpp
  libs/core/serialization/include/hpx/serialization/traits/brace_initializable_traits.hpp
  libs/core/serialization/include/hpx/serialization/traits/is_bitwise_serializable.hpp
  libs/core/serialization/tests/unit/serialization_raw_pointer.cpp
  libs/full/collectives/tests/regressions/trivially_copyable_all_gather.cpp
Labels: type: enhancement, type: compatibility issue, category: serialization

#6484 Improve performance counter error handling
  libs/full/performance_counters/src/counters.cpp
Labels: category: performance counters, type: enhancement, category: exception-handling

#6485 Destructive interference size
  CMakeLists.txt
  cmake/CacheLineSize.cmake
  cmake/HPX_AddModule.cmake
  libs/core/concurrency/include/hpx/concurrency/cache_line_data.hpp
  libs/core/config/cmake/templates/cache_line_size.hpp.in
  libs/core/config/include/hpx/config.hpp
Labels: category: CMake, type: enhancement, type: compatibility issue

#6486 Create codeql.yml
  .github/workflows/codeql.yml
  .github/workflows/msvc_analysis.yml
Labels: type: enhancement, category: CI

#6491 More fixes to handling bool arguments for collective operations
  libs/full/collectives/include/hpx/collectives/all_reduce.hpp
  libs/full/collectives/include/hpx/collectives/exclusive_scan.hpp
  libs/full/collectives/include/hpx/collectives/inclusive_scan.hpp
  libs/full/collectives/include/hpx/collectives/reduce.hpp
  libs/full/collectives/tests/regressions/all_reduce_vector_bool.cpp
  libs/full/collectives/tests/regressions/reduce_vector_bool.cpp
Labels: type: enhancement, category: LCOs, type: compatibility issue, project: FLeCSI

#6487 Fixing security vulnerabilities reported by MSVC security checks
  .circleci/config.yml
  .github/workflows/codeql.yml
  components/containers/partitioned_vector/include/hpx/components/containers/partitioned_vector/partitioned_vector_decl.hpp
  components/containers/unordered/include/hpx/components/containers/unordered/partition_unordered_map_component.hpp
  components/containers/unordered/include/hpx/components/containers/unordered/unordered_map.hpp
  components/iostreams/include/hpx/components/iostreams/ostream.hpp
  components/iostreams/include/hpx/components/iostreams/server/buffer.hpp
  components/parcel_plugins/coalescing/include/hpx/parcel_coalescing/counter_registry.hpp
  components/parcel_plugins/coalescing/include/hpx/parcel_coalescing/message_buffer.hpp
  components/parcel_plugins/coalescing/src/coalescing_counter_registry.cpp
  components/parcel_plugins/coalescing/src/coalescing_message_handler.cpp
  components/parcel_plugins/coalescing/src/performance_counters.cpp
  components/process/include/hpx/components/process/util/windows/child.hpp
  libs/core/affinity/src/parse_affinity_options.cpp
  libs/core/algorithms/include/hpx/parallel/algorithms/detail/dispatch.hpp
  libs/core/algorithms/include/hpx/parallel/algorithms/merge.hpp
  libs/core/algorithms/include/hpx/parallel/algorithms/nth_element.hpp
  libs/core/algorithms/include/hpx/parallel/algorithms/partial_sort.hpp
  libs/core/algorithms/include/hpx/parallel/algorithms/partial_sort_copy.hpp
  libs/core/algorithms/include/hpx/parallel/algorithms/partition.hpp
  libs/core/algorithms/include/hpx/parallel/algorithms/sort.hpp
  libs/core/algorithms/include/hpx/parallel/algorithms/stable_sort.hpp
  libs/core/command_line_handling_local/include/hpx/command_line_handling_local/parse_command_line_local.hpp
  libs/core/command_line_handling_local/src/command_line_handling_local.cpp
  libs/core/command_line_handling_local/src/parse_command_line_local.cpp
  libs/core/concurrency/include/hpx/concurrency/detail/tagged_ptr_ptrcompression.hpp
  libs/core/concurrency/include/hpx/concurrency/queue.hpp
  libs/core/errors/include/hpx/errors/error.hpp
  libs/core/errors/include/hpx/errors/exception_fwd.hpp
  libs/core/executors/include/hpx/executors/exception_list.hpp
  libs/core/lcos_local/include/hpx/lcos_local/channel.hpp
  libs/core/lcos_local/include/hpx/lcos_local/receive_buffer.hpp
  libs/core/logging/include/hpx/logging/message.hpp
  libs/core/program_options/src/utf8_codecvt_facet.cpp
  libs/core/runtime_local/include/hpx/runtime_local/os_thread_type.hpp
  libs/core/runtime_local/include/hpx/runtime_local/thread_mapper.hpp
  libs/core/schedulers/include/hpx/schedulers/local_workrequesting_scheduler.hpp
  libs/core/synchronization/src/mutex.cpp
  libs/core/thread_pools/src/detail/background_thread.cpp
  libs/core/threading_base/include/hpx/threading_base/detail/switch_status.hpp
  libs/core/threading_base/src/register_thread.cpp
  libs/core/threading_base/src/set_thread_state.cpp
  libs/core/threading_base/tests/regressions/thread_stacksize_current.cpp
  libs/full/agas/src/addressing_service.cpp
  libs/full/agas_base/src/server/primary_namespace_server.cpp
  libs/full/agas_base/src/symbol_namespace.cpp
  libs/full/components/src/basename_registration.cpp
  libs/full/init_runtime/src/hpx_init.cpp
  libs/full/parcelport_tcp/src/connection_handler_tcp.cpp
  libs/full/performance_counters/include/hpx/performance_counters/registry.hpp
  libs/full/performance_counters/include/hpx/performance_counters/server/arithmetics_counter_extended.hpp
  libs/full/performance_counters/src/registry.cpp
  libs/full/performance_counters/src/server/action_invocation_counter.cpp
  libs/full/performance_counters/src/server/arithmetics_counter.cpp
  libs/full/performance_counters/src/server/arithmetics_counter_extended.cpp
  libs/full/performance_counters/src/server/component_instance_counter.cpp
  libs/full/performance_counters/src/server/elapsed_time_counter.cpp
  libs/full/performance_counters/src/server/statistics_counter.cpp
  libs/full/runtime_distributed/src/big_boot_barrier.cpp
Labels: type: enhancement, type: compatibility issue, type: cleanup

#6489 Ensure TCP parcelport is deactivated if not needed
  libs/full/command_line_handling/src/command_line_handling.cpp
Labels: type: enhancement, category: parcel transport, category: init, type: compatibility issue

#6492 Fix kokkos hpx nvcc compilation
  libs/core/execution/include/hpx/execution/algorithms/detail/partial_algorithm.hpp
  libs/core/execution/include/hpx/execution/algorithms/split.hpp
Labels: type: enhancement, type: compatibility issue, compiler: nvcc, platform: CUDA

#6493 Fix distributed latch documentation
  docs/sphinx/api/public_distributed_api.rst
  libs/full/collectives/include/hpx/collectives/latch.hpp
Labels: category: documentation, type: enhancement, type: compatibility issue
