Repository STEllAR-GROUP/hpx, pull requests merged in 2024-09, with the labels that each got.

#6448 Standardising Benchmarks, with support for nanobench as an option for its backend
  .github/workflows/linux_with_bench_test.yml
  .github/workflows/linux_with_nanobench_test.yml
  .jenkins/lsu-perftests/launch_perftests.sh
  CMakeLists.txt
  cmake/HPX_SetupNanobench.cmake
  libs/core/algorithms/tests/performance/foreach_report.cpp
  libs/core/command_line_handling_local/src/parse_command_line_local.cpp
  libs/core/datastructures/tests/performance/small_vector_benchmark.cpp
  libs/core/testing/CMakeLists.txt
  libs/core/testing/include/hpx/testing/performance.hpp
  libs/core/testing/src/performance.cpp
  libs/full/segmented_algorithms/tests/performance/minmax_element_performance.cpp
  tests/performance/local/future_overhead_report.cpp
  tests/performance/local/stream_report.cpp
Labels: type: enhancement, category: CI

#6546 Fix incorrect signature of distributed API functions
  libs/full/collectives/include/hpx/collectives/all_to_all.hpp
  libs/full/collectives/include/hpx/collectives/gather.hpp
  libs/full/init_runtime/include/hpx/hpx_finalize.hpp
Labels: category: documentation, type: enhancement, type: compatibility issue

#6543 Throwing an exception derived from std::bad_alloc on OOM conditions
  docs/sphinx/manual/launching_and_configuring_hpx_applications.rst
  libs/core/errors/include/hpx/errors/exception.hpp
  libs/core/errors/include/hpx/errors/throw_exception.hpp
  libs/core/errors/src/exception.cpp
  libs/core/errors/src/throw_exception.cpp
  libs/core/format/include/hpx/modules/format.hpp
  libs/core/format/src/format.cpp
  libs/core/runtime_configuration/src/runtime_configuration.cpp
  libs/core/runtime_local/src/runtime_local.cpp
  libs/core/schedulers/include/hpx/schedulers/queue_holder_thread.hpp
  libs/core/schedulers/include/hpx/schedulers/thread_queue.hpp
  libs/core/threading_base/src/thread_helpers.cpp
  libs/full/components_base/src/server/one_size_heap_list.cpp
  libs/full/init_runtime/src/hpx_init.cpp
Labels: type: enhancement, category: init, type: compatibility issue

#6548 Update CONTRIBUTING.md
  .github/CONTRIBUTING.md
Labels: category: documentation, type: enhancement
