Repository STEllAR-GROUP/hpx, pull requests merged in 2024-07, with the labels that each got.

#6507 Update LSU Jenkins libraries to match Rostam 3.0 with RHEL9
  .github/workflows/macos_debug.yml
  .github/workflows/macos_debug_fetch_boost.yml
  .github/workflows/macos_debug_fetch_hwloc.yml
  .jenkins/lsu-perftests/env-perftests.sh
  .jenkins/lsu/Jenkinsfile
  .jenkins/lsu/env-clang-12.sh
  .jenkins/lsu/env-clang-13.sh
  .jenkins/lsu/env-clang-16.sh
  .jenkins/lsu/env-clang-17-apex.sh
  .jenkins/lsu/env-clang-17.sh
  .jenkins/lsu/env-clang-18.sh
  .jenkins/lsu/env-gcc-10.sh
  .jenkins/lsu/env-gcc-11.sh
  .jenkins/lsu/env-gcc-12-cuda-12-dgx.sh
  .jenkins/lsu/env-gcc-12-cuda-12.sh
  .jenkins/lsu/env-gcc-12.sh
  .jenkins/lsu/env-gcc-13.sh
  .jenkins/lsu/env-gcc-14.sh
  .jenkins/lsu/env-hipcc.sh
  .jenkins/lsu/slurm-configuration-clang-15.sh
  .jenkins/lsu/slurm-configuration-clang-16.sh
  .jenkins/lsu/slurm-configuration-clang-17-apex.sh
  .jenkins/lsu/slurm-configuration-clang-17.sh
  .jenkins/lsu/slurm-configuration-clang-18.sh
  .jenkins/lsu/slurm-configuration-gcc-10.sh
  .jenkins/lsu/slurm-configuration-gcc-12-cuda-12-dgx.sh
  .jenkins/lsu/slurm-configuration-gcc-12-cuda-12.sh
  .jenkins/lsu/slurm-configuration-gcc-14.sh
  .jenkins/lsu/slurm-configuration-gcc-9.sh
  libs/core/algorithms/tests/regressions/minimal_findend.cpp
  libs/core/algorithms/tests/unit/algorithms/adjacentdifference_tests.hpp
  libs/core/async_combinators/include/hpx/async_combinators/wait_some.hpp
  libs/core/execution/include/hpx/execution/algorithms/when_all_vector.hpp
  libs/core/executors/tests/regressions/fork_join_with_result.cpp
  libs/core/format/include/hpx/modules/format.hpp
  libs/core/format/tests/unit/format.cpp
  libs/core/futures/include/hpx/futures/detail/future_data.hpp
  libs/core/futures/include/hpx/futures/futures_factory.hpp
  libs/core/futures/include/hpx/futures/packaged_continuation.hpp
  libs/core/futures/src/future_data.cpp
  libs/core/pack_traversal/include/hpx/pack_traversal/detail/pack_traversal_impl.hpp
  libs/core/type_support/tests/unit/generator.cpp
  libs/full/components/include/hpx/components/client_base.hpp
Labels: type: enhancement, type: compatibility issue, category: CI

#6518 Make sure that --hpx:ini log settings take effect
  libs/core/command_line_handling_local/src/command_line_handling_local.cpp
  libs/full/command_line_handling/src/command_line_handling.cpp
Labels: type: enhancement, category: init, type: compatibility issue

#6509 Add components documentation
  docs/sphinx/api/public_distributed_api.rst
  docs/sphinx/examples/accumulator.rst
  docs/sphinx/manual/launching_and_configuring_hpx_applications.rst
  examples/accumulators/accumulator.hpp
  examples/accumulators/server/template_accumulator.hpp
  examples/accumulators/server/template_function_accumulator.hpp
  examples/accumulators/template_function_accumulator.cpp
  libs/core/runtime_configuration/include/hpx/runtime_configuration/component_commandline_base.hpp
  libs/core/runtime_configuration/include/hpx/runtime_configuration/component_factory_base.hpp
  libs/full/actions_base/include/hpx/actions_base/basic_action.hpp
  libs/full/actions_base/include/hpx/actions_base/component_action.hpp
  libs/full/components/include/hpx/components/client.hpp
  libs/full/components/include/hpx/components/client_base.hpp
  libs/full/components_base/include/hpx/components_base/component_commandline.hpp
  libs/full/components_base/include/hpx/components_base/component_startup_shutdown.hpp
  libs/full/components_base/include/hpx/components_base/components_base_fwd.hpp
  libs/full/runtime_components/include/hpx/runtime_components/component_factory.hpp
  libs/full/runtime_components/include/hpx/runtime_components/new.hpp
Labels: category: documentation, type: enhancement

#6471 Add distance.cpp test in CMake
  libs/core/algorithms/tests/unit/algorithms/CMakeLists.txt
  libs/core/algorithms/tests/unit/container_algorithms/CMakeLists.txt
  libs/core/algorithms/tests/unit/container_algorithms/distance_range.cpp
Labels: type: enhancement, category: tests, type: compatibility issue

#6522 Fixing distance test
  libs/core/algorithms/CMakeLists.txt
  libs/core/algorithms/tests/unit/algorithms/CMakeLists.txt
Labels: type: enhancement, category: tests, type: compatibility issue, category: algorithms

#6520 Adding optional handshakes to acknowledge the received data
  .jenkins/lsu/env-clang-16.sh
  .jenkins/lsu/env-gcc-12.sh
  .jenkins/lsu/env-gcc-14.sh
  libs/core/mpi_base/CMakeLists.txt
  libs/core/mpi_base/include/hpx/mpi_base/mpi_environment.hpp
  libs/core/mpi_base/src/mpi_environment.cpp
  libs/full/parcelport_mpi/include/hpx/parcelport_mpi/header.hpp
  libs/full/parcelport_mpi/include/hpx/parcelport_mpi/receiver.hpp
  libs/full/parcelport_mpi/include/hpx/parcelport_mpi/receiver_connection.hpp
  libs/full/parcelport_mpi/include/hpx/parcelport_mpi/sender.hpp
  libs/full/parcelport_mpi/include/hpx/parcelport_mpi/sender_connection.hpp
  libs/full/parcelport_mpi/include/hpx/parcelport_mpi/tag_provider.hpp
  libs/full/parcelport_mpi/src/parcelport_mpi.cpp
Labels: type: enhancement, category: parcel transport, type: compatibility issue

#6525 Addressing cmake warnings issued starting V3.30
  CMakeLists.txt
  cmake/HPX_SetupAsio.cmake
  cmake/HPX_SetupBoost.cmake
  cmake/HPX_SetupBoostFilesystem.cmake
  cmake/HPX_SetupBoostIostreams.cmake
  cmake/HPX_SetupBoostRegex.cmake
  cmake/HPX_SetupTarget.cmake
Labels: category: CMake, type: enhancement, type: compatibility issue
