Repository STEllAR-GROUP/hpx, pull requests merged in 2025-02, with the labels that each got.

#6612 Fixing naming convention for pp constant
  cmake/HPX_PerformCxxFeatureTests.cmake
  libs/core/type_support/include/hpx/type_support/generator.hpp
Labels: type: enhancement, type: compatibility issue

#6610 Add docs for synchronous collective operations
  libs/full/collectives/include/hpx/collectives/all_gather.hpp
  libs/full/collectives/include/hpx/collectives/all_reduce.hpp
  libs/full/collectives/include/hpx/collectives/all_to_all.hpp
  libs/full/collectives/include/hpx/collectives/broadcast.hpp
  libs/full/collectives/include/hpx/collectives/exclusive_scan.hpp
  libs/full/collectives/include/hpx/collectives/gather.hpp
  libs/full/collectives/include/hpx/collectives/inclusive_scan.hpp
  libs/full/collectives/include/hpx/collectives/reduce.hpp
  libs/full/collectives/include/hpx/collectives/scatter.hpp
Labels: category: documentation, type: enhancement, type: compatibility issue

#6609 Update perftest CI reference measurements
  tools/perftests_ci/perftest/references/daint_default/foreach_report_test.json
  tools/perftests_ci/perftest/references/daint_default/future_overhead_report_test.json
  tools/perftests_ci/perftest/references/daint_default/stream_report_test.json
  tools/perftests_ci/perftest/references/lsu_default/foreach_report_test.json
  tools/perftests_ci/perftest/references/lsu_default/future_overhead_report_test.json
  tools/perftests_ci/perftest/references/lsu_default/stream_report_test.json
Labels: type: enhancement, type: compatibility issue, category: CI

#6613 Fix partitioned_vector_handle_values test
  libs/full/segmented_algorithms/tests/unit/partitioned_vector_handle_values.cpp
Labels: type: enhancement, type: compatibility issue, category: algorithms, category: data-structures

#6510 Include Boost as CMake subproject
  .github/workflows/macos_debug_fetch_boost.yml
  .github/workflows/windows_clang_debug.yml
  .github/workflows/windows_clang_release.yml
  .github/workflows/windows_debug_vs2019.yml
  .github/workflows/windows_debug_vs2022.yml
  .github/workflows/windows_debug_vs2022_fetch_boost.yml
  .github/workflows/windows_debug_vs2022_fetch_hwloc.yml
  .github/workflows/windows_release_2019.yml
  .github/workflows/windows_release_2022.yml
  .github/workflows/windows_release_static.yml
  CMakeLists.txt
  cmake/HPX_GeneratePackage.cmake
  cmake/HPX_GeneratePackageUtils.cmake
  cmake/HPX_SetupBoost.cmake
  cmake/HPX_SetupBoostFilesystem.cmake
  cmake/HPX_SetupBoostIostreams.cmake
  cmake/HPX_SetupBoostRegex.cmake
  cmake/templates/HPXConfig.cmake.in
  cmake/templates/HPXMacros.cmake.in
Labels: category: CMake, type: enhancement, type: compatibility issue

#6608 Partially support data parallel for_loop
  libs/core/algorithms/include/hpx/parallel/datapar/iterator_helpers.hpp
  libs/core/algorithms/include/hpx/parallel/datapar/loop.hpp
  libs/core/algorithms/tests/unit/datapar_algorithms/CMakeLists.txt
  libs/core/algorithms/tests/unit/datapar_algorithms/for_loop_datapar.cpp
  libs/core/execution/include/hpx/execution/traits/detail/eve/vector_pack_get_set.hpp
  libs/core/execution/include/hpx/execution/traits/detail/simd/vector_pack_get_set.hpp
  libs/core/execution/include/hpx/execution/traits/detail/vc/vector_pack_get_set.hpp
  libs/core/execution/include/hpx/execution/traits/vector_pack_alignment_size.hpp
  libs/core/mpi_base/include/hpx/mpi_base/mpi_environment.hpp
  libs/core/mpi_base/src/mpi_environment.cpp
  libs/full/performance_counters/include/hpx/performance_counters/query_counters.hpp
Labels: type: enhancement, type: compatibility issue, category: algorithms

#6611 Fix Hwloc fetch content
  CMakeLists.txt
  cmake/HPX_FindHwloc.cmake
  cmake/HPX_SetupHwloc.cmake
  cmake/templates/HPXConfig.cmake.in
Labels: category: CMake, type: enhancement, type: compatibility issue

#6619 mpi pp: fix transmission chunk send
  libs/full/parcelport_mpi/include/hpx/parcelport_mpi/sender_connection.hpp
Labels: type: enhancement, category: parcel transport, type: compatibility issue, category: mpi
