Repository STEllAR-GROUP/hpx, pull requests merged in 2025-01, with the labels that each got.

#6598 Adding synchronous collective operations
  CMakeLists.txt
  libs/full/collectives/include/hpx/collectives/all_gather.hpp
  libs/full/collectives/include/hpx/collectives/all_reduce.hpp
  libs/full/collectives/include/hpx/collectives/all_to_all.hpp
  libs/full/collectives/include/hpx/collectives/broadcast.hpp
  libs/full/collectives/include/hpx/collectives/create_communicator.hpp
  libs/full/collectives/include/hpx/collectives/exclusive_scan.hpp
  libs/full/collectives/include/hpx/collectives/gather.hpp
  libs/full/collectives/include/hpx/collectives/inclusive_scan.hpp
  libs/full/collectives/include/hpx/collectives/reduce.hpp
  libs/full/collectives/include/hpx/collectives/scatter.hpp
  libs/full/collectives/src/create_communicator.cpp
  libs/full/collectives/tests/unit/CMakeLists.txt
  libs/full/collectives/tests/unit/all_gather_sync.cpp
  libs/full/collectives/tests/unit/all_reduce_sync.cpp
  libs/full/collectives/tests/unit/all_to_all_sync.cpp
  libs/full/collectives/tests/unit/broadcast_sync.cpp
  libs/full/collectives/tests/unit/exclusive_scan_sync.cpp
  libs/full/collectives/tests/unit/gather_sync.cpp
  libs/full/collectives/tests/unit/inclusive_scan_sync.cpp
  libs/full/collectives/tests/unit/reduce_sync.cpp
  libs/full/collectives/tests/unit/scatter_sync.cpp
Labels: type: enhancement, category: components, type: compatibility issue

#6596 Minor fixes and optimizations
  components/containers/partitioned_vector/include/hpx/components/containers/partitioned_vector/partitioned_vector_segmented_iterator.hpp
  examples/quickstart/partitioned_vector_spmd_foreach.cpp
  libs/core/algorithms/include/hpx/parallel/algorithms/for_loop.hpp
  libs/core/algorithms/include/hpx/parallel/algorithms/for_loop_induction.hpp
  libs/core/algorithms/include/hpx/parallel/algorithms/for_loop_reduction.hpp
  libs/core/algorithms/include/hpx/parallel/datapar/iterator_helpers.hpp
  libs/core/algorithms/include/hpx/parallel/datapar/zip_iterator.hpp
  libs/core/algorithms/tests/unit/algorithms/copyn_tests.hpp
  libs/core/execution/include/hpx/execution/traits/detail/eve/vector_pack_load_store.hpp
  libs/core/execution/include/hpx/execution/traits/detail/simd/vector_pack_load_store.hpp
  libs/core/execution/include/hpx/execution/traits/detail/vc/vector_pack_load_store.hpp
  libs/core/execution/include/hpx/execution/traits/detail/vc/vector_pack_type.hpp
  libs/core/executors/include/hpx/executors/detail/index_queue_spawning.hpp
  libs/core/iterator_support/include/hpx/iterator_support/counting_iterator.hpp
  libs/core/iterator_support/include/hpx/iterator_support/iterator_adaptor.hpp
  libs/core/iterator_support/include/hpx/iterator_support/iterator_facade.hpp
  libs/core/iterator_support/include/hpx/iterator_support/traits/is_iterator.hpp
  libs/core/iterator_support/include/hpx/iterator_support/zip_iterator.hpp
  libs/core/runtime_configuration/src/runtime_configuration.cpp
  libs/core/threading_base/include/hpx/threading_base/thread_num_tss.hpp
  libs/core/threading_base/src/thread_num_tss.cpp
  libs/full/collectives/include/hpx/collectives/gather.hpp
Labels: category: core, type: enhancement, type: compatibility issue, category: algorithms, category: executors

#6594 Move get_stack_ptr to source
  libs/core/coroutines/CMakeLists.txt
  libs/core/coroutines/include/hpx/coroutines/detail/get_stack_pointer.hpp
  libs/core/coroutines/src/detail/get_stack_pointer.cpp
Labels: type: enhancement, category: threadmanager, type: compatibility issue, compiler: gcc, compiler: clang, type: cleanup

#6599 Make HPX_HAVE_RUN_MAIN_EVERYWHERE application specific
  CMakeLists.txt
  docs/sphinx/releases/whats_new_1_11_0.rst
  libs/core/functional/include/hpx/functional/detail/basic_function.hpp
  libs/full/command_line_handling/src/command_line_handling.cpp
  libs/full/init_runtime/include/hpx/hpx_init.hpp
  libs/full/init_runtime/include/hpx/hpx_init_impl.hpp
  libs/full/init_runtime/include/hpx/hpx_init_params.hpp
  libs/full/init_runtime/include/hpx/hpx_start.hpp
  libs/full/init_runtime/include/hpx/hpx_start_impl.hpp
  libs/full/init_runtime/include/hpx/hpx_user_main_config.hpp
  libs/full/init_runtime/src/hpx_init.cpp
  wrap/CMakeLists.txt
  wrap/include/hpx/hpx_main.hpp
  wrap/src/hpx_main.cpp
Labels: category: CMake, category: core, type: enhancement, type: compatibility issue

#6600 Fixing sync collectives
  .github/workflows/tests.examples.targets
  libs/core/runtime_configuration/include/hpx/runtime_configuration/runtime_mode.hpp
  libs/core/runtime_configuration/src/runtime_mode.cpp
  libs/full/collectives/examples/CMakeLists.txt
  libs/full/collectives/examples/distributed_pi.cpp
  libs/full/collectives/include/hpx/collectives/broadcast.hpp
  libs/full/collectives/include/hpx/collectives/channel_communicator.hpp
  libs/full/collectives/include/hpx/collectives/create_communicator.hpp
  libs/full/collectives/include/hpx/collectives/detail/channel_communicator.hpp
  libs/full/collectives/include/hpx/collectives/reduce.hpp
  libs/full/collectives/src/channel_communicator.cpp
  libs/full/collectives/src/create_communicator.cpp
  libs/full/collectives/src/detail/channel_communicator_server.cpp
  libs/full/include/include/hpx/hpx.hpp
  libs/full/init_runtime/src/pre_main.cpp
  wrap/src/hpx_main.cpp
Labels: type: enhancement, category: components, type: compatibility issue

#6580 mpi pp: fix messages larger than INT_MAX
  CMakeLists.txt
  libs/core/mpi_base/include/hpx/mpi_base/mpi_environment.hpp
  libs/core/mpi_base/src/mpi_environment.cpp
  libs/full/parcelport_lci/include/hpx/parcelport_lci/header.hpp
  libs/full/parcelport_lci/include/hpx/parcelport_lci/putva/receiver_putva.hpp
  libs/full/parcelport_lci/include/hpx/parcelport_lci/sendrecv/receiver_connection_sendrecv.hpp
  libs/full/parcelport_lci/include/hpx/parcelport_lci/sendrecv/sender_connection_sendrecv.hpp
  libs/full/parcelport_lci/src/putva/sender_connection_putva.cpp
  libs/full/parcelport_lci/src/sendrecv/receiver_connection_sendrecv.cpp
  libs/full/parcelport_lci/src/sendrecv/sender_connection_sendrecv.cpp
  libs/full/parcelport_mpi/include/hpx/parcelport_mpi/receiver_connection.hpp
  libs/full/parcelport_mpi/include/hpx/parcelport_mpi/sender_connection.hpp
  libs/full/parcelset/tests/regressions/CMakeLists.txt
  libs/full/parcelset/tests/regressions/very_big_parcel.cpp
Labels: type: enhancement, category: parcel transport, type: compatibility issue

#6606 Making sure copy_component creates a new gid
  libs/full/components_base/include/hpx/components_base/server/component_base.hpp
Labels: type: enhancement, category: components, type: compatibility issue

#6607 Cleaning up copy_component facility
  libs/full/runtime_distributed/include/hpx/runtime_distributed/copy_component.hpp
  libs/full/runtime_distributed/include/hpx/runtime_distributed/server/copy_component.hpp
Labels: type: optimization, type: enhancement, category: components, type: compatibility issue

#6603 Remove unnecessary autoreconf
  .github/workflows/macos_debug_fetch_hwloc.yml
  cmake/HPX_SetupHwloc.cmake
Labels: type: enhancement, type: compatibility issue, platform: Mac OSX, category: CI

#6584 Rfa
  .circleci/tests.unit2.algorithms
  libs/core/algorithms/CMakeLists.txt
  libs/core/algorithms/include/hpx/parallel/algorithms/detail/reduce_deterministic.hpp
  libs/core/algorithms/include/hpx/parallel/algorithms/detail/rfa.hpp
  libs/core/algorithms/include/hpx/parallel/algorithms/reduce_deterministic.hpp
  libs/core/algorithms/tests/unit/algorithms/CMakeLists.txt
  libs/core/algorithms/tests/unit/algorithms/reduce_deterministic.cpp
Labels: type: optimization, type: enhancement, category: algorithms
