Repository STEllAR-GROUP/hpx, pull requests merged in 2025-03, with the labels that each got.

#6628 Link aclocal with aclocal-1.16 as hwloc asks for it
  .github/workflows/macos_debug_fetch_hwloc.yml
Labels: type: enhancement, type: compatibility issue, platform: Mac OSX, category: CI

#6630 Fix CPUId test
  cmake/tests/cpuid.cpp
Labels: category: core, type: enhancement, type: compatibility issue

#6635 Adding simplified reduction overload
  libs/core/algorithms/include/hpx/parallel/algorithms/for_loop_reduction.hpp
Labels: type: enhancement, type: compatibility issue, category: algorithms

#6595 Rfa parallel
  libs/core/algorithms/include/hpx/parallel/algorithms/detail/reduce_deterministic.hpp
  libs/core/algorithms/include/hpx/parallel/algorithms/detail/rfa.hpp
  libs/core/algorithms/include/hpx/parallel/algorithms/reduce_deterministic.hpp
  libs/core/algorithms/tests/performance/CMakeLists.txt
  libs/core/algorithms/tests/performance/benchmark_reduce_deterministic.cpp
  libs/core/algorithms/tests/unit/algorithms/reduce_deterministic.cpp
Labels: type: enhancement, type: compatibility issue, category: algorithms

#6634 Fixed issue 6634: Unqualified calls to insertion_sort
  libs/core/algorithms/include/hpx/parallel/algorithms/detail/spin_sort.hpp
Labels: type: enhancement, type: compatibility issue, category: algorithms

#6637 lci/mpi pp: fix the case when non-zero-copy data is larger than INT_MAX
  libs/full/parcelport_lci/include/hpx/parcelport_lci/header.hpp
  libs/full/parcelport_lci/src/putva/sender_connection_putva.cpp
  libs/full/parcelport_lci/src/sender_connection_base.cpp
  libs/full/parcelport_mpi/include/hpx/parcelport_mpi/header.hpp
Labels: type: enhancement, category: parcel transport, type: compatibility issue

#6642 Allowing to use custom iterator tags with iterator_facade
  libs/core/iterator_support/include/hpx/iterator_support/iterator_facade.hpp
  libs/core/iterator_support/include/hpx/iterator_support/traits/is_iterator.hpp
  libs/core/iterator_support/tests/include/hpx/iterator_support/tests/iterator_tests.hpp
  libs/core/iterator_support/tests/regressions/CMakeLists.txt
  libs/core/iterator_support/tests/regressions/custom_iterator_category_6640.cpp
Labels: category: core, type: enhancement, type: compatibility issue

#6641 Allowing for zip-iterator to refer to sequences of different length
  libs/core/iterator_support/include/hpx/iterator_support/zip_iterator.hpp
  libs/core/iterator_support/tests/regressions/CMakeLists.txt
  libs/core/iterator_support/tests/regressions/zip_iterator_different_range_length.cpp
Labels: category: core, type: enhancement, type: compatibility issue

#6620 new test: very big tchunk
  .circleci/config.yml
  libs/full/parcelset/tests/regressions/CMakeLists.txt
  libs/full/parcelset/tests/regressions/very_big_tchunk.cpp
Labels: type: enhancement, category: parcel transport, category: tests, type: compatibility issue, category: mpi

#6649 Remove the use of deprecated asio::io_context::work
  libs/core/io_service/include/hpx/io_service/io_service_pool.hpp
  libs/core/io_service/src/io_service_pool.cpp
Labels: type: enhancement, category: threadmanager, type: compatibility issue

#6626 Fixing MPI parcel port issue exposed by #6623
  .circleci/config.yml
  .cmake-format.py
  libs/core/runtime_configuration/include/hpx/runtime_configuration/runtime_configuration.hpp
  libs/core/runtime_configuration/src/runtime_configuration.cpp
  libs/full/parcelport_gasnet/include/hpx/parcelport_gasnet/sender_connection.hpp
  libs/full/parcelport_lci/include/hpx/parcelport_lci/receiver_base.hpp
  libs/full/parcelport_lci/include/hpx/parcelport_lci/sender_base.hpp
  libs/full/parcelport_lci/include/hpx/parcelport_lci/sender_connection_base.hpp
  libs/full/parcelport_mpi/include/hpx/parcelport_mpi/header.hpp
  libs/full/parcelport_mpi/include/hpx/parcelport_mpi/receiver_connection.hpp
  libs/full/parcelport_mpi/include/hpx/parcelport_mpi/sender.hpp
  libs/full/parcelport_mpi/include/hpx/parcelport_mpi/sender_connection.hpp
  libs/full/parcelport_tcp/include/hpx/parcelport_tcp/receiver.hpp
  libs/full/parcelport_tcp/include/hpx/parcelport_tcp/sender.hpp
  libs/full/parcelset/include/hpx/parcelset/encode_parcels.hpp
  libs/full/parcelset/include/hpx/parcelset/parcel_buffer.hpp
  libs/full/parcelset/include/hpx/parcelset/parcelport_connection.hpp
  libs/full/parcelset/tests/regressions/CMakeLists.txt
  libs/full/parcelset/tests/regressions/nested_vectors_6623.cpp
  libs/full/parcelset_base/include/hpx/parcelset_base/parcelport.hpp
  libs/full/parcelset_base/src/parcelport.cpp
  libs/full/plugin_factories/include/hpx/plugin_factories/parcelport_factory.hpp
Labels: type: enhancement, category: parcel transport, type: compatibility issue

#6617 Adding support for the Flux job scheduling environment
  libs/core/batch_environments/CMakeLists.txt
  libs/core/batch_environments/include/hpx/batch_environments/flux_environment.hpp
  libs/core/batch_environments/src/batch_environment.cpp
  libs/core/batch_environments/src/flux_environment.cpp
Labels: type: enhancement, category: init, type: compatibility issue

#6645 Fixing collectives::exclusive_scan
  libs/full/collectives/include/hpx/collectives/exclusive_scan.hpp
  libs/full/collectives/src/exclusive_scan.cpp
  libs/full/collectives/tests/regressions/CMakeLists.txt
  libs/full/collectives/tests/regressions/collectives_bool_5940.cpp
  libs/full/collectives/tests/regressions/exclusive_scan_6636.cpp
  libs/full/collectives/tests/unit/concurrent_collectives.cpp
  libs/full/collectives/tests/unit/exclusive_scan_.cpp
  libs/full/collectives/tests/unit/exclusive_scan_sync.cpp
Labels: type: enhancement, category: components, type: compatibility issue, category: algorithms

#6639 docs: Fix spelling in example dictionary
  .circleci/config.yml
Labels: category: documentation

#6656 Add missing channel_communicator::get_info
  libs/full/collectives/include/hpx/collectives/channel_communicator.hpp
  libs/full/collectives/src/channel_communicator.cpp
Labels: type: enhancement, category: components, type: compatibility issue, category: algorithms
