Repository STEllAR-GROUP/hpx, pull requests merged in 2025-08, with the labels that each got.

#6725 Adding Boost 1.88
  .circleci/config.yml
  .circleci/tests.examples1.targets
  .circleci/tests.examples2.targets
  .jenkins/lsu/env-clang-20.sh
  .jenkins/lsu/env-gcc-15.sh
Labels: type: enhancement, type: compatibility issue, category: CI

#6763 Fixing Github builders
  .github/workflows/codeql.yml
  .github/workflows/windows_clang_debug.yml
  .github/workflows/windows_clang_release.yml
  .github/workflows/windows_debug_vs2022.yml
  .github/workflows/windows_debug_vs2022_fetch_boost.yml
  .github/workflows/windows_debug_vs2022_fetch_hwloc.yml
  .github/workflows/windows_release_2022.yml
  .github/workflows/windows_release_gcc_mingw.yml
  .github/workflows/windows_release_static.yml
Labels: type: enhancement, type: compatibility issue, category: CI

#6759 Fixing is_known_contiguous_iterator support for string
  libs/core/type_support/include/hpx/type_support/is_contiguous_iterator.hpp
  libs/core/type_support/tests/unit/CMakeLists.txt
  libs/core/type_support/tests/unit/is_contiguous_iterator.cpp
Labels: category: core, type: enhancement, type: compatibility issue, category: utilities

#6766 Fixing url for Inspect logo
  tools/inspect/inspect.cpp
Labels: type: enhancement, type: compatibility issue, category: CI

#6767 Fixing dependencies for CircleCI workflow
  .circleci/config.yml
Labels: type: enhancement, type: compatibility issue, category: CI

#6760 Optimizing collectives for num_sites equal to one
  .circleci/tests.unit1.targets
  libs/full/collectives/include/hpx/collectives/all_gather.hpp
  libs/full/collectives/include/hpx/collectives/all_reduce.hpp
  libs/full/collectives/include/hpx/collectives/all_to_all.hpp
  libs/full/collectives/include/hpx/collectives/argument_types.hpp
  libs/full/collectives/include/hpx/collectives/broadcast.hpp
  libs/full/collectives/include/hpx/collectives/detail/channel_communicator.hpp
  libs/full/collectives/include/hpx/collectives/exclusive_scan.hpp
  libs/full/collectives/include/hpx/collectives/gather.hpp
  libs/full/collectives/include/hpx/collectives/inclusive_scan.hpp
  libs/full/collectives/include/hpx/collectives/reduce.hpp
  libs/full/collectives/include/hpx/collectives/scatter.hpp
  libs/full/collectives/src/channel_communicator.cpp
  libs/full/collectives/src/create_communicator.cpp
  libs/full/collectives/src/detail/channel_communicator_server.cpp
  libs/full/collectives/tests/unit/all_gather.cpp
  libs/full/collectives/tests/unit/all_reduce.cpp
  libs/full/collectives/tests/unit/all_to_all.cpp
  libs/full/collectives/tests/unit/broadcast.cpp
  libs/full/collectives/tests/unit/exclusive_scan_.cpp
  libs/full/collectives/tests/unit/gather.cpp
  libs/full/collectives/tests/unit/inclusive_scan_.cpp
  libs/full/collectives/tests/unit/reduce.cpp
  libs/full/collectives/tests/unit/scatter.cpp
Labels: type: enhancement, category: components, type: compatibility issue

#6761 Expose version module using C++20 modules
  .cmake-format.py
  .github/workflows/linux_debug_modules.yml
  .github/workflows/windows_debug_vs2022_modules.yml
  CMakeLists.txt
  cmake/HPX_AddExecutable.cmake
  cmake/HPX_AddModule.cmake
  cmake/templates/global_module_header_modules.hpp.in
  init/CMakeLists.txt
  libs/CMakeLists.txt
  libs/core/config/include/hpx/config/export_definitions.hpp
  libs/core/hpx_core.ixx
  libs/core/version/CMakeLists.txt
  libs/core/version/include/hpx/version.hpp
  libs/core/version/include/hpx/version_api.hpp
  libs/core/version/tests/unit/version_api.cpp
  tools/inspect/inspect.cpp
  wrap/CMakeLists.txt
Labels: category: core, type: enhancement, project: GSoC

#6771 Update CI performance test reference measurements
  tools/perftests_ci/perftest/references/lsu_default/foreach_report_test.json
  tools/perftests_ci/perftest/references/lsu_default/future_overhead_report_test.json
  tools/perftests_ci/perftest/references/lsu_default/stream_report_test.json
Labels: type: enhancement, type: compatibility issue, category: CI

#6770 Generate the list of module HPX headers that expose C++ module exports
  .cmake-format.py
  .github/workflows/macos_debug_fetch_hwloc.yml
  cmake/HPX_AddModule.cmake
  cmake/HPX_CollectStdHeaders.cmake
  cmake/templates/hpx_core.ixx.in
  libs/CMakeLists.txt
  libs/core/config/include/hpx/config.hpp
Labels: category: CMake, type: enhancement, type: compatibility issue

#6775 Expose an explicit CMake target HPX::init to be used by non-executables
  docs/sphinx/manual/creating_hpx_projects.rst
  libs/CMakeLists.txt
Labels: category: CMake, type: enhancement, type: compatibility issue

#6774 Cleaning up macro names and usage required in the context of C++ modules
  .cmake-format.py
  .github/workflows/macos_debug.yml
  .github/workflows/macos_debug_fetch_boost.yml
  .jenkins/lsu/env-gcc-15.sh
  cmake/HPX_AddComponent.cmake
  cmake/HPX_AddExecutable.cmake
  cmake/HPX_AddLibrary.cmake
  cmake/HPX_AppendProperty.cmake
  cmake/HPX_SetupTarget.cmake
  cmake/templates/global_module_header_modules.hpp.in
  init/CMakeLists.txt
  libs/core/config/include/hpx/config/export_definitions.hpp
  libs/core/version/CMakeLists.txt
  libs/core/version/include/hpx/version/api.hpp
  libs/core/version/tests/unit/version_api.cpp
  wrap/CMakeLists.txt
Labels: category: core, type: enhancement, type: compatibility issue, type: cleanup, category: modules
