Repository STEllAR-GROUP/hpx, pull requests merged in 2025-05, with the labels that each got.

#6644 Update result_type in set_union.hpp
  libs/core/algorithms/include/hpx/parallel/algorithms/set_union.hpp
Labels: type: enhancement, type: compatibility issue, category: algorithms

#6697 Minor docs fix
  docs/sphinx/manual/writing_distributed_hpx_applications.rst
  libs/full/init_runtime/include/hpx/hpx_init.hpp
Labels: category: documentation, type: enhancement, type: compatibility issue

#6695 Adding missing ';'
  libs/core/type_support/include/hpx/type_support/generator.hpp
Labels: category: core, type: enhancement, type: compatibility issue

#6693 Adding llvm/19 and 20 and cmake/4 Jenkins
  .jenkins/lsu/Jenkinsfile
  .jenkins/lsu/env-clang-19.sh
  .jenkins/lsu/env-clang-20.sh
  .jenkins/lsu/slurm-configuration-clang-19.sh
  .jenkins/lsu/slurm-configuration-clang-20.sh
  libs/core/algorithms/tests/unit/algorithms/all_of.cpp
  libs/core/algorithms/tests/unit/algorithms/any_of.cpp
  libs/core/algorithms/tests/unit/algorithms/none_of.cpp
  libs/core/algorithms/tests/unit/container_algorithms/all_of_range.cpp
  libs/core/algorithms/tests/unit/container_algorithms/any_of_range.cpp
  libs/core/algorithms/tests/unit/container_algorithms/none_of_range.cpp
  libs/core/algorithms/tests/unit/datapar_algorithms/all_of_datapar.cpp
  libs/core/algorithms/tests/unit/datapar_algorithms/any_of_datapar.cpp
  libs/core/algorithms/tests/unit/datapar_algorithms/none_of_datapar.cpp
  libs/core/command_line_handling_local/cmake/HPX_SetupJSON.cmake
  libs/core/concepts/include/hpx/concepts/has_member_xxx.hpp
  libs/core/lcos_local/include/hpx/lcos_local/trigger.hpp
  libs/core/type_support/include/hpx/type_support/generator.hpp
  libs/core/type_support/include/hpx/type_support/is_contiguous_iterator.hpp
  libs/core/type_support/tests/unit/is_contiguous_iterator.cpp
  libs/full/parcelport_mpi/include/hpx/parcelport_mpi/receiver_connection.hpp
  libs/full/segmented_algorithms/tests/unit/partitioned_vector_all_of1.cpp
  libs/full/segmented_algorithms/tests/unit/partitioned_vector_all_of2.cpp
  libs/full/segmented_algorithms/tests/unit/partitioned_vector_any_of1.cpp
  libs/full/segmented_algorithms/tests/unit/partitioned_vector_any_of2.cpp
  libs/full/segmented_algorithms/tests/unit/partitioned_vector_none1.cpp
  libs/full/segmented_algorithms/tests/unit/partitioned_vector_none2.cpp
Labels: type: enhancement, type: compatibility issue, category: CI

#6698 Making sure .hpp.in files are not being installed
  cmake/HPX_AddModule.cmake
Labels: category: CMake, type: enhancement, type: compatibility issue

#6701 Attempting to fix shutdown hang on exception_info
  libs/core/resource_partitioner/src/detail_partitioner.cpp
  libs/core/runtime_local/include/hpx/runtime_local/custom_exception_info.hpp
  libs/core/runtime_local/src/custom_exception_info.cpp
  libs/core/runtime_local/src/runtime_local.cpp
  libs/core/thread_pools/include/hpx/thread_pools/scheduled_thread_pool_impl.hpp
  libs/core/threadmanager/include/hpx/modules/threadmanager.hpp
  libs/core/threadmanager/src/threadmanager.cpp
  libs/full/performance_counters/src/manage_counter_type.cpp
  libs/full/runtime_distributed/src/runtime_distributed.cpp
  libs/full/runtime_distributed/tests/regressions/CMakeLists.txt
  libs/full/runtime_distributed/tests/regressions/shutdown_hang_6699.cpp
Labels: type: enhancement, type: compatibility issue, category: exception-handling

#6685 Improve run_on_all implementation and tests
  libs/core/algorithms/examples/run_on_all.cpp
  libs/core/algorithms/include/hpx/parallel/run_on_all.hpp
  libs/core/algorithms/tests/unit/block/run_on_all.cpp
Labels: type: enhancement, type: compatibility issue, category: algorithms
